// SECTION :: START

section#contact-main.contact-main
  .c-grid
    .contact-main__wrapper#first
      .contact-main__wrapper-left
        .about-main__badge-wrapper
          p.about-main__badge Contact us
        h2.contact-main__title Get in touch
        .contact-main__content
          p.contact-main__subtitle Personal data protection
          p.contact-main__desc Effective Date: January 1, 2020
          p.contact-main__desc
            | At Area99 we give business access to a fast track to artificial intelligence, we do this at Area99 we give business access to a fast track to artificial intelligence, we do this.
            

// SECTION :: END
