---
title: Area99

pageClassName: p-modal_search
---
extends shared/_layout

block cookie
	include components/common/_cookie

block modal
	include components/homepage/_modalVideo

block content
	div.body.body--start(class!= pageClassName)

		include components/modal/_main-search-sorry
