---
title: Area99

pageClassName: p-research
---
extends shared/_layout

block cookie
  include components/common/_cookie

block modal
  include components/homepage/_modalVideo

block content
  div.body.body--start(class!= pageClassName)

    // include components/research/first-main
    include components/research/main


    .guidelines
      .guidelines__wrapper
        .guidelines__line.guidelines__line-1
        .guidelines__line.guidelines__line-2
        .guidelines__line.guidelines__line-3

