---
title: Area99

pageClassName: p-services
---
extends shared/_layout

block cookie
  include components/common/_cookie

block modal
  include components/homepage/_modalVideo

block content
  div.body.body--start(class!= pageClassName)

    // include components/research/first-main
    include components/services/main


    // .guidelines
    //   .guidelines__wrapper
    //     .guidelines__line.guidelines__line-1
    //     .guidelines__line.guidelines__line-2
    //     .guidelines__line.guidelines__line-3

