// SECTION :: START

.about-responsability {
	padding-top: 89px;
	padding-bottom: 32px;

	&__wrapper {
		display: flex;
		width: 100%;
		max-width: 981px;
		margin-left: auto;
		margin-right: auto;
		@include adaptive(1023) {
			display: block;
		}

		&-right {
			padding-left: 68px;
			padding-right: 22px;
			@include adaptive(1023) {
				padding-top: 40px;
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}

	&__title {
		font-weight: 500;
		font-size: 48px;
		line-height: 57px;
		color: #FFFFFF;
		@include adaptive(1023) {
			font-size: 30px;
			line-height: 48px;
		}
	}

	&__subtitle {
		padding-bottom: 17px;
		font-weight: 500;
		font-size: 26px;
		line-height: 37px;
		color: #FFFFFF;
		@include transition(color);
		@include adaptive(1023) {
			padding-bottom: 30px;
		}
	}

	&__desc {
		padding-bottom: 46px;
		font-weight: 300;
		font-size: 18px;
		line-height: 36px;
		color: #FFFFFF;
	}

	&__list {
		display: flex;
		flex-direction: column;
		padding-top: 7px;

		&-item {
			display: flex;

			&:not(:last-of-type) {
				padding-bottom: 21px;
			}
		}

		&-link {
			display: flex;
			min-height: 62px;

			&:hover {
				.about-responsability__subtitle,
				.about-responsability__list-country,
				.about-responsability__list-desc {
					color: #00ABBF;
					@include transition(color);
				}

				> div {
					&:nth-of-type(1) {
						border-color: #00ABBF;
						@include transition(border-right);
					}
				}
			}

			> div {
				&:nth-of-type(1) {
					width: 166px;
					padding-right: 15px;
					border-right: 1px solid #fff;
					@include transition(border-right);
				}

				&:nth-of-type(2) {
					display: flex;
					align-items: center;
					padding-left: 25px;
					@media (max-width: 320px) {
						width: calc(100% - 156px);
						padding-left: 6px;
					}
					@include adaptive(1023) {
						width: calc(100% - 166px);
					}
				}
			}

			.about-responsability__subtitle {
				padding-bottom: 0;
			}
		}

		&-desc {
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
			color: #FFFFFF;
			display: flex;
			@include transition(color);

			.icon-font {
				display: none;
			}
			span {
				position: relative;
			}
			span::after {
					  content: "";
					  background: url('../img/Path-arrow.svg') center center/contain no-repeat;
					  color: #fff;
					  font-weight: normal;
					  margin-left: 10px;
					  width: 10px;
					  height: 10px;
					  display: inline-block;
					  position: absolute;
					  right: -15px;
					  top: 50%;
					}
		}

		&-country {
			font-weight: 300;
			font-size: 18px;
			line-height: 24px;
			color: rgba(#FFFFFF, 0.6);
			@include transition(color);
		}
	}
}

// SECTION :: END
