// SECTION :: START

.about-touch {
	padding-top: 89px;
	padding-bottom: 104px;
	.mob-only {
		display: none;
		&-table {
			display: none;
		}
	}
	@include adaptive(1023) {
		.mob-delete {
			display: none;
		}
		.mob-only {
			display: block;
			font-weight: 300;
			font-size: 15px;
			line-height: 24px;
			color: #FFFFFF;
			padding: 20px 0px;
			&-table {
				display: flex;
				justify-content: space-between;
				align-items:center;
				flex-flow: wrap;
				li {
					margin-bottom: 10px;
					position: relative;
					width: 49%;
					a {
						font-weight: bold;
						font-size: 16px;
						color: #FFFFFF;
					}
					a::after {
					  content: "";
					  background: url('../img/Path-arrow.svg') center center/contain no-repeat;
					  color: #fff;
					  font-weight: normal;
					  margin-left: 10px;
					  width: 10px;
					  height: 10px;
					  display: inline-block;
					}
				}
			}
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		width: 100%;
		max-width: 1300px;
		margin-left: auto;
		margin-right: auto;
		padding: 43px 77px 53px;
		border-radius: 26px;
		background-color: #356E7A;
		@include adaptive(1023) {
			display: block;
			padding: 50px 20px;
		}

		&-left {
			width: 230px;
		}
		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-left: 63px;
			@include adaptive(1023) {
				padding-left: 0;
			}
		}
	}

	&__title {
		font-weight: 500;
		font-size: 48px;
		line-height: 57px;
		color: #FFFFFF;
	}
	
	&__list {
		display: flex;
		justify-content: space-between;
		padding-top: 7px;

		&-item {
			flex: 1;
			min-width: 1px;
			max-width: 100%;

			&:not(:last-of-type) {
				padding-right: 43px;
			}
		}

		&-desc {
			padding-bottom: 12px;
			font-weight: 300;
			font-size: 15px;
			line-height: 24px;
			color: #FFFFFF;
		}

		&-link {
			display: flex;
			align-items: center;
			font-weight: bold;
			font-size: 16px;
			color: #FFFFFF;

			.icon-font {
				transform: rotate(-90deg);
				margin-left: 5px;
				font-size: 7px;
				color: #ffffff;
				@include transition(color);
			}
		}
	}
}

// SECTION :: END
