body {
	box-sizing: border-box;
	background-color: #f16fb4;
	font-family: Suisse;
	font-weight: normal;
}
.container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	text-align: center;
	flex-flow: row wrap;
}
h1 {
	text-transform: uppercase;
	font-size: 150px;
	display: block;
	color: #000;
	width: 100%;
}
.eightyone {
	display: inline-block;
	transform: rotate(-90deg) translateX(10px);
	color: #000;
	font-size: 130px;
	font-family: Suisse;
}
h2 {
	letter-spacing: 1px;
	font-weight: normal;
	position: absolute;
	bottom: 30%;
	display: block;
	font-size: 20px;
	color: #000;
}
@media (max-width: 1300px) {
h1 {
	font-size: 50px;
}
h2 {
	bottom: 35%;
	font-size: 16px;
}
.eightyone {
	transform: rotate(-90deg) translateX(4px);
	font-size: 44px;
}
}
@media (min-width: 768px) and (max-width: 1366px) {
	h1 {
		font-size: 100px;
	}
	.eightyone {
		font-size: 90px;
	}
	h2 {
		font-size: 20px;
	}