@import "vars";
@media (max-width: 768px) {
	.home {
		background-color: #000;
		.header {
			left: 100%;
			transition: .4s;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
			position: fixed;
			background-color: #fff;
			width: 100vw;
			height: 100vh;
			z-index: 1;
			.hamburger {
				display:block !important;
			}
			&-nav {
				width: 100%;
				display: block;
				&_list {
					margin-top: 50px;
					text-align: center;
					display: block;
					li {
						display: block;
						a {
							font-size: 16px;
							letter-spacing: 0.3px;
							line-height: 260%;
						}
					}
					li:first-child {
						display: none;
					}
					li:nth-child(2) {
						margin-left: 10px;
					}
				}
				&_img {
					display: none;
				}
			}
			&-profile {
				ul {
					padding-bottom: 15px;
					justify-content: center;
					flex-flow: wrap;
					li:nth-child(4), li:nth-child(5), li:nth-child(6) {
						display: none;
					}
					li:nth-child(7) {
						text-align: center;
						order: 1;
						width: 100%;
						flex-flow: wrap;
						img {
							display: block;
							margin: 0 auto;
							width: 53px;
							height: 53px;
						}
						span {
							bottom: 60px !important;
							left: 51% !important;
							transform: translateX(-60%);
						}
						a {
							font-size: 18px;
							margin: 20px 0px;
							width: 100%;
						}
					}
					li:nth-child(1) {
						order: 2;
						a {
							font-size: 12px;	
						}
					}
					li:nth-child(2) {
						order: 3;
						a {
							font-size: 12px;	
						}
					}
					li:nth-child(3) {
						order: 4;	
						a {
							font-size: 12px;	
						}
					}
				}
				ul::after {
					width: 70%;
					margin: 0 auto;
					height: 1px;
					background-color: #000;
					opacity: 0.3;
					content: '';
					display: inline-block;
					position: absolute;
					bottom: -20px;
				}
			}
		}
		.header.visible {
			left: 0%;
			transition: .4s;
			padding-top: 60px;
		}
	}
	.applications, .three-ways, footer {
		display:none;
	}
}
