.hamburger {
		height: 46px;
		width: 50px;
		display: block;
		position: fixed;
		z-index: 11;
		border-radius: 30%;
		right: 15px;
		top: 15px;
		z-index: 100;
		cursor: pointer;
		}
	.hamburger.active {
		position: fixed;
	}	
	.hamburger.active .hamburger_button {
		background-color: #000;
	} 
	.hamburger.active .hamburger_button::before, .hamburger.active .hamburger_button::after {
		background-color: #000;
	}
	.hamburger_button {
		height: 2px;
		width: 50%;
		display: block;
		background-color: #fff;
	    position: relative;
	    top: 50%;
      	margin: 0 auto;
		border-radius: 3px;
    	transform: translateY(-50%);
    	z-index: 21;
	}
	.hamburger_button::after, .hamburger_button::before {
		content: '';
		background-color: #fff;
		position: absolute;
		height: 2px;
		width: 100%;
		left: 0;
		border-radius: 3px;
		transition: top .3s, transform .3s .3s;
	}
	.hamburger_button::after {
		top: -7px;
	}
	.hamburger_button::before {
		top: 7px;
	}
	.hamburger.active .hamburger_button::before {
	    background-color: #505e77;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	    top: 0;
	}
	.hamburger.active .hamburger_button::after {
	    background-color: #505e77;
	    -webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    top: 0;
	}
	.hamburger.active .hamburger_button {
	    background-color: #fff;
	}			
