@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
.grid {
	width: 85%;
	margin: 0 auto;
	max-width: 1300px;
}
.bold {
	font-weight: 700;
}
.home {
	min-height: 100vh;
	background: url('../img/background.jpg') center center/cover no-repeat;
	.header {
		display: flex;
		justify-content: space-between;
		padding:5px 15px 0px 15px;
		width: 100vw;
		position: absolute;
		&-nav {
			display: flex;
			justify-content: space-between;
			position: relative;
			&_list {
				display: flex;
				align-items: center;
				position: relative;
				li {
					a {
						font-family: Arial;
						font-style: normal;
						font-weight: normal;
						font-size: 13px;
						line-height: 15px;
						color: #505E78;
						text-decoration: none;
						margin: 0px 10px;
					}
				}
				li:first-child {
					margin-left: 20px;
					width: 1px;
					height: 100%;
					background-color: #CED9EE;
				}
				li:nth-child(2) {
					margin-left: 20px;
					a {
						margin-left: 0 !important;
					}
				}
			}
		}
		&-profile {
			ul {
				display: flex;
				align-items: center;
				position: relative;
				li {
					display: flex;
					align-items: center;
					position: relative;
					margin: 0px 10px;
					a {
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						line-height: 150%;
						text-decoration:none;
						color: #505E78;
					}
				}
				li:first-child::before {
					content: '';
					display: inline-block;
					position: relative;
					left: -10px;
					width: 20px;
					height: 20px;
					border: 4px solid #589CE8;
					border-radius: 40px; 
				}
				li:nth-child(2)::before {
					content: '';
					display: inline-block;
					position: relative;
					left: -10px;
					width: 20px;
					height: 20px;
					border: 4px solid #FFAC24;
					border-radius: 40px; 
				}
				li:nth-child(3)::before {
					content: '';
					display: inline-block;
					position: relative;
					left: -10px;
					width: 20px;
					height: 20px;
					border: 4px solid #12AF47;
					border-radius: 40px; 
				}
				li:nth-child(6), li:nth-child(4), {
					width: 1px;
					display: inline-block;
					height: 42px;
					background-color: #CED9EE;
				}
				li:last-child {
					img {
						border-radius: 40px;
						margin-right: 15px;
					}
					.lvl {
						background-color: #C2C5CC;
						border: 1px solid #DAE4F5;
						border-radius: 2px;
						color: #fff;
						padding:1px 4px; 
						position: absolute;
						left: 6px;
						bottom: -5px;
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 8px;
						line-height: 9px;
						text-align: center;
						text-transform: uppercase;
						color: #FFFFFF;
					}
				}
			}
		}
	}
	.grid {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 85%;
		margin: 0 auto;
		max-width: 1300px;
		h1 {
			margin-bottom: 25px;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 40px;
			line-height: 46px;
			color: #505E78;
			a {
				text-decoration: none;
				color: #589CE8;
			}
		}
		p {
			font-family: Arial;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 180%;
			color: #505E78;
			margin-bottom: 40px;
			.bold {
				font-weight: 700;	
			}
		}
		.button {
			padding: 15px 100px;
			text-decoration: none;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			color: #FFFFFF;
			background: linear-gradient(165.52deg, #FFA531 13.19%, #FE7D4A 72.85%);
			box-shadow: 0px 3px 15px rgba(48, 89, 135, 0.25);
			border-radius: 68px;
		}
	}
}
.applications {
	position: relative;
	background: linear-gradient(180deg, rgba(231, 236, 253, 0) 19.24%, #E7ECFD 79.17%);
	.grid {
		h2 {
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 33px;
			line-height: 38px;
			text-align: center;
			color: #505E78;
		}
		> p {
			font-family: Arial;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			color: #505E78;
			width: 60%;
			margin: 15px auto 50px auto;
		}
		.links {
			display: flex;
			justify-content: space-between;
			margin-bottom: 80px;
			li {
				cursor: pointer;
				width: 23%;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #589CE8;
				box-shadow: 0px 2px 5px rgba(48, 89, 135, 0.27);
				border-radius: 10px;
				transition: .5s;
				padding: 35px 0px;
				img {
					text-align: center;
					display: block;
					margin: 10px auto;
				}
				a {
					text-decoration: none;
					font-family: Arial;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 21px;
					color: #FFFFFF;
				}
			}
			li:hover {
				transform: translateY(-20px);
				background: linear-gradient(102deg, #FFA531 5.44%, #FE7D4A 91.82%);
				transition: .5s;
			}
		}
		h3 {
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 28px;
			text-align: center;
			color: #505E78;	
			margin-bottom: 100px;
		}
		.information {
			display: flex;
			justify-content: space-around;
			flex-flow: wrap;
			li {
				margin-bottom: 100px;
				width: 27%;
				padding: 30px 10px;
				opacity: 0.5;
				border: 2px solid #589CE8;
				box-sizing: border-box;
				border-radius: 15px;
				display: flex;
				flex-flow: wrap;
				justify-content: center;
				div {
					transform: translateY(-75px);
					position: absolute;
					background-color: #fff;
					border-radius: 40px;
					box-shadow: 0px 4px 22px rgba(48, 89, 135, 0.25);
					display: flex;
					justify-content: center;
					align-items: center;
					width: 80px;
					height: 80px;
				}
				span {
					margin-top: 20px;
					font-family: Arial;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					text-align: center;
					text-transform: uppercase;
					width: 100%;
				}
				p {
					font-family: Arial;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150%;
					display: block;
					text-align: center;
					color: #505E78;
				}
			}
			li:nth-child(4), li:nth-child(5) {
				margin-bottom: 15px;
			}
			li:nth-child(4) {
				transform: translateX(30%);
			}
			li:nth-child(5) {
				transform: translateX(-30%);
			}
		}
		.statistics {
			transform: translateY(50%);
			background: #FFFFFF;
			box-shadow: 0px 4px 22px rgba(48, 89, 135, 0.25);
			border-radius: 10px;
			padding: 0px 10%;
			width: 85%;
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
			padding: 20px 0px;
			li {
				text-align: center;
				img {
					width: 25px;
					display: block;
					margin: 10px auto;
				}
				span {
					display: block;
					font-family: Arial;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150%;
					text-align: center;
					color: #505E78;
				}
				.digit {
					font-family: Arial;
					font-style: normal;
					font-weight: bold;
					font-size: 38px;
					line-height: 44px;
					text-align: center;
					color: #505E78;
				}
			}
		}
	}
}
.three-ways {
	position: relative;
	margin-bottom: 150px;
	.grid {
		ul {
			width: 85%;
			margin: 150px auto 0px auto;
			li {
				position: relative;
				display: flex;
				.text {
					z-index: 111;
					display: flex;
					align-items: center;
					width: 50%;
					flex-flow: wrap;
					justify-content: center;
					flex-direction: column;
					h4 {
						width: 100%;
						margin-bottom: 25px;
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 33px;
						line-height: 38px;
						color: #505E78;
						position: relative;
					}
					h4::before {
						content: '';
						width: 83px;
						height: 76px;
						background: url('../img/01.png') center center/contain no-repeat;
						display: inline-block;
						position: absolute;
						left: -78px;
					    top: -20px;
					    z-index: -1;
					}
					p {
						color: #505E78;
						font-family: Arial;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 150%;
						a {
							text-decoration:none;
							color: #589CE8;
							cursor: pointer;
						}
					}
				}
				.buttons {
					width: 100%;
					margin-top: 50px;
					a {
						padding: 15px 30px;
						text-decoration: none;
						background: #FFFFFF;
						border: 1px solid #589CE8;
						box-sizing: border-box;
						border-radius: 68px;
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 16px;
						text-align: center;
						color: #589CE8;	
					}
					a:hover {
						color: #fff;
						background-color: #589CE8;
					}
				}
				.media {
					width: 50%;
					img {
						transform: translateX(50px);
					}
				}
			}
			li:nth-child(1)::after {
			    content: '';
			    display: inline-block;
			    width: 100%;
			    height: 240px;
			    position: absolute;
			    background: url(../img/border.svg) center center/contain no-repeat;
			    bottom: -180px;
			}
			li:nth-child(2) {
				flex-direction: row-reverse;
				margin-top: 160px;
				h4::before {
					background: url('../img/02.png') center center/contain no-repeat;
				}
			}
			li:nth-child(2)::after {
			    content: '';
			    display: inline-block;
			    width: 100%;
			    height: 240px;
			    position: absolute;
			    background: url('../img/border2.svg') center center/contain no-repeat;
			    bottom: -220px;
			    z-index: -1;
			}
			li:nth-child(3) {
				margin-top: 160px;
				img {
					transform: translate3d(100px, 10px, 10px);
				}
				h4::before {
					background: url('../img/02.png') center center/contain no-repeat;
				}
			}
		}
	}
}
.three-ways::before {
	content: '';
	display: inline-block;
	position: absolute;
	height: 850px;
	width: 180px;
	top: 300px;
	background: url('../img/design.png') left top/contain no-repeat;
}

@import "media";


	
