@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
.desktop {
	display: block;
}
.mob {
	display: none;
}
.titles {
	display: none;
}
.mob-wrapper {
	display: none;
}
.product_view {
	.header {
		box-shadow: 0 2px 5px rgba(48,89,135,.27);
		top: 0;
		height: 52px;
		z-index: 99999;
		transition: .2s;
		display: flex;
		justify-content: space-between;
		padding:5px 20px 5px 20px;
		width: 100vw;
		position: fixed;
		background-color: #fff;
		&-profile {
			display: none;
			ul {
				display: flex;
				align-items: center;
				position: relative;
				li {
					display: flex;
					align-items: center;
					position: relative;
					margin: 0px 10px;
					a {
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						line-height: 150%;
						text-decoration:none;
						color: #505E78;
					}
				}
				li:first-child::before {
					content: '';
					display: inline-block;
					position: relative;
					left: -10px;
					width: 20px;
					height: 20px;
					border: 3px solid #589CE8;
					border-radius: 40px; 
				}
				li:nth-child(2)::before {
					content: '';
					display: inline-block;
					position: relative;
					left: -10px;
					width: 20px;
					height: 20px;
					border: 3px solid #FFAC24;
					border-radius: 40px; 
				}
				li:nth-child(3)::before {
					content: '';
					display: inline-block;
					position: relative;
					left: -10px;
					width: 20px;
					height: 20px;
					border: 3px solid #12AF47;
					border-radius: 40px; 
				}
				li:nth-child(6), li:nth-child(4), {
					width: 1px;
					display: inline-block;
					height: 42px;
					background-color: #CED9EE;
				}
				li:last-child {
					img {
						border-radius: 40px;
						margin-right: 15px;
					}
					.lvl {
						background-color: #C2C5CC;
						border: 1px solid #DAE4F5;
						border-radius: 2px;
						color: #fff;
						padding:1px 4px; 
						position: absolute;
						left: 6px;
						bottom: -5px;
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 8px;
						line-height: 9px;
						text-align: center;
						text-transform: uppercase;
						color: #FFFFFF;
					}
				}
			}
		}
		.hamburger {
			display: none;
		}
		&-nav {
			display: flex;
			justify-content: space-between;
			position: relative;
			&_list {
				display: flex;
				align-items: center;
				position: relative;
				li {
					position: relative;
					a {
						font-family: Arial;
						font-style: normal;
						font-weight: normal;
						font-size: 15px;
						line-height: 15px;
						color: #505E78;
						text-decoration: none;
						margin: 0px 10px;
					}
					a:hover::after {
						content: '';
						width: 10px;
						height: 3px;
						background-color: blue;
					}
				}
				li:hover::after {
					content: '';
					display: block;
					position: absolute;
					bottom: -10px;
					transition: .3s;
					left: 50%;
					transform: translateX(-50%);
					width: 32px;
					height: 4px;
					background-color: #589CE8;
				}
				li:first-child {
					margin-left: 20px;
					width: 1px;
					height: 100%;
					background-color: #CED9EE;
				}
				li:nth-child(2) {
					margin-left: 20px;
					a {
						// margin-left: 0 !important;
					}
				}
			}
			&_img {
			    transform: translateY(-3px);
			}
		}
		&-buttons {
			display: flex;
			align-items: center;
			a {
				margin: 0px 5px;
				text-decoration: none;
				padding: 10px 35px;
				background: #fff;
				box-shadow: 0px 2px 5px rgba(48, 89, 135, 0.27);
				font-family: Arial;
				font-style: normal;
				font-weight: bold;
				font-size: 11px;
				line-height: 13px;
				border: 1px solid #589CE8;
				border-radius: 22px;
				text-align: center;
				position: relative;
				color: $blue;
			}
			a:first-child::after {
			    left: -20px;
			    top: -5px;
			    content: '';
			    height: 42px;
			    width: 1px;
			    background-color: #ced9ee;
			    display: inline-block;
			    position: absolute;
			}	
			a:hover {
				background-color: $blue;
				color: #fff;
			}
		}
	}
	.header.fixed {
		background-color: #fff;
		transition: .2s;
		box-shadow: 0 2px 5px rgba(48,89,135,.27);
	}
	.header.visible {
		left: 0%;
		transition: .4s;
		padding-top: 60px;
		height: 100vh;
	}
	.box {
		background: url('../img/background_hiw.png') center center/cover no-repeat;
		height: 350px;
		margin-top: 52px;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.links {
			position: absolute;
			left: 20px;
			top: 20px;
			border-radius: 54px;
			padding: 6px 10px 4px 10px;
			background-color: #fff;
			display: flex;
			li {
				position: relative;
				margin: 0px 20px;
				a {
					font-family: Arial;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 14px;
					color: #505E78;
					text-decoration: none;
				}
			}
			li:nth-child(2)::after,li:nth-child(1)::after,li:nth-child(3)::after {
				content: '';
				display: inline-block;
				width: 10px;
				position: absolute;
				right: -20px;
				top: 2px;
				height: 10px;
				background: url('../img/stick.svg') center center/cover no-repeat;
			}
			li:last-child {
				a {
					opacity: 0.4;
				}
			}
		}
		.info {
			text-align: center;
			h1 {
				font-family: Arial;
				font-style: normal;
				font-weight: bold;
				font-size: 25px;
				line-height: 38px;
				text-align: center;
				color: #FFFFFF;
			}
			.bold {
				font-weight: bold;
			}
			p {
				width: 80%;
				display: block;
				margin: 30px auto;

				font-family: Arial;
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 150%;
				text-align: center;
				color: #E7ECFD;
			}
			a {
				background: linear-gradient(165.52deg, #FFA531 13.19%, #FE7D4A 72.85%);
				box-shadow: 0px 3px 15px rgba(48, 89, 135, 0.25);
				border-radius: 68px;
				font-family: Arial;
				font-style: normal;
				font-weight: bold;
				font-size: 12px;
				text-decoration: none;
				line-height: 16px;
				position: relative;
				transition: .2s;
				text-align: center;
				color: #FFFFFF;
				padding: 15px 65px 15px 20px;
			}
			a:hover::after {
				background-color: #fff;
				transform: scale(1.05) translateX(10px);
				transition: .2s;
			}
			a::after {
				background: url('../img/chaika.svg') center center/cover no-repeat;
				content: '';
				width: 40px;
				height: 40px;
				position: absolute;
				right: 3px;
				top: 2px;
				display: inline-block;
				border-radius: 40px;
			}
		}
		.links2 {
			transform: translateY(50%);
			z-index: 2;
			position: absolute;
			justify-content: space-between;
			bottom: 0;
			display: flex;
			width: 60%;
			li {
				cursor: pointer;
				background: #FFFFFF;
				box-shadow: 0px 4px 22px rgba(48, 89, 135, 0.25);
				border-radius: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 75px;
				flex-flow: wrap;
				width: 24%;
				transition: .2s;
				img {
					transform: translateY(10px);
					margin-bottom: 5px;
				}
				span {
					margin-bottom: 5px;
					display: block;
					font-family: Arial;
					font-style: normal;
					font-weight: bold;
					font-size: 12px;
					line-height: 14px;
					text-decoration: none;
					text-align: center;
					text-transform: uppercase;
					color: #505E78;
					text-align: center;
					width: 100%;
				}
				.white {
					display: none;
				}
			}
			li.active {
				transition: .2s;
				background-color: $blue;
				transform: translateY(-20px);
				span {
					color: #fff;
				}

			}
			li.active {
				>img {
					display: none;
				}
				.white {
					display: block;
				}
			}
			li.active::before {
				content: '';
				display: inline-block;
				position: absolute;
				left: 44%;
				bottom: -100px;
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				width: 32px;
				height: 32px;
				background-color: #fff;
			}
		}
	}
}
.content {
	background-color: #e7ecfd;
	padding-bottom: 200px;
	width: 100vw;
	position: relative;
	padding-top: 100px;
	&-container {
		position: relative;
		width: 60%;
		background: #fff;
		-webkit-box-shadow: 0 4px 22px rgba(48,89,135,.25);
		box-shadow: 0 4px 22px rgba(48,89,135,.25);
		border-radius: 12px;
		margin: 0 auto;
		padding-bottom: 50px;
		padding: 30px 50px;
		h1 {
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 25px;
			line-height: 34px;
			color: #505E78;
			a {
				color: $blue;
				text-decoration: none;
			}
		}
		p {
			font-family: Arial;
			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			display: block;
			line-height: 150%;
			color: #505E78;
			margin: 15px 0px 25px 0px;
		}
		.info-wrapper {
			padding: 20px 0px;
			width: 94%;
			margin: 0 auto;
			background: #FFFFFF;
			box-shadow: 0px 4px 22px rgba(48, 89, 135, 0.25);
			border-radius: 10px;
			p {
				width: 95%;
				display: block;
				padding: 15px 0;
				margin: 0 auto;
				text-align: center;
			}
			ul {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;
				li {
					width: 50%;
					position: relative;
					text-align: center;
					a {
						width: 250px;
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 12px;
						line-height: 16px;
						background: linear-gradient(165.52deg, #FFA531 13.19%, #FE7D4A 72.85%);
						box-shadow: 0px 2px 5px rgba(48, 89, 135, 0.27);
						color: #fff;
						text-decoration: none;
						padding: 15px 50px 15px 20px;
						text-align: center;
						border-radius: 68px;
						margin-bottom: 10px;
						display: inline-block;
						position: relative;
					}
					a::after {
						width: 40px;
						height: 98%;
						content: '';
						position: absolute;
						top: 0px;
						right: 4px;
						transition: .2s;
					}
				}
				li:hover {
					a::after {
						background-color: #fff;
						transform: scale(1.05) translateX(10px);
						transition: .2s;
					}
				}
				li:first-child {
					a {
						background: #12AF47;
					}
					// a::before {
					// 	content: '';
					// 	display: inline-block;
					// 	position: absolute;
					// 	width: 1px;
					// 	height: 70px;
					// 	right: -55px;
					// 	top: -35px;
					// 	opacity: 0.5;
					// 	background-color: #73ABEC;

					// }
					a::after {
						content: '2x';
						transform: rotate(-45deg);
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 40px;
						background-color: #2DC471;
						position: absolute;
						top: 0px;
						right: 4px;
						transition: .2s;
					}
				}
				li:nth-child(2) {
					a::after {
						background: url('../img/orange_ch.svg') center center/contain no-repeat;
					}
				}
				li:first-child:hover {
					a::after {
						transform: scale(1.05) translateX(10px) rotate(-45deg);
						transition: .2s;
					}
				}
			}
			ul::before {
				content: '';
				display: inline-block;
				position: absolute;
				width: 1px;
				height: 70px;
				right: 50%;
				top: 50px;
				opacity: 0.5;
				background-color: #73ABEC;

			}
		}
		.price-wrapper {
			margin-top: 40px;
			li {
				ul {
					margin-top: 20px;
					padding: 10px 5px;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					position: relative;
					background: #FFFFFF;
					box-shadow: 0px 1px 4px rgba(48, 89, 135, 0.25);
					border-radius: 10px;
					li {
						width: 15%;
						span {
							display: block;
							font-family: Arial;
							font-style: normal;
							font-weight: normal;
							font-size: 13px;
							line-height: 18px;
							color: #505E78;
						}
						span:first-child {
							font-weight: bold;
							margin-bottom: 8px;
						}
						a {
							font-family: Arial;
							font-style: normal;
							font-weight: bold;
							font-size: 12px;
							line-height: 16px;
							text-decoration: none;
							padding: 2px 40px 2px 15px;
							text-align: center;
							border-radius: 68px;
							display: inline-block;
							position: relative;
							max-width: 92px;
							width: 500px;
							transition: .4s
						}
						a:hover {
							transform: scale(1.1);
							transition: .4s
						}
						a:first-child {
							border: 1px solid #FFAC24;
							color: #FFAC24;
							margin-bottom: 7px;
						}
						a:nth-child(2) {
							border: 1px solid #589CE8;
							color: #589CE8;
						}
						a::after {
							width: 11px;
							height: 11px;
							content: '';
							position: absolute;
							top: 4px;
							right: 8px;
							transition: .2s;
						}
						a:nth-child(2)::after {
							background: url('../img/lupa.svg') center center/contain no-repeat;
						}
						a:first-child::after {
							background: url('../img/lock.svg') center center/contain no-repeat;
						}
					}
					li:nth-child(3), li:nth-child(1), li:nth-child(2) {
						width: 21.5%;
					}
					li:nth-child(4) {
						width: 10%;
						span {
							transform: translateX(20px);
							position: relative;
						}
						span::before {
							content: '';
							width: 14px;
							height: 14px;
							content: '';
							position: absolute;
							top: 0px;
							left: -20px;
							display: inline-block;
						}
						span:first-child::before {
							background: url('../img/calendar.svg') center center/contain no-repeat;
						}
						span:nth-child(2)::before {
							background: url('../img/eye.svg') center center/contain no-repeat;
						}
					}
					li:nth-child(1) {
						position: relative;
						span {
							position: relative;
						}
						span::before {
							content: '';
							width: 14px;
							height: 14px;
							content: '';
							position: absolute;
							top: 0px;
							left: -20px;
							display: inline-block;
						}
						span:first-child::before {
							background: url('../img/banking-small.svg') center center/contain no-repeat;
						}
						span:nth-child(2)::before {
							background: url('../img/education.svg') center center/contain no-repeat;
						}
					}
					li:nth-child(1)::after {
					content: '';
					display: inline-block;
					width: calc(300% + 15px);
					height: 1px;
					position: absolute;
				    top: 50%;
				    left: -20px;
				    background: #000;
				    opacity: 0.3;
				}
				}
				ul::before {
					content: '';
					display: inline-block;
					width: 35px;
					height: 35px;
					background: url('../img/title05.png') center center/contain no-repeat;
					position: absolute;
				    left: 5px;
				    top: 17px;
				}
			}
		}
	}
}
.content::before {
    bottom: -140px;
    right: 0;
    content: '';
    background: url('../img/design_bot.png') center center/contain no-repeat;
    width: 200px;
    height: 400px;
    width: 370px;
    height: 570px;
    position: absolute;
    display: inline-block;
}
.content::after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 850px;
    width: 180px;
    top: 100px;
    background: url(../img/design.png) left top/contain no-repeat;
}

@import "media-product_view";
@import "hamburger";
@import "footer";