@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
.desktop {
	display: block;
}
.mob {
	display: none;
}
.mob-wrapper {
	display: none;
}
.pricing {
	.header {
		box-shadow: 0 2px 5px rgba(48,89,135,.27);
		top: 0;
		height: 52px;
		z-index: 99999;
		transition: .2s;
		display: flex;
		justify-content: space-between;
		padding:5px 20px 5px 20px;
		width: 100vw;
		position: fixed;
		background-color: #fff;
		&-profile {
			display: none;
			ul {
				display: flex;
				align-items: center;
				position: relative;
				li {
					display: flex;
					align-items: center;
					position: relative;
					margin: 0px 10px;
					a {
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						line-height: 150%;
						text-decoration:none;
						color: #505E78;
					}
				}
				li:first-child::before {
					content: '';
					display: inline-block;
					position: relative;
					left: -10px;
					width: 20px;
					height: 20px;
					border: 3px solid #589CE8;
					border-radius: 40px; 
				}
				li:nth-child(2)::before {
					content: '';
					display: inline-block;
					position: relative;
					left: -10px;
					width: 20px;
					height: 20px;
					border: 3px solid #FFAC24;
					border-radius: 40px; 
				}
				li:nth-child(3)::before {
					content: '';
					display: inline-block;
					position: relative;
					left: -10px;
					width: 20px;
					height: 20px;
					border: 3px solid #12AF47;
					border-radius: 40px; 
				}
				li:nth-child(6), li:nth-child(4), {
					width: 1px;
					display: inline-block;
					height: 42px;
					background-color: #CED9EE;
				}
				li:last-child {
					img {
						border-radius: 40px;
						margin-right: 15px;
					}
					.lvl {
						background-color: #C2C5CC;
						border: 1px solid #DAE4F5;
						border-radius: 2px;
						color: #fff;
						padding:1px 4px; 
						position: absolute;
						left: 6px;
						bottom: -5px;
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 8px;
						line-height: 9px;
						text-align: center;
						text-transform: uppercase;
						color: #FFFFFF;
					}
				}
			}
		}
		.hamburger {
			display: none;
		}
		&-nav {
			display: flex;
			justify-content: space-between;
			position: relative;
			&_list {
				display: flex;
				align-items: center;
				position: relative;
				li {
					position: relative;
					a {
						font-family: Arial;
						font-style: normal;
						font-weight: normal;
						font-size: 15px;
						line-height: 15px;
						color: #505E78;
						text-decoration: none;
						margin: 0px 10px;
					}
					a:hover::after {
						content: '';
						width: 10px;
						height: 3px;
						background-color: blue;
					}
				}
				li:hover::after {
					content: '';
					display: block;
					position: absolute;
					bottom: -10px;
					transition: .3s;
					left: 50%;
					transform: translateX(-50%);
					width: 32px;
					height: 4px;
					background-color: #589CE8;
				}
				li:first-child {
					margin-left: 20px;
					width: 1px;
					height: 100%;
					background-color: #CED9EE;
				}
				li:nth-child(2) {
					margin-left: 20px;
					a {
						// margin-left: 0 !important;
					}
				}
			}
			&_img {
			    transform: translateY(-3px);
			}
		}
		&-buttons {
			display: flex;
			align-items: center;
			a {
				margin: 0px 5px;
				text-decoration: none;
				padding: 10px 35px;
				background: #fff;
				box-shadow: 0px 2px 5px rgba(48, 89, 135, 0.27);
				font-family: Arial;
				font-style: normal;
				font-weight: bold;
				font-size: 11px;
				line-height: 13px;
				border: 1px solid #589CE8;
				border-radius: 22px;
				text-align: center;
				position: relative;
				color: $blue;
			}
			a:first-child::after {
			    left: -20px;
			    top: -5px;
			    content: '';
			    height: 42px;
			    width: 1px;
			    background-color: #ced9ee;
			    display: inline-block;
			    position: absolute;
			}	
			a:hover {
				background-color: $blue;
				color: #fff;
			}
		}
	}
	.header.fixed {
		background-color: #fff;
		transition: .2s;
		box-shadow: 0 2px 5px rgba(48,89,135,.27);
	}
	.header.visible {
		left: 0%;
		transition: .4s;
		padding-top: 60px;
		height: 100vh;
	}
	.box {
		background: url('../img/background_hiw.png') center center/cover no-repeat;
		height: 350px;
		margin-top: 52px;
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.links {
			position: absolute;
			left: 20px;
			top: 20px;
			border-radius: 54px;
			padding: 6px 10px 4px 10px;
			background-color: #fff;
			display: flex;
			li {
				position: relative;
				margin: 0px 20px;
				a {
					font-family: Arial;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 14px;
					color: #505E78;
					text-decoration: none;
				}
			}
			li:nth-child(2)::after,li:nth-child(1)::after,li:nth-child(3)::after {
				content: '';
				display: inline-block;
				width: 10px;
				position: absolute;
				right: -20px;
				top: 2px;
				height: 10px;
				background: url('../img/stick.svg') center center/cover no-repeat;
			}
			li:last-child {
				a {
					opacity: 0.4;
				}
			}
		}
		.info {
			text-align: center;
			h1 {
				display: block;
				font-family: Arial;
				font-style: normal;
				font-weight: bold;
				font-size: 25px;
				line-height: 38px;
				text-align: center;
				color: #FFFFFF;
			}
			.bold {
				font-weight: bold;
			}
			p {
				width: 80%;
				display: block;
				margin: 30px auto;

				font-family: Arial;
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 150%;
				text-align: center;
				color: #E7ECFD;
			}
			a {
				background: linear-gradient(165.52deg, #FFA531 13.19%, #FE7D4A 72.85%);
				box-shadow: 0px 3px 15px rgba(48, 89, 135, 0.25);
				border-radius: 68px;
				font-family: Arial;
				font-style: normal;
				font-weight: bold;
				font-size: 12px;
				text-decoration: none;
				line-height: 16px;
				position: relative;
				text-align: center;
				color: #FFFFFF;
				padding: 15px 65px 15px 20px;
			}
			a::after {
				background: url('../img/chaika.svg') center center/cover no-repeat;
				content: '';
				width: 40px;
				height: 40px;
				position: absolute;
				right: 3px;
				top: 2px;
				display: inline-block;
				border-radius: 40px;
			}
		}
	}
}
.content {
	background-color: #e7ecfd;
	padding-bottom: 150px;
	width: 100vw;
	position: relative;
	padding-top: 60px;
	&-container {
		padding-top: 25px;
		text-align: center;
		position: relative;
		width: 60%;
		margin: 0 auto;
		>h1 {
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			line-height: 34px;
			color: #505E78;
			text-align: center;
			display: block;
			margin-bottom: 25px;
		}
		>p, .bold {
			width: 70%;
			margin: 0 auto 25px auto;
			font-family: Arial;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			text-align: center;
			color: #505E78;
		}
		.bold {
			font-weight: bold;
			font-style: italic;
			text-align: center;
		}
		>a {
			margin: 25px auto;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 10px;
			line-height: 16px;
			text-decoration: none;
			padding: 2px 30px 2px 10px;
			text-align: center;
			border-radius: 68px;
			position: relative;
			display: block;
			color: #FFAC24;
			max-width: 175px;
			border: 1px solid #FFAC24;
			color: #FFAC24;
		}
		a::after {
			width: 21px;
			height: 21px;
			content: '';
			position: absolute;
			top: 6px;
			right: 8px;
			transition: .2s;
			background: url('../img/lock.svg') center center/contain no-repeat;
		}
		.purchase_list {
			position: relative;
			padding: 25px 0px 50px 0px;
			display: flex;
			justify-content: space-between;
			li {
				width: 23%;
				background: linear-gradient(180deg, #5362A7 36.46%, #FFFFFF 36.47%, #FFFFFF 100%);
				box-shadow: 0px 3px 15px rgba(48, 89, 135, 0.25);
				border-radius: 10px;
				transition: .5s;
				.blue {
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					flex-flow: wrap;
					background-color: #5362A7;
					border-radius: 10px 10px 0px 0px;
					padding: 50px 0px 20px 0px;
					img {
						width: 76px;
						position: absolute;
						top: 0;
						height: 76px;
						transform: translateY(-25px);
					}
					span {
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						line-height: 150%;
						text-align: center;
						width: 100%;
						color: #fff;
					}
					.price {
						font-size: 28px;
					}
				}
				.mob {
					display: none;
				}
				.white {
					text-align: center;
					flex-direction: column;
					display: flex;
					justify-content: space-around;
					align-items: center;
					height: 220px;
					position: relative;
					p {
						font-family: Arial;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						color: #505E78;
					}
					a {
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 16px;
						background: #589CE8;
						box-shadow: 0px 2px 5px rgba(48, 89, 135, 0.27);
						color: #fff;
						text-decoration: none;
						padding: 15px 70px 15px 40px;
						border-radius: 68px;
						margin-bottom: 10px;
						display: inline-block;
						position: relative;
					}
					a::after {
						width: 40px;
						height: 98%;
						content: '';
						background: url('../img/purchase.svg') center center/contain no-repeat;
						position: absolute;
						top: 0px;
						right: 4px;
						transition: .2s;
					}
				}
			}
			li:first-child {
				a {
					transform: translateY(10px);
				}
			}
			li:nth-child(4) {
				img {
					width: 162px;
					height: 76px;
				}
			}
			li:hover {
				cursor: pointer;
				transform: translateY(-20px);
				transition: .5s;
				.blue {
					background: linear-gradient(#475ba1 50%, #5a6caf);
					transition: .2s;
					span {
						color:#FFAC24;
					}
				}
				a {
					box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
				}
				a::after {
					transform: scale(1.05) translateX(10px);
					transition: .2s;
				}
			}
		}
	}
}
.statistics {
	margin-bottom: 50px;
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 4px 22px rgba(48, 89, 135, 0.25);
	border-radius: 10px;
	padding: 0px 10%;
	width: 55%;
	margin: 70px auto 25px auto;
	display: flex;
	justify-content: space-around;
	padding: 20px 0px;
	li {
		position: relative;
		text-align: center;
		img {
			width: 25px;
			display: block;
			margin: 10px auto;
		}
		span {
			display: block;
			font-family: Arial;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			color: #505E78;
		}
		.digit {
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 38px;
			line-height: 44px;
			text-align: center;
			color: #505E78;
		}
	}
	.mob {
		display: none;
	}
	li:first-child::after, li:nth-child(2)::after  {
		content: '';
	    width: 1px;
	    height: 55px;
	    background-color: #00f;
	    display: inline-block;
	    position: absolute;
	    right: -90px;
	    top: 25px;
	    opacity: 0.4;
	}
}
.statistics::before {
	top: -70px;
	left: 50%;
	transform: translateX(-50%);
	content: '';
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 50px;
	background: url('../img/connect.svg') center center/cover no-repeat;
}
.content::before {
    bottom: -140px;
    right: 0;
    content: '';
    background: url('../img/design_bot.png') center center/contain no-repeat;
    width: 200px;
    height: 400px;
    width: 370px;
    height: 570px;
    position: absolute;
    display: inline-block;
}
.content::after {
    content: '';
    display: inline-block;
    position: absolute;
    height: 850px;
    width: 180px;
    top: 100px;
    background: url(../img/design.png) left top/contain no-repeat;
}

@import "media-pricing";
@import "hamburger";
@import "footer";