@import "vars";
@media (max-width: 1440px) {
	.header {
		&-nav {
			img {
				width: 100px;
			}
		}
		&-nav_list {
			li {
				a {
					font-size: 13px;
				}
			}
		}
		&-buttons {
			a {
				font-size: 10px;
				padding: 8px 30px;
			}
		}
	}
	.grid {
		width: 65%;
		h1 {
			font-size: 26px;
			line-height: 37px;
		}
		p {
			font-size: 14px;
		}
		.button {
			padding: 12px 70px;
			font-size: 12px;
		}
	}
	.statistics {
		li {
			.digit {
				font-size: 28px;
				line-height: 25px;
			}
			span {
				margin-top: 5px;
				font-size: 12px;
			}
		}
	}
}
@media (max-width: 950px) {
	.how_it_works {
		.header {
			left: 100%;
			transition: .4s;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
			position: fixed;
			background-color: #fff;
			width: 100vw;
			z-index: 99999;
			height: calc(100vh - 46px);
		    bottom: 0;
			&-nav {
				width: 100%;
				display: block;
				&_list {
					margin-top: 50px;
					text-align: center;
					display: block;
					li {
						display: block;
						a {
							font-size: 16px;
							letter-spacing: 0.3px;
							line-height: 260%;
						}
					}
					li:first-child {
						display: none;
					}
					li:nth-child(2) {
						margin-left: 10px;
					}
				}
				&_img {
					display: none;
				}
			}
			&-buttons {
				display: none !important;
			}
			&-profile {
				display: block;
				ul {
					padding-bottom: 15px;
					justify-content: center;
					flex-flow: wrap;
					li:nth-child(4), li:nth-child(5), li:nth-child(6) {
						display: none;
					}
					li:nth-child(7) {
						text-align: center;
						order: 1;
						width: 100%;
						flex-flow: wrap;
						img {
							display: block;
							margin: 0 auto;
							width: 53px;
							height: 53px;
						}
						span {
							bottom: 60px !important;
							left: 51% !important;
							transform: translateX(-60%);
						}
						a {
							font-size: 18px;
							margin: 20px 0px;
							width: 100%;
						}
					}
					li:nth-child(1) {
						order: 2;
						a {
							font-size: 12px;	
						}
					}
					li:nth-child(2) {
						order: 3;
						a {
							font-size: 12px;	
						}
					}
					li:nth-child(3) {
						order: 4;	
						a {
							font-size: 12px;	
						}
					}
				}
				ul::after {
					width: 70%;
					margin: 0 auto;
					height: 1px;
					background-color: #000;
					opacity: 0.3;
					content: '';
					display: inline-block;
					position: absolute;
					bottom: -20px;
				}
			}
			.hamburger {
				display:block !important;
			}
		}
		.box {
			height: 400px;
			.links {
				li {
					a {
						font-size: 10px;
					}
				}
			}
			.titles {
				transform: translateY(25px);
				font-family: Arial;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 21px;
				display: flex;
				align-items: center;
				text-align: center;
				color: #FFFFFF;
			}
			.title-1,.title-2,.title-3,.title-4 {
				display: none;
			}
			.title-1.visible,.title-2.visible,.title-3.visible,.title-4.visible {
				display: block;
			} 
			.links2 {
				justify-content: space-between;
				width: 100%;
				li {
					width: 90px !important;
					margin: 0px 15px;
					a {
						font-size: 10px !important;
					}
					.mob {
						display: block !important;
					}
					.desktop {
						display: none;
					}
				}
			}
		}
	}
	.content {
		&_container {
			width: 85%;
			h2  {
				font-size: 24px;
				padding: 25px 0px 0px 0px;
			}
			.frame {
				margin-top: 15px;
				padding: 15px;
				.text {
					width: 100%;
					p:first-child {
						width: 50%;
					}
					p:first-child::before {
						display: inline-block;
						content: '';
						background: url('../img/frame1.png') center center/cover no-repeat;
						position: absolute;
						right: 35px;
						top: 50px;
						width: 130px;
						height: 110px;

					}
					p:nth-child(2) {
						width: 100%;
					}
				}
				.media {
					display: none;
				}
			}
			.step1 {
				margin-top: 15px;
				padding: 15px;
				flex-flow: wrap;
				.media {
					width: 40%;
					img {
						width: 90%;
						transform: translateY(0);
					}
				}
				.text {
					width: 55%;
					margin-left: 10px;
					span {
						font-size: 13px;
					}
					.spec2 {
						display: none;
					}
					p, .spec, {
						font-size: 12px !important;
					}					
				}
				.spec3 {
					width: 100%;
					font-family: Arial;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 25px;
					color: #505E78;	
				}
			}
			.step2 {
				margin-top: 0;
				padding: 15px;
				.media {
					display: none;
				}
				.text {
					width: 100%;
					ul {
						display: block;
						li {
							width: 100%;
							transform: translateX(0);
							.wrapper {
								justify-content: end;
								box-shadow: none;
								flex-flow: wrap;
								height: auto;
								align-items: flex-start;
								img {
									width: 10%;
								}
								span {
									width: 60%;
									margin-left: 10px;
									text-align: left;
								}
								p {
									width: 100%;
									text-align: left;
								}
							}
						}
						li:nth-child(1) {
							p {
								max-width: 150px;
							}
							p::before {
								display: inline-block;
								content: '';
								background: url('../img/step2.png') center center/contain no-repeat;
								position: absolute;
								right: -180px;
								top: -50px;
								width: 170px;
								height: 120px;
							}

						}
						li:nth-child(2) {
							img,span {
								display: block;
								transform: translateX(20px);
							}
						}
						li:nth-child(3) {
							img,span {
								display: block;
								transform: translateX(70px);
							}
						}
					}
				}
			}
			.step3 {
				margin-top: 0;
				padding: 15px;
				.media {
					width: 30%;
					img {
						transform: none;
					}
				}
				.text {
					width:60%;
					p {
						width: 100%;
						font-size: 10px;
						line-height: 150%;
					}
				}
				.wrap {
					display: none;
				}
				.additional {
					transform: translate3d(0,0,0);
					width: 100%;	
					font-size: 10px;
				}
			}
			.step4 {
				padding: 15px;
				.media {
					display: none;
				}
				.text {
					width: 100%;
					h4 {
						display: none;
					}
					.pseudo {
						position: relative;
						width: 40%;
					}
					.pseudo::after {
						display: inline-block;
						content: '';
						background: url('../img/step4.png') center center/contain no-repeat;
						position: absolute;
						right: -165px;
						top: -50px;
						width: 140px;
						height: 220px;
					}
				}
			}
			.step4::before {
				content: none;
			}
			.karma_works {
				width: 100%;
				margin-top: 120px;
				padding: 15px;
				.icon {
					height: 40px;
					width: 140px;
					flex-wrap: nowrap;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					top: -60px;
					span {
						margin-top: 20px;
						font-size: 13px;
						display: inline-block;
					}
					img {
						margin-left: 21px;
					}
				}
				.icon::after {
					content: none;
					background: url('../img/line-m-r.svg') center/contain no-repeat;
					height: 100px;
					bottom: -80px;
					right: -40px;
				}
				.icon::before {
					content: none;
					background: url('../img/line-m-l.svg') center/contain no-repeat;
					height: 100px;
					bottom: -80px;
					left: -26px;
				}
				h5 {
					display: none;
				}
				.refs {
					margin-top: 70px;
					display: flex;
					a {
						text-align: center;
						position: relative;
					}
					a::before {
						height: 46px !important;
						width: 46px !important;
						left: 50% !important;
						transform: translateX(-50%);
						top: -47px !important;
					}
					a:first-child::after {
						background: url('../img/line-m-l.svg') center/contain no-repeat;
						content: '';
						width: 50px;
						display: inline-block;
						position: absolute;
						width: 20px;
					    height: 100px;
					    top: -149px;
					    left: 55%;
					    transform: translateX(-50%);
					}
					a:nth-child(2) {
						transform: translateY(-50px);
					}
					a:nth-child(2)::after {
						content: '';
						display: inline-block;
						width: 2px;
						height: 15px;
						background-color: #000;
						opacity: 0.3;
						top: -70px;
						position: absolute;
						left: 38px;
					}
					a:nth-child(3)::after {
						background: url('../img/line-m-r.svg') center/contain no-repeat;
						content: '';
						width: 50px;
						display: inline-block;
						position: absolute;
						width: 20px;
					    height: 100px;
					    top: -149px;
					    right: 55%;
					    transform: translateX(50%);
					}
				}
			}
			.karma_works::before {
				content: none;
			}
		}
		&_container::before {
			content: none;
		}
		.step5 {
			padding: 15px;
			width: 100%;
			.media {
				display: none;
			}
			.text {
				margin-top: 25px;
				width: 100%;
				.pseudo {
					position: relative;
					width: 50%;
					margin-left: 50%;
				}
				> span {
					margin-left: 50%;
				}
				.pseudo::after {
					display: inline-block;
					content: '';
					background: url('../img/step5.png') center center/contain no-repeat;
					position: absolute;
					left: -155px;
					top: -140px;
					width: 180px;
					height: 260px;
				}
				h5 {
					left: 0;
					font-size: 12px;
				}
				h5::before {
					left: 160px;
					transform: translateY(-10px);
				}
			}
		}
		.statistics, .que  {
			display: none;
		}
		h2 {
			font-size: 20px !important;
			padding: 25px 10px !important;; 
		}
	}
	.statistics {
		z-index: 1;
		width: 90%;
		bottom: -100px;
		li {
			span {
				display: block;
				margin: 15px 0px;
				font-size: 13px;
				line-height: 150%;
			}
		}
		li:first-child::after, li:nth-child(2)::after {
			right: -16px;
			height: 80px;
			top:10px;
		}
		.mob {
			display: block;
		}
	}
}
@media (max-width: 320px) {	
	.how_it_works {
		.box {
			.links {
				left: auto;
				li {
					margin: 0px 15px;
				}
			}
		}
	}
}