@import "vars";
@media (min-width: 768px) and(max-width: 1024px)   {
 	.content-container {
		.check {
			display: flex;
			flex-flow:wrap;
			justify-content: space-between;
			 	.mob-wrapper2, .mob-wrapper {
			 		width: 48%;
					margin: 25px auto;
					display: flex;
					background: #FFFFFF;
					box-shadow: 0px 1px 4px rgba(48, 89, 135, 0.25);
					border-radius: 10px;
					justify-content: space-between;
					position: relative;
					padding: 15px;
					.left {
						width: 30%;
						padding-left: 10px;
						span {
							display: block;
						}
						span:first-child {
							font-family: Arial;
							font-style: normal;
							font-weight: bold;
							font-size: 18px;
							line-height: 23px;
							color: #505E78;
						}
						span:nth-child(2) {
							margin: 5px 0px;
						}
						span:nth-child(2),span:nth-child(3) {
							font-family: Arial;
							font-style: normal;
							font-weight: normal;
							font-size: 14px;
							line-height: 18px;
							display: flex;
							align-items: center;
							transform: translateX(-10px);
							text-align: center;
							color: #505E78;
						}
						span:nth-child(2)::before,span:nth-child(3)::before {
							content: '';
							width: 15px;
							height: 15px;
							display: inline-block;
							margin-right: 5px;
						}
						span:nth-child(2)::before {
							background: url('../img/calendar.svg') center center/contain no-repeat;
						}
						span:nth-child(3)::before {
							background: url('../img/eye.svg') center center/contain no-repeat;
						}
						a {
							font-family: Arial;
							font-style: normal;
							font-weight: bold;
							font-size: 10px;
							transform: translateX(-15px);
							line-height: 16px;
							text-decoration: none;
							padding: 2px 30px 2px 10px;
							text-align: center;
							border-radius: 68px;
							display: inline-block;
							position: relative;
							max-width: 75px;
							width: 500px;
						}
						.unlock {
							margin-top: 15px;
							border: 1px solid #FFAC24;
							color: #FFAC24;
							margin-bottom: 7px;
						}
						.preview {
							border: 1px solid #589CE8;
							color: #589CE8;
						}
						a::after {
							width: 11px;
							height: 11px;
							content: '';
							position: absolute;
							top: 4px;
							right: 8px;
							transition: .2s;
						}
						.preview::after {
							background: url('../img/lupa.svg') center center/contain no-repeat;
						}
						.unlock::after {
							background: url('../img/lock.svg') center center/contain no-repeat;
						}
					}
					.right {
						position: relative;
						width: 65%;
						span {
							display: block;
						}
						span:nth-child(1), span:nth-child(2), span:nth-child(3) {
							font-family: Arial;
							font-style: normal;
							font-weight: bold;
							font-size: 14px;
							line-height: 18px;
							margin-bottom: 5px;
							color: #505E78;
						}
						span:nth-child(3) {
							margin-bottom: 20px;
						}
						span:nth-child(4), span:nth-child(5), span:nth-child(6) {
							font-family: Arial;
							margin-bottom: 5px;
							font-style: normal;
							font-weight: normal;
							font-size: 14px;
							line-height: 18px;
							color: #505E78;
						}
					}
					.right::before {
						content: '';
						display: inline-block;
						width: 100%;
						height: 1px;
						background-color: #000;
						opacity: 0.3;
						position: absolute;
						top: 50%;
					}
				}
		}
 	}	
}
@media (min-width: 1600px) {
	.price-wrapper {
		li {
			ul {
				li:first-child::after {
					width: 300% !important;
				}
			}
		}
	}
}
@media (min-width: 951px) and (max-width: 1439px) {
	.product_view {
		.box {
		}
	}
	.content {
		&-container {
			.info-wrapper {
				ul {
					li {
						a {
							width: auto;
						}
					}
				}
			}
			.price-wrapper {
				li {
					ul {
						li {
							span {
								font-size: 10px;
							}
							a {
								font-size: 10px;
								padding: 2px 30px 2px 10px;
								max-width: 75px;
							}
						}
					}
					// ul::before {
					// 	left: 0;
					// }
				}
			}
		}
	}
}
@media (min-width: 951px) and (max-width: 1100px) {
	.price-wrapper {
		li {
			ul {
				li {
					span {
						font-size: 8px !important;
					}
					a {
						font-size: 8px;
						padding: 2px 20px 2px 6px !important;
						max-width: 75px !important;
					}
				}
			}
			ul::before {
				left: 0;
				width: 25px !important;
			}
		}
	}
}
@media (max-width: 950px) {	
	.mob {
		display: block;
	}
	.product_view {
		.header {
			left: 100%;
			transition: .4s;
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
			position: fixed;
			background-color: #fff;
			width: 100vw;
			z-index: 99999;
			height: calc(100vh - 46px);
		    bottom: 0;
			&-nav {
				width: 100%;
				display: block;
				&_list {
					margin-top: 50px;
					text-align: center;
					display: block;
					li {
						display: block;
						a {
							font-size: 16px;
							letter-spacing: 0.3px;
							line-height: 260%;
						}
					}
					li:first-child {
						display: none;
					}
					li:nth-child(2) {
						margin-left: 10px;
					}
				}
				&_img {
					display: none;
				}
			}
			&-buttons {
				display: none !important;
			}
			&-profile {
				display: block;
				ul {
					padding-bottom: 15px;
					justify-content: center;
					flex-flow: wrap;
					li:nth-child(4), li:nth-child(5), li:nth-child(6) {
						display: none;
					}
					li:nth-child(7) {
						text-align: center;
						order: 1;
						width: 100%;
						flex-flow: wrap;
						img {
							display: block;
							margin: 0 auto;
							width: 53px;
							height: 53px;
						}
						span {
							bottom: 60px !important;
							left: 51% !important;
							transform: translateX(-60%);
						}
						a {
							font-size: 18px;
							margin: 20px 0px;
							width: 100%;
						}
					}
					li:nth-child(1) {
						order: 2;
						a {
							font-size: 12px;	
						}
					}
					li:nth-child(2) {
						order: 3;
						a {
							font-size: 12px;	
						}
					}
					li:nth-child(3) {
						order: 4;	
						a {
							font-size: 12px;	
						}
					}
				}
				ul::after {
					width: 70%;
					margin: 0 auto;
					height: 1px;
					background-color: #000;
					opacity: 0.3;
					content: '';
					display: inline-block;
					position: absolute;
					bottom: -20px;
				}
			}
			.hamburger {
				display:block !important;
			}
		}
		.box {
			.links {
				li {
					a {
						font-size: 10px;
					}
				}
			}
			.info {
				a {
					display: none;
				}
			}
			.titles {
				font-family: Arial;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 21px;
				display: flex;
				align-items: center;
				text-align: center;
				color: #FFFFFF;
			}
			.title-1,.title-2,.title-3,.title-4 {
				display: none;
			}
			.title-1.visible,.title-2.visible,.title-3.visible,.title-4.visible {
				display: block;
			} 
			.links2 {
				transform: translateY(0);
				justify-content: center;
				width: 60%;
				li {
					margin: 0px 3px;
					transform: translateY(-12px);
					width: 50px !important;
					height: 50px;
					img {
						transform: translateY(0px);
					}
					a {
						font-size: 10px !important;
					}
					.mob {
						display: block;
					}
					.desktop {
						display: none;
					}
				}
				li.active::before {
					content: none;
				}
			}
		}
	}
	.content {
		padding-top: 50px;
		&-container {
			width: 85%;
			padding: 12px 12px 25px 12px;
			h1 {
				display: none;
			}
			> p {
				display: none;
			}
			h3 {
				font-family: Arial;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 21px;
				color: #505E78;
			}
			>a {
				background: #FFA531;
				border-radius: 68px;
				font-family: Arial;
				font-style: normal;
				font-weight: bold;
				font-size: 10px;
				line-height: 13px;
				display: inline-flex;
				align-items: center;
				text-align: center;
				color: #FFFFFF;
				padding: 5px 15px;
				text-decoration: none;
				position: absolute;
				top: 12px;
				right: 12px;
			}
			.mob-wrapper {
				margin: 25px 0px;
				display: flex;
				background: #FFFFFF;
				box-shadow: 0px 1px 4px rgba(48, 89, 135, 0.25);
				border-radius: 10px;
				justify-content: space-between;
				position: relative;
				padding: 15px;
				.left {
					width: 30%;
					padding-left: 10px;
					span {
						display: block;
					}
					span:first-child {
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 18px;
						line-height: 23px;
						color: #505E78;
					}
					span:nth-child(2) {
						margin: 5px 0px;
					}
					span:nth-child(2),span:nth-child(3) {
						font-family: Arial;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 18px;
						display: flex;
						align-items: center;
						transform: translateX(-10px);
						text-align: center;
						color: #505E78;
					}
					span:nth-child(2)::before,span:nth-child(3)::before {
						content: '';
						width: 15px;
						height: 15px;
						display: inline-block;
						margin-right: 5px;
					}
					span:nth-child(2)::before {
						background: url('../img/calendar.svg') center center/contain no-repeat;
					}
					span:nth-child(3)::before {
						background: url('../img/eye.svg') center center/contain no-repeat;
					}
					a {
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 10px;
						transform: translateX(-15px);
						line-height: 16px;
						text-decoration: none;
						padding: 2px 30px 2px 10px;
						text-align: center;
						border-radius: 68px;
						display: inline-block;
						position: relative;
						max-width: 75px;
						width: 500px;
					}
					.unlock {
						margin-top: 15px;
						border: 1px solid #FFAC24;
						color: #FFAC24;
						margin-bottom: 7px;
					}
					.preview {
						border: 1px solid #589CE8;
						color: #589CE8;
					}
					a::after {
						width: 11px;
						height: 11px;
						content: '';
						position: absolute;
						top: 4px;
						right: 8px;
						transition: .2s;
					}
					.preview::after {
						background: url('../img/lupa.svg') center center/contain no-repeat;
					}
					.unlock::after {
						background: url('../img/lock.svg') center center/contain no-repeat;
					}
				}
				.right {
					position: relative;
					width: 65%;
					span {
						display: block;
					}
					span:nth-child(1), span:nth-child(2), span:nth-child(3) {
						font-family: Arial;
						font-style: normal;
						font-weight: bold;
						font-size: 14px;
						line-height: 18px;
						margin-bottom: 5px;
						color: #505E78;
					}
					span:nth-child(3) {
						margin-bottom: 20px;
					}
					span:nth-child(4), span:nth-child(5), span:nth-child(6) {
						font-family: Arial;
						margin-bottom: 5px;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 18px;
						color: #505E78;
					}
				}
				.right::before {
					content: '';
					display: inline-block;
					width: 100%;
					height: 1px;
					background-color: #000;
					opacity: 0.3;
					position: absolute;
					top: 50%;
				}
			}
			.info-wrapper {
				width: 100%;
				ul {
					li {
						p {
							font-size: 12px;
							width: 90%;
							margin: 0 auto;
						}
						a {
							width: 100px;
							padding: 5px 0px;
							font-size: 11px;
							.desktop {
								display: block;
							}

						}
						a::after {
							content: none !important;
						}
					}
					li:first-child {
						a {
							transform: translateY(8px);
						}
						a::before {
							right: -21px;
							height: 100px;
							top: -65px;
						}
					}
				}
			}
			.price-wrapper {
				display: none;
			}
		}
	}
	.content::before, .content::after {
		content: none;
	}

}
@media (max-width: 320px) {	
	.product_view {
		.box {
			.links {
				left: auto;
				li {
					margin: 0px 15px;
				}
			}
		}
	}
}