@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color:#fff;
	position: relative;
}
.container {
	width: 85%;
	position: relative;
	margin: 0 auto;
	min-height: 650px;
	height: 95vh;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	.logo {
		position: absolute;
		left: 5px;
		top: 40px;
	}
	.text-content {
		h1 {
			display: block;
			font-size: 60px;
			font-family: apercu-b;
			text-transform: uppercase;
			.except {
				color: $nimble;
			}
		}
		p {
			font-size: 14px;
			font-family: Apercu-r;
			width: 40%;
			line-height: 25px;
			margin-top: 12px;
		}
		.button {
			display: inline-block;
			text-transform: uppercase;
			background-color: #89E872;
			padding: 10px 50px;
			font-family: apercu-m;
			font-size: 15px;
			color: #fff;
			margin-top: 30px;
		}
	}
}


@import "media";


	
