.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 12px;
	margin-bottom: 12px;
}

#pu36500
{
	width: 0.01px;
	left: -101px;
	position: relative;
}

#u36500
{
	z-index: 2;
	width: 1366px;
	margin-right: -10000px;
	left: 101px;
}

#u36500_clip
{
	width: 1366px;
	height: 768px;
}

#u36500_img
{
	margin-right: -53px;
	margin-bottom: -30px;
}

#u36531
{
	z-index: 17;
	width: 1566px;
	height: 600px;
	margin-right: -10000px;
	margin-top: 215px;
}

#u3881-5
{
	z-index: 18;
	width: 317px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 649px;
}

#u41013-5
{
	z-index: 23;
	width: 235px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 879px;
}

#slideshowu11912
{
	z-index: 28;
	width: 0.01px;
	height: 669px;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 124px;
}

#u11929
{
	position: absolute;
	width: 900px;
	height: 600px;
	background-color: transparent;
	left: 417px;
}

#u11929popup
{
	z-index: 29;
}

#u11932
{
	z-index: 30;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11932_img
{
	padding: 60px 150px;
}

#u11935
{
	z-index: 32;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11935_img
{
	padding: 90px 150px;
}

#u19800
{
	z-index: 34;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19800_img
{
	padding-left: 216px;
	padding-right: 216px;
}

#u11930
{
	z-index: 36;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11930_img
{
	padding-top: 85px;
	padding-bottom: 85px;
}

#u19825
{
	z-index: 38;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19825_img
{
	padding: 54px 150px;
}

#u11938
{
	z-index: 40;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11938_img
{
	padding-top: 41px;
	padding-bottom: 41px;
}

#u11933
{
	z-index: 42;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11931
{
	z-index: 44;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19864
{
	z-index: 46;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19864_img
{
	padding-left: 199px;
	padding-right: 199px;
}

#u11937
{
	z-index: 48;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11937_img
{
	padding-left: 212px;
	padding-right: 212px;
}

#u19903
{
	z-index: 50;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19903_img
{
	padding-left: 157px;
	padding-right: 157px;
}

#u11934
{
	z-index: 52;
	width: 900px;
	height: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11934_img
{
	padding-left: 150px;
	padding-right: 150px;
}

#u19938
{
	z-index: 54;
	width: 900px;
	height: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11936
{
	z-index: 56;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11936_img
{
	padding-left: 245px;
	padding-right: 245px;
}

#u11939
{
	z-index: 58;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11939_img
{
	padding-left: 258px;
	padding-right: 258px;
}

#u19969
{
	z-index: 60;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11933_img,#u11931_img,#u19938_img,#u19969_img
{
	padding-left: 250px;
	padding-right: 250px;
}

#u19978
{
	z-index: 62;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19978_img
{
	padding-left: 241px;
	padding-right: 241px;
}

#u19987
{
	z-index: 64;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u19987_img
{
	padding-left: 160px;
	padding-right: 160px;
}

#u11917
{
	position: absolute;
	width: 318px;
	padding-bottom: 57px;
}

#u11917popup
{
	z-index: 66;
}

#u11924
{
	z-index: 67;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u11924_img
{
	margin-left: -11px;
	margin-right: -11px;
}

#u11920
{
	z-index: 69;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 114px;
}

#u11920_img
{
	margin-left: -7px;
	margin-right: -31px;
}

#u19803
{
	z-index: 71;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 208px;
}

#u11924.SSSlideLinkSelected,#u11920.SSSlideLinkSelected,#u19803.SSSlideLinkSelected
{
	margin: 4px -10000px 0px 0px;
}

#u19803_img
{
	margin-top: -13px;
	margin-bottom: -13px;
}

#u11918
{
	z-index: 73;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 20px;
}

#u11918_img
{
	margin-left: -49px;
	margin-right: -49px;
}

#u19828
{
	z-index: 75;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 114px;
}

#u19828_img
{
	margin-left: -10px;
	margin-right: -10px;
}

#u11921
{
	z-index: 77;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 208px;
}

#u11918.SSSlideLinkSelected,#u19828.SSSlideLinkSelected,#u11921.SSSlideLinkSelected
{
	margin: 98px -10000px 0px 0px;
}

#u11921_img
{
	margin-left: -33px;
	margin-right: -33px;
}

#u11923
{
	z-index: 79;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 20px;
}

#u11922
{
	z-index: 81;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 114px;
}

#u11923_img,#u11922_img
{
	margin-top: -23px;
	margin-bottom: -23px;
}

#u19867
{
	z-index: 83;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 208px;
}

#u11923.SSSlideLinkSelected,#u11922.SSSlideLinkSelected,#u19867.SSSlideLinkSelected
{
	margin: 192px -10000px 0px 0px;
}

#u19867_img
{
	margin-top: -9px;
	margin-bottom: -9px;
}

#u11919
{
	z-index: 85;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 20px;
}

#u11919_img
{
	margin-top: -12px;
	margin-bottom: -12px;
}

#u19906
{
	z-index: 87;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 114px;
}

#u19906_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u11925
{
	z-index: 89;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 208px;
}

#u11919.SSSlideLinkSelected,#u19906.SSSlideLinkSelected,#u11925.SSSlideLinkSelected
{
	margin: 286px -10000px 0px 0px;
}

#u19941
{
	z-index: 91;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 20px;
}

#u11926
{
	z-index: 93;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 114px;
}

#u11926_img
{
	margin-top: -7px;
	margin-bottom: -35px;
}

#u11927
{
	z-index: 95;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 208px;
}

#u19941.SSSlideLinkSelected,#u11926.SSSlideLinkSelected,#u11927.SSSlideLinkSelected
{
	margin: 380px -10000px 0px 0px;
}

#u11927_img
{
	margin-top: -5px;
	margin-bottom: -45px;
}

#u19972
{
	z-index: 97;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 20px;
}

#u19941_img,#u19972_img
{
	margin-top: -3px;
	margin-bottom: -43px;
}

#u19981
{
	z-index: 99;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 114px;
}

#u19981_img
{
	margin-top: -5px;
	margin-bottom: -33px;
}

#u19990
{
	z-index: 101;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 208px;
}

#u19972.SSSlideLinkSelected,#u19981.SSSlideLinkSelected,#u19990.SSSlideLinkSelected
{
	margin: 474px -10000px 0px 0px;
}

#u11924_clip,#u11920_clip,#u19803_clip,#u11918_clip,#u19828_clip,#u11921_clip,#u11923_clip,#u11922_clip,#u19867_clip,#u11919_clip,#u19906_clip,#u19941_clip,#u11926_clip,#u11927_clip,#u19972_clip,#u19981_clip,#u19990_clip
{
	overflow: hidden;
	width: 90px;
	height: 90px;
}

#u19990_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u11960
{
	position: absolute;
	width: 565px;
	top: 636px;
	left: 333px;
}

#u11960popup
{
	z-index: 103;
}

#u11966-4
{
	z-index: 104;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #39393A;
	text-align: left;
	font-size: 10px;
	margin-right: -10000px;
	position: relative;
}

#u11965-4
{
	z-index: 108;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u19806-4
{
	z-index: 112;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11963-4
{
	z-index: 116;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u19831-4
{
	z-index: 120;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11962-4
{
	z-index: 124;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11970-4
{
	z-index: 128;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11967-4
{
	z-index: 132;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u19870-4
{
	z-index: 136;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11968-4
{
	z-index: 140;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u19909-4
{
	z-index: 144;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11969-4
{
	z-index: 148;
	width: 565px;
	min-height: 29px;
	background-color: transparent;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u19944-4
{
	z-index: 152;
	width: 565px;
	min-height: 29px;
	background-color: transparent;
	padding-top: 4px;
	color: #39393A;
	text-align: left;
	font-size: 10px;
	margin-right: -10000px;
	position: relative;
}

#u11966-2,#u19944-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11966-2  span,#u19944-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u11966,#u19944
{
	font-size: 12px;
	color: #FFFFFF;
}

#u11964-4
{
	z-index: 156;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11961-4
{
	z-index: 160;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u19975-4
{
	z-index: 164;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u19984-4
{
	z-index: 168;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u19993-4
{
	z-index: 172;
	width: 565px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11928-4
{
	position: absolute;
	width: 78px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1058px;
}

#u11928-4popup
{
	z-index: 176;
}

#u11913-4
{
	position: absolute;
	width: 50px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1148px;
}

#u11913-4popup
{
	z-index: 180;
}

#u11940-4
{
	position: absolute;
	width: 18px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1225px;
}

#u11940-4popup
{
	z-index: 184;
}

#u11914-4
{
	position: absolute;
	width: 41px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1273px;
}

#u11914-4popup
{
	z-index: 188;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu12268
{
	z-index: 192;
	width: 141px;
	background: #5B5B5B url("../images/u10774-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#3C5B80),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#3C5B80 ,#5B5B5B 60%);
	border-color: #39393A;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 124px;
}

#u12269
{
	width: 141px;
	min-height: 69px;
	position: relative;
	margin-right: -10000px;
}

#u12272
{
	width: 141px;
	background: #000000 url("../images/u2242-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 31px;
	position: relative;
}

#u12272:hover
{
	background: #000000 url("../images/u2242-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u12273-6
{
	width: 133px;
	min-height: 34px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 2px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#menuu19671
{
	z-index: 208;
	width: 159px;
	border-color: #39393A;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 284px;
}

#u19675
{
	width: 159px;
	min-height: 18px;
	border-color: #42410B;
	background-color: #3C5B80;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u19675.MuseMenuActive
{
	background-color: #7F7F7F;
	margin: 0px -10000px 0px 0px;
}

#u19676-4
{
	width: 151px;
	min-height: 14px;
	border-color: #000000;
	background-color: #3C5B80;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u19675:hover #u19676-4
{
	background-color: #3C5B80;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#menuu19696
{
	z-index: 215;
	width: 159px;
	border-style: none;
	border-color: transparent;
	background-color: #3C5B80;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 458px;
}

#u19672,#u19713
{
	width: 159px;
	position: relative;
}

#u19716
{
	width: 159px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: #3C5B80;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
}

#u19716:hover
{
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0px;
}

#u19719-4
{
	width: 151px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u19716:hover #u19719-4
{
	background-color: transparent;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u19675.MuseMenuActive #u19676-4,#u19716.MuseMenuActive #u19719-4
{
	background-color: #7F7F7F;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u19714
{
	width: 0px;
	height: 0px;
	left: 159px;
}

.ie #u19714
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu12293
{
	z-index: 201;
	width: 141px;
	background: #5B5B5B url("../images/u5123-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0C4081),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#0C4081 ,#5B5B5B 60%);
	border-color: #39393A;
	margin-left: 24px;
	top: -33px;
	margin-bottom: -33px;
	position: relative;
}

#u12294
{
	width: 141px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u12295
{
	width: 141px;
	background: #000000 url("../images/u5144-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 19px;
	position: relative;
}

#u12295:hover
{
	background: #000000 url("../images/u5144-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u12297-4
{
	width: 133px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u12295:hover #u12297-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12295.MuseMenuActive #u12297-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12295.MuseMenuActive #u12297-4 p,#u12295.MuseMenuActive #u12297-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u19676,#u12297
{
	text-decoration: none;
	color: #FFFFFF;
}

#u3883-7
{
	z-index: 10;
	width: 472px;
	min-height: 22px;
	margin-left: 357px;
	margin-top: 87px;
}

#u3882-6
{
	z-index: 4;
	width: 985px;
	min-height: 43px;
	margin-left: 356px;
	margin-top: 16px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

