.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 12px;
	margin-bottom: 12px;
}

#pu36500
{
	width: 0.01px;
	left: -101px;
	position: relative;
}

#u36500
{
	z-index: 2;
	width: 1366px;
	margin-right: -10000px;
	left: 101px;
}

#u36500_clip
{
	width: 1366px;
	height: 768px;
}

#u36500_img
{
	margin-right: -53px;
	margin-bottom: -30px;
}

#u36531
{
	z-index: 17;
	width: 1566px;
	height: 600px;
	margin-right: -10000px;
	margin-top: 215px;
}

#u3881-5
{
	z-index: 18;
	width: 317px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 649px;
}

#u41013-5
{
	z-index: 23;
	width: 235px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 879px;
}

#slideshowu11732
{
	z-index: 28;
	width: 0.01px;
	height: 679px;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 124px;
}

#u11749
{
	position: absolute;
	width: 900px;
	height: 600px;
	background-color: transparent;
	left: 417px;
}

#u11749popup
{
	z-index: 29;
}

#u11752
{
	z-index: 30;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11758
{
	z-index: 32;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11752_img,#u11758_img
{
	padding-left: 164px;
	padding-right: 164px;
}

#u11755
{
	z-index: 34;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11755_img
{
	padding: 81px 150px;
}

#u16310
{
	z-index: 36;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u16310_img
{
	padding-left: 157px;
	padding-right: 157px;
}

#u11754
{
	z-index: 38;
	width: 900px;
	height: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11757
{
	z-index: 40;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11754_img,#u11757_img
{
	padding-left: 160px;
	padding-right: 160px;
}

#u11750
{
	z-index: 42;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11759
{
	z-index: 44;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11759_img
{
	padding: 27px 150px;
}

#u16349
{
	z-index: 46;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11750_img,#u16349_img
{
	padding-left: 162px;
	padding-right: 162px;
}

#u11756
{
	z-index: 48;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11751
{
	z-index: 49;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11751_img
{
	padding-left: 221px;
	padding-right: 221px;
}

#u11753
{
	z-index: 51;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11753_img
{
	padding-left: 189px;
	padding-right: 189px;
}

#u16401
{
	z-index: 53;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u16416
{
	z-index: 55;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u16431
{
	z-index: 57;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u16401_img,#u16416_img,#u16431_img
{
	padding-left: 250px;
	padding-right: 250px;
}

#u16446
{
	z-index: 59;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u16461
{
	z-index: 61;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u16476
{
	z-index: 63;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u16476_img
{
	padding-left: 150px;
	padding-right: 150px;
}

#u11737
{
	position: absolute;
	width: 318px;
	padding-bottom: 98px;
}

#u11737popup
{
	z-index: 65;
}

#u11744
{
	z-index: 66;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u11741
{
	z-index: 68;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 114px;
}

#u11740
{
	z-index: 70;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 208px;
}

#u11744.SSSlideLinkSelected,#u11741.SSSlideLinkSelected,#u11740.SSSlideLinkSelected
{
	margin: 4px -10000px 0px 0px;
}

#u11740_img
{
	margin-left: -17px;
	margin-right: -17px;
}

#u16313
{
	z-index: 72;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 20px;
}

#u16313_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u11745
{
	z-index: 74;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 114px;
}

#u11739
{
	z-index: 76;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 208px;
}

#u16313.SSSlideLinkSelected,#u11745.SSSlideLinkSelected,#u11739.SSSlideLinkSelected
{
	margin: 98px -10000px 0px 0px;
}

#u11738
{
	z-index: 78;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 20px;
}

#u11747
{
	z-index: 80;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 114px;
}

#u11747_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u16352
{
	z-index: 82;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 208px;
}

#u11738.SSSlideLinkSelected,#u11747.SSSlideLinkSelected,#u16352.SSSlideLinkSelected
{
	margin: 192px -10000px 0px 0px;
}

#u11744_img,#u11741_img,#u11745_img,#u11739_img,#u11738_img,#u16352_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u11746
{
	z-index: 84;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 20px;
}

.ie #u11756,.ie #u11746
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11746.SSSlideLinkSelected
{
	margin: 286px -10000px 0px 0px;
}

.ie #u11746.SSSlideLinkSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11742
{
	z-index: 85;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 114px;
}

#u11742_img
{
	margin-top: -14px;
	margin-bottom: -14px;
}

#u11743
{
	z-index: 87;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 208px;
}

#u11742.SSSlideLinkSelected,#u11743.SSSlideLinkSelected
{
	margin: 286px -10000px 0px 0px;
}

#u11743_img
{
	margin-top: -7px;
	margin-bottom: -7px;
}

#u16404
{
	z-index: 89;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 20px;
}

#u16419
{
	z-index: 91;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 114px;
}

#u16434
{
	z-index: 93;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 208px;
}

#u16404.SSSlideLinkSelected,#u16419.SSSlideLinkSelected,#u16434.SSSlideLinkSelected
{
	margin: 380px -10000px 0px 0px;
}

#u16404_img,#u16419_img,#u16434_img
{
	margin-top: -23px;
	margin-bottom: -23px;
}

#u16449
{
	z-index: 95;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 20px;
}

#u16464
{
	z-index: 97;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 114px;
}

#u11744_clip,#u11741_clip,#u11740_clip,#u16313_clip,#u11745_clip,#u11739_clip,#u11738_clip,#u11747_clip,#u16352_clip,#u11742_clip,#u11743_clip,#u16404_clip,#u16419_clip,#u16434_clip,#u16449_clip,#u16464_clip
{
	overflow: hidden;
	width: 90px;
	height: 90px;
}

#u16449_img,#u16464_img
{
	margin-left: -23px;
	margin-right: -23px;
}

#u16479
{
	z-index: 99;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 208px;
}

#u16449.SSSlideLinkSelected,#u16464.SSSlideLinkSelected,#u16479.SSSlideLinkSelected
{
	margin: 474px -10000px 0px 0px;
}

#u11780
{
	position: absolute;
	width: 651px;
	top: 646px;
	left: 333px;
}

#u11780popup
{
	z-index: 101;
}

#u11786-4
{
	z-index: 102;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11782-4
{
	z-index: 106;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11785-4
{
	z-index: 110;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u16316-4
{
	z-index: 114;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11789-4
{
	z-index: 118;
	width: 651px;
	min-height: 29px;
	background-color: transparent;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11788-4
{
	z-index: 122;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11783-4
{
	z-index: 126;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11781-4
{
	z-index: 130;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u16355-4
{
	z-index: 134;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11784-4
{
	z-index: 138;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11787-5
{
	z-index: 142;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #39393A;
	text-align: left;
	font-size: 10px;
	margin-right: -10000px;
	position: relative;
}

#u11790-4
{
	z-index: 147;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u16407-4
{
	z-index: 151;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u16422-4
{
	z-index: 155;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #39393A;
	text-align: left;
	font-size: 10px;
	margin-right: -10000px;
	position: relative;
}

#u11787-3,#u16422-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11787-3  span,#u16422-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u11787-2,#u16422
{
	font-size: 12px;
	color: #FFFFFF;
}

#u16437-4
{
	z-index: 159;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u16452-4
{
	z-index: 163;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u16467-4
{
	z-index: 167;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u16482-4
{
	z-index: 171;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11748-4
{
	position: absolute;
	width: 78px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 645px;
	left: 1055px;
}

#u11748-4popup
{
	z-index: 175;
}

#u11733-4
{
	position: absolute;
	width: 50px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 645px;
	left: 1145px;
}

#u11733-4popup
{
	z-index: 179;
}

#u11760-4
{
	position: absolute;
	width: 18px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 645px;
	left: 1222px;
}

#u11760-4popup
{
	z-index: 183;
}

#u11734-4
{
	position: absolute;
	width: 41px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 645px;
	left: 1270px;
}

#u11734-4popup
{
	z-index: 187;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu12046
{
	z-index: 191;
	width: 141px;
	background: #5B5B5B url("../images/u10774-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#3C5B80),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#3C5B80 ,#5B5B5B 60%);
	border-color: #39393A;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 124px;
}

#u12047
{
	width: 141px;
	min-height: 69px;
	position: relative;
	margin-right: -10000px;
}

#u12050
{
	width: 141px;
	background: #000000 url("../images/u2242-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 31px;
	position: relative;
}

#u12050:hover
{
	background: #000000 url("../images/u2242-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u12051-6
{
	width: 133px;
	min-height: 34px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 2px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#menuu16671
{
	z-index: 207;
	width: 159px;
	border-color: #39393A;
	background-color: #3C5B80;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 284px;
}

#u16672
{
	width: 159px;
	position: relative;
}

#u16673
{
	width: 159px;
	min-height: 33px;
	border-color: #42410B;
	background-color: #3C5B80;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u16673.MuseMenuActive
{
	background-color: #7F7F7F;
	margin: 0px -10000px 0px 0px;
}

#u16674-6
{
	width: 151px;
	min-height: 29px;
	border-color: #000000;
	background-color: #3C5B80;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u16673:hover #u16674-6
{
	background-color: #3C5B80;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#menuu16695
{
	z-index: 216;
	width: 149px;
	background: #5B5B5B url("../images/u20925-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(14%, #3C5B80),to(#5B5B5B));
	background: -webkit-linear-gradient(top,#3C5B80 14%,#5B5B5B );
	background: -moz-linear-gradient(top,#3C5B80 14%,#5B5B5B );
	background: -ms-linear-gradient(top,#3C5B80 14%,#5B5B5B );
	background: -o-linear-gradient(top,#3C5B80 14%,#5B5B5B );
	background: linear-gradient(to bottom,#3C5B80 14%,#5B5B5B );
	border-color: #39393A;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 458px;
}

#u16696
{
	width: 149px;
	position: relative;
}

#u16697
{
	width: 149px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #3C5B80;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u16697:hover
{
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0px;
}

#u16700-4
{
	width: 141px;
	min-height: 29px;
	border-color: #3C5B80;
	background-color: #3C5B80;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u16697:hover #u16700-4
{
	background-color: #3C5B80;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u16673.MuseMenuActive #u16674-6,#u16697.MuseMenuActive #u16700-4
{
	background-color: #7F7F7F;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#menuu12071
{
	z-index: 200;
	width: 141px;
	background: #5B5B5B url("../images/u5123-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0C4081),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#0C4081 ,#5B5B5B 60%);
	border-color: #39393A;
	margin-left: 24px;
	top: -43px;
	margin-bottom: -40px;
	position: relative;
}

#u12072
{
	width: 141px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u12073
{
	width: 141px;
	background: #000000 url("../images/u5144-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 19px;
	position: relative;
}

#u12073:hover
{
	background: #000000 url("../images/u5144-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u12075-4
{
	width: 133px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u12073:hover #u12075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12073.MuseMenuActive #u12075-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12073.MuseMenuActive #u12075-4 p,#u12073.MuseMenuActive #u12075-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u16674,#u16674-3,#u12075
{
	text-decoration: none;
	color: #FFFFFF;
}

#u3883-7
{
	z-index: 10;
	width: 472px;
	min-height: 22px;
	margin-left: 357px;
	margin-top: 84px;
}

#u3882-6
{
	z-index: 4;
	width: 985px;
	min-height: 43px;
	margin-left: 356px;
	margin-top: 16px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

