.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 12px;
	margin-bottom: 12px;
}

#pu36500
{
	width: 0.01px;
	left: -101px;
	position: relative;
}

#u36500
{
	z-index: 2;
	width: 1366px;
	margin-right: -10000px;
	left: 101px;
}

#u36500_clip
{
	width: 1366px;
	height: 768px;
}

#u36500_img
{
	margin-right: -53px;
	margin-bottom: -30px;
}

#u36531
{
	z-index: 17;
	width: 1566px;
	height: 600px;
	margin-right: -10000px;
	margin-top: 215px;
}

#u3881-5
{
	z-index: 18;
	width: 317px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 649px;
}

#u41013-5
{
	z-index: 23;
	width: 235px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 879px;
}

#slideshowu18233
{
	z-index: 28;
	width: 0.01px;
	height: 669px;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 124px;
}

#u18234
{
	position: absolute;
	width: 900px;
	height: 600px;
	background-color: transparent;
	left: 417px;
}

#u18234popup
{
	z-index: 29;
}

#u18239
{
	z-index: 30;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18239_img
{
	padding: 133px 150px;
}

#u18235
{
	z-index: 32;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18235_img
{
	padding: 99px 150px;
}

#u18237
{
	z-index: 34;
	width: 900px;
	height: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18238
{
	z-index: 36;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18243
{
	z-index: 38;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18240
{
	z-index: 40;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18237_img,#u18238_img,#u18243_img,#u18240_img
{
	padding: 87px 150px;
}

#u18244
{
	z-index: 42;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18242
{
	z-index: 44;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18242_img
{
	padding-left: 164px;
	padding-right: 164px;
}

#u26036
{
	z-index: 46;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26036_img
{
	padding-left: 247px;
	padding-right: 247px;
}

#u26090
{
	z-index: 48;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26090_img
{
	padding-left: 241px;
	padding-right: 241px;
}

#u26081
{
	z-index: 50;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26081_img
{
	padding-left: 250px;
	padding-right: 250px;
}

#u26099
{
	z-index: 52;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26099_img
{
	padding-left: 269px;
	padding-right: 269px;
}

#u26108
{
	z-index: 54;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u18244_img,#u26108_img
{
	padding: 118px 150px;
}

#u26135
{
	z-index: 56;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26045
{
	z-index: 58;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26045_img
{
	padding-left: 240px;
	padding-right: 240px;
}

#u26072
{
	z-index: 60;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26072_img
{
	padding: 90px 150px;
}

#u38461
{
	z-index: 62;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u38461_img
{
	padding-top: 28px;
	padding-bottom: 28px;
}

#u26054
{
	z-index: 64;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u38472
{
	z-index: 66;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u38481
{
	z-index: 68;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u38481_img
{
	padding-left: 28px;
	padding-right: 28px;
}

#u18281
{
	position: absolute;
	width: 318px;
	padding-bottom: 95px;
}

#u18281popup
{
	z-index: 70;
}

#u18287
{
	z-index: 71;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 38px;
}

#u18287_img
{
	margin-left: -30px;
	margin-right: -30px;
}

#u18286
{
	z-index: 73;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 120px;
}

#u18286_img
{
	margin-left: -18px;
	margin-right: -18px;
}

#u18283
{
	z-index: 75;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 202px;
}

#u18287.SSSlideLinkSelected,#u18286.SSSlideLinkSelected,#u18283.SSSlideLinkSelected
{
	margin: 4px -10000px 0px 0px;
}

#u18289
{
	z-index: 77;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 38px;
}

#u18290
{
	z-index: 79;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 120px;
}

#u18284
{
	z-index: 81;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 202px;
}

#u18289.SSSlideLinkSelected,#u18290.SSSlideLinkSelected,#u18284.SSSlideLinkSelected
{
	margin: 85px -10000px 0px 0px;
}

#u18291
{
	z-index: 83;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 38px;
}

#u18282
{
	z-index: 85;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 120px;
}

#u18282_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u26039
{
	z-index: 87;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 202px;
}

#u18291.SSSlideLinkSelected,#u18282.SSSlideLinkSelected,#u26039.SSSlideLinkSelected
{
	margin: 166px -10000px 0px 0px;
}

#u26039_img
{
	margin-top: -19px;
	margin-bottom: -19px;
}

#u26093
{
	z-index: 89;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 38px;
}

#u26084
{
	z-index: 91;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 120px;
}

#u26084_img
{
	margin-top: -20px;
	margin-bottom: -20px;
}

#u26102
{
	z-index: 93;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 202px;
}

#u26093.SSSlideLinkSelected,#u26084.SSSlideLinkSelected,#u26102.SSSlideLinkSelected
{
	margin: 247px -10000px 0px 0px;
}

#u26102_img
{
	margin-top: -26px;
	margin-bottom: -26px;
}

#u26111
{
	z-index: 95;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 328px;
	left: 38px;
}

#u18291_img,#u26111_img
{
	margin-left: -24px;
	margin-right: -24px;
}

#u26138
{
	z-index: 97;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 328px;
	left: 120px;
}

#u26048
{
	z-index: 99;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 328px;
	left: 202px;
}

#u26111.SSSlideLinkSelected,#u26138.SSSlideLinkSelected,#u26048.SSSlideLinkSelected
{
	margin: 328px -10000px 0px 0px;
}

#u26093_img,#u26048_img
{
	margin-top: -17px;
	margin-bottom: -17px;
}

#u26075
{
	z-index: 101;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 409px;
	left: 38px;
}

#u26075_img
{
	margin-left: -16px;
	margin-right: -16px;
}

#u38464
{
	z-index: 103;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 409px;
	left: 120px;
}

#u38464_img
{
	margin-left: -25px;
	margin-right: -25px;
}

#u26057
{
	z-index: 105;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 409px;
	left: 202px;
}

#u26075.SSSlideLinkSelected,#u38464.SSSlideLinkSelected,#u26057.SSSlideLinkSelected
{
	margin: 409px -10000px 0px 0px;
}

#u38475
{
	z-index: 107;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 490px;
	left: 38px;
}

#u26138_img,#u26057_img,#u38475_img
{
	margin-left: -19px;
	margin-right: -19px;
}

#u38484
{
	z-index: 109;
	width: 78px;
	height: 77px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 490px;
	left: 120px;
}

#u38475.SSSlideLinkSelected,#u38484.SSSlideLinkSelected
{
	margin: 490px -10000px 0px 0px;
}

#u18287_clip,#u18286_clip,#u18283_clip,#u18289_clip,#u18290_clip,#u18284_clip,#u18291_clip,#u18282_clip,#u26039_clip,#u26093_clip,#u26084_clip,#u26102_clip,#u26111_clip,#u26138_clip,#u26048_clip,#u26075_clip,#u38464_clip,#u26057_clip,#u38475_clip,#u38484_clip
{
	overflow: hidden;
	width: 78px;
	height: 77px;
}

#u18283_img,#u18289_img,#u18290_img,#u18284_img,#u38484_img
{
	margin-left: -15px;
	margin-right: -15px;
}

#u18269
{
	position: absolute;
	width: 651px;
	top: 636px;
	left: 333px;
}

#u18269popup
{
	z-index: 111;
}

#u18278-4
{
	z-index: 112;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u18272-4
{
	z-index: 116;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u18274-4
{
	z-index: 120;
	width: 651px;
	min-height: 29px;
	background-color: transparent;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u18276-4
{
	z-index: 124;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u18275-4
{
	z-index: 128;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u18270-4
{
	z-index: 132;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u18277-4
{
	z-index: 136;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u18271-4
{
	z-index: 140;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26042-4
{
	z-index: 144;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26096-4
{
	z-index: 148;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26087-4
{
	z-index: 152;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26105-4
{
	z-index: 156;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26114-4
{
	z-index: 160;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26141-4
{
	z-index: 164;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26051-4
{
	z-index: 168;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26078-4
{
	z-index: 172;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u38467-4
{
	z-index: 176;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26060-4
{
	z-index: 180;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u38478-4
{
	z-index: 184;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u38487-4
{
	z-index: 188;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u18247-4
{
	position: absolute;
	width: 78px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1058px;
}

#u18247-4popup
{
	z-index: 192;
}

#u18292-4
{
	position: absolute;
	width: 50px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1148px;
}

#u18292-4popup
{
	z-index: 196;
}

#u18280-4
{
	position: absolute;
	width: 18px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1225px;
}

#u18280-4popup
{
	z-index: 200;
}

#u18249-4
{
	position: absolute;
	width: 41px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1273px;
}

#u18249-4popup
{
	z-index: 204;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu18293
{
	z-index: 208;
	width: 141px;
	background: #5B5B5B url("../images/u10774-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#3C5B80),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#3C5B80 ,#5B5B5B 60%);
	border-color: #39393A;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 124px;
}

#u18294
{
	width: 141px;
	min-height: 69px;
	position: relative;
	margin-right: -10000px;
}

#u18295
{
	width: 141px;
	background: #000000 url("../images/u2242-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 31px;
	position: relative;
}

#u18295:hover
{
	background: #000000 url("../images/u2242-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u18296-6
{
	width: 133px;
	min-height: 34px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 2px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#menuu18343
{
	z-index: 224;
	width: 159px;
	border-color: #39393A;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 284px;
}

#u18362
{
	width: 159px;
	min-height: 18px;
	border-color: #42410B;
	background-color: #3C5B80;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u18362.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	margin: 0px -10000px 0px 0px;
}

#u18363-4
{
	width: 151px;
	min-height: 14px;
	border-color: #000000;
	background-color: #3C5B80;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u18362:hover #u18363-4
{
	background-color: #3C5B80;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#menuu18368
{
	z-index: 231;
	width: 159px;
	border-style: none;
	border-color: transparent;
	background-color: #3C5B80;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 458px;
}

#u18361,#u18369
{
	width: 159px;
	position: relative;
}

#u18372
{
	width: 159px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: #3C5B80;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
}

#u18372:hover
{
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0px;
}

#u18373-4
{
	width: 151px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u18372:hover #u18373-4
{
	background-color: transparent;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u18362.MuseMenuActive #u18363-4,#u18372.MuseMenuActive #u18373-4
{
	background-color: #7F7F7F;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u18370
{
	width: 0px;
	height: 0px;
	left: 159px;
}

.ie #u18370
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu18318
{
	z-index: 217;
	width: 141px;
	background: #5B5B5B url("../images/u5123-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0C4081),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#0C4081 ,#5B5B5B 60%);
	border-color: #39393A;
	margin-left: 24px;
	top: -33px;
	margin-bottom: -33px;
	position: relative;
}

#u18336
{
	width: 141px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u18339
{
	width: 141px;
	background: #000000 url("../images/u5144-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 19px;
	position: relative;
}

#u18339:hover
{
	background: #000000 url("../images/u5144-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u18341-4
{
	width: 133px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u18339:hover #u18341-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u18339.MuseMenuActive #u18341-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u18339.MuseMenuActive #u18341-4 p,#u18339.MuseMenuActive #u18341-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u18363,#u18341
{
	text-decoration: none;
	color: #FFFFFF;
}

#u3883-7
{
	z-index: 10;
	width: 472px;
	min-height: 22px;
	margin-left: 357px;
	margin-top: 87px;
}

#u3882-6
{
	z-index: 4;
	width: 985px;
	min-height: 43px;
	margin-left: 356px;
	margin-top: 16px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

