.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 12px;
	margin-bottom: 12px;
}

#pu36500
{
	width: 0.01px;
	left: -101px;
	position: relative;
}

#u36500
{
	z-index: 2;
	width: 1366px;
	margin-right: -10000px;
	left: 101px;
}

#u36500_clip
{
	width: 1366px;
	height: 768px;
}

#u36500_img
{
	margin-right: -53px;
	margin-bottom: -30px;
}

#u36531
{
	z-index: 17;
	width: 1566px;
	height: 600px;
	margin-right: -10000px;
	margin-top: 215px;
}

#u3881-5
{
	z-index: 18;
	width: 317px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 649px;
}

#u41013-5
{
	z-index: 23;
	width: 235px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 879px;
}

#slideshowu26769
{
	z-index: 28;
	width: 0.01px;
	height: 704px;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 124px;
}

#u26772
{
	position: absolute;
	width: 900px;
	height: 600px;
	background-color: transparent;
	left: 417px;
}

#u26772popup
{
	z-index: 29;
}

#u26781
{
	z-index: 30;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26781_img
{
	padding-top: 45px;
	padding-bottom: 45px;
}

#u26778
{
	z-index: 32;
	width: 900px;
	height: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26778_img
{
	padding-left: 137px;
	padding-right: 137px;
}

#u26999
{
	z-index: 34;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26775
{
	z-index: 36;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26775_img
{
	padding-left: 242px;
	padding-right: 242px;
}

#u26777
{
	z-index: 38;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26777_img
{
	padding-left: 217px;
	padding-right: 217px;
}

#u27062
{
	z-index: 40;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27062_img
{
	padding-left: 214px;
	padding-right: 214px;
}

#u27085
{
	z-index: 42;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27085_img
{
	padding-left: 230px;
	padding-right: 230px;
}

#u27854
{
	z-index: 44;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27845
{
	z-index: 46;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27854_img,#u27845_img
{
	padding-left: 167px;
	padding-right: 167px;
}

#u26776
{
	z-index: 48;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26776_img
{
	padding-left: 270px;
	padding-right: 270px;
}

#u27863
{
	z-index: 50;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27863_img
{
	padding-left: 233px;
	padding-right: 233px;
}

#u26780
{
	z-index: 52;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26999_img,#u26780_img
{
	padding-left: 250px;
	padding-right: 250px;
}

#u26782
{
	z-index: 54;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27827
{
	z-index: 56;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26774
{
	z-index: 58;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26774_img
{
	padding-left: 248px;
	padding-right: 248px;
}

#u27872
{
	z-index: 60;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27872_img
{
	padding-left: 239px;
	padding-right: 239px;
}

#u27836
{
	z-index: 62;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u27818
{
	z-index: 64;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u26785
{
	position: absolute;
	width: 318px;
	padding-bottom: 57px;
}

#u26785popup
{
	z-index: 66;
}

#u26793
{
	z-index: 67;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u26793_img
{
	margin-left: -34px;
	margin-right: -34px;
}

#u26788
{
	z-index: 69;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 114px;
}

#u26788_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u27002
{
	z-index: 71;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 208px;
}

#u26793.SSSlideLinkSelected,#u26788.SSSlideLinkSelected,#u27002.SSSlideLinkSelected
{
	margin: 4px -10000px 0px 0px;
}

#u26792
{
	z-index: 73;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 20px;
}

#u26792_img
{
	margin-top: -20px;
	margin-bottom: -20px;
}

#u26787
{
	z-index: 75;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 114px;
}

#u26787_img
{
	margin-top: -13px;
	margin-bottom: -13px;
}

#u27065
{
	z-index: 77;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 208px;
}

#u26792.SSSlideLinkSelected,#u26787.SSSlideLinkSelected,#u27065.SSSlideLinkSelected
{
	margin: 98px -10000px 0px 0px;
}

#u27065_img
{
	margin-top: -12px;
	margin-bottom: -12px;
}

#u27088
{
	z-index: 79;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 20px;
}

#u27088_img
{
	margin-top: -16px;
	margin-bottom: -16px;
}

#u27857
{
	z-index: 81;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 114px;
}

#u27848
{
	z-index: 83;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 208px;
}

#u27088.SSSlideLinkSelected,#u27857.SSSlideLinkSelected,#u27848.SSSlideLinkSelected
{
	margin: 192px -10000px 0px 0px;
}

#u27857_img,#u27848_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u26795
{
	z-index: 85;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 20px;
}

#u26795_img
{
	margin-top: -30px;
	margin-bottom: -30px;
}

#u27866
{
	z-index: 87;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 114px;
}

#u27866_img
{
	margin-top: -17px;
	margin-bottom: -17px;
}

#u26794
{
	z-index: 89;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 208px;
}

#u26795.SSSlideLinkSelected,#u27866.SSSlideLinkSelected,#u26794.SSSlideLinkSelected
{
	margin: 286px -10000px 0px 0px;
}

#u27002_img,#u26794_img
{
	margin-top: -23px;
	margin-bottom: -23px;
}

#u26790
{
	z-index: 91;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 20px;
}

#u27830
{
	z-index: 93;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 114px;
}

#u26786
{
	z-index: 95;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 208px;
}

#u26790.SSSlideLinkSelected,#u27830.SSSlideLinkSelected,#u26786.SSSlideLinkSelected
{
	margin: 380px -10000px 0px 0px;
}

#u26786_img
{
	margin-top: -22px;
	margin-bottom: -22px;
}

#u27875
{
	z-index: 97;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 20px;
}

#u27875_img
{
	margin-top: -19px;
	margin-bottom: -19px;
}

#u27839
{
	z-index: 99;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 114px;
}

#u27821
{
	z-index: 101;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 208px;
}

#u27875.SSSlideLinkSelected,#u27839.SSSlideLinkSelected,#u27821.SSSlideLinkSelected
{
	margin: 474px -10000px 0px 0px;
}

#u26793_clip,#u26788_clip,#u27002_clip,#u26792_clip,#u26787_clip,#u27065_clip,#u27088_clip,#u27857_clip,#u27848_clip,#u26795_clip,#u27866_clip,#u26794_clip,#u26790_clip,#u27830_clip,#u26786_clip,#u27875_clip,#u27839_clip,#u27821_clip
{
	overflow: hidden;
	width: 90px;
	height: 90px;
}

#u26790_img,#u27830_img,#u27839_img,#u27821_img
{
	margin-left: -23px;
	margin-right: -23px;
}

#u26796
{
	position: absolute;
	width: 651px;
	top: 636px;
	left: 333px;
}

#u26796popup
{
	z-index: 103;
}

#u26804-6
{
	z-index: 104;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	text-align: left;
	margin-right: -10000px;
	position: relative;
}

#u26799-6
{
	z-index: 110;
	width: 651px;
	min-height: 64px;
	background-color: transparent;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u27005-4
{
	z-index: 116;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26797-6
{
	z-index: 120;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26798-6
{
	z-index: 126;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u27068-6
{
	z-index: 132;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u27091-6
{
	z-index: 138;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u27860-6
{
	z-index: 144;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	text-align: left;
	margin-right: -10000px;
	position: relative;
}

#u27851-6
{
	z-index: 150;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	text-align: left;
	margin-right: -10000px;
	position: relative;
}

#u26806-6
{
	z-index: 156;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	text-align: left;
	margin-right: -10000px;
	position: relative;
}

#u26804-2,#u27860-2,#u27851-2,#u26806-2
{
	font-size: 10px;
	color: #39393A;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u27869-5
{
	z-index: 162;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #39393A;
	text-align: left;
	font-size: 10px;
	margin-right: -10000px;
	position: relative;
}

#u26800-4
{
	z-index: 167;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26805-4
{
	z-index: 171;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u27833-4
{
	z-index: 175;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u26803-4
{
	z-index: 179;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u27878-4
{
	z-index: 183;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u27842-6
{
	z-index: 187;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u27824-5
{
	z-index: 193;
	width: 651px;
	min-height: 64px;
	padding-top: 4px;
	color: #39393A;
	text-align: left;
	font-size: 10px;
	margin-right: -10000px;
	position: relative;
}

#u27869-3,#u27824-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u26804-2  span,#u27860-2  span,#u27851-2  span,#u26806-2  span,#u27869-3  span,#u27824-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u26804,#u26804-4,#u27860,#u27860-4,#u27851,#u27851-4,#u26806,#u26806-4,#u27869-2,#u27824-2
{
	font-size: 12px;
	color: #FFFFFF;
}

#u26783-4
{
	position: absolute;
	width: 78px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1056px;
}

#u26783-4popup
{
	z-index: 198;
}

#u26826-4
{
	position: absolute;
	width: 113px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1146px;
}

#u26826-4popup
{
	z-index: 202;
}

#u26828-4
{
	position: absolute;
	width: 18px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1223px;
}

#u26828-4popup
{
	z-index: 206;
}

#u26784-4
{
	position: absolute;
	width: 41px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1271px;
}

#u26784-4popup
{
	z-index: 210;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu26829
{
	z-index: 214;
	width: 159px;
	border-color: #39393A;
	background-color: #3C5B80;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 282px;
}

#u26833
{
	width: 159px;
	min-height: 18px;
	border-color: #42410B;
	background-color: transparent;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
}

#u26833:hover
{
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0px;
}

#u26834-4
{
	width: 151px;
	min-height: 14px;
	border-color: #000000;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u26833:hover #u26834-4
{
	background-color: transparent;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u26833.MuseMenuActive #u26834-4
{
	background-color: #7F7F7F;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#menuu26854
{
	z-index: 221;
	width: 141px;
	background: #5B5B5B url("../images/u10774-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#3C5B80),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#3C5B80 ,#5B5B5B 60%);
	border-color: #39393A;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 124px;
}

#u26855
{
	width: 141px;
	min-height: 69px;
	position: relative;
	margin-right: -10000px;
}

#u26856
{
	width: 141px;
	background: #000000 url("../images/u2242-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 31px;
	position: relative;
}

#u26856:hover
{
	background: #000000 url("../images/u2242-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u26859-6
{
	width: 133px;
	min-height: 34px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 2px;
}

#menuu26904
{
	z-index: 237;
	width: 159px;
	border-color: #39393A;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 458px;
}

#u26830,#u26905
{
	width: 159px;
	position: relative;
}

#u26906
{
	width: 159px;
	min-height: 18px;
	border-color: #42410B;
	background-color: #3C5B80;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u26906.MuseMenuActive
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u26908-4
{
	width: 151px;
	min-height: 14px;
	border-color: #000000;
	background-color: #3C5B80;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u26906:hover #u26908-4
{
	background-color: #3C5B80;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u26906.MuseMenuActive #u26908-4
{
	background-color: transparent;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#menuu26879
{
	z-index: 230;
	width: 141px;
	background: #5B5B5B url("../images/u5123-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0C4081),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#0C4081 ,#5B5B5B 60%);
	border-color: #39393A;
	margin-left: 24px;
	top: -68px;
	margin-bottom: -40px;
	position: relative;
}

#u26880
{
	width: 141px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u26881
{
	width: 141px;
	background: #000000 url("../images/u5144-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 19px;
	position: relative;
}

#u26881:hover
{
	background: #000000 url("../images/u5144-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u26883-4
{
	width: 133px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u26881:hover #u26883-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u26881.MuseMenuActive #u26883-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u26881.MuseMenuActive #u26883-4 p,#u26881.MuseMenuActive #u26883-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u26834,#u26908,#u26883
{
	text-decoration: none;
	color: #FFFFFF;
}

#u3883-7
{
	z-index: 10;
	width: 472px;
	min-height: 22px;
	margin-left: 357px;
	margin-top: 59px;
}

#u3882-6
{
	z-index: 4;
	width: 985px;
	min-height: 43px;
	margin-left: 356px;
	margin-top: 16px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

