.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 12px;
	margin-bottom: 12px;
}

#pu36500
{
	width: 0.01px;
	left: -101px;
	position: relative;
}

#u36500
{
	z-index: 2;
	width: 1366px;
	margin-right: -10000px;
	left: 101px;
}

#u36500_clip
{
	width: 1366px;
	height: 768px;
}

#u36500_img
{
	margin-right: -53px;
	margin-bottom: -30px;
}

#u36531
{
	z-index: 17;
	width: 1566px;
	height: 600px;
	margin-right: -10000px;
	margin-top: 215px;
}

#u3881-5
{
	z-index: 18;
	width: 317px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 649px;
}

#u41013-5
{
	z-index: 23;
	width: 235px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 879px;
}

#slideshowu11792
{
	z-index: 28;
	width: 0.01px;
	height: 669px;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 125px;
}

#u11809
{
	position: absolute;
	width: 900px;
	height: 600px;
	background-color: transparent;
	left: 416px;
}

#u11809popup
{
	z-index: 29;
}

#u11812
{
	z-index: 30;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17289
{
	z-index: 32;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17266
{
	z-index: 34;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11810
{
	z-index: 36;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11815
{
	z-index: 38;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11818
{
	z-index: 40;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17266_img,#u11818_img
{
	padding-left: 250px;
	padding-right: 250px;
}

#u17338
{
	z-index: 42;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17365
{
	z-index: 44;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17365_img
{
	padding-left: 196px;
	padding-right: 196px;
}

#u11814
{
	z-index: 46;
	width: 900px;
	height: 600px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11814_img
{
	padding-top: 43px;
	padding-bottom: 43px;
}

#u11817
{
	z-index: 48;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11817_img
{
	padding-left: 242px;
	padding-right: 242px;
}

#u11816
{
	z-index: 50;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11816_img
{
	padding-left: 228px;
	padding-right: 228px;
}

#u11819
{
	z-index: 52;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11819_img
{
	padding: 161px 150px;
}

#u11811
{
	z-index: 54;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11811_img
{
	padding: 128px 150px;
}

#u11813
{
	z-index: 56;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17424
{
	z-index: 58;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17424_img
{
	padding-left: 171px;
	padding-right: 171px;
}

#u17433
{
	z-index: 60;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u11813_img,#u17433_img
{
	padding: 17px 150px;
}

#u17458
{
	z-index: 62;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17458_img
{
	padding-left: 151px;
	padding-right: 151px;
}

#u17467
{
	z-index: 64;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17467_img
{
	padding-left: 132px;
	padding-right: 132px;
}

#u11797
{
	position: absolute;
	width: 318px;
	padding-bottom: 36px;
}

#u11797popup
{
	z-index: 66;
}

#u11804
{
	z-index: 67;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u17292
{
	z-index: 69;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 114px;
}

#u17269
{
	z-index: 71;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 208px;
}

#u11804.SSSlideLinkSelected,#u17292.SSSlideLinkSelected,#u17269.SSSlideLinkSelected
{
	margin: 4px -10000px 0px 0px;
}

#u11798
{
	z-index: 73;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 20px;
}

#u11800
{
	z-index: 75;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 114px;
}

#u11801
{
	z-index: 77;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 208px;
}

#u11798.SSSlideLinkSelected,#u11800.SSSlideLinkSelected,#u11801.SSSlideLinkSelected
{
	margin: 98px -10000px 0px 0px;
}

#u17269_img,#u11801_img
{
	margin-top: -23px;
	margin-bottom: -23px;
}

#u17341
{
	z-index: 79;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 20px;
}

#u11804_img,#u17292_img,#u11798_img,#u11800_img,#u17341_img
{
	margin-left: -23px;
	margin-right: -23px;
}

#u17368
{
	z-index: 81;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 114px;
}

#u17368_img
{
	margin-top: -8px;
	margin-bottom: -8px;
}

#u11805
{
	z-index: 83;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 208px;
}

#u17341.SSSlideLinkSelected,#u17368.SSSlideLinkSelected,#u11805.SSSlideLinkSelected
{
	margin: 192px -10000px 0px 0px;
}

#u11805_img
{
	margin-left: -66px;
	margin-right: -2px;
}

#u11799
{
	z-index: 85;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 20px;
}

#u11799_img
{
	margin-top: -20px;
	margin-bottom: -20px;
}

#u11806
{
	z-index: 87;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 114px;
}

#u11806_img
{
	margin-top: -16px;
	margin-bottom: -16px;
}

#u11807
{
	z-index: 89;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 208px;
}

#u11799.SSSlideLinkSelected,#u11806.SSSlideLinkSelected,#u11807.SSSlideLinkSelected
{
	margin: 286px -10000px 0px 0px;
}

#u11807_img
{
	margin-left: -103px;
	margin-right: -1px;
}

#u11802
{
	z-index: 91;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 20px;
}

#u11802_img
{
	margin-left: -16px;
	margin-right: -50px;
}

#u11803
{
	z-index: 93;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 114px;
}

#u17427
{
	z-index: 95;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 208px;
}

#u11802.SSSlideLinkSelected,#u11803.SSSlideLinkSelected,#u17427.SSSlideLinkSelected
{
	margin: 380px -10000px 0px 0px;
}

#u17427_img
{
	margin-top: -3px;
	margin-bottom: -3px;
}

#u17436
{
	z-index: 97;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 20px;
}

#u17461
{
	z-index: 99;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 114px;
}

#u17470
{
	z-index: 101;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 208px;
}

#u17436.SSSlideLinkSelected,#u17461.SSSlideLinkSelected,#u17470.SSSlideLinkSelected
{
	margin: 474px -10000px 0px 0px;
}

#u11804_clip,#u17292_clip,#u17269_clip,#u11798_clip,#u11800_clip,#u11801_clip,#u17341_clip,#u17368_clip,#u11805_clip,#u11799_clip,#u11806_clip,#u11807_clip,#u11802_clip,#u11803_clip,#u17427_clip,#u17436_clip,#u17470_clip
{
	overflow: hidden;
	width: 90px;
	height: 90px;
}

#u11803_img,#u17436_img,#u17470_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u11840
{
	position: absolute;
	width: 628px;
	top: 636px;
	left: 332px;
}

#u11840popup
{
	z-index: 103;
}

#u11846-5
{
	z-index: 104;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #39393A;
	text-align: left;
	font-size: 10px;
	margin-right: -10000px;
	position: relative;
}

#u11846-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11846-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u11846-2
{
	font-size: 12px;
	color: #FFFFFF;
}

#u17295-4
{
	z-index: 109;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u17272-4
{
	z-index: 113;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11843-4
{
	z-index: 117;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11845-4
{
	z-index: 121;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11842-4
{
	z-index: 125;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u17344-4
{
	z-index: 129;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u17371-4
{
	z-index: 133;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11849-4
{
	z-index: 137;
	width: 628px;
	min-height: 29px;
	background-color: transparent;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11848-4
{
	z-index: 141;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11844-4
{
	z-index: 145;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11841-4
{
	z-index: 149;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11847-4
{
	z-index: 153;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11850-4
{
	z-index: 157;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u17430-4
{
	z-index: 161;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u17439-4
{
	z-index: 165;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u17464-4
{
	z-index: 169;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u17473-4
{
	z-index: 173;
	width: 628px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u11808-4
{
	position: absolute;
	width: 78px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1057px;
}

#u11808-4popup
{
	z-index: 177;
}

#u11793-4
{
	position: absolute;
	width: 50px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1147px;
}

#u11793-4popup
{
	z-index: 181;
}

#u11820-4
{
	position: absolute;
	width: 18px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1224px;
}

#u11820-4popup
{
	z-index: 185;
}

#u11794-4
{
	position: absolute;
	width: 41px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1272px;
}

#u11794-4popup
{
	z-index: 189;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu12120
{
	z-index: 193;
	width: 141px;
	background: #5B5B5B url("../images/u10774-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#3C5B80),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#3C5B80 ,#5B5B5B 60%);
	border-color: #39393A;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 124px;
}

#u12121
{
	width: 141px;
	min-height: 69px;
	position: relative;
	margin-right: -10000px;
}

#u12124
{
	width: 141px;
	background: #000000 url("../images/u2242-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 31px;
	position: relative;
}

#u12124:hover
{
	background: #000000 url("../images/u2242-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u12125-6
{
	width: 133px;
	min-height: 34px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 2px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#menuu17709
{
	z-index: 209;
	width: 159px;
	border-color: #39393A;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 284px;
}

#u17710
{
	width: 159px;
	position: relative;
}

#u17713
{
	width: 159px;
	min-height: 18px;
	border-color: #42410B;
	background-color: #3C5B80;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u17713.MuseMenuActive
{
	background-color: #7F7F7F;
	margin: 0px -10000px 0px 0px;
}

#u17716-4
{
	width: 151px;
	min-height: 14px;
	border-color: #000000;
	background-color: #3C5B80;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u17713:hover #u17716-4
{
	background-color: #3C5B80;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#menuu17733
{
	z-index: 216;
	width: 149px;
	border-style: none;
	border-color: transparent;
	background-color: #3C5B80;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 458px;
}

#u17750
{
	width: 149px;
	position: relative;
}

#u17753
{
	width: 149px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: #3C5B80;
	padding-bottom: 19px;
	position: relative;
	margin-right: -10000px;
}

#u17753:hover
{
	background-color: #AAAAAA;
	margin: 0px -10000px 0px 0px;
}

#u17755-4
{
	width: 141px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u17753:hover #u17755-4
{
	background-color: transparent;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u17713.MuseMenuActive #u17716-4,#u17753.MuseMenuActive #u17755-4
{
	background-color: #7F7F7F;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u17751
{
	width: 0px;
	height: 0px;
	left: 149px;
}

.ie #u17751
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu12145
{
	z-index: 202;
	width: 141px;
	background: #5B5B5B url("../images/u5123-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0C4081),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#0C4081 ,#5B5B5B 60%);
	border-color: #39393A;
	margin-left: 24px;
	top: -33px;
	margin-bottom: -33px;
	position: relative;
}

#u12146
{
	width: 141px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u12147
{
	width: 141px;
	background: #000000 url("../images/u5144-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 19px;
	position: relative;
}

#u12147:hover
{
	background: #000000 url("../images/u5144-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u12149-4
{
	width: 133px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u12147:hover #u12149-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12147.MuseMenuActive #u12149-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u12147.MuseMenuActive #u12149-4 p,#u12147.MuseMenuActive #u12149-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u17716,#u12149
{
	text-decoration: none;
	color: #FFFFFF;
}

#u3883-7
{
	z-index: 10;
	width: 472px;
	min-height: 22px;
	margin-left: 357px;
	margin-top: 87px;
}

#u3882-6
{
	z-index: 4;
	width: 985px;
	min-height: 43px;
	margin-left: 356px;
	margin-top: 16px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

