.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1366px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 12px;
	margin-bottom: 12px;
}

#pu36500
{
	width: 0.01px;
	left: -101px;
	position: relative;
}

#u36500
{
	z-index: 2;
	width: 1366px;
	margin-right: -10000px;
	left: 101px;
}

#u36500_clip
{
	width: 1366px;
	height: 768px;
}

#u36500_img
{
	margin-right: -53px;
	margin-bottom: -30px;
}

#u36531
{
	z-index: 17;
	width: 1566px;
	height: 600px;
	margin-right: -10000px;
	margin-top: 215px;
}

#u3881-5
{
	z-index: 18;
	width: 317px;
	min-height: 37px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 649px;
}

#u41013-5
{
	z-index: 23;
	width: 235px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 96px;
	left: 879px;
}

#menuu14232
{
	z-index: 28;
	width: 141px;
	background: #5B5B5B url("../images/u10774-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#3C5B80),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#3C5B80 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#3C5B80 ,#5B5B5B 60%);
	border-color: #39393A;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 124px;
}

#u14250
{
	width: 141px;
	min-height: 69px;
	position: relative;
	margin-right: -10000px;
}

#u14251
{
	width: 141px;
	background: #000000 url("../images/u2242-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 31px;
	position: relative;
}

#u14251:hover
{
	background: #000000 url("../images/u2242-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u14253-6
{
	width: 133px;
	min-height: 34px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 2px;
}

#slideshowu14283
{
	z-index: 44;
	width: 0.01px;
	height: 669px;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 124px;
}

#u14315
{
	position: absolute;
	width: 900px;
	height: 600px;
	background-color: transparent;
	left: 417px;
}

#u14315popup
{
	z-index: 45;
}

#u14324
{
	z-index: 46;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u14324_img
{
	padding: 7px 150px;
}

#u17156
{
	z-index: 48;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17156_img
{
	padding-left: 162px;
	padding-right: 162px;
}

#u17171
{
	z-index: 50;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17171_img
{
	padding-left: 154px;
	padding-right: 154px;
}

#u17186
{
	z-index: 52;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17186_img
{
	padding-left: 160px;
	padding-right: 160px;
}

#u17201
{
	z-index: 54;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17201_img
{
	padding: 74px 150px;
}

#u17216
{
	z-index: 56;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u17216_img
{
	padding: 99px 150px;
}

#u20371
{
	z-index: 58;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20386
{
	z-index: 60;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20409
{
	z-index: 62;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u14321
{
	z-index: 64;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20434
{
	z-index: 66;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u14318
{
	z-index: 68;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u14318_img
{
	padding-left: 239px;
	padding-right: 239px;
}

#u20464
{
	z-index: 70;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u14319
{
	z-index: 72;
	width: 900px;
	height: 600px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u20371_img,#u20409_img,#u14321_img,#u20434_img,#u20464_img,#u14319_img
{
	padding-left: 250px;
	padding-right: 250px;
}

#u14331
{
	position: absolute;
	width: 318px;
	padding-bottom: 102px;
}

#u14331popup
{
	z-index: 74;
}

#u14337
{
	z-index: 75;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u14337_img
{
	margin-left: -1px;
	margin-right: -1px;
}

#u17159
{
	z-index: 77;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 114px;
}

#u17159_img
{
	margin-top: -2px;
	margin-bottom: -2px;
}

#u17174
{
	z-index: 79;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 208px;
}

#u14337.SSSlideLinkSelected,#u17159.SSSlideLinkSelected,#u17174.SSSlideLinkSelected
{
	margin: 4px -10000px 0px 0px;
}

#u17189
{
	z-index: 81;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 20px;
}

#u17174_img,#u17189_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u17204
{
	z-index: 83;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 114px;
}

#u17204_img
{
	margin-left: -15px;
	margin-right: -15px;
}

#u17219
{
	z-index: 85;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 208px;
}

#u17189.SSSlideLinkSelected,#u17204.SSSlideLinkSelected,#u17219.SSSlideLinkSelected
{
	margin: 98px -10000px 0px 0px;
}

#u17219_img
{
	margin-left: -22px;
	margin-right: -22px;
}

#u20374
{
	z-index: 87;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 20px;
}

#u20389
{
	z-index: 89;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 114px;
}

#u20389_img
{
	margin-left: -23px;
	margin-right: -23px;
}

#u20412
{
	z-index: 91;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 208px;
}

#u20374.SSSlideLinkSelected,#u20389.SSSlideLinkSelected,#u20412.SSSlideLinkSelected
{
	margin: 192px -10000px 0px 0px;
}

#u14336
{
	z-index: 93;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 20px;
}

#u14336_img
{
	margin-top: -3px;
	margin-bottom: -43px;
}

#u20437
{
	z-index: 95;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 114px;
}

#u20374_img,#u20412_img,#u20437_img
{
	margin-top: -23px;
	margin-bottom: -23px;
}

#u14333
{
	z-index: 97;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 286px;
	left: 208px;
}

#u14336.SSSlideLinkSelected,#u20437.SSSlideLinkSelected,#u14333.SSSlideLinkSelected
{
	margin: 286px -10000px 0px 0px;
}

#u14333_img
{
	margin-top: -11px;
	margin-bottom: -27px;
}

#u20467
{
	z-index: 99;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 20px;
}

#u20467_img
{
	margin-top: -5px;
	margin-bottom: -41px;
}

#u14335
{
	z-index: 101;
	width: 90px;
	height: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
	left: 114px;
}

#u20467.SSSlideLinkSelected,#u14335.SSSlideLinkSelected
{
	margin: 380px -10000px 0px 0px;
}

#u14337_clip,#u17159_clip,#u17174_clip,#u17189_clip,#u17204_clip,#u17219_clip,#u20374_clip,#u20389_clip,#u20412_clip,#u14336_clip,#u20437_clip,#u14333_clip,#u20467_clip,#u14335_clip
{
	overflow: hidden;
	width: 90px;
	height: 90px;
}

#u14335_img
{
	margin-top: -2px;
	margin-bottom: -44px;
}

#u14304
{
	position: absolute;
	width: 651px;
	top: 636px;
	left: 333px;
}

#u14304popup
{
	z-index: 103;
}

#u14312-4
{
	z-index: 104;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u14312
{
	font-size: 12px;
}

#u17162-4
{
	z-index: 108;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u17177-4
{
	z-index: 112;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u17192-4
{
	z-index: 116;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u17207-4
{
	z-index: 120;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u17222-4
{
	z-index: 124;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u20377-4
{
	z-index: 128;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u20392-4
{
	z-index: 132;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u20415-4
{
	z-index: 136;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u14309-4
{
	z-index: 140;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u20440-4
{
	z-index: 144;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u14306-4
{
	z-index: 148;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u20470-4
{
	z-index: 152;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u14311-4
{
	z-index: 156;
	width: 651px;
	min-height: 29px;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: left;
	font-size: 12px;
	margin-right: -10000px;
	position: relative;
}

#u14329-4
{
	position: absolute;
	width: 78px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1057px;
}

#u14329-4popup
{
	z-index: 160;
}

#u14342-4
{
	position: absolute;
	width: 50px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1147px;
}

#u14342-4popup
{
	z-index: 164;
}

#u14330-4
{
	position: absolute;
	width: 18px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1224px;
}

#u14330-4popup
{
	z-index: 168;
}

#u14328-4
{
	position: absolute;
	width: 41px;
	min-height: 22px;
	padding: 6px;
	color: #C8C8C8;
	text-align: right;
	font-size: 18px;
	top: 632px;
	left: 1272px;
}

#u14328-4popup
{
	z-index: 172;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu17122
{
	z-index: 176;
	width: 159px;
	background: #5B5B5B url("../images/u15603-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(14%, #7F7F7F),to(#5B5B5B));
	background: -webkit-linear-gradient(top,#7F7F7F 14%,#5B5B5B );
	background: -moz-linear-gradient(top,#7F7F7F 14%,#5B5B5B );
	background: -ms-linear-gradient(top,#7F7F7F 14%,#5B5B5B );
	background: -o-linear-gradient(top,#7F7F7F 14%,#5B5B5B );
	background: linear-gradient(to bottom,#7F7F7F 14%,#5B5B5B );
	border-color: #39393A;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 458px;
}

#u17123
{
	width: 159px;
	position: relative;
}

#u17124
{
	width: 159px;
	min-height: 33px;
	border-style: none;
	border-color: transparent;
	background-color: #3C5B80;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u17124.MuseMenuActive
{
	background-color: #666666;
	margin: 0px -10000px 0px 0px;
}

#u17126-4
{
	width: 151px;
	min-height: 29px;
	border-color: #3C5B80;
	background-color: #3C5B80;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u17124:hover #u17126-4
{
	background-color: #3C5B80;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#u17124.MuseMenuActive #u17126-4
{
	background-color: transparent;
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 29px;
	margin: 0px -10000px 0px 0px;
}

#menuu20477
{
	z-index: 183;
	width: 159px;
	background: #5B5B5B url("../images/u4929-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0C4081),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#0C4081 ,#5B5B5B 60%);
	border-color: #39393A;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 265px;
}

#u20478
{
	width: 159px;
	min-height: 69px;
	position: relative;
	margin-right: -10000px;
}

#u20479
{
	width: 159px;
	background: #000000 url("../images/u9122-a-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#7F7F7F ,#000000 66%);
	background: -moz-linear-gradient(top,#7F7F7F ,#000000 66%);
	background: -ms-linear-gradient(top,#7F7F7F ,#000000 66%);
	background: -o-linear-gradient(top,#7F7F7F ,#000000 66%);
	background: linear-gradient(to bottom,#7F7F7F ,#000000 66%);
	padding-bottom: 31px;
	position: relative;
}

#u20479:hover
{
	background: #000000 url("../images/u2242-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u20481-6
{
	width: 151px;
	min-height: 34px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
	left: 2px;
}

#menuu14257
{
	z-index: 37;
	width: 141px;
	background: #5B5B5B url("../images/u5123-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0C4081),color-stop(60%, #5B5B5B));
	background: -webkit-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -moz-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -ms-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: -o-linear-gradient(top,#0C4081 ,#5B5B5B 60%);
	background: linear-gradient(to bottom,#0C4081 ,#5B5B5B 60%);
	border-color: #39393A;
	margin-left: 24px;
	top: -33px;
	margin-bottom: -33px;
	position: relative;
}

#u14275
{
	width: 141px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u14276
{
	width: 141px;
	background: #000000 url("../images/u5144-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 66%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 66%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 66%);
	background: -o-linear-gradient(top,#0071BC ,#000000 66%);
	background: linear-gradient(to bottom,#0071BC ,#000000 66%);
	padding-bottom: 19px;
	position: relative;
}

#u14276:hover
{
	background: #000000 url("../images/u5144-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#AAAAAA),color-stop(66%, #000000));
	background: -webkit-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -moz-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -ms-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: -o-linear-gradient(top,#AAAAAA ,#000000 66%);
	background: linear-gradient(to bottom,#AAAAAA ,#000000 66%);
	margin: 0px;
}

#u14279-4
{
	width: 133px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #C8C8C8;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 2px;
}

#u14276:hover #u14279-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u14276.MuseMenuActive #u14279-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u14276.MuseMenuActive #u14279-4 p,#u14276.MuseMenuActive #u14279-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	text-decoration: none;
}

#u14279
{
	text-decoration: none;
	color: #FFFFFF;
}

#u3883-7
{
	z-index: 10;
	width: 472px;
	min-height: 22px;
	margin-left: 357px;
	margin-top: 87px;
}

#u3882-6
{
	z-index: 4;
	width: 985px;
	min-height: 43px;
	margin-left: 356px;
	margin-top: 16px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

