// SECTION :: START
section#thanks-main.thanks-main
  .c-grid
    .thanks-main__wrapper
      .thanks-main__wrapper-left
        h2.thanks-main__title Thank you!
        .thanks-main__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum tortor nec velit elementum, vel efficitur augue sodales.
        .thanks-main__badge-wrapper
          a(href="services.html").thanks-main__badge Back to services
      .thanks-main__wrapper-right          
// SECTION :: END
