@import "vars";
@media (min-width: 1200px) {
	.search-box {
		right: 0 !important;
	}
}
@media (max-width: 767px) {
	#header-page {
		.container {
			width: 100%!important;
		}
	}
	.find {
		width: 90% !important;
		form {
			padding: 20px 30px !important;
			.form-elements {
				width: 100% !important;
				margin: 0 auto;
				padding-right: 0 !important;
				select {
					background-color: #fff;
					line-height: 20px !important;
				}
				label {
					margin: 10px 0px;
				}
			}
			.form-actions {
				input {
					margin: 0 auto;
					width: 100%;
				}
			}
		}
	}
	.search-box {
	    right: 75px;
	}
	.toggle-menu-responsive {
	    position: absolute;
	    display: block;
	    width: 60px;
	    height: 60px;
	    cursor: pointer;
	    top: 0; right: 15px;
	    overflow: hidden;
	    border-right: 1px solid #D4D4D4;
	    z-index: 1;
	    // @include translateZ(0);
	    .hamburger {
	        position: absolute;
	        width: 60px;
	        height: 16px;
	        margin: auto;
	        top: 0;
	        bottom: 0;
	        left: 0;
	        // @include transition;
	    }
	    .item {
	        position: absolute;
	        display: block;
	        font-size: 0;
	        width: 20px; height: 2px;
	        background-color: #67728A;
	        margin: auto;
	        left: 0; right: 0;
	        overflow: hidden;
	        z-index: 1;
	        -webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	    }
	    .item-1 {
	        top: 0;
	        // @include transform-origin(0 50%);
	        // @include transition(all .4s cubic-bezier(.29,1.2,.68,1.26));
	    }
	    .item-2 {
	        top: 0; bottom: 0;
	        // @include transition(all .4s cubic-bezier(.28,-0.24,.8,-0.13) .2s);
	    }
	    .item-3 {
	        bottom: 0;
	        // @include transform-origin(0 50%);
	        // @include transition(all .4s cubic-bezier(.29,1.2,.68,1.26));
	    }
	    &.toggle-active {
	        .hamburger {
	            left: 2px;
	        }
	        .item {
	            background-color: #0091EA;
	        }
	        .item-1 {
	            // @include rotate(45);
	            // @include transition(all .4s cubic-bezier(.29,1.2,.68,1.26) .3s);
	        }
	        .item-3 {
	            // @include rotate(-45);
	            // @include transition(all .4s cubic-bezier(.29,1.2,.68,1.26) .3s);
	        }
	        .item-2 {
	            // @include translateX(-250%);
	            // @include transition(all .4s cubic-bezier(.28,-0.24,.8,-0.13));
	        }
	    }
	}
	.awe-navigation-hamburger {
	    .toggle-menu-responsive {
	        &:hover {
	            .item {
	                background-color: #0091EA;
	            }
	        }
	    }
	}
	.awe-navigation-responsive {
		height: 100vh !important;
	    position: fixed;
	    text-align: left;
	    overflow-x: hidden;
	    overflow-y: auto;
	    top: 0;
	    right: 0;
	    padding-top: 60px;
	    background-color: #fff;
	    max-width: 320px;
	    width: 100%;
	    border: 1px solid #d4d4d4;
	    border-right: 0;
	    border-bottom: 0;
	    z-index: 1;
	    box-shadow: (0 100px 0 0 #fff);
	    transform: translateX(100%);
	    transition: all 0.5s cubic-bezier(0, 0.67, 0.35, 0.94) 0.3s;
	    &.awe-navigation-responsive-active {
	        transform: translateX(0);
	        overflow: hidden;
	    }
	    .menu-list {
	        font-size: 0;
	        list-style: none;
	        margin: 0;
	        padding: 0;
	        overflow: hidden;
	        li {
	            padding: 0 22px;
	            border-bottom: 1px solid rgba(0,0,0,0.1);
	            &:first-child {
	                border-top: 1px solid rgba(0,0,0,0.1);
	            }
	            a {
	                display: block;
	                font-family: "Open Sans", sans-serif;
	                font-weight: 600;
	                font-size: 13px;
	                color: #67728A;
	                line-height: 56px;
	                &:hover {
	                    color: #0091EA;
	                }
	            }

	            &.current-menu-parent,
	            &.current-menu-item {
	                > a {
	                    color: #0091EA;
	                }
	            }
	            .sub-menu {
	                position: absolute;
	                width: 100%;
	                height: 100%;
	                background-color: #fff;
	                top: 0;
	                left: 0;
	                list-style: none;
	                padding: 0;
	                padding-top: 60px;
	                overflow-x: hidden;
	                overflow-y: auto;
	                transform: translateX(100%);
	                transform: transition(all .5s cubic-bezier(0,.67,.35,.94));
	                &.sub-menu-active {
	                    transform: translateX(0);
	                    z-index: 1;
	                }
	            }
	        }
	        .submenu-toggle {
	            position: absolute;
	            right: 0;
	            width: 56px; height: 56px;
	            text-align: center;
	            cursor: pointer;
	            border-left: 1px solid #eee;
	            transform: translateY(-56px);
	            .fa {
	                font-size: 18px;
	                line-height: 56px;
	            }
	            &:hover {
	                .fa {
	                    color: #0091EA;
	                }
	            }
	        }
	        .back-mb {
	            .fa {
	                margin-right: 5px;
	            }
	        }
	    }
	}
	.triple-info {
		padding: 50px 0px !important;
		ul {
			position: relative;
			display: block;
			li {
				width: 100% !important;
				margin-top: 50px;
			}
		}
	}
	.fly {
		height: 1610px;
		ul {
			li {
				.one-fourth {
					width: 100% !important;
				}
			}
		}
	}
	.footer {
		padding: 50px 0px !important;
		height: auto;
		box-shadow: none;
		.wrap {
			.row {
				.one-fourth {
					width: 100%;
				}
				.bottom {
					bottom: -181px;
					nav {
						ul {
							margin-top: 10px;
							display: flex;
							    justify-content: space-around;
							    flex-flow: wrap;
							    position: relative;
							    width: 100%;
							li {
								padding: 0;
								margin: 4px;
								width: 40%;
								a {
									text-decoration: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1366px) {
	.search-box {
		right: 70px;
	}
	.toggle-menu-responsive {
	    position: absolute;
	    display: block;
	    width: 60px;
	    height: 60px;
	    cursor: pointer;
	    top: 0; right: 15px;
	    overflow: hidden;
	    border-right: 1px solid #D4D4D4;
	    z-index: 1;
	    // @include translateZ(0);
	    .hamburger {
	        position: absolute;
	        width: 60px;
	        height: 16px;
	        margin: auto;
	        top: 0;
	        bottom: 0;
	        left: 0;
	        // @include transition;
	    }
	    .item {
	        position: absolute;
	        display: block;
	        font-size: 0;
	        width: 20px; height: 2px;
	        background-color: #67728A;
	        margin: auto;
	        left: 0; right: 0;
	        overflow: hidden;
	        z-index: 1;
	        -webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	    }
	    .item-1 {
	        top: 0;
	        // @include transform-origin(0 50%);
	        // @include transition(all .4s cubic-bezier(.29,1.2,.68,1.26));
	    }
	    .item-2 {
	        top: 0; bottom: 0;
	        // @include transition(all .4s cubic-bezier(.28,-0.24,.8,-0.13) .2s);
	    }
	    .item-3 {
	        bottom: 0;
	        // @include transform-origin(0 50%);
	        // @include transition(all .4s cubic-bezier(.29,1.2,.68,1.26));
	    }
	    &.toggle-active {
	        .hamburger {
	            left: 2px;
	        }
	        .item {
	            background-color: #0091EA;
	        }
	        .item-1 {
	            // @include rotate(45);
	            // @include transition(all .4s cubic-bezier(.29,1.2,.68,1.26) .3s);
	        }
	        .item-3 {
	            // @include rotate(-45);
	            // @include transition(all .4s cubic-bezier(.29,1.2,.68,1.26) .3s);
	        }
	        .item-2 {
	            // @include translateX(-250%);
	            // @include transition(all .4s cubic-bezier(.28,-0.24,.8,-0.13));
	        }
	    }
	}
	.awe-navigation-hamburger {
	    .toggle-menu-responsive {
	        &:hover {
	            .item {
	                background-color: #0091EA;
	            }
	        }
	    }
	}
	.awe-navigation-responsive {
		height: 100vh !important;
	    position: fixed;
	    text-align: left;
	    overflow-x: hidden;
	    overflow-y: auto;
	    top: 0;
	    right: 0;
	    padding-top: 60px;
	    background-color: #fff;
	    max-width: 320px;
	    width: 100%;
	    border: 1px solid #d4d4d4;
	    border-right: 0;
	    border-bottom: 0;
	    z-index: 1;
	    box-shadow: (0 100px 0 0 #fff);
	    transform: translateX(100%);
	    transition: all 0.5s cubic-bezier(0, 0.67, 0.35, 0.94) 0.3s;
	    &.awe-navigation-responsive-active {
	        transform: translateX(0);
	    }
	    .menu-list {
	        font-size: 0;
	        list-style: none;
	        margin: 0;
	        padding: 0;
	        overflow: hidden;
	        li {
	            padding: 0 22px;
	            border-bottom: 1px solid rgba(0,0,0,0.1);
	            &:first-child {
	                border-top: 1px solid rgba(0,0,0,0.1);
	            }
	            a {
	                display: block;
	                font-family: "Open Sans", sans-serif;
	                font-weight: 600;
	                font-size: 13px;
	                color: #67728A;
	                line-height: 56px;
	                &:hover {
	                    color: #0091EA;
	                }
	            }

	            &.current-menu-parent,
	            &.current-menu-item {
	                > a {
	                    color: #0091EA;
	                }
	            }
	            .sub-menu {
	                position: absolute;
	                width: 100%;
	                height: 100%;
	                background-color: #fff;
	                top: 0;
	                left: 0;
	                list-style: none;
	                padding: 0;
	                padding-top: 60px;
	                overflow-x: hidden;
	                overflow-y: auto;
	                transform: translateX(100%);
	                transform: transition(all .5s cubic-bezier(0,.67,.35,.94));
	                &.sub-menu-active {
	                    transform: translateX(0);
	                    z-index: 1;
	                }
	            }
	        }
	        .submenu-toggle {
	            position: absolute;
	            right: 0;
	            width: 56px; height: 56px;
	            text-align: center;
	            cursor: pointer;
	            border-left: 1px solid #eee;
	            transform: translateY(-56px);
	            .fa {
	                font-size: 18px;
	                line-height: 56px;
	            }
	            &:hover {
	                .fa {
	                    color: #0091EA;
	                }
	            }
	        }
	        .back-mb {
	            .fa {
	                margin-right: 5px;
	            }
	        }
	    }
	}
	.main {
		.find {
			.form-elements {
				width: 49%!important;
				label {
					margin: 8px 0px;
				}
				.awe-select {
					width: 103%;
				}
			}
			.form-actions {
				input {
					margin: 0 auto;
				}
			}
		}
	}
	.fly {
		height: 900px;
		.one-fourth {
			width: 49% !important;
		}
	}
	.footer {
		.wrap {
			.one-fourth {
				width: 100%;
				text-align: center;
			}
			.full-width {
				text-align: center;
				bottom: -120%;
				nav {
					font-size: 9px;
					position: relative;
					right: 50%;
				    transform: translateX(50%);
				    margin-top: 20px;
				}
				p {
					float: none;
				}
			}
		}
	}
}
