@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color:#fff;
	position: relative;
    font-family: Opensans-r;
}
.link {
    text-decoration: none;
    font-family: Opensans-sb;   
}
.container {
    width: 80%;
    margin: 0 auto;
}
.images {
    width: 100%;
    margin: 40px 0px;
}
.header, .footer {
    width: 100%;
    position: relative;
    height: 120px;
    border-bottom: 1px solid #d8caca;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        .logo {
            width: 250px;
            float: left;
        }
    }
}
.first-content {
    .container {
        padding-bottom: 50px;
        border-bottom: 2px solid #f47c48;
        .title {
            padding: 30px 0px;
            border-bottom: 2px solid #f47c48;
            h1 {
                font-family: Opensans-sb;
                font-size: 40px;
                margin-bottom: 10px;
                display: block;
            }
            span {
                font-family: Opensans-r;
                font-size: 26px;
                display: block;
            }
        }
        h2 {
            padding: 30px 0px 15px 0px;
            font-family: Opensans-sb;
            font-size: 34px;
        }
        h3 {
            padding: 30px 0px 15px 0px;
            font-family: Opensans-sb;
            font-size: 28px;
        }
        p {
            font-family: Opensans-r;
            font-size: 20px;
            line-height: 1.4;
        }
    }
}
.second-content, .third-content, .FAQ, .fourth-content {
    margin-top: 20px;
    .container {
        padding-bottom: 50px;
        border-bottom: 2px solid #f47c48;
        h1 {
            font-family: Opensans-sb;
            font-size: 40px;
            margin-bottom: 10px;
            display: block;
        }
        h2 {
            padding: 30px 0px 15px 0px;
            font-family: Opensans-sb;
            font-size: 34px;
        }
        h3 {
            padding: 30px 0px 15px 0px;
            font-family: Opensans-sb;
            font-size: 28px;
        }
        p {
            font-family: Opensans-r;
            font-size: 20px;
            line-height: 1.4;
        }
        ul {
            li {
                margin: 10px 0px;
                p {
                    font-family: Opensans-r;
                    font-size: 20px;
                    line-height: 1.4;
                }
            }
        }
    }
}
.third-content, .FAQ {
    margin-top: 50px;
}
.fourth-content {
    .container {
        border-bottom: none;
    }
}
.additional {
    margin: 20px 0px 0px 20px;
    li {
        position: relative;
        padding-left: 20px;
    }
    li::before {
        content: '';
        border-radius: 20px;
        width: 5px;
        height: 5px;
        display: inline-block;
        background-color: #000;
        position: absolute;
        top: 12px;
        left: 0px;
    }
}
.footer {
    background-color: #f47c48;
    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        img {
            width: 250px;
        }
        ul {
            display: flex;
            li {
                margin-right: 20px;
                a {
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                    font-family: Opensans-sb;   
                }
            }
        }
    }
}
@import "media";


	
