@import "vars";

@media (max-width: 961px) {
	 .hamburger {
	     height: 46px;
	     width: 55px;
	     display: block;
	     position: fixed;
	     z-index: 11;
	     border-radius: 30%;
	     right: 5px;
	     top: 17px;
	     z-index: 100;
	     cursor: pointer;
	}
	 .hamburger.active {
	     position: fixed;
	}
	 .hamburger.active .hamburger_button {
	     background-color: #222466a1;
	}
	 .hamburger.active .hamburger_button::before {
	     background-color: #fff;
	     transform: rotate(45deg);
	     top: 0;
	}
	 .hamburger.active .hamburger_button::after {
	     background-color: #fff;
	     transform: rotate(-45deg);
	     top: 0;
	}
	 .hamburger_button {
	     height: 2px;
	     width: 40%;
	     display: block;
	     background-color: #fff;
	     position: relative;
	     top: 50%;
	     margin: 0 auto;
	     border-radius: 3px;
	     transform: translateY(-50%);
	     z-index: 21;
	}
	 .hamburger_button::after, .hamburger_button::before {
	     content: '';
	     background-color: #fff;
	     position: absolute;
	     height: 2px;
	     width: 100%;
	     left: 0;
	     border-radius: 3px;
	     transition: top .3s, transform .3s .3s;
	}
	 .hamburger_button::after {
	     top: -10px;
	}
	 .hamburger_button::before {
	     top: 10px;
	}
	.menu {
	     position: fixed;
	     box-shadow: 9px 0px 22px 9px #1f1c1c;
	     background-color: #222466a1;
	     top: 0;
	     height: 100vh !important;
	     width: 100vw;
	     left: 0%;
	     z-index: 1;
	     display: flex;
	     justify-content: center;
	     align-items: flex-start;
	     transition: .5s;
	     ul {
	         height: auto;
	         display: block !important;
	         padding-top: 35%;
	         li {
	             margin: 25px 0px 25px 10px !important;
	             max-width: 90%;
	             padding: 10px 0px;
	             justify-content: center;
	             a {
	                 color:#fff;
	                 font-family: 'Proxima Nova_sb';
	                 font-size: 17px;
	                 line-height: 1.2;
	                 text-transform: none;
	            }
	        }
	         li:first-child::after, li:nth-child(2)::after {
	             display: none;
	        }
	         .mob_only {
	             display: block;
	        }
	    }
	}
	 .menu.hidden {
	     left: 100%;
	     transition: .5s;
	}
}