@import "vars";

@media (min-width: 962px) {
	body {
		
	}
	.header__content {
		.text__content {
			.text_container {
				width: 98%;
				margin: 0 auto;
			}
		}
		.links {
			height: 35% !important;
		}
		.text {
			height: calc(100vh - 90px);
			.for_image {
				height: calc(100vh - 90px);
			}
		}
	}
	.container {
		height: calc(100vh - 90px) !important;
		min-height: calc(100vh - 90px) !important;
		position: relative;
		.image {
			height: 65% !important;
		}
	}
}
@media (min-width: 768px) and (max-width: 961px) { 
	.header__content {
		.container {
			height: auto !important;
			min-height: auto !important;
			.links {
				p {
					font-size: 14px !important;
				}
			}
		}
	}
}
@media (max-width: 961px) {
	h1 {
	
	}
	.mob_only {
		height: 40px;
		width: 120px;
		background-color: grey;
	    display: block;
	    position: absolute;
	    left: 30px;
	}
	.text_container::before {
		display: none;
	}
	.text_container {
		p {
			font-size: 14px !important;
		}
	}
	.link {
		font-size: 15px !important;
	}
	 .hamburger {
	     height: 46px;
	     width: 55px;
	     display: block;
	     position: fixed;
	     z-index: 11;
	     border-radius: 30%;
	     right: 5px;
	     top: 10px;
	     z-index: 100;
	     cursor: pointer;
	}
	 .hamburger.active {
	     position: fixed;
	}
	 .hamburger.active .hamburger_button {
	     background-color: #222466a1;
	}
	 .hamburger.active .hamburger_button::before {
	     background-color: #fff;
	     transform: rotate(45deg);
	     top: 0;
	}
	 .hamburger.active .hamburger_button::after {
	     background-color: #fff;
	     transform: rotate(-45deg);
	     top: 0;
	}
	 .hamburger_button {
	     height: 2px;
	     width: 40%;
	     display: block;
	     background-color: #fff;
	     position: relative;
	     top: 50%;
	     margin: 0 auto;
	     border-radius: 3px;
	     transform: translateY(-50%);
	     z-index: 21;
	}
	 .hamburger_button::after, .hamburger_button::before {
	     content: '';
	     background-color: #fff;
	     position: absolute;
	     height: 2px;
	     width: 100%;
	     left: 0;
	     border-radius: 3px;
	     transition: top .3s, transform .3s .3s;
	}
	 .hamburger_button::after {
	     top: -10px;
	}
	 .hamburger_button::before {
	     top: 10px;
	}
	.menu {
	     position: fixed;
	     box-shadow: 9px 0px 22px 9px #1f1c1c;
	     background-color: #222466a1;
	     top: 0;
	     height: 100vh !important;
	     width: 100vw;
	     left: 0%;
	     z-index: 1;
	     display: flex;
	     justify-content: center;
	     align-items: flex-start;
	     transition: .5s;
	     ul {
	         height: auto;
	         display: block !important;
	         padding-top: 35%;
	         li {
	             margin: 30px 0 30px 10px !important;
	             max-width: 90%;
	             padding: 12px 0px;
	             justify-content: center;
	             background-color: #222466 !important;
	             a {
	                 color:#fff;
	                 padding: 0 15px;
	                 transform: translateY(1px);
	                 font-family: 'Proxima Nova_sb';
	                 font-size: 12px;
	                 line-height: 1.2;
	                 text-transform: none;
	            }
	        }
	         li:first-child::after, li:nth-child(2)::after {
	             display: none;
	        }
	         .mob_only {
	             display: block;
	        }
	    }
	}
	 .menu.hidden {
	     left: 100%;
	     transition: .5s;
	}
	.header {
		&__nav {
			position: fixed;
			height: 60px;
			    width: 100vw;
			    z-index: 1;
		}
		&__content {
			display: block;
			.container {
				height: auto;
				width: 100%;
				margin: 0 auto;
				.image {
					height: auto;
					.wrapper {
						li {
							height: 74vh;
						}
					}
				}
				.links {
					li {
						a {
							.case {
								height: auto;
								padding: 8px;
							}
							p {
								text-align: center;
								// font-size: 11px;
								margin-bottom: 0;
							}
						}
					}
				}
			}
			.text {
				width: 100%;
			}
		}
	}
}
@media (min-width: 962px) and (max-width: 1200px) {
	.header__nav {
		padding-left: 38% !important;
	}
	.links {
		p {
			font-size: 11px !important; 
		}
	}
}
@media (min-width: 1550px) and (max-width: 1920px) {
	.header__nav {
		padding-left: 42% !important;
	}
}
@media (min-width: 961px) and (max-width: 1450px) { 
	.header__nav {
		.menu {
			ul {
				li {
					margin: 0 5px !important;
				}
			}

		}
	}
}