@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
	color: #333132;
}
.mob_only {
	display: none;
}
.header {
	min-height: 100vh;
	height: auto;
	overflow: hidden;
	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		min-height: calc(100vh - 90px);
		.animated {
			width: 17%;
			background: url('../img/blue.webp') center center/ cover;
			background-position: 100% center;
			animation-name: bg-animated;
			animation-duration: 4.5s;
			transition-timing-function: ease-in-out;
			.wrapper {
				display: none;
			}
		}
		.animated.no-webp {
			background: url('../img/blue.jpg') center center/ cover;
		}
		.text {
			width: 83%;
			position: inherit;
			display: flex;
			ul {
				display: flex;
				justify-content: space-between;
				padding-left: 30px;
				padding-right: 30px;
				position: relative;
				width: calc(100% - 100px);
			    background-color: #f0f2f7;
				h1 {
					color: #2b4ec0;
					font-size: 28px;
					font-family: 'arial';
					font-weight: 500;
					display: block;
					position: absolute;
					top: 15px;
				}
				li:first-child {
					margin-top: 60px;
					.right {
						border: 2px solid #000;
					}
				}
				li {
					width: 48%;
					position: relative;
					display: flex;
					justify-content: space-between;
					margin: 50px 0px 50px 0px;
				    align-items: flex-start;
					.left {
						width: 100%;
						img {
							width: 100%;
							border: 2px solid #000;
						}
						span {
							color: #427edc;
							font-family: 'arial';
							margin:  0px 0 5px 0;
							font-weight: bold;
							display: block;
						}
						p {
							text-align: justify;
							font-family: 'arial';
							width: 100%;
							font-size: 14px;
						}	
					}
					.right {
						width: 25.5%;
						display: flex;
						justify-content: flex-end;
						align-items: center;
						position: relative;
						img {
							width: 100%;
						}
					}
				}
				li:nth-child(3) {
					margin-bottom: 150px;
					.right {
						border: 2px solid #000;
					}
				}
				li:nth-child(4) {
			        width: calc(98% - 25%);
					height: auto;
					margin: 50px 0 20px 0;
					position: absolute;
					bottom: 0;
					.left {
					}
					img {
						width: 100%;
						height: 100%;
						display: block;
					}
				}
			}
			ul::before {
			content: '';
			width: calc(100% - 33px);
			height: 120%;
			position: absolute;
			top: -45px;
			left: 16px;
			background: 0 0;
			border: solid grey 1px;
			border-bottom: none;
			border-radius: 4px;
			}
			.image {
				width: 100px;
				background-color: grey;
			}
		}
		// .text::before {
		// 	content: '';
		// 	width: 90%;
		// 	height: 106%;
		// 	position: absolute;
		// 	top: -45px;
		// 	left: 16px;
		// 	background: 0 0;
		// 	border: solid grey 1px;
		// 	border-bottom: none;
		// }
	}
}
@keyframes bg-animated {
	0% {
		background-position: left center;
	}
	100% {
		background-position: right center;
	}
}

@import "media2";
@import "template";