@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
	color: #333132;
}
.mob_only {
	display: none;
}
.mob_only {
	display: none;
}
.header {
	min-height: 100vh;
	height: auto;
	&__nav {
		background-color: #222466;
		height: 90px;
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 41%;
		.menu {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40%;
			ul {
				display: flex;
				justify-content: space-between;
				height: 100%;
				position: relative;
				z-index: 1;
				li {
					display: flex;
					align-items: center;
					margin: 0px 15px;
					border: 1px solid #5E5F80;
					box-shadow: 5px 5px 10px #171741;
					background-color: #323473;
					border-radius: 4px;
					a {
						padding: 0px 10px;
						font-size: 12px;
						font-weight: bold;
						font-family: "Verdana-Bold";
						text-decoration: none;
						color: #fff;
					}
					a:hover {
						color: #417adc;
					}
				}
			}
		}
	}
	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		height: 675px;
		position: relative;
		.animated {
			width: 16%;
			background: url('../img/blue.png') center center/ cover;
			background-position: 100% center;
			animation: bg-animated 3s linear forwards;
		}
		.text {
			width: 77%;
			position: relative;
			padding-left: 50px;
			padding-top: 30px;
			background-color: #f0f2f7;
			h1 {
				color: #0e34c0;
				font-size: 28px;
				font-family: 'arial';
				font-weight: bold;
			}
			p {
				color: blue;
				font-family: 'arial';
				margin: 15px 0px;
				display: block;
				font-size: 20px;
			}
			form {
				.labels {
					position: relative;
					display: flex;
					.first_labels {
						width: 50%;
						h2 {
							color: #427edc;
							font-family: 'arial';
							margin: 15px 0 0 0;
							font-weight: bold;	
							font-size: 18px;
						}
						label {
							position: relative;
							margin-top: 20px;
							display: block;
							font-size: 18px;
							span {
								width: 35%;
								font-size: 18px;
								font-family: "Arial";
								text-transform: capitalize;
								width: 200px;
								display: inline-block;
							}
							input {
								width: 55%;
								font-size: 18px;
								font-family: "Arial";
							}
							.wrap {
								width: 55%;
								position: relative;
								display: inline-flex;
								justify-content: space-around;
								select {
									width: 20%;
									height: 25px;
								}
								input {
									width: 60%;
								}
							}
						}
					}
					.second_labels {
						width: 50%;
					}
				}
			}
		}
		// .text::before {
		// 			content: '';
		// 			width: 97%;
		// 			height: 106%;
		// 			position: absolute;
		// 			top: -45px;
		// 			left: 10px;
		// 			background: 0 0;
		// 			border: solid grey 1px;
		// 		}
		.image {
			width: 7%;
			background-color: grey;
		}
	}
}
@keyframes bg-animated {
	0% {
		background-position: 100% center;
	}
	100% {
		background-position: 0% center;
	}
}
@import "media5";