@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
	color: #333132;
}
.mob_only {
	display: none;
}
.header {
	min-height: 100vh;
	height: auto;
	overflow: hidden;
	&__nav {
		background-color: #222466;
		height: 90px;
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 40%;
		.menu {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40%;
			width: 86%;
			ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
				height: 100%;
				position: relative;
				z-index: 1;
				li {
					display: flex;
					align-items: center;
					margin: 0px 5px;
					border: 1px solid #5E5F80;
					box-shadow: 5px 5px 10px #171741;
					background-color: #323473;
					border-radius: 4px;
					a {
						letter-spacing: 1px;
						padding: 0px 10px;
						font-size: 12px;
						font-weight: 600;
						font-family: "Verdana-Bold";
						text-decoration: none;
						color: #fff;
					}
					a:hover {
						color: #417adc;
					}
				}
			}
		}
	}
	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		min-height: calc(100vh - 90px);
		.animated {
			width: 15%;
			background: url('../img/blue.png') center center/ cover;
			background-position: 100% center;
			animation: bg-animated 3s linear forwards;
		}
		.text {
			width: 85%;
			position: inherit;
			display: flex;
			ul {
				padding-left: 30px;
				padding-right: 30px;
				position: relative;
				width: calc(100% - 100px);
				h1 {
					color: #2b4ec0;
					font-size: 28px;
					font-family: 'arial';
					font-weight: 500;
					display: block;
					position: absolute;
					top: 50px;
				}
				li:first-child {
					margin-top: 100px;
				}
				li {
					display: flex;
					justify-content: space-between;
					margin: 50px 0px 50px 0px;
					.left {
						width: 70%;
						span {
							color: #427edc;
							font-family: 'arial';
							margin:  0px 0 5px 0;
							font-weight: bold;
							display: block;
						}
						p {
							font-family: 'arial';
							width: 100%;
							font-size: 20px;
						}	
					}
					.right {
						width: 30%;
						display: flex;
						justify-content: flex-end;
						align-items: center;
						position: relative;
						img {
							border: 2px solid #000;
							display: inline-block;
							width: 80%;
							height: 170px;
							background-color: grey;
						}	
					}
				}
				li:nth-child(4) {
					width: 70%;
					margin: 50px 0 20px 0;
					img {
						background: url(../img/logo.png) center center/contain no-repeat;
						width: 100%;
						height: 80px;
						border: solid 2px #000;
						width: 100%;
						height: 80px;
					}
				}
			}
			ul::before {
			content: '';
			width: calc(100% - 32px);
			height: 120%;
			position: absolute;
			top: -45px;
			left: 16px;
			background: 0 0;
			border: solid grey 1px;
			border-bottom: none;
			}
			.image {
				width: 100px;
				background-color: grey;
			}
		}
		// .text::before {
		// 	content: '';
		// 	width: 90%;
		// 	height: 106%;
		// 	position: absolute;
		// 	top: -45px;
		// 	left: 16px;
		// 	background: 0 0;
		// 	border: solid grey 1px;
		// 	border-bottom: none;
		// }
	}
}
@keyframes bg-animated {
	0% {
		background-position: 100% center;
	}
	100% {
		background-position: 0% center;
	}
}

@import "media2";