@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
	color: #333132;
}
.mob_only {
	display: none;
}
.header {
	min-height: 100vh;
	height: auto;
	&__nav {
		background-color: #222466;
		height: 90px;
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 40%;
		.menu {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40%;
			width: 86%;
			ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
				height: 100%;
				position: relative;
				z-index: 1;
				li {
					display: flex;
					align-items: center;
					margin: 0px 15px;
					border: 1px solid #5E5F80;
					box-shadow: 5px 5px 10px #171741;
					background-color: #323473;
					border-radius: 4px;
					a {
						letter-spacing: 1px;
						padding: 0px 10px;
						font-size: 12px;
						font-weight: 600;
						font-family: "Verdana-Bold";
						text-decoration: none;
						color: #fff;
					}
					a:hover {
						color: #417adc;
					}
				}
			}
		}
	}
	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 735px;
		.animated {
			width: 17%;
			background: url('../img/blue.png') center center/ cover;
			background-position: 100% center;
			animation: bg-animated 3s linear forwards;
		}
		@keyframes bg-animated {
			0% {
				background-position: 100% center;
			}
			100% {
				background-position: 0% center;
			}
		}
		.text {
			width: 76%;
			position: relative;
			h1 {
				color: #2b4ec0;
				font-size: 28px;
				font-family: 'arial';
				font-weight: 500;
				padding: 25px 0px 20px 50px;
			}
			> ul {
				display: flex;
			    justify-content: flex-start;
			    padding-left: 50px;
			    height: 250px;
			    li {
			    	width: 33%;
			    	position: relative;
			    	h2 {
			    		color: #427edc;
			    		font-family: 'arial';
			    		margin:  15px 0 4px 0;
			    		font-weight: bold;
			    		display: block;
			    	}
			    	p {
			    		font-family: 'arial'
			    	}
			    	img {
			    		width: 80%;
			    		margin: 0 auto;
			    		display: block;
			    		height: 220px;
			    		background-color: grey;
			    	}
			    }
			}
			.info {
				display: block;
				li {
					display: block;
					margin-bottom: 50px;
					h3 {
						color: #427edc;
						font-family: 'arial';
						margin:  15px 0 4px 0;
						font-weight: bold;
						display: block;
					}
				}
			}
			img {
				background-color: grey;
				width: 80%;
				height: 120px;
				display: block;
				margin-left: 50px;
			}
		}
		.text::before {
					content: '';
					width: 97%;
					height: 106%;
					position: absolute;
					top: -45px;
					left: 10px;
					background: 0 0;
					border: solid grey 1px;
				}
		.image {
			width: 7%;
			background-color: grey;
		}
	}
}

@import "media4";