@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
	color: #333132;
}
.header {
	&__nav {
		background-color: #222466;
		height: 90px;
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 37%;
		.menu {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40%;
			ul {
				display: flex;
				justify-content: space-between;
				height: 100%;
				position: relative;
				z-index: 1;
				li {
					display: flex;
					align-items: center;
					margin: 0px 15px;
					border: 1px solid #5E5F80;
					box-shadow: 5px 5px 10px #171741;
					background-color: #323473;
					border-radius: 4px;
					a {
						padding: 0px 10px;
						font-size: 14px;
						font-weight: bold;
						font-family: "Verdana-Bold";
						text-decoration: none;
						color: #fff;
					}
					a:hover {
						color: #417adc;
					}
				}
			}
		}
	}
	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 735px;
		.animated {
			width: 15%;
			background: url('../img/blue.png') center center/cover no-repeat;
		}
		.text::before {
					content: '';
					width: 74%;
					height: 106%;
					position: absolute;
					top: -45px;
					left: 241px;
					background: 0 0;
					border: solid grey 1px;
				}
		.image {
			width: 133px;
			background-color: grey;
		}
	}
}

@import "media4";