@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	height: 100%;
	background-color: #fff;
	position: relative;
	color: #333132;
}
.wrapper {
	display: none;
}
.mob_only {
	display: none;
}
.header {
	height: 100%;
	min-height: 100vh;
	height: auto;
	overflow: hidden;
	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		min-height: calc(100vh - 90px);
		height: 100%;
		.animated {
			min-height: calc(100vh - 90px);
			width: 17%;
			background: url('../img/blue.jpg') center center/ cover;
			background-position: 100% center;
			animation-name: bg-animated;
			animation-duration: 4.5s;
			transition-timing-function: linear;
		}
		@keyframes bg-animated {
			0% {
				background-position: left center;
			}
			100% {
				background-position: right center;
			}
		}
		.text {
			width: calc(83% - 100px);
			position: relative;
			background-color: #f0f2f7;
			h1 {
				color: #2b4ec0;
				font-size: 28px;
				font-family: 'arial';
				font-weight: 500;
				padding: 15px 30px 17px 30px;
			}
			> ul {
				display: flex;
			    justify-content: space-between;
			    padding-left: 30px;
			    padding-right: 30px;
			    height: auto;
			    margin-bottom: 15px;
			    li {
			    	width: 35%;
			    	position: relative;
			    	h2 {
			    		color: #427edc;
			    		font-family: 'arial';
			    		margin:  0px 0 4px 0;
			    		font-weight: bold;
			    		display: block;
			    	}
			    	.tele {
			    		width: 100%;
			    		position: relative;
			    		li {
			    			display: flex;
			    			justify-content: flex-start;
			    			width: 100%;
			    			margin-top: 10px;
			    			p {
			    				width: 70px;
			    			}
			    			// span {
			    			// 	padding-left: 20px;
			    			// }
			    		}
			    	}
			    	p {
			    		text-align: justify;
			    		font-size: 14px;
			    		font-family: 'arial'
			    	}
			    	img {
			    		width: 100%;
			    		margin: 0 auto;
			    		display: block;
			    		border: 2px solid black;
			    	}
			    }
			    li:last-child {
			    	width: 25.5%;
			    }
			    // > li:first-child {
			    // 	margin-right: 10px;
			    // }
			    // > li:nth-child(2) {
			    // 	margin-left: 10px;
			    // }
			}
			.info {
				display: block;
				width: calc(100% - 25.5%);
				li {
				    width: 100%!important;
					display: block;
					margin-bottom: 50px;
					margin-left: 0 !important;
					h3 {
						color: #427edc;
						font-family: 'arial';
						margin:  15px 0 4px 0;
						font-weight: bold;
						display: block;
					}
				}
			}
			> .img {
			    width: calc(100% - 60px);
				height: auto;
				display: block;
				margin: 20px 0px 20px 30px;
				img {
					border: 2px solid black;
					width: calc(98% - 25%);
					height: 100%;
					display: block;
				}
			}
		}
		.text::before {
					content: '';
					width: calc(100% - 33px);
					height: 120%;
					position: absolute;
					top: -45px;
					left: 16px;
					background: 0 0;
					border: solid grey 1px;
					border-bottom: none;
					border-radius: 4px;
				}
		.image {
			width: 100px;
			background-color: grey;
		}
	}
}

@import "media4";
@import "template";