@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
	color: #333132;
}
.mobile {
	display: none !important;
}
.mob_only {
	display: none;
}
.mob_only {
	display: none;
}
.header {
	min-height: 100vh;
	height: auto;
	overflow: hidden;
	&__nav {
		background-color: #222466;
		height: 90px;
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 40%;
		.menu {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 40%;
			width: 86%;
			ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
				height: 100%;
				position: relative;
				z-index: 1;
				li {
					display: flex;
					align-items: center;
					margin: 0px 5px;
					border: 1px solid #5E5F80;
					box-shadow: 5px 5px 10px #171741;
					background-color: #323473;
					border-radius: 4px;
					a {
						letter-spacing: 1px;
						padding: 0px 10px;
						font-size: 12px;
						font-weight: 600;
						font-family: "Verdana-Bold", sans-serif;
						text-decoration: none;
						color: #fff;
					}
					a:hover {
						color: #417adc;
					}
				}
			}
		}
	}
	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		position: relative;
		min-height: calc(100vh - 90px);
		.animated {
			width: 17%;
			background: url('../img/blue.png') center center/ cover;
			background-position: 100% center;
			animation: bg-animated 3s linear forwards;
		}
		.text {
			width: calc(83% - 100px);
			position: relative;
			padding-left: 30px;
			padding-right: 30px;
			padding-top: 15px;
			background-color: #f0f2f7;
			h1 {
				padding: 0px 0px 10px 0px;
				color: #2b4ec0;
				font-size: 28px;
				font-family: 'arial';
				font-weight: 500;
			}
			> p {
				color: blue;
				font-family: 'arial';
				margin: 15px 0px;
				display: block;
				font-size: 16px;
			}
			form {
				margin-bottom: 180px;
				.labels {
					position: relative;
					display: flex;
					.spec2 {
						.wrap {
							width: 50%;
							position: relative;
							display: inline-flex;
							justify-content: space-between;
							span {
								position: relative;
								width: 35%;
								height: 25px;
								margin-right: 15px;
								select {
									border-radius: 4px !important;
									cursor: pointer;
									height: 100%;
									width: 100%;
									-webkit-appearance: none;
									-moz-appearance: none;
									-ms-appearance: none;
									appearance: none;
									outline: 0;
									box-shadow: none;
									border: 1px solid grey;
									background-image: none;
									border-radius: none;
									border-radius: 0;
									background-color: #fff;
									font-size: 16px;
							    	font-family: 'Arial';
								    padding-left: 5px;
								    height: 25px;
								}
								select:focus {
									outline: none;
								}
							}
							span::after {
							  content: '\25BC';
							  position: absolute;
							  top: 5px;
							  right: 3px;
							  padding: 0;
							  background: #fff;
							  cursor: pointer;
							  transform: scale(0.8);
							  pointer-events: none;
							}
							input {
								width: 60%;
							}
						}
					}
					.first_labels, .second_labels {
						width: 38%;
						h2 {
							color: #427edc;
							font-family: 'arial';
							margin: 15px 0 0 0;
							font-weight: bold;	
							font-size: 18px;
						}
						.terms {
								display: flex;
								margin-top: 16px;
								justify-content: end;
								> input {
									width: 30px;
									height: 25px;
									margin-right: 10px;
									transform: translateY(-6px);
								}
								> label {
									> .db {
										display: block;
										color: #2b4ec0;
										font-family: arial;
										font-weight: 700;
										font-size: 16px;
										line-height: 1.2;
										a {
										    color: #00f;
										}
									}
									> p {
										color: #333132;
										font-family: arial;
									    margin: 5px 0;
									    display: block;
									    font-size: 15px;
									    text-align: justify;
									}
								}
							}
						> label, .spec, .spec2 {
							position: relative;
							margin-top: 20px;
							display: flex;
							justify-content: space-between;
							font-size: 18px;
							font-family: arial;
							> span {
								padding-top: 4px;
								font-size: 16px;
								width: 40%;
								font-family: "Arial";
								text-transform: capitalize;
								display: inline-block;
							}
							input {
								border: 1px solid grey;
								width: 50%;
								font-size: 16px;
								height: 25px;
								font-family: "Arial";
								border-radius: 4px;
							}
							input:focus {
								outline: none;
							}
						}
						.checkmark {
							display: inline-block;
							width: 16px;
							height: 16px;
						    border: 0.5px solid #333132;
							position: absolute;
							left: 0;
							top: 2px;
							margin-right: 5px;
							transform: translateY(5px);
							&::after {
								content: '';
								position: absolute;
								width: 10px;
								height: 6px;
								border: 2px solid #2b4ec0;
								border-top: 0;
								border-right: 0;
								top: 1px;
								left: 2px;
								transform: rotate(-45deg);
								transition: .2s;
								opacity: 0;
							}
							p {
								display: block;
								color: #2b4ec0;
								font-family: arial;
								font-weight: 700;
								font-size: 16px;
							}
						}
						.checkbox-label {
							cursor: pointer;
							font-size: 11px;
							line-height: 13px;
							max-width: 350px;
							color: #9698A2;
							padding-left: 25px;
							padding-top: 3px;
							.db {
								display: block;
								color: #2b4ec0;
								font-family: arial;
								font-weight: 700;
								font-size: 16px;
								width: 100%;
								text-transform: none;
								line-height: 1.2;
								a {
								    color: #00f;
								}
							}
							> p {
								color: #333132;
								font-family: arial;
							    margin: 5px 0;
							    display: block;
							    font-size: 15px;
							    text-align: justify;
							}
						}
						.checkbox {
							position: absolute;
							opacity: 0;
							left: 0;
							&:checked + .checkmark::after {
								opacity: 1;
								transition: .2s;
							}
						}
					}
					.second_labels {
						width: 38%;
						margin-left: 10%;
						label, .spec {
							.box {
								width: 80%;
								.test {
									display: flex;
									.forbox {
										width: auto;
									}
									> label {
										margin: 0 0 0 5px;
										width: 90%;
										font-size: 16px;
										display: flex;
										align-items: center;
									}
								}
							}
							.beli {
								width: 33%;
							}
						}
						.spec {
							width: 150%;
						}
						.textarea_label {
						    display: flex;
						    justify-content: space-between;
						    textarea {
						    	overflow: hidden;
						    	border-radius: 4px;
						    	border: 1px solid grey;
						    	width: 55%;
						    	height: 80px;
						    	font-size: 16px;
						    }
						}
					}
					button {
						font-size: 18px;
						font-family: "Arial";
						padding: 4px 25px;
						position: absolute;
						bottom: 50px;
						left: 19%;
					    border-radius: 4px;
						cursor: pointer;
						background: linear-gradient(to top, grey -51%, #fff);
						border: 1px solid grey;
					}
				}
			}
			.image_container {
				margin: 100px 0px 20px 0px;
				width: calc(100% - 60px);
				height: auto;
				position: absolute;
				bottom: 0px;
				img {
					border: 2px solid #000;
					width: calc(98% - 25%);
					height: 100%;
					display: block;
				}
			}
		}
		.text::before {
			content: '';
			width: calc(100% - 33px);
			height: 120%;
			position: absolute;
			top: -45px;
			left: 16px;
			background: 0 0;
			border: solid grey 1px;
			border-bottom: none;
			border-radius: 4px;
		}
		.image {
			width: 100px;
			background-color: grey;
		}
	}
}
@keyframes bg-animated {
	0% {
		background-position: 100% center;
	}
	100% {
		background-position: 0% center;
	}
}
@import "media5";