@import "vars";
@media (min-width: 961px) and (max-width: 1350px) {
	.header__nav {
		padding-left: 18%;
	}
}
@media (max-width: 961px) {
	.mob_only {
		height: 40px;
		width: 120px;
		background-color: grey;
	    display: block;
	    position: absolute;
	    left: 30px;
	}
	.text_container::before {
		display: none;
	}
	.text_container {
		p {
			font-size: 14px !important;
		}
	}
	.link {
		font-size: 15px !important;
	}
	 .hamburger {
	     height: 46px;
	     width: 55px;
	     display: block;
	     position: fixed;
	     z-index: 11;
	     border-radius: 30%;
	     right: 5px;
	     top: 10px;
	     z-index: 100;
	     cursor: pointer;
	}
	 .hamburger.active {
	     position: fixed;
	}
	 .hamburger.active .hamburger_button {
	     background-color: #222466a1;
	}
	 .hamburger.active .hamburger_button::before {
	     background-color: #fff;
	     transform: rotate(45deg);
	     top: 0;
	}
	 .hamburger.active .hamburger_button::after {
	     background-color: #fff;
	     transform: rotate(-45deg);
	     top: 0;
	}
	 .hamburger_button {
	     height: 2px;
	     width: 40%;
	     display: block;
	     background-color: #fff;
	     position: relative;
	     top: 50%;
	     margin: 0 auto;
	     border-radius: 3px;
	     transform: translateY(-50%);
	     z-index: 21;
	}
	 .hamburger_button::after, .hamburger_button::before {
	     content: '';
	     background-color: #fff;
	     position: absolute;
	     height: 2px;
	     width: 100%;
	     left: 0;
	     border-radius: 3px;
	     transition: top .3s, transform .3s .3s;
	}
	 .hamburger_button::after {
	     top: -10px;
	}
	 .hamburger_button::before {
	     top: 10px;
	}
	.menu {
	     position: fixed;
	     box-shadow: 9px 0px 22px 9px #1f1c1c;
	     background-color: #222466a1;
	     top: 0;
	     height: 100vh !important;
	     width: 100vw;
	     left: 0%;
	     z-index: 1;
	     display: flex;
	     justify-content: center;
	     align-items: flex-start;
	     transition: .5s;
	     ul {
	         height: auto;
	         display: block !important;
	         padding-top: 35%;
	         li {
	             margin: 25px 0px 25px 10px !important;
	             max-width: 90%;
	             padding: 10px 0px;
	             justify-content: center;
	             background-color: #222466 !important;
	             a {
	                 color:#fff;
	                 font-family: 'Proxima Nova_sb';
	                 font-size: 17px;
	                 line-height: 1.2;
	                 text-transform: none;
	            }
	        }
	         li:first-child::after, li:nth-child(2)::after {
	             display: none;
	        }
	         .mob_only {
	             display: block;
	        }
	    }
	}
	 .menu.hidden {
	     left: 100%;
	     transition: .5s;
	}
	.header {
		&__nav {
			position: fixed;
			height: 60px;
			    width: 100vw;
			    z-index: 1;
			    top: 0;
		} 
		&__content {
			display: block;
			 margin-top: 60px;
			 .animated {
			 	height: 350px;
			 	width: 100vw;
			 }
			.text {
				width: 100%;
				display: flex;
				ul {
					width: 90%;
					padding: 0;
					li {
						display: block;
						.left {
							width: 90%;
							margin: 20px auto;
							h1, span {
								text-align: center;
							}
						}
						.right {
							width: 90%;
							margin: 20px auto;
						}
					}
					li:nth-child(3) {
						display: block;
						border: 2px solid #000;
						width: 80%;
						height: 120px;
						background-color: grey;
						margin: 0 auto 50px auto;
					}
				}
			}
			.text::before {
				display: none;
			}
			.image {
				width: 10% !important;
			}
		}
	}
}