@import "vars";
@media (min-width: 961px) and (max-width: 1200px) {
	.right {
		width: 35% !important;
	}
	.left {
		width: calc(98% - 35%) !important;
	}
} 
@media (min-width: 961px) and (max-width: 1450px) { 
	.header__nav {
		.menu {
			ul {
				li {
					margin: 0 5px !important;
				}
			}
		}
	}
}
@media (min-width: 961px) and (max-width: 1350px) {
	.header__nav {
		padding-left: 35%;
	}
}
@media (min-width: 962px) and (max-width: 1050px) {
	.header__nav {
		padding-left: 28% !important;
	}
}
@media (max-width: 961px) {
	.wrapper {
		width: 100%;
		display: flex !important;
		justify-content: space-between;
		li {
			width: 34%;
			height: 665px;
			transition: 1.5s;
		}
		li.white {
			background-color: rgba(255, 255, 255, 0.3);
			transition: 1.5s;
		}
	}
	.mob_only {
		background: url('../img/logo-mob.png') center center / contain no-repeat;
		height: 60px;
		width: 190px;
	    display: block;
	    position: absolute;
	    left: 30px;
	}
	ul::before {
		display: none;
	}
	.text_container {
		p {
			font-size: 14px !important;
		}
	}
	.link {
		font-size: 15px !important;
	}
	.menu_click {
	     height: 46px;
	     width: 55px;
	     display: block;
	     position: fixed;
	     z-index: 11;
	     border-radius: 30%;
	     right: 5px;
	     top: 6px;
	     z-index: 100;
	     cursor: pointer;
	}
	 .menu_click.active {
	     position: fixed;
	}
	 .menu_click.active .menu_click_button {
	     background-color: #222466a1;
	}
	 .menu_click.active .menu_click_button::before {
	     background-color: #fff;
	     transform: rotate(45deg);
	     top: 0;
	}
	 .menu_click.active .menu_click_button::after {
	     background-color: #fff;
	     transform: rotate(-45deg);
	     top: 0;
	}
	 .menu_click_button {
	     height: 2px;
	     width: 40%;
	     display: block;
	     background-color: #fff;
	     position: relative;
	     top: 50%;
	     margin: 0 auto;
	     border-radius: 3px;
	     transform: translateY(-50%);
	     z-index: 21;
	}
	 .menu_click_button::after, .menu_click_button::before {
	     content: '';
	     background-color: #fff;
	     position: absolute;
	     height: 2px;
	     width: 100%;
	     left: 0;
	     border-radius: 3px;
	     transition: top .3s, transform .3s .3s;
	}
	 .menu_click_button::after {
	     top: -10px;
	}
	 .menu_click_button::before {
	     top: 10px;
	}
	.menu {
	     position: fixed;
	     box-shadow: 9px 0px 22px 9px #1f1c1c;
	     background-color: #222466a1;
	     top: 0;
	     height: 100vh !important;
	     width: 100vw !important;
	     left: 0%;
	     z-index: 1;
	     display: flex;
	     justify-content: center;
	     align-items: flex-start;
	     transition: .5s;
	     ul {
	         height: auto !important;
	         display: block !important;
	         width: auto !important;
	         li {
	             margin: 30px 0 30px 10px !important;
	             max-width: 90%;
	             padding: 12px 0px;
	             justify-content: center;
	             background-color: #222466 !important;
	             a {
	                 color:#fff;
	                 padding: 0 15px;
	                 transform: translateY(1px);
	                 font-family: 'Proxima Nova_sb';
	                 font-size: 12px;
	                 line-height: 1.2;
	                 text-transform: none;
	            }
	        }
	         li:first-child::after, li:nth-child(2)::after {
	             display: none;
	        }
	         .mob_only {
	             display: block;
	        }
	    }
	}
	.menu.hidden {
	     left: 100%;
	     transition: .5s;
	}
	.header {
		&__nav {
			box-shadow: 0 6px 13px 0 #17113a;
			position: fixed;
			height: 60px;
			    width: 100vw;
			    z-index: 1;
			    top: 0;
		} 
		&__content {
			display: block;
			 margin-top: 60px;
			 .text__content {
			 	width: calc(100% - 12%);
			 }
			 .animated {
			 	height: 55vh;
			 	width: 100vw;
			 	animation:none !important;
			 }
			.text {
				width: 100%;
				display: flex;
				ul {
					width: 88%;
					padding: 0;
					li {
						display: block;
						.left {
							width: 100%;
							margin: 20px auto;
							padding: 0px 15px;
							span {
								font-size: 16px;
							}
							p {
								font-size: 14px;
							}
						}
						.right {
							width: 65%;
							margin: 20px auto;
							img {
								margin: 0 auto;
							}
						}
					}
					li:nth-child(3) {
						margin-bottom: 50px;
					}
					li:nth-child(4) {
						position: inherit;
						display: block;
						width: 100%;
						padding: 0px 15px;
						margin: 0 auto 20px auto;
						.left {
							border: 1px solid #000 !important;
							padding: 0px;
						}
					}
				}
			}
			.text::before {
				display: none;
			}
			.image {
				width: 12% !important;
			}
		}
	}
}
@media (min-width: 600px) and (max-width: 961px) {
	.right {
		width: 40% !important;
	}
}