@media (max-width: 1200px) and (min-width: 1050px) {
    .header__nav {
        padding-left: 35%!important;
    }
}
@media (max-width: 1050px) and (min-width: 962px) {
    .header__nav {
        padding-left: 28%!important;
    }
}
@media (max-width: 962px) {
    .image_container {
        width: calc(100% - 30px) !important;
        img {
            width: 100% !important;
            border: 1px solid #000 !important;
        }
    }
    form {
        margin-bottom: 130px !important; 
    }
    #spec3 {
        margin-top: 40px;
    }
    .animated {
        animation: none!important;
    }
    .terms {
        display: none !important;
    }
    .checkbox {
    margin: 0;
    z-index: 1111111;
    }
    .mobile {
        display: flex !important;
    }
    .wrapper {
        width: 100%;
        display: flex !important;
        justify-content: space-between;
        li {
            width: 34%;
            height: 665px;
            transition: 1.5s;
        }
        li.white {
            background-color: rgba(255, 255, 255, 0.3);
            transition: 1.5s;
        }
    }
    .text__content {
        padding-top: 50px !important;
    }
    .for_image {
        width: 12% !important;
    }
    .mob_only {
        background: url('../img/logo-mob.png') center center / contain no-repeat;
        height: 60px;
        width: 190px;
        display: block;
        position: absolute;
        left: 15px;
        top:0px;
    }
    .text_container::before {
        display: none;
    }
    .text_container {
        p {
            font-size: 14px !important;
        }
    }
    .menu_click {
         height: 46px;
         width: 55px;
         display: block;
         position: fixed;
         z-index: 11;
         border-radius: 30%;
         right: 5px;
         top: 6px;
         z-index: 100;
         cursor: pointer;
    }
     .menu_click.active {
         position: fixed;
    }
     .menu_click.active .menu_click_button {
         background-color: rgba(34, 36, 102, 0.5);
    }
     .menu_click.active .menu_click_button::before {
         background-color: #fff;
         transform: rotate(45deg);
         top: 0;
    }
     .menu_click.active .menu_click_button::after {
         background-color: #fff;
         transform: rotate(-45deg);
         top: 0;
    }
     .menu_click_button {
         height: 2px;
         width: 40%;
         display: block;
         background-color: #fff;
         position: relative;
         top: 50%;
         margin: 0 auto;
         border-radius: 3px;
         transform: translateY(-50%);
         z-index: 21;
    }
     .menu_click_button::after, .menu_click_button::before {
         content: '';
         background-color: #fff;
         position: absolute;
         height: 2px;
         width: 100%;
         left: 0;
         border-radius: 3px;
         transition: top .3s, transform .3s .3s;
    }
     .menu_click_button::after {
         top: -10px;
    }
     .menu_click_button::before {
         top: 10px;
    }
    .menu {
         position: fixed;
         box-shadow: 9px 0px 22px 9px #1f1c1c;
         background-color: rgba(34, 36, 102, 0.5);
         top: 0;
         height: 100vh !important;
         width: 100vw !important;
         left: 0%;
         z-index: 1;
         display: flex;
         justify-content: center;
         align-items: flex-start;
         transition: .5s;
         ul {
             height: auto !important;
             display: block !important;
             width: auto !important;
             li {
                 margin: 30px 0 30px 0px!important;
                 max-width: 100%;
                 width: 100%;
                 padding: 12px 0px;
                 justify-content: center;
                 background-color: #222466 !important;
                 a {
                     color:#fff;
                     padding: 0 15px;
                     transform: translateY(1px);
                     font-family: 'Proxima Nova_sb';
                     font-size: 12px;
                     line-height: 1.2;
                     text-transform: none;
                }
            }
             li:first-child::after, li:nth-child(2)::after {
                 display: none;
            }
             .mob_only {
                 display: block;
            }
        }
    }
     .menu.hidden {
         left: 100%;
         transition: .5s;
    }
    .header {
        display: block;
        height: auto !important;
        &__nav {
            box-shadow: 0px 6px 13px 0px #17113a;
            position: fixed;
            height: 60px;
                width: 100vw;
                z-index: 1;
        }
        &__content {
            display: flex;
            flex-flow: wrap;
            width: 100%;
            .animated {
                height: 55vh;
                width: 100%;
                margin-top: 60px;
            }
            .text {
                width: 88%;
                padding: 15px !important;
                .labels {
                    display: block !important;
                    .first_labels {
                        width: 100% !important;
                        margin: 0 auto;
                    }
                    .second_labels {
                        margin: 0 auto!important;
                        width: 100%!important;
                        h2 {
                            margin-top: 45px !important;
                        }
                        .spec {
                            width: 100% !important;
                            display: block !important;
                            height: 80px;
                            .box {
                                transform: translate3d(48%,-26%,0);
                                width: 100% !important;
                            }
                        }
                        .textarea_label {
                            display: block !important;
                            span {
                                width: 100% !important;
                            }
                            textarea {
                                overflow: hidden;
                                margin-top: 10px;
                                display: block;
                                width: 100% !important;
                            }
                        }
                        .mobile {
                            margin-top: 20px !important;
                            margin-bottom: 100px;
                        }
                    }
                    button {
                        bottom: -55px !important;
                        left: 50% !important;
                        cursor: pointer;
                        transform: translateX(-50%);
                        width: 100%;
                    }
                }
            }
            .text::before {
                display: none;
            }
            .image {
                width: 12%;
            }
        }
    }
}
@media (min-width: 1240px) {
    .box {
        display: flex;
        flex-flow: wrap;
        .test {
            margin-left: 10px;
        }
        .test:first-child {
            margin-left: 0;
        }
    }
}
@media (min-width:961px) and  (max-width: 1239px)  {
    button {
        left: 23% !important;
    }
    .labels {
        justify-content: space-between;
    }
    .first_labels, .second_labels {
        width: 45% !important;
        margin-left: 0 !important; 
    }
}