@import "vars";
@media (max-width: 1200px) and (min-width: 962px) {
	.header__nav {
    	padding-left: 35%!important;
    }
}
@media (min-width: 600px) and (max-width: 961px) {
	    .text {
	    	ul {
				li {
					img {
						width: 55% !important;
					}
				}
	    	}
	    }
}
@media (max-width: 1050px) and (min-width: 962px) {
	.header__nav {
    	padding-left: 28%!important;
	}
}
@media (min-width: 962px) {
	.header__content {
		.text {
			> .img {
				position: absolute;
				bottom: 0px;
			}
		}
	}
	.info {
		margin-bottom: 130px !important;
	}
}
@media (max-width: 961px) {
	.img {
		img {
			border: 1px solid #000 !important;
			width: 100% !important;
		}
	}
	.wrapper {
		width: 100%;
		display: flex !important;
		justify-content: space-between;
		li {
			width: 34%;
			height: 665px;
			transition: 1.5s;
		}
		li.white {
			background-color: rgba(255, 255, 255, 0.3);
			transition: 1.5s;
		}
	}
	.text__content {
		padding-top: 50px !important;
	}
	.for_image {
		width: 12% !important;
	}
	.mob_only {
		background: url('../img/logo-mob.png') center center / contain no-repeat;
		height: 60px;
		width: 190px;
	    display: block;
	    position: absolute;
	    left: 15px;
	    top:0px;
	}
	.text_container::before {
		display: none;
	}
	.text_container {
		p {
			font-size: 14px !important;
		}
	}
	.menu_click {
	     height: 46px;
	     width: 55px;
	     display: block;
	     position: fixed;
	     z-index: 11;
	     border-radius: 30%;
	     right: 5px;
	     top: 6px;
	     z-index: 100;
	     cursor: pointer;
	}
	 .menu_click.active {
	     position: fixed;
	}
	 .menu_click.active .menu_click_button {
	     background-color: rgba(34, 36, 102, 0.5);
	}
	 .menu_click.active .menu_click_button::before {
	     background-color: #fff;
	     transform: rotate(45deg);
	     top: 0;
	}
	 .menu_click.active .menu_click_button::after {
	     background-color: #fff;
	     transform: rotate(-45deg);
	     top: 0;
	}
	 .menu_click_button {
	     height: 2px;
	     width: 40%;
	     display: block;
	     background-color: #fff;
	     position: relative;
	     top: 50%;
	     margin: 0 auto;
	     border-radius: 3px;
	     transform: translateY(-50%);
	     z-index: 21;
	}
	 .menu_click_button::after, .menu_click_button::before {
	     content: '';
	     background-color: #fff;
	     position: absolute;
	     height: 2px;
	     width: 100%;
	     left: 0;
	     border-radius: 3px;
	     transition: top .3s, transform .3s .3s;
	}
	 .menu_click_button::after {
	     top: -10px;
	}
	 .menu_click_button::before {
	     top: 10px;
	}
	.menu {
	     position: fixed;
	     box-shadow: 9px 0px 22px 9px #1f1c1c;
	     background-color: rgba(34, 36, 102, 0.5);
	     top: 0;
	     height: 100vh !important;
	     width: 100vw !important;
	     left: 0%;
	     z-index: 1;
	     display: flex;
	     justify-content: center;
	     align-items: flex-start;
	     transition: .5s;
	     ul {
	         height: auto !important;
	         display: block !important;
	         width: auto !important;
	         li {
	             margin: 30px 0 30px 0px!important;
	             max-width: 100%;
	             width: 100%;
	             padding: 12px 0px;
	             justify-content: center;
	             background-color: #222466 !important;
	             a {
	                 color:#fff;
	                 padding: 0 15px;
	                 transform: translateY(1px);
	                 font-family: 'Proxima Nova_sb';
	                 font-size: 12px;
	                 line-height: 1.2;
	                 text-transform: none;
	            }
	        }
	         li:first-child::after, li:nth-child(2)::after {
	             display: none;
	        }
	         .mob_only {
	             display: block;
	        }
	    }
	}
	 .menu.hidden {
	     left: 100%;
	     transition: .5s;
	}
	.header {
		&__nav {
			box-shadow: 0px 6px 13px 0px #17113a;
			position: fixed;
			height: 60px;
		    width: 100vw;
		    z-index: 1;
		    top: 0;
		}
		&__content {
			display: flex;
			flex-flow: wrap;
			 margin-top: 60px;
			 .animated {
			 	height: 55vh !important;
			 	width: 100%;
			 	animation:none !important;
			 	min-height: auto !important;
			 }
			 .text {
			 	width: 88%;
			 	margin: 0 auto;
			 	padding-left: 15px;
			 	padding-right: 15px;
			 	h1 {
			 		padding-left: 0;
			 		padding-right: 0;
			 	}
			 	.info {
			 		width: 100% !important;
			 		li {
			 			margin-bottom: 25px;
			 		}
			 	}
			 	ul {
			 		padding-right: 0;
			 		padding-left: 0;
			 		display: block;
			 		height: auto;
			 		margin-bottom: 25px;
			 		li {
			 			margin:0px 0px 15px 0px !important;
			 			width: 100% !important;
			 			p {
			 				margin: 5px 0px;
			 				font-size: 14px;
			 			}
			 			img {
			 				width: 70%;
			 			}
			 		}
			 	}
			 	> .img {
			 		margin: 0 0px 20px 0;
			 		width: 100%;
			 	}
			 }
			 .text::before {
			 	display: none;
			 }
			 .image {
			 	width: 12%!important;
			 }
		} 
	}	
}