.header__nav {
	background-color: #222466;
	height: 90px;
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 40%;
	.menu {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40%;
		width: 86%;
		ul {
			width: 100%;
			display: flex;
			justify-content: space-between;
			height: 100%;
			position: relative;
			z-index: 1;
			li {
				display: flex;
				align-items: center;
				margin: 0px 5px;
				border: 1px solid #5E5F80;
				box-shadow: 5px 5px 10px #171741;
				background-color: #323473;
				border-radius: 4px;
				a {
					letter-spacing: 1px;
					padding: 0px 10px;
					font-size: 12px;
					font-weight: 600;
					font-family: "Verdana-Bold", sans-serif;
					text-decoration: none;
					color: #fff;
				}
				a:hover {
					color: #417adc;
				}
			}
		}
	}
}
@media (max-width:962px) {
	.header__nav {
		height: 60px;
	}
	.animated, .header__content {
		margin-top: 0 !important;
	}
}
@media (min-width: 962px) and (max-width: 1200px) {
	.header__nav {
		padding-left: 35% !important;
	}
}
@media (min-width: 962px) and (max-width: 1050px) {
	.header__nav {
		padding-left: 28% !important;
	}
}