.ad {
	background-color: #f0f2f7;
	width: 100px;
	height: auto;
	position: relative;
	ul {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		li {
			cursor: pointer;
			position: relative;
			left: 120px;
			box-shadow: 3px 3px 5px #171741;
		    background-color: #01169e;
			border: 1px solid #5e5f80;
			height: 25%;
			position: relative;
			text-align: center;
			width: 80%;
			border-radius: 11px;
			a {
				position: absolute;
				right: 40%;
				top: 50%;
				transform: translateY(-50%);
				font-weight: bolder;
				font-size: 17px;
				letter-spacing: -2px;
				text-transform: uppercase;
				text-decoration: none;
				writing-mode: vertical-rl;
				text-orientation: upright;
				color: #fff;
			}
			img {
				width: 100%;
				height: 100%;
				transform: translateX(2px);
			}
		}
		li:hover {
			background-color:#8ab3da;
		}
		li:nth-child(4) {
			left: 0px;
			margin-bottom: 15px;
			height: auto;
			border: none;
			box-shadow:none;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: transparent;
			animation-name: scaling;
			animation-delay: 1.9s;
			animation-duration: .5s;
			transition-timing-function: ease-in-out;
			animation-iteration-count: 1
		}
		li.fly {
			left: 0;
			transition: .4s;
			transition-timing-function: ease-in-out;
		}
	}
}
@media (max-width: 961px) {
	.ad {
		width: 12% !important;
		height: auto !important;
		li {
			height: 23%;
			a {
				font-size: 14px !important;
			}
		}
		li:nth-child(4) {
			margin-bottom: 0 !important;
		}
	}
}
@media (min-width: 768px) and (max-width:961px ) {
	.text {
		height: 600px;
	}
}
@media (max-width: 767px) {
	.ad {
		li {
			a {
				right: 30% !important;
			}
		}
	}
}
@media (max-width: 320px) {
	.ad li a {
	    right: 25%!important;
	}
}
.header__nav {
	background-color: #222466;
	height: 90px;
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 40%;
	.menu {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40%;
		width: 86%;
		ul {
			width: 100%;
			display: flex;
			justify-content: space-between;
			height: 100%;
			position: relative;
			z-index: 2;
			li {
				display: flex;
				align-items: center;
				margin: 0px 5px;
				border: 1px solid #5E5F80;
				box-shadow: 5px 5px 10px #171741;
				background-color: #323473;
				border-radius: 4px;
				a {
					letter-spacing: 1px;
					padding: 0px 10px;
					font-size: 12px;
					font-weight: 600;
					font-family: "Verdana-Bold", sans-serif;
					text-decoration: none;
					color: #fff;
				}
				a:hover {
					color: #417adc;
				}
			}
		}
	}
}
@keyframes scaling {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
@media (max-height: 730px) { 
	.ad {
		a {
			font-size: 13px !important;
		}
	}
}
@media (max-height: 650px) { 
	.ad {
		a {
			font-size: 11px !important;
		}
	}
}
// }
// @media (min-width: 900px) and (max-width:1100px) { 
// 	.ad {
// 		a {
// 			font-size: 12px !important;
// 		}
// 	}
// }
@media (max-width:962px) {
	.header__nav {
		height: 60px;
		position: fixed;
		top: 0;
	}
	.animated {
		margin-top: 60px !important;
	}
	.header__content {
		margin-top: 0px !important;
	}
}
@media (min-width: 962px) and (max-width: 1200px) {
	.header__nav {
		padding-left: 35% !important;
	}
}
@media (min-width: 962px) and (max-width: 1050px) {
	.header__nav {
		padding-left: 28% !important;
	}
}