@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	max-width: 480px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	background-color:#fff;
}
h2 {
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #202124;
	display: inline-block;
	width: 90%;
}
.header {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	a {
		img {
		width: 20px;
		height: 20px;
		}
 	}
	div {
		a:first-child {
			margin-right: 10px;
		}
	}
}
.preview {
	padding: 20px 10px 40px 10px;
	> div {
		display: flex;
		img {
			width: 120px;
			height: 120px;
			display: inline-block;
		}
		div {
			margin-left: 5%;
			h1 {
				 font-family: Roboto;
				 font-size: 24px;
				 font-weight: 500;
				 font-style: normal;
				 font-stretch: normal;
				 line-height: normal;
				 letter-spacing: normal;
				 color: #1f2024;
			}
			span {
				  margin-top: 5px;
				  display: block;	
				  font-family: Roboto;
				  font-size: 20px;
				  font-weight: bold;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: normal;
				  letter-spacing: normal;
				  color: #00845b;
			}
		}
	}
	ul {
		display: flex;
		justify-content: space-between;
		margin-top: 5%;
		li {
			position: relative;
			height: 55px;
			.title {
				font-family: Roboto;
				 font-size: 24px;
				 font-weight: normal;
				 font-style: normal;
				 font-stretch: normal;
				 line-height: normal;
				 letter-spacing: normal;
				 color: #3c4043;
				display: block;
			}
			.value {
				font-family: Roboto;
				font-size: 18px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #787878;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
		li:first-child {
			width: 44%;
			.title {
				transform: translateY(-20%);
			}
			.title::after {
				content: '';
				display: inline-block;
				width: 18px;
				height: 18px;
				background: url('../img/star.svg') center center / cover no-repeat;
				margin-left: 10px;
			}
		}
		li:nth-child(2) {
			position: relative;
			width: 28%;
			.title {
				width: 16px;
				height: 16px;
				background: url('../img/arrow-down.svg') center center/cover no-repeat;
			}
			.value {
				margin-top: 10px;
				display: block;	
			}
		}
		li:nth-child(3) {
			width: 28%;
			padding-left: 10px;
			position: relative;
			.title {
				width: 16px;
				height: 16px;
				background: url('../img/3plus.png') center center/cover no-repeat;
			}
			.value {
				margin-top: 10px;
				display: block;
			}
			.value::after {
				content: '';
				display: inline-block;
				width: 18px;
				height: 18px;
				position: absolute;
				bottom: 13%;
				left: 116%;
				background: url('../img/i-button.png') center center / cover no-repeat;
			}
		}
		li:nth-child(2)::before {
			content: '';
			display: inline-block;
			width: 1.3px;
			height: 34.1px;
			background-color: #dadce0;
			position: absolute;
			left: -25%;
			bottom: 0;
		}
		li:nth-child(2)::after {
			content: '';
			display: inline-block;
			width: 1.3px;
			height: 34.1px;
			background-color: #dadce0;
			position: absolute;
			right: 10px;
			bottom: 0;
		}
	}
	.button {
		width: 100%;
		padding: 6px 0px 6px 0px;
		border-radius: 5px;
		background-color: #01875f;
		margin: 0 auto;
		display:block;
		text-align: center;
		font-family: Roboto;
		font-size: 20px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		margin-top: 25px;
		cursor: pointer;
	}
}
.shedules {
	padding: 0px 5px 20px 5px;
	display: flex;
	justify-content: space-around;
	position: relative;
	li {
		width:23%;
		img {
			width: 100%;
			height: auto;
		}
	}
}
.description {
	padding: 10% 10px 30px 10px;
	h2 {
		font-size: 22px;
	}
	img {
		width: 20px;
		height: 20px;
		float: right;
		transform: translateY(5px);
	}
	p {
		margin-top: 10px;
		font-family: Gravity;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		color: #55595f;
	}
}
.ratings {
	padding: 5% 10px 30px 10px;
	h2 {
		font-size: 24px;
		display: inline;
	}
	> img {
		margin-left: 5px;
		width: 20px;
		height: 20px;
	}
	.arrow {
		width: 26px;
		height: 26px;
		float: right;
	}
	&-content {
		position: relative;
		display: flex;
		margin-top: 5%;
		.left-content {
			width: 45%;
			text-align: center;
			.number {
				font-family: Roboto;
				font-size: 60px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #1e2122;
			}
			ul {
				padding: 0px 15px;
				display: flex;
				justify-content: space-around;
				li {
					img {
						width: 20px;
						height: 20px;
					}
				}
			}
			> span {
				font-family: Roboto;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #686d70;
			}
		}
		.right-content {
			width: 55%;
			padding-left: 5%;
			ul {
				position: relative;
				li {
					width: 85%;
					height: 11px;
					border-radius: 5px;
					background-color: #ebebeb;
					position: relative;
					margin: 11.5px 0px;
					span {
						position: absolute;
						font-family: Roboto;
						font-size: 14px;
						left: -15px;
						bottom: -3px;
					}
					.green-color {
						background-color: #01875f;
						border-radius: 5px;
						height: 11px;
						width: 0%;
					}
				}
				.star-5 {
					.green-color {
						width: 80%;
					}
				}
				.star-4 {
					.green-color {
						width: 25%;
					}
				}
				.star-3 {
					.green-color {
						width: 20%;
					}
				}
				.star-2 {
					.green-color {
						width: 10%;
					}
				}
				.star-1 {
					.green-color {
						width: 7%;
					}
				}
			}
		}	
	}
}
.popular {
	padding: 6% 10px 30px 10px;
	h2 {
		font-size: 22px;
	}
	.arrow {
		float: right;
		width: 20px;
		height: 20px;
		transform: translateY(3px);
	}
	> div {
		margin-top: 7%;
		.avatar {
			font-family: Roboto;
			font-size: 26px;
			color: #fff;
			background-color: #5a69c6;
			padding: 6px 14px;
		    border-radius: 50px;
		}
		.avatar2 {
			background-color: #ef6d00;
		}
		span {
			font-family: Roboto;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #6d6d6d;
			margin-left: 10px;
		}
		img {
			float: right;
			height: 14.4px;
			width: 4.1px;
			transform: translateY(13px);
		}
	}
	ul {
		display: inline-flex;
		margin: 3% 1% 0% 1.4%;
		li {
			img {
				width: 11px;
				height: 11px;
			}
		}
	}
	span {
		font-family: Roboto;
		 font-size: 14px;
		 font-weight: 500;
		 font-style: normal;
		 font-stretch: normal;
		 line-height: normal;
		 letter-spacing: normal;
		 color: #676a70;
	}
	p {
		margin:5px 0px 10px 0px;
		display: block;
		  font-family: Roboto;
		  font-size: 14px;
		  font-weight: normal;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 1.75;
		  letter-spacing: normal;
		  color: #65686e;
	}
	.que {
		display: inline-block;
		margin:0 auto 10px auto;
		font-family: Roboto;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.75;
		letter-spacing: normal;
		color: #65686e;
		width: 100%;
		text-align: center;
	}
	.buttons {
		margin-top: 10px;
		max-width: 50%;
		margin: 0 auto;
		text-align: center;
		a {
			font-family: Roboto;
			font-size: 16px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #65686e;
			text-decoration: none;
			border-radius: 15px;
			border: solid 1px #dedfe3;
			padding: 5px 13px;
			margin: 0px 10px;
		}
	}
}
.like {
	padding: 0px 10px 15px 10px;
	h2 {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.arrow {
		float: right;
		width: 20px;
		height: 20px;
		transform: translateY(3px);
	}
	ul {
		position: relative;
		display: flex;
		justify-content: space-between;
		li {
			width: 30%;
			position: relative;
			img {
				width: 100%;
				height: auto;
			}
			.title {
				text-align: left;
				margin-top: 5px;
				display: block;
				font-family: Roboto;
				font-size: 15px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.25;
				letter-spacing: normal;
				color: #313134;
			}
			.mb {
				margin-top: 10px;
				display: block;
				font-family: Roboto;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #5c6066;
			}
		}
	}
}





	
