@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	max-width: 480px;
	min-width: 320px;
	width: 100%;
	margin: 0 auto;
	background-color:#fff;
	position: relative;
}
h2 {
	font-family: Gravity-book;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #202124;
	display: inline-block;
	width: 60%;
	font-size: 20px;
}
.header {
	padding: 25px 10px 0px 10px;
	width: 100%;
	background: url('../img/background.jpg') center center/cover no-repeat;
	&__top {
		display: flex;
		a {
			div {
				display: inline-block;
				width: 28px;
				height: 28px;
				background: url('../img/circle-arrow.svg') center center/cover no-repeat;
			}
		}
		span {
			font-family: Gravity-book;
			font-size: 24px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			color: #ffffff;
			margin-left: 5%;
		}
	}
	&__preview {
		margin-top: 5%;
		.icon {
			width: 25%;
			height: auto;
			border-radius: 10px;
		}
		.container {
			width: 72%;
			display: inline-block;
			vertical-align: top;
			float: right;
			ul {
				// margin-left: 5px;
				display: inline-flex;
				vertical-align: top;
				li {
					margin: 2px;
					img {
						width: 15px;
						height: 15px;
					}
				}
			}
			.button {
				display: inline-block;
				float:right;
				font-family: Gravity-book;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: #ffffff;
				border-radius: 5px;
				background-color: #15b474;
				padding: 6px 22px;
			}
			 > span {
				margin-top: 5px;
				margin-left: 3px;
				display:block;
				font-family: Gravity-book;
				font-size: 18px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 0.89;
				letter-spacing: normal;
				color: #ffffff;
			}	
		}		
	}
	.comments {
		margin-top: 10%;
		display: flex;
		justify-content: space-between;
		li {
			display: flex;
			align-items: center;
			img {
				width: 35px;
				height: 35px;
				border-radius: 10px;
			}
			span {
				margin-left: 10px;
				font-family: Gravity;
				font-size: 18px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #ffffff;
			}
		}
		li:last-child {
			margin-right: 10%;
		}
	}
	.shedules {
		margin-top: 10%;
		display: flex;
		justify-content: space-around;
		position: relative;
		padding-bottom: 10%;
		li {
			width:23%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
.description {
	padding: 0px 10px;
	h2 {
		font-size: 22px;
		margin: 15px 0 10px 0px;
	}
	p {
		font-family: Gravity-book;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		color: #989b9f;
	}
	.span {
		font-family: Gravity;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #737373;
		position: relative;
		float: right;
		display: inline-block;
	}
}
.ratings_review {
	padding: 10px 0px;
	h2 {
		font-size: 22px;
		width: auto;
		padding: 0px 0px 10px 10px;
	}
	a {
		float: right;
		position: relative;
		text-decoration: none;
		padding: 5px 7px 5px 20px;
		color: #737373;
		font-size: 9px;
		border-radius: 4px;
		border: solid 1px #cecece;
		margin-right:10px;
	}
	a::before {
		position: absolute;
		left: 3%;
		top:15%;
		content: '';
		display: inline-block;
		background: url('../img/pencil.jpg') center center/cover no-repeat;
		width: 14px;
		height: 14px;
	}
	ul {
		position: relative;
		.profiles {
			padding: 5% 10px;
			display: flex;
			justify-content: space-between;
			background-color: #f6f6f6;
			img {
				width: 42px;
				height: 42px;
			}
			div {
				display: inline-block;
				width: 85%;
				span {
					font-family: Gravity-book;
					font-size: 16px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					color: #6d6d6d;
					display: inline-block;
				}
				.date {
					float: right;
					display: inline-block;
					font-family: Gravity-light;
					font-size: 12px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 1.75;
					letter-spacing: normal;
					text-align: right;
					color: #989b9f;
				}
				.comment {
					display: block;
					font-family: Gravity-book;
					font-size: 13px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 2;
					letter-spacing: normal;
					color: #989b9f;
					margin-top: 7px;
				}
				.stars {
					display:flex;
					li {
						margin-left:2px;
						img {
							width: 12px;
							height: 12px;
						}
					}
				}
			}
		}
		.profiles:nth-child(2) {
			border-top: solid 1px rgba(0, 0, 0, 0.08);
			border-bottom: solid 1px rgba(0, 0, 0, 0.08);
		}
	}
}
.like {
	padding: 0px 10px 15px 10px;
	h2 {
		font-size: 22px;
		margin-bottom: 20px;
		width: 70%;
	}
	a {
		font-family: Gravity-book;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		background-color: #15b474;
		padding: 4px 15px;
		border-radius: 5px;
		text-decoration: none;
		float: right;
		transform: translateY(-2px);
	}
	ul {
		position: relative;
		display: flex;
		justify-content: space-between;
		li {
			width: 30%;
			position: relative;
			text-align: center;
			img {
				width: 100%;
				height: auto;
			}
			.title {
				text-align: center;
				font-family: Gravity;
				font-size: 12px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				text-align: center;
				color: rgba(0, 0, 0, 0.54);
			}

		}
		.stars {
			padding: 0px 20px;
			li {
				img {
					width: 12px;
					height: 12px;
				}
			}
		}
	}
}