// SECTION :: START

#cookie.cookie

	.c-grid

		.cookie__toggle

		.cookie__message-wrapper
			a.cookie__message-close(href="#" cookie-close-js)
				i.icon-font.icon-close
			p.cookie__message!= "We’re using cookies to help improve our website. By continuing to use area99.com website, you agree to the <a href='#'>Cookies Policy</a> and Area99 <a href='#'>Terms of Use.</a>"
			a.cookie__message-btn(href="#" cookie-btn-js) Ok

// SECTION :: END
