// SECTION :: START

section#services-main.services-main
  .c-grid
    .services-main__wrapper#first
      .services-main__wrapper-left
        .services-main__badge-wrapper
          p.services-main__badge Services
        h2.services-main__title How we change this world
        img(src="img/services2.svg", alt="").services-main__mobile-pics
        p.services-main__text At Area99 we give business access to a fast track to artificial intelligence, we do this at Area99 we give business access to a fast track to artificial intelligence, we do this.
      .services-main__wrapper-right        
    .services-main__wrapper.transfer
      .services-main__wrapper-left  
        h2.services-main__title Experience transfer (human-to-ai)
        img(src="img/transfer.svg", alt="").services-main__mobile-pics
        p.services-main__text More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          br
          br
          | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          a.services-main__link Read more
      .services-main__wrapper-right
    .services-main__wrapper.tree
      .services-main__wrapper-left
      .services-main__wrapper-right
        h2.services-main__title Cognitive computing
        img(src="img/tree.svg", alt="").services-main__mobile-pics
        p.services-main__text More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          br
          br
          | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture,      
    .services-main__wrapper.agent
      .services-main__wrapper-left
        h2.services-main__title AI multi-agent architecture
        img(src="img/multiagent.svg", alt="").services-main__mobile-pics
        p.services-main__text More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          br
          br
          | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
      .services-main__wrapper-right
    .services-main__wrapper.autonomus
      .services-main__wrapper-left
      .services-main__wrapper-right  
        h2.services-main__title Autonomus AI systems 
        img(src="img/autonomus.svg", alt="").services-main__mobile-pics
        p.services-main__text More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          br
          br
          | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
    .services-main__wrapper.intelligence
      .services-main__wrapper-left
        h2.services-main__title Contexual intelligence
        img(src="img/context.svg", alt="").services-main__mobile-pics 
        p.services-main__text More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          br
          br
          | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
      .services-main__wrapper-right        



// SECTION :: END
