// SECTION :: START

section#sitemap-main.sitemap-main
  .c-grid
    .sitemap-main__wrapper#first
      .sitemap-main__wrapper-left
        .sitemap-main__badge-wrapper
          p.sitemap-main__badge sitemap
        h2.sitemap-main__title How we change this world
        img(src="img/sitemap2.svg", alt="").sitemap-main__mobile-pics
        p.sitemap-main__text At Area99 we give business access to a fast track to artificial intelligence, we do this at Area99 we give business access to a fast track to artificial intelligence, we do this.
      .sitemap-main__wrapper-right        
    .sitemap-main__wrapper.transfer
      .sitemap-main__wrapper-left  
        h2.sitemap-main__title Experience transfer (human-to-ai)
        img(src="img/transfer.svg", alt="").sitemap-main__mobile-pics
        p.sitemap-main__text More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          br
          br
          | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          a.sitemap-main__link Read more
      .sitemap-main__wrapper-right
    .sitemap-main__wrapper.tree
      .sitemap-main__wrapper-left
      .sitemap-main__wrapper-right
        h2.sitemap-main__title Cognitive computing
        img(src="img/tree.svg", alt="").sitemap-main__mobile-pics
        p.sitemap-main__text More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          br
          br
          | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture,      
    .sitemap-main__wrapper.agent
      .sitemap-main__wrapper-left
        h2.sitemap-main__title AI multi-agent architecture
        img(src="img/multiagent.svg", alt="").sitemap-main__mobile-pics
        p.sitemap-main__text More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          br
          br
          | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
      .sitemap-main__wrapper-right
    .sitemap-main__wrapper.autonomus
      .sitemap-main__wrapper-left
      .sitemap-main__wrapper-right  
        h2.sitemap-main__title Autonomus AI systems 
        img(src="img/autonomus.svg", alt="").sitemap-main__mobile-pics
        p.sitemap-main__text More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          br
          br
          | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
    .sitemap-main__wrapper.intelligence
      .sitemap-main__wrapper-left
        h2.sitemap-main__title Contexual intelligence
        img(src="img/context.svg", alt="").sitemap-main__mobile-pics 
        p.sitemap-main__text More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
          br
          br
          | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
      .sitemap-main__wrapper-right        



// SECTION :: END
