// SECTION :: START

section#main.main
	.main__bg.lazy-background

	.c-grid

		.main__wrapper#first
			.main__wrapper-left

				h1.main__title Fast-track to AI transformation
				p.main__desc at Area99 we offer businesses a fast track to artificial intelligence, at Area99 we offer businesses a  intelligence, at Area99 we offer businesses a fast track to, at Area99 we offer businesses a fast track to artificial intellige.

				.main__btn-wrapper
					a.main__btn(href="#why" )
						span.main__btn-circle
							span.main__btn-icon
						span.main__btn-text Discover more

			.main__wrapper-right

// SECTION :: END
