.c-modal(modal-video-js)
	.c-modal__dialog
		.c-modal__content

			a.c-modal__close(href="#" modal-close-js)
				i.icon-font.icon-close

			.c-modal__video
				video#video(controls)
					source(src='media/video.mp4' type="video/mp4")
