// SECTION :: START

section#process.process(data-scroll-section='')
  .process__bg.lazy-background.visible(data-scroll='' data-scroll-offset='300, 0')
  .process__content-wrapper(data-scroll='' data-scroll-offset='300, 0' process-title-js='')
    .process__content
      div
        .c-title-wrapper
          h3.process__title.c-title.c-title--white Zero-to AI Process
        p.process__subtitle Accelerated path to building AI appliations
  .c-grid
    .process__wrapper.process__wrapper-2
      .process__video-wrapper(data-scroll='' data-scroll-offset='0, 150')
        p.process__video-desc
          | Video description goes here very short and to the point. video description goes here very short and to the point one more time.
        a.process__video-btn(href='#')
          span Watch video
          .process__video-btn-play(process-play-js='')
            svg.process__video-btn-circles(viewbox='0 0 152 152')
              circle.play-circle-01(fill='none' stroke='#00abbf' stroke-width='4' stroke-dasharray='343 343' cx='76' cy='76' r='72.7' data-svg-origin='76 76' transform='matrix(0,1,-1,0,152,0)' style='transform-origin: 0px 0px 0px;')
              circle.play-circle-02(fill='none' stroke='#00abbf' stroke-width='4' stroke-dasharray='309 309' cx='76' cy='76' r='60' data-svg-origin='76 76' transform='matrix(0,-1,1,0,0,152)' style='transform-origin: 0px 0px 0px;')
            i.icon-font.icon-play


// SECTION :: END
