// SECTION :: START

section#report.report(data-scroll-section='')
  .c-grid
    .report__wrapper
      .c-title-wrapper(data-scroll='')
        h3.report__title.c-title Area99 annual report  on artificial intelligence transformation
      .report__box-wrapper(data-scroll='')
        div
          .report__box.report__box-1
            .report__box-content
              p.report__box-title 2020 Report
              a.report__box-btn(href='#')
                p
                  i.icon-font.icon-corner
                span Get the report
        div
          .report__box.report__box-2
            p.report__box-desc
              | Industry insights on how companies and competition are implementing AI into their wor process.
        div
          .report__box.report__box-3
            p.report__box-desc
              | Learn about the recent trends and technologies in artificial intelligence and the most recent advances.
        div
          .report__box.report__box-4
            p.report__box-desc
              | Learn how to mitigate the risks that comes with AI implementations and the proper process and technology to use.
      .report__visual-wrapper
        .report__visual.lazy-background.visible(data-scroll='')
          .report__visual-left
            div
              p.report__visual-title Self-driving Businesses
              p.report__visual-subtitle The promise of the AI era
            div
              p.report__visual-badge PDF
          .report__visual-right

//- section#report.report

//- 	.c-grid

//- 		.report__wrapper

//- 			.c-title-wrapper
//- 				h3.report__title.c-title Area99 annual report  on artificial intelligence transformation

//- 			.report__box-wrapper
//- 				div
//- 					.report__box.report__box-1
//- 						p.report__box-title 2020 Report
//- 						a.report__box-btn(href="#")
//- 							p
//- 								i.icon-font.icon-corner
//- 							span Get the report
//- 				div
//- 					.report__box.report__box-2
//- 						p.report__box-desc Industry insights on how companies and competition are implementing AI into their wor process.
//- 				div
//- 					.report__box.report__box-3
//- 						p.report__box-desc Learn about the recent trends and technologies in artificial intelligence and the most recent advances.
//- 				div
//- 					.report__box.report__box-4
//- 						//p.report__box-desc Learn how to mitigate the risks that comes with AI implementations and the proper process and technology to use.

//- 			.report__visual.lazy-background
//- 				.report__visual-left
//- 					div
//- 						p.report__visual-title Self-driving Businesses
//- 						p.report__visual-subtitle The promise of the AI era
//- 					div
//- 						p.report__visual-badge PDF

//- 				.report__visual-right

// SECTION :: END
