// SECTION :: START

section#transformation.transformation

	.c-grid

		.transformation__wrapper

			.c-title-wrapper
				h3.transformation__title.c-title Area99 AI Transformation Journey

			.transformation__box-wrapper
				.transformation__box-col.transformation__box-col-1
					.transformation__box.transformation__box-1
						+iconSVG('one')

						.transformation__box-body
							p.transformation__box-title A Resilient AI transformation strategy
							p.transformation__box-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
							.transformation__box-link-wrapper
								a.transformation__box-link(href="#")
									span About Zero-Ai process
									i.icon-font.icon-corner

				.transformation__box-col.transformation__box-col-2
					.transformation__box.transformation__box-2
						+iconSVG('two')

						.transformation__box-body
							p.transformation__box-title Access to the 3P enablers to AI transformation
							p.transformation__box-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							.transformation__box-link-wrapper
								a.transformation__box-link(href="#")
									span Learn about the 3P AI enablers
									i.icon-font.icon-corner

					.transformation__box-arrow.transformation__box-arrow-1
						svg#transformation-arrow1(width="608px" height="323px" viewbox="0 0 608 323" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
							g(stroke="none" stroke-width="3" fill="none" fill-rule="evenodd")
								g(transform="translate(0.000000, -0.000169)")
									path.path(fill="none" stroke="#1babbe" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M414.716,0 C423.865748,0 430.647479,0 435.061193,0 C486.891922,0 527.036888,12.9174999 555.309949,40.0711694 C590.432594,74.0341447 607.966632,113.423667 607.912065,158.239737 C604.652112,211.193515 586.29165,251.245739 552.830677,278.396408 C519.369704,305.547076 473.331479,317.74833 414.716,315.000169 L0,315.000169")
									path.path-default(fill="none" stroke="#fff" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M414.716,0 C423.865748,0 430.647479,0 435.061193,0 C486.891922,0 527.036888,12.9174999 555.309949,40.0711694 C590.432594,74.0341447 607.966632,113.423667 607.912065,158.239737 C604.652112,211.193515 586.29165,251.245739 552.830677,278.396408 C519.369704,305.547076 473.331479,317.74833 414.716,315.000169 L0,315.000169")
									path.dashed(fill="none" stroke="#181818" d="M414.716,0 C423.865748,0 430.647479,0 435.061193,0 C486.891922,0 527.036888,12.9174999 555.309949,40.0711694 C590.432594,74.0341447 607.966632,113.423667 607.912065,158.239737 C604.652112,211.193515 586.29165,251.245739 552.830677,278.396408 C519.369704,305.547076 473.331479,317.74833 414.716,315.000169 L0,315.000169")
									polyline.polyline(stroke="#1babbe" points="6.65685 322.071169 -5.68434189e-14 315.000169 6.65685 307.929169")
									polyline.polyline-default(stroke="#fff" points="6.65685 322.071169 -5.68434189e-14 315.000169 6.65685 307.929169")



				.transformation__box-col.transformation__box-col-3
					.transformation__box-arrow.transformation__box-arrow-2
						svg(width='472px', height='275px', viewBox='0 0 472 275', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
							g(stroke='none', stroke-width='2', fill='none', fill-rule='evenodd')
								g(transform='translate(0.000000, 1.723442)')
									path.path(fill="none" stroke="#1BABBE" stroke-linejoin="round" stroke-miterlimit="10" d="M1,0 L1,96.9247309 C0.606983683,137.466791 2.83676314,166.634698 7.68933837,184.428454 C12.5419136,202.22221 22.4711536,217.63983 37.4770584,230.681312 C57.0964909,246.609614 73.4913243,256.642954 86.6615584,260.781332 C99.8317925,264.91971 121.280139,266.777533 151.006598,266.354801 L470,266.354801")
									path.dashed(fill="none" stroke="#181818" stroke-width="10" stroke-linejoin="round" stroke-miterlimit="10" d="M1,0 L1,96.9247309 C0.606983683,137.466791 2.83676314,166.634698 7.68933837,184.428454 C12.5419136,202.22221 22.4711536,217.63983 37.4770584,230.681312 C57.0964909,246.609614 73.4913243,256.642954 86.6615584,260.781332 C99.8317925,264.91971 121.280139,266.777533 151.006598,266.354801 L470,266.354801")
									polyline(stroke="#2c2c2c" points='461.205558 259.176 468.276558 266.247375 461.205558 273.318')

					.transformation__box.transformation__box-3
						+iconSVG('three')

						.transformation__box-body
							p.transformation__box-title Continious support
							p.transformation__box-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							.transformation__box-link-wrapper
								a.transformation__box-link(href="#")
									span Contact us
									i.icon-font.icon-corner




// SECTION :: END
