// SECTION :: START

section#why.why(data-scroll-section='')
  .c-grid
    .why__wrapper
      .c-title-wrapper(data-scroll='')
        h3.why__title.c-title Why do you need a full AI-centric transformation?
      .why__box-wrapper
        .why__box-col.why__box-col-1
          .why__box.why__box-1(data-scroll='' data-scroll-speed='3' data-scroll-offset='300, 0')
            .why__box-content(why-parent-js='')
              .why__box-head(why-title-js='')
                div
                  p.why__box-header AI is no just a machine learning model
                div
                  svg.icon-svg.icon-model
                    use(xlink:href='./img/sprite.svg#model')
                div
                  p.why-title-js.why__box-question
                    span What is it?
                    i.icon-font.icon-corner
              .why__box-collapse-body
                p.why__box-collapse-desc(why-desc-js).why__box-desc 
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis exercitation ex ea commodo consequat.
              .why__box-visual
                svg.icon-svg.icon-model
                  use(xlink:href='./img/sprite.svg#model')
        .why__box-col.why__box-col-2
          .why__box.why__box-2(data-scroll='' data-scroll-speed='2' data-scroll-offset='300, 0')
            .why__box-content(why-parent-js='')
              .why__box-head(why-title-js='')
                div
                  p.why__box-header Partial AI implementations doesn&rsquo;t work
                div
                  svg.icon-svg.icon-partial
                    use(xlink:href='./img/sprite.svg#partial')
                div
                  p.why-title-js.why__box-question
                    span What works?
                    i.icon-font.icon-corner
              .why__box-collapse-body
                p.why__box-collapse-desc(why-desc-js).why__box-desc 
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis exercitation ex ea commodo consequat.
              .why__box-visual
                svg.icon-svg.icon-partial
                  use(xlink:href='./img/sprite.svg#partial')
        .why__box-col.why__box-col-3
          .why__box.why__box-3.why__box--right(data-scroll='' data-scroll-speed='2' data-scroll-offset='300, 0')
            .why__box-content(why-parent-js='')
              .why__box-head(why-title-js='')
                div
                  p.why__box-header Spark creativity through Integrated AI environments
                div
                  svg.icon-svg.icon-spark
                    use(xlink:href='./img/sprite.svg#spark')
                div
                  p.why-title-js.why__box-question
                    span Need proofs?
                    i.icon-font.icon-corner
              .why__box-collapse-body
                p.why__box-collapse-desc(why-desc-js).why__box-desc 
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis exercitation ex ea commodo consequat.
              .why__box-visual
                svg.icon-svg.icon-spark
                  use(xlink:href='./img/sprite.svg#spark')
        .why__box-col.why__box-col-4
          .why__box.why__box-4.why__box--right(data-scroll='' data-scroll-speed='1' data-scroll-offset='300, 0')
            .why__box-content(why-parent-js='')
              .why__box-head(why-title-js='')
                div
                  p.why__box-header 7 out of every 9 AI implementations fail
                div
                  svg.icon-svg.icon-fail
                    use(xlink:href='./img/sprite.svg#fail')
                div
                  p.why-title-js.why__box-question
                    span How come?
                    i.icon-font.icon-corner
              .why__box-collapse-body
                p.why__box-collapse-desc(why-desc-js).why__box-desc 
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis exercitation ex ea commodo consequat.

              .why__box-visual
                svg.icon-svg.icon-fail
                  use(xlink:href='./img/sprite.svg#fail')

//- section#why.why

//- 	.c-grid

//- 		.why__wrapper

//- 			.c-title-wrapper
//- 				h3.why__title.c-title Why do you need a full AI-centric transformation?

//- 			.why__box-wrapper
//- 				.why__box-col.why__box-col-1
//- 					.why__box.why__box-1.why__box--left
//- 						.why__box-title-wrapper
//- 							div
//- 								p.why__box-title AI is no just a machine learning model
//- 							div
//- 						.why__box-collapse
//- 							.why__box-collapse-body(why-parent-js)
//- 								p.why__box-collapse-title(why-title-js).why__box-question
//- 									span What is it?
//- 									i.icon-font.icon-corner
//- 								.why__box-collapse-body
//- 									p.why__box-collapse-desc(why-desc-js).why__box-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis exercitation ex ea commodo consequat.
//- 							.why__box-visual
//- 								+iconSVG('model')
//- 				.why__box-col.why__box-col-2
//- 					.why__box.why__box-2.why__box--left
//- 						.why__box-title-wrapper.why__box-title-wrapper--reverse
//- 							div
//- 								p.why__box-title Partial AI implementations doesn’t work
//- 							div
//- 						.why__box-collapse
//- 							.why__box-collapse-body(why-parent-js)
//- 								p.why__box-collapse-title(why-title-js).why__box-question
//- 									span What works?
//- 									i.icon-font.icon-corner
//- 								.why__box-collapse-body
//- 									p.why__box-collapse-desc(why-desc-js).why__box-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis exercitation ex ea commodo consequat.
//- 							.why__box-visual
//- 								+iconSVG('partial')
//- 				.why__box-col.why__box-col-3
//- 					.why__box.why__box-3.why__box--right
//- 						.why__box-title-wrapper
//- 							div
//- 								p.why__box-title Spark creativity within your team
//- 							div
//- 						.why__box-collapse
//- 							.why__box-collapse-body(why-parent-js)
//- 								p.why__box-collapse-title(why-title-js).why__box-question
//- 									span Need proofs?
//- 									i.icon-font.icon-corner
//- 								.why__box-collapse-body
//- 									p.why__box-collapse-desc(why-desc-js).why__box-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis exercitation ex ea commodo consequat.
//- 							.why__box-visual
//- 								+iconSVG('spark')
//- 				.why__box-col.why__box-col-4
//- 					.why__box.why__box-4.why__box--right
//- 						.why__box-title-wrapper.why__box-title-wrapper--reverse
//- 							div
//- 								p.why__box-title 7 out of every 9 AI implementations fail
//- 							div
//- 						.why__box-collapse
//- 							.why__box-collapse-body(why-parent-js)
//- 								p.why__box-collapse-title(why-title-js).why__box-question
//- 									span How come?
//- 									i.icon-font.icon-corner
//- 								.why__box-collapse-body
//- 									p.why__box-collapse-desc(why-desc-js).why__box-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis exercitation ex ea commodo consequat.
//- 							.why__box-visual
//- 								+iconSVG('fail')

// SECTION :: END
