@import "vars";
@media (max-width: 321px) {
	.header {
		.content-container {
			margin-top: 50px !important;
			.text-content {
				p {
					font-size: 13px;
					br {
						display: none;
					}
				}
			}
		}
	}
	.nimble-content {
		.text-content {
			transform: translateY(-90px)!important;
		}
	}
	.nimble-content::before {
	    width: 55%!important;
	}
	.benefits {
		ul {
			.list-item {
				p {
					font-size: 13px;
				}
			}
		}
	}
	.about {
		.info {
			display: block;
			margin-top: 0px;
			div {
				transform: translateX(0);
				display: block;
				text-align: center;
				#Phone, #URL {
					margin: 0;
					display: block;
				}
			}
			.logo {
				display: block;
				margin: 0 auto;
			}
			#Address {
				display: block;
				text-align: center;
				transform: translate3d(0,10px,0);
			}
			#Phone::before {
				left: 15%!important;
				top: -20%;
			}
			#URL::before {
				left: 15%!important;
			}
		}
		.signatures {
			display: block !important;
			text-align: center;
			span {
				font-size: 8px;
			}
			div {
				a {
					font-size: 10px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.header, .nimble-content {
		.content-container {
			flex-direction: column;
			margin-top: 10%;
			transform: translateY(0px);
			.text-content {
				width: 90%;
				margin-top: 10% !important;
				h1 {
					font-size: 35px;
					line-height: 40px;
					br {
						display: none;
					}
				}
				p {
					font-size: 10px;
					line-height: 20px;
					br {
						display: none;
					}
				}
				.button {
					font-size: 10px;
					margin-top: 20px;
				}
			}
			.media-content {
				width: 100%;
				.nimble {
					z-index: -1;
					width: 110%;
					transform: translateY(2px)!important;
				}
			}
		}
	}
	.nimble-content {
		margin-top: 0px;
		.text-content {
			transform: translateY(-111px);
			.button {
				box-shadow: -2px 5px 9px 1px #000;
			}
		}
	}
	.nimble-content::before {
		width: 70%;
	}
	.benefits, .features-benefits {
		ul {
			padding: 70px 10px;
			display: block;
			.list-item {
				margin: 20px auto;
				width: 80%;
				p {
					font-size: 13px;
				}
			}
		}
	}
	.features-benefits {
		padding: 70px 10px 0 10px;
		h2 {
			font-size: 30px;
			width: 100%;
			.except {
				margin-bottom: 10px;
				display: block;
			}
		}
		> p {
			width: 80%;
		}
		ul {
			padding-top: 10px;
			.list-item {
				padding: 5px;
			}
		}
	}
	.about {
		padding: 50px 20px;
		.rectangle {
			h4 {
				display: block;
			}
			.button {
				display: inline-block;
				float: left;
				transform: translate3d(0,0,0);
			}
			p {
				display: block;
				width: 100%;
				margin-top: 70px;
			}
			.signatures {
				display: block !important;
				text-align: center;
				span {
					font-size: 8px;
				}
				div {
					a {
						font-size: 10px;
					}
				}
			}
		}
		.info {
			padding: 40px;
			display: block;
			margin-top: 0px;
			div {
				transform: translateX(0);
				display: block;
				text-align: center;
				#Phone, #URL {
					margin: 10px 0px;
					display: block;
				}
				#Phone::before {
					position: absolute;
					left: 20%;
					top: -20%;
				}
				#URL::before {
					position: absolute;
					left: 20%;
				}
			}
			.logo {
				display: block;
				margin: 0 auto;
				width: 60%;
			}
			#Address {
				display: block;
				text-align: center;
				transform: translate3d(0,10px,0);
			}
		}
		.signatures {
			display: block !important;
			text-align: center;
			span {
				font-size: 8px;
			}
			div {
				a {
					font-size: 10px;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.header, .nimble-content {
		height: 60vh !important;
		min-height: 60vh !important;
		.content-container {
			.text-content {
				width: 60%;
				h1 {
					font-size: 40px;
				}
				p {
					font-size: 13px;
				}
				.button {
					font-size: 14px;
				}
			}
			.media-content {
				width: 40%;
				.nimble {
					width: 100%;
				}
			}
		}
	}
	.benefits {
		ul {
			padding: 10% 1%;
		}
	}
	.features-benefits {
		h2 {
			.except {
				display: block;
			}
		}
		ul {
			.list-item {
				width: 40%;
				margin: 0 auto;
			}
		}
	}
	.about {
		.info {
			display: block;
			margin-top: 0px;
			div {
				transform: translateX(0);
				display: block;
				text-align: center;
				#Phone, #URL {
					margin: 10px 0px;
					display: block;
				}
			}
			.logo {
				display: block;
				margin: 0 auto;
			}
			#Address {
				display: block;
				text-align: center;
				transform: translate3d(0,10px,0);
			}
			#Phone::before {
				left: 240px!important;
				position: absolute;
				top:-30%;
				transform: translate3d(0,0,0);
			}
			#URL::before {
				left: 240px!important;
				position: absolute;
			}
		}
		.signatures {
			display: block !important;
			text-align: center;
			span {
				font-size: 8px;
			}
			div {
				a {
					font-size: 10px;
				}
			}
		}
	}
}

@media (min-width: 1024px) and (max-width: 1300px) {
	.header, .nimble-content {
		height: 85vh;
		.content-container {
			.text-content {
				h1 {
					font-size: 55px;
					br {
						display: none;
					}
				}
				p {
					font-size: 13px;
				}
				.button {
					font-size: 14px;
				}
			}
		}
	}
	
}


