@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color:#fff;
	position: relative;
}
.wrapper {
	max-width: 1140px;
	margin:0 auto;
}
.header, .nimble-content {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
		.for-logo {
			min-height: 80vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 1140px;
			margin: 0 auto;
			position: relative;
			.header-wrapper, .black-wrapper {
				display: flex;
				position: relative;
				justify-content: space-between;
				max-width: 1140px;
				margin: 0 auto;
				.text-content {
					width: 100%;
					h1 {
						display: block;
						font-size: 60px;
						font-family: apercu-b;
						text-transform: uppercase;
						color: $black;
						.except {
							color: $nimble;
						}
					}
					p {
						color: $black;
						font-size: 14px;
						font-family: Apercu-r;
						line-height: 25px;
						margin-top: 12px;
					}
					.button {
						cursor: pointer;
						display: inline-block;
						text-transform: uppercase;
						background-color: #89E872;
						padding: 10px 50px;
						font-family: apercu-m;
						font-size: 15px;
						color: #fff;
						margin-top: 30px;
					}
				}
				.media-content {
					width: 50%;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					.nimble {
						width: 85%;
					    height: auto;
						float: right;
						transform: translateY(-50px);
						opacity: 0;
						position: relative;
						z-index: -10;
					}	
				}	
			}
		}
		.for-logo::before {
			content: '';
			display: block;
			position: absolute;
			background: url('../img/v-logo.svg') center center/contain no-repeat;
			width: 130px;
			height: 28px;
			left: 0;
			top: 5%;
		}
}
.header::before {
	content: '';
	display: block;
	position: absolute;
	background: url('../img/header_img.png') right bottom/contain no-repeat;
	width: 60%;
	height: 60%;
	right: 0;
	top: 10%;
}
.benefits {
	position: relative;
	background-color: #f2f2f2;
	ul {
		max-width: 1140px;
		margin:0 auto;
		display: flex;
		justify-content: space-between;
		padding:10% 0;
		position: relative;
		.list-item {
			position: relative;
			width: 30%;
			background-color: #fff;
			padding: 40px 20px;
			.number {
				font-family: apercu-b;
				color: #fff;
				padding: 5px;
				background-color: $nimble;
				font-size: 26px;
				right: 0;
				top:0;
				position: absolute;
			}
			div {
				border-radius: 50%;
				background-color: #f2f2f2;
				width: 50px;
				height: 50px;
			}
			h3 {
				color: $nimble;
				font-family: apercu-b;
				text-transform: uppercase;
				margin: 20px 0px;
				font-size: 22px;
			}
			p {
				font-size: 16px;
				font-family: apercu-r;
				line-height: 25px;
			}
		}
	}
}
.nimble-content {
	background-color: $black;
	height: 75vh;
	position: relative;
	.for-logo {
		.black-wrapper {
			.text-content {
				width: 50%!important;
				h1 {
					color: #fff!important;
				}
				p {
					color: #fff!important;
					width: 80%!important;
				}
			}
			.media-content {
			}
		}
	}
	.for-logo::before {
		display: none;
	}
}
.nimble-content::before {
	content: '';
	display: block;
	position: absolute;
	background: url('../img/nimble-device.png') bottom right/contain no-repeat;
	width: 40%;
	height: 100%;
	right: 0;
	bottom: -1px;
}
.features-benefits {
	position: relative;
	text-align: center;
	padding: 10% 0%;
	.wrapper {
		h2 {
			display: block;
			font-size: 40px;
			font-family: apercu-b;
			text-transform: uppercase;
			max-width: 1140px;
			margin: 0 auto;
			color: $black;
			.except {
				color: $nimble;
			}
		}
		> p {
			font-size: 16px;
			line-height: 20px;
			width: 60%;
			margin: 15px auto;
			font-family: apercu-r;
		}
		ul {
			text-align: left;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			max-width: 1140px;
			margin: 0 auto;
			.list-item {
				position: relative;
				width: 30%;
				background-color: #fff;
				padding: 40px 0px;
				div {
					border-radius: 50%;
					background-color: #f2f2f2;
					width: 50px;
					height: 50px;
				}
				h3 {
					color: $black;
					font-family: apercu-b;
					text-transform: uppercase;
					margin: 20px 0px;
					font-size: 22px;
				}
				p {
					font-size: 16px;
					font-family: apercu-r;
					line-height: 25px;
				}
			}
		}
	}
}
.about {
	background-color: #f2f2f2;
	position: relative;
	padding: 7% 0%;
	.wrapper {
		.rectangle {
			color: #fff;
			background: url('../img/rectangle-green.png') center center / cover no-repeat;
			padding: 40px 25px;
			min-height: 150px;
			max-width: 1140px;
			margin: 0 auto;
			h4 {
				font-family: apercu-b;
				font-size: 30px;
				display: inline-block;
				margin-bottom: 20px;
			}
			p {
				display:block;
				font-family: apercu-r;
				font-size: 17px;
				width: 50%;
				line-height: 25px;
			}
			.button {
				font-family: apercu-b;
				padding: 10px 20px;
				background-color: #fff;
				color: $nimble;
				display: inline-block;
				float: right;
				cursor: pointer;
				transform: translate3d(-15%,90%,0);
			}
		}
		.info {
			display: flex;
			justify-content: space-between;
			margin-top: 50px;
			padding: 20px 0px;
			border-bottom: 1px solid #D8D8D8;
			.logo {
				
			}
			a {
				text-decoration: none;
				color: grey;
				font-family: apercu-r;
			}
			#Address {
				transform: translateY(10px);
			}
			div {
				transform: translateX(-60%);
				#URL, #Phone {
					transform: translateY(5px);
					display: inline-block;
					font-family: apercu-r;
				}
				#Phone {
					margin-right: 20px;
				}
				#Phone::before {
					content: '';
					display: inline-block;
					width: 18px;
					height: 18px;
					margin-right: 10px;
					background:url('../img/phone.png') center center / cover no-repeat;
					transform: translateY(3px);
				}
				#URL::before {
					content: '';
					display: inline-block;
					width: 18px;
					height: 18px;
					margin-right: 10px;
					background:url('../img/url.png') center center / cover no-repeat;
					transform: translateY(3px);
				}
			}
		}
		.signatures {
			margin-top: 30px;
			display: flex;
			justify-content: space-between;
			span {
				font-family: apercu-bitalic;
				font-size: 12px;
				color: grey;
				margin: 5px;
			}
			div {
				a {
					font-family: apercu-bitalic;
					font-size: 12px;
					color: grey;
					margin: 5px;
					text-decoration: none;
				}
			}
		}
	}
}





@import "media";


	
