body * {
	box-sizing: border-box;
}
.wrapper {
	width: 600px;
}
ul {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
	list-style: none;
}
li {
	width: 48%;
	background-color:#545454;
	margin-bottom: 10px;
	position: relative;
	min-height: 80px;
}
li:first-child::before {
	content: '';
	display: block;
	width: 10px;
	height: 100%;
	position: absolute;
	background-color: #1f8a70;
	left: 0;
	top: 0;
}
li:nth-child(2)::before {
	content: '';
	display: block;
	width: 10px;
	height: 100%;
	position: absolute;
	background-color: #bedb39;
	left: 0;
	top: 0;
}
li:nth-child(3)::before {
	content: '';
	display: block;
	width: 10px;
	height: 100%;
	position: absolute;
	background-color: #fd7401;
	left: 0;
	top: 0;
}
li:nth-child(4)::before {
	content: '';
	display: block;
	width: 10px;
	height: 100%;
	position: absolute;
	background-color: #034458;
	left: 0;
	top: 0;
}
li::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid green;
	right: 20px;
	position: absolute;
	z-index: 1;
	top: 20px;
}
li:first-child::after {
	border-left:20px solid #f1611e;
}
li:nth-child(2)::after {
	border-left:20px solid #ffd205;
}
li:nth-child(3)::after {
	border-left:20px solid #65c0a1;
}
li:nth-child(4)::after {
	border-left:20px solid #4f9bd6;
}
a {
	font-size: 18px;
	padding-left: 7%;
	display: block;
	text-align: center;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	width: 100%;
	text-decoration: none;
	color: #fff;
}