// SECTION :: START

.research-ai {
	padding-top: 84px;
	padding-bottom: 100px;
	@include adaptive(1023) {
		padding-top: 50px;
		padding-bottom: 0;
	}
	&-mob-only-wrapper {
		display: none;
		@include adaptive(1023) {
			display: block;
			position: relative;
			.research-ai-mob-only-1 {
				left: 100px;
			    display: inline-block;
			    position: relative;
			    padding-bottom: 200px;
			}
			.research-ai-mob-only-2 {
				display: inline-block;
				position: absolute;
				left: 20px;
				top: 20%;
			}
		}
	}
	&__wrapper {
		display: flex;
		border-bottom: 1px solid rgba(#fff, 0.4);
		@include adaptive(1023) {
			display: block;
			border-bottom: none;
		}

		&-left {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-bottom: 14px;
			h2 {
				position: relative;
				@include adaptive(1023) {
					color: #00ABBF;
					padding-right: 10%;
					&::after {
						content: '';
						background: url('../img/blue_arrow.svg') center center/contain no-repeat;
						width: 20px;
						height: 20px;
						position: absolute;
						right: 0px;
						top: calc(50% - 26px);
					}
				}
			}	
		}

		&-right {
			display: flex;
			flex-direction: column;
			width: 365px;
			@include adaptive(1023) {
				width: 100%;
			}
		}
	}

	&__title {
		padding-bottom: 45px;
		@extend %fontUbuntu;
		font-weight: bold;
		font-size: 45px;
		line-height: 52px;
		color: #FFFFFF;
		@include adaptive(1023) {
			font-size: 26px;
		}
	}

	&__illustration {
		display: flex;
		align-items: flex-start;
		padding-bottom: 58px;
		padding-left: 2px;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin-right: auto;
		}
	}

	&__content {
		width: 100%;
		max-width: 828px;
		@include adaptive(1023) {
			max-width: 100%;
		}

		&-desc {
			padding-bottom: 36px;
			font-weight: 300;
			font-size: 18px;
			line-height: 36px;
			color: #FFFFFF;

			span {
				color: #00abbf;
			}
		}
	}

	&__link {
		position: relative;
		display: flex;
		padding-left: 42px;
		padding-bottom: 14px;
		font-weight: 500;
		font-size: 26px;
		line-height: 32px;
		color: #00ABBF;

		&:before {
			content: '';
			position: absolute;
			top: 11px;
			left: 7px;
			width: 25px;
			height: 4px;
			background-color: #00ABBF;
		}
	}

	&__tabs {
		padding-left: 42px;
		padding-top: 26px;
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(#fff, 0.4);
		@include adaptive(1023) {
			padding-left: 0;
		}

		&.is-active {
			.research-ai__tabs-body {
				display: block;
			}
		}

		&:first-of-type {
			border-top: 1px solid rgba(#fff, 0.4);
			@include adaptive(1023) {
				border-top:none;
			}
		}

		&-wrapper {
			height: 100%;
			border-left: 1px solid rgba(#fff, 0.4);
			@include adaptive(1023) {
				border-left:none;
			}
		}

		&-head {
			display: flex;

			p {
				padding-top: 8px;
				font-weight: 500;
				font-size: 26px;
				line-height: 37px;
				color: #FFFFFF;
			}
		}

		&-body {
			display: none;

			p {
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 36px;
				color: rgba(#FFFFFF, 0.6);
			}
		}
	}
}
.listing {
	padding: 20px 5px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	.left {
		img:first-child {
			transform: rotate(90deg);
			width: 15px;
			position: relative;
		}
		img:nth-child(2) {
			transform: rotate(-90deg);
			margin-left: 20px;
			width: 15px;
			position: relative;
		}
	}
	.right {
		p {
			font-family: Rubik;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 36px;
			color: #fff;
			.number {
				color: #00ABBF;
			}
		}
	}
}

// SECTION :: END
