// SECTION :: START

.research-approach {
	padding-top: 84px;
	padding-bottom: 31px;

	&__wrapper {
		display: flex;
		@include adaptive(1023) {
			display: block;
		}

		&-left {
			width: 363px;
		}

		&-right {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-left: 26px;
			@include adaptive(1023) {
				padding-left: 0;
			}
		}
	}

	&__title {
		@extend %fontUbuntu;
		font-weight: bold;
		font-size: 50px;
		line-height: 57px;
		color: #FFFFFF;
		@include adaptive(1023) {
			font-size: 30px;
		}
	}

	&__desc {
		font-weight: 300;
		font-size: 18px;
		line-height: 36px;
		color: #FFFFFF;

		&:not(:last-of-type) {
			padding-bottom: 36px;
		}
	}
	&__desc:last-child {
		padding-bottom: 80px;
	    @include adaptive (1023) {
	    	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	    }
	}
}

// SECTION :: END
