// SECTION :: START

.research-published {
	padding-top: 99px;
	padding-bottom: 73px;
	@include adaptive(1023) {
		padding-top: 40px;
	}

	&__wrapper {
		display: flex;

		&-left,
		&-right {
			width: 50%;
		}

		&-left {
			padding-left: 48px;
			padding-right: 45px;
			@include adaptive(1023) {
				padding-left: 0;
				padding-right: 0;
				width: 80%;
			}
		}

		&-right {
			padding-left: 42px;
			@include adaptive(1023) {
				opacity: 0.6;
				width: 90%;
				position: absolute;
				right: -70%;
				.research-published__desc {
					width: 150%;
				}
			}
		}
	}

	&__title {
		width: 100%;
		max-width: 500px;
		padding-bottom: 37px;
		@extend %fontUbuntu;
		font-weight: bold;
		font-size: 45px;
		line-height: 52px;
		color: #FFFFFF;
	}

	&__desc {
		padding-bottom: 17px;
		font-weight: 300;
		font-size: 18px;
		line-height: 36px;
		color: #FFFFFF;
	}

	&__link {
		display: flex;
		align-items: center;
		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		color: #00ABBF;
		@include adaptive(1023) {
			color: #fff;
			display: inline-flex;
			border: 1px solid #00ABBF;
			border-radius: 66px;
			padding: 8px 12px;
		}

		.icon-font {
			transform: rotate(-90deg);
			margin-left: 5px;
			font-size: 7px;
			@include transition(color);
		}
	}
}

// SECTION :: END
