// HEADER :: START

.header {
	z-index: 1050;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	box-shadow: 0 5px 10px 0 rgba($c-black, 0);
	@include transition(background-color, box-shadow);
	
	#uparrow {
		a {
			position: fixed;
			z-index: -11111;
			opacity: 0;
			right: 20px;
			top: 86px;
			background: url('../img/up-arrow.svg') center center/contain no-repeat;
			width: 30px;
			height: 30px;
			border-radius: 40px;
			border: 1px solid #fff;
			padding: 5px;
			background-size: 40%;
			transition: .5s;
		}
	}
	#uparrow.visible {
		a {
			opacity: 1;
			transition: 2s;
			display: block;
			z-index: 1;
		}
		@include desktop() {
			display: none;
		}
	}

	&.header--fixed {
		background-color: rgba($c-181818, 0.99);
		box-shadow: 0 3px 7px 0 rgba($c-black, 0.25);
		@include transition(background-color, box-shadow);

		.header {
			&__wrapper {
				height: 84px;
				@include transition(height);
				@include adaptive(1150) {
					height: 66px;
				}
			}
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		height: 104px;
		@include transition(height);
		@include adaptive(1150) {
			height: 66px;
		}

		&-left {
			width: 165px;
			padding-right: 30px;
			@include adaptive(1150) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				padding-right: 0;
			}
			#specword {
				display: none;
				@include adaptive(1150) {
					transform: translateX(15px);
					padding: 0px 15px;
					display: flex;
					align-items: center;
					width: 150px;
					justify-content: flex-end;
					position: relative;
				}
				.closed {
					opacity: 0;
					left: 14px;
					position: absolute;
					transition: 1s;
				}
				.opened {
					left: 57px;
					position: absolute;
					transition: 1s;
				}
			}
			#specword.blacked {
				background-color: #000;
				padding: 0px 15px;
				border-radius: 20px;
				transition: 1s;
				.closed {
					opacity: 1;
					transition: 1s;
				}
				.opened {
					opacity: 0;
					transition: 1s;
				}
				@media (min-height: 812px) {
					position: absolute;
					bottom: -89vh;
					z-index: 99999;
					right: 30px;
					transition: 0s;
					.opened {
						transition: 0s;
					}
					.closed {
						transition: 0s;
					}
				}
			}
			.hamburger {
				&.is-active {
					& + .hamburger__desc {
						span {
							opacity: 1;
							@include transition(opacity);
						}
					}
				}
				&__wrapper {
					position: relative;
					display: none;
					@include adaptive(1150) {
						display: flex;
					}
				}

				&__desc {
					white-space: nowrap;
					position: absolute;
					top: calc(50% + 1px);
					transform: translateY(-50%);
					right: calc(100% + 11px);
					font-weight: 300;
					font-size: 16px;
					line-height: 19px;
					color: $c-white;
					@include adaptive(1150) {
						position: relative;
						top: auto;
						transform: none;
						right: auto;
						padding-right: 10px;
					}

					span {
						opacity: 0;
						@include transition(opacity);
					}
				}
			}
		}

		&-mobile {
			display: flex;
			align-items: center;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1150) {
				z-index: 1100;
				opacity: 0;
				visibility: hidden;
				overflow-y: hidden;
				position: fixed;
				top: 66px;
				left: 0;
				width: 100%;
				height: calc(100vh - 66px);
				display: none;
				flex-direction: column;
				padding: 25px 20px;
				background-color: $c-181818;
				background-image: url('../img/img-texture.jpeg');
				backface-visibility: hidden;
				transform-origin: center;
				animation-duration: 0.5s;
				animation-fill-mode: both;
				animation-timing-function: ease-in-out;

				&.is-open {
					display: flex;
					opacity: 1;
					visibility: visible;
					animation-name: slideInLeft;
				}

				&.is-hide {
					animation-name: slideInRight;
				}
			}
		}

		&-special {
			@include desktop() {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-flex: 1;
				-ms-flex: 1;
				flex: 1;
				min-width: 1px;
				max-width: 100%;
			}
			@include adaptive(1150) {
				position: relative;
				height: 100%;
				width: 100%;
				border-radius: 20px;
				background-color: #000;
				padding: 30px 20px;
				@media (min-height: 812px) {
					height: 90%;
					transition: 0;
				}
			}
			@include mobile-extra() {
				padding: 20px 10px;
			}
		}

		&-middle {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1150) {
				flex: unset;
				width: 100%;
			}
		}

		&-right {
			display: flex;
			justify-content: flex-end;
			width: 435px;
			padding-left: 94px;
			@include adaptive(1150) {
				height: calc(100% - 306px);
				justify-content: flex-start;
				width: 100%;
				padding-left: 0;
			}
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptive(1150) {
			flex-direction: column;
			align-items: flex-start;
		}

		&-item {
			display: flex;
			@include adaptive(1150) {
				padding-bottom: 25px;
			}
		}

		&-link {
			position: relative;
			padding-left: 10px;
			padding-right: 10px;
			color: rgba(#FFFFFF, 0.6);
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			@include transition(color);
			@include adaptive(1150) {
				padding-left: 0;
				padding-right: 0;
				font-size: 22px;
				line-height: 26px;
				color: $c-white;
			}

			&:after {
				content: '';
				position: absolute;
				top: calc(100% + 11px);
				left: 5px;
				width: 0;
				height: 2px;
				background-color: $c-00abbf;
				@include transition(width);
				@include adaptive(1150) {
					left: 0;
				}
			}

			&:hover {
				color: $c-00abbf;
				@include transition(color);

				&:after {
					width: calc(100% - 10px);
					@include transition(width);
					@include adaptive(1150) {
						width: 100%;
					}
				}
			}
		}
	}

	&__option {
		display: flex;
		align-items: center;
		@include adaptive(1150) {
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
			position: relative;
		}

		&-col {
			&:not(:last-of-type) {
				padding-right: 32px;
				@include adaptive(1150) {
					padding-right: 0;
					width: 100%;
				}
			}

			&-1 {}
			&-2 {
				@media (min-width: 1024px) and (max-width: 1060px) {
					padding-right: 10px !important;
				}
				@include adaptive(1150) {
					order: 2;
				}
			}
			&-3 {
				padding-right: 0 !important;
			}
			&-4 {
				width: 100%;
				@include adaptive(1150) {
					position: absolute;
					bottom: 0;
				}
				&-mobile-language {
					max-width: 500px;
					display: none;
					@include adaptive(1150) {
						width: 90%;
						display: flex;
						position: relative;
						justify-content: space-between;
						li {
							width: 45%;
							border-radius: 39px;
							a {
								font-family: Rubik;
								font-style: normal;
								font-weight: normal;
								font-size: 22px;
								line-height: 26px;
								color: #fff;
								text-decoration: none;
								height: 38px;
								display: block;
								display: flex;
								justify-content: center;
								align-items: center;
							}
						}
						li.choosen {
								background: #3F4040;
						}
					}
				}
			}

			&.header__option-col-1 {
				flex: 1;
				padding-right: 17px;
				@include adaptive(1150) {
					display: none;
				}
			}
		}
	}

	&__search {
		position: absolute;
		top: 0;
		right: 0;
		width: 24px;
		height: 35px;
		transition: all .4s ease;

		&:before {
			content: '';
			position: relative;
			left: -9px;
			top: 50%;
			transform: translateY(-50%);
			display: block;
			width: 1px;
			height: 17px;
			background-color: $c-white;
			transition: all .4s ease;
		}

		&.is-open {
			width: 250px;
			background-color: $c-3c8392;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(0);
				height: 100%;
			}
		}

		&-wrapper {
			position: relative;
			height: 35px;
			@include adaptive(1150) {
				display: none;
			}
		}

		&-title {
			z-index: -1;
			position: absolute;
			top: 50%;
			right: 45px;
			transform: translateY(-50%);
			font-size: 16px;
			line-height: 19px;
			color: rgba($c-white, 0.6);
		}

		&-box {
			outline: none;
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			padding: 0 30px 0 5px;
			border: none;
			box-shadow: none;
			background-color: transparent;
			font-size: 16px;
			line-height: 19px;
			color: $c-white;
			@include inputPlaceholder {
				font-size: 16px;
				line-height: 19px;
				color: rgba($c-white, 0.6);
			}
		}

		&-button {
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 25px;
			height: 35px;
			padding-right: 5px;
		}

		&-icon {
			position: relative;
			display: block;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			border: 1px solid $c-white;
			transition: all .4s ease;

			&:before,
			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 1px;
				height: 4px;
				background-color: $c-white;
				transform: rotate(-45deg);
				transition: all .4s ease;
			}

			&:before {
				right: 0;
				top: 10px;
			}

			&:after {
				right: -2px;
				top: 12px;
			}

			.is-open & {
				width: 17px;
				height: 17px;
				border-radius: 50%;

				&:before,
				&:after {
					right: 6px;
					height: 7px;
				}

				&:before {
					transform: rotate(52deg);
					top: 6px;
				}

				&:after {
					transform: rotate(-230deg);
					top: 2px;
				}
			}
		}
	}

	&__lang {
		display: flex;
		align-items: center;
		color: rgba(#FFFFFF, 0.6);

		span {
			font-size: 16px;
			line-height: 19px;
			text-align: center;
		}

		.icon-font {
			position: relative;
			top: 1px;
			margin-left: 5px;
			font-size: 8px;
		}

		&-wrapper {
			position: relative;
			@include adaptive(1150) {
				display: none;
			}
		}

		&-message {
			opacity: 0;
			visibility: hidden;
			transform: translateY(-100%);
			position: absolute;
			top: calc(100% + 41px);
			left: calc(50% - 30px);
			width: 326px;
			min-height: 149px;
			margin-left: -113px;
			padding: 23px 23px;
			border-radius: 15px;
			background-color: #244F58;
			backface-visibility: hidden;
			transform-origin: center;
			@include transition(opacity 0.4s, visibility 0.4s, transform 0.4s);

			&.is-open {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				@include transition(opacity 0.4s, visibility 0.4s, transform 0.4s);

				p {
					animation-delay: 0.2s;
					animation-fill-mode: both;
					animation-duration: 0.75s;
					animation-timing-function: ease-in-out;
					animation-name: fadeIn;
				}
			}

			p {
				font-weight: 300;
				font-size: 15px;
				line-height: 26px;
				color: $c-white;

				a {
					color: $c-white;
					border-bottom: 1px dashed #fff;
				}
			}
		}
	}

	&__btn {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 28px;
		padding-left: 12px;
		padding-right: 12px;
		border: 2px solid #356E7A;
		border-radius: 2em;
		color: rgba(#FFFFFF, 0.6);
		font-size: 16px;
		line-height: 29px;
		text-align: center;
		width: 140px;
		@include adaptive(1150) {
			border: none;
			width: 100%;
			padding-left: 0;
		}
		@include desktop() {
			@include transition(background-color, color);
			transform: translateY(4px);
		    width: 130px;
		    text-align: center;
		    display: inline-block;
		    padding: 0;
			color: #00abbf;
			font-size: 16px;
			line-height: 26px;
		}

		&:before {
			opacity: 0;
			content: "Get a callback";
			z-index: -1;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			top: -2px;
			left: -2px;
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			border-radius: 2em;
			background-color: #326e7a;
			color: #fff;
			font-size: 16px;
			text-align: center;
			line-height: 28px;
			transform: translateX(-25%);
			@include desktop() {
				@include transition(transform, opacity);
			}
		}

		span {
			position: relative;
			top: -1px;
			display: block;
			@include adaptive(1150) {
				color:#00ABBF;
				font-size: 22px;
				line-height: 26px;
				width: 100%;
				text-align: left;
			}
			@include transition(transform);
		}

		&:hover {
			@include desktop {
				&:before {
					opacity: 1;
					transform: translateX(0%);
					@include transition(transform, opacity);
				}

				span {
					transform: translateX(200%);
					@include transition(transform);
				}
			}
		}
	}
}

// HEADER :: END
