// SECTION :: START
section#contact-main.contact-main
  .c-grid
    .contact-main__wrapper
      .contact-main__wrapper-left
        .contact-main__badge-wrapper
          p.contact-main__badge Contact Us
        h2.contact-main__title Get in touch
        .contact-main__desc At Area99 we give business access to a fast track to artificial intelligence, we do this at Area99 we give business access to a fast track to artificial intelligence, we do this.
        ul.contact-main__inf 
          li.contact-main__inf-list
            span.contact-main__inf-subtitle Support phone:
            a(href="#").contact-main__inf-link +49 17673553890
          li.contact-main__inf-list
            span.contact-main__inf-subtitle Contact:
            a(href="#").contact-main__inf-link contact@area99.com
          li.contact-main__inf-list
            span.contact-main__inf-subtitle Privacy concerns:
            a(href="#").contact-main__inf-link privacy@area99.com
        .contact-main__content
          h3 We'd love to hear from you !
          p Write to us, we'd love to hear from you ! If you are interested in our services, get a 
            a(href="#") consultation call
          form(action='example@example' method='POST').contact-main__content-form
            label
              span Full Name*
              input(type="text" required='')
              span.invalid-title Please fill this field
            label
              span Email address*
              input(type="email" required='')
              span.invalid-title Please fill this field
            label.text-label    
              span Your Message    
              textarea(rows='1' cols='1')
            label.checkbox-label.terms(for='1')
              input#1.checkbox(type='checkbox' required='' checked)
              span.checkmark
              span.text
                | I want to get Area99 annual report on industry competiveness.
              button Send
      .contact-main__wrapper-right
        .contact-main__wrapper-right-berlin.office
          span.office-title Berlin Office
          span.office-address Address:
          span.office-inf Area99 GmbH
          span.office-inf Waldstrasse 14
          span.office-inf D-10551 Berlin, Germany
          a(href="#").office-link Direction on Google maps

        .contact-main__wrapper-right-singapore.office
          span.office-title Singapore Office
          span.office-address Address:
          span.office-inf Area99 Limited
          span.office-inf Level 42, Suntec Tower Three
          span.office-inf 8 Temasek Boulevard, Singapore 038988
          a(href="#").office-link Direction on Google maps
// SECTION :: END
