@media (max-width: 768px) {
	* {
		box-sizing: border-box;
	}
	body {
		box-sizing: border-box;
		width: 100vw;
		padding: 0px;
	}
	#contentCntr {
		padding-right: 0;
	}
	#contentCntrTop {
		padding-left: 0;
	}
	#contentCntrBottom {
		padding-left: 0;
		margin: 0;
	}
	img, .container, #menuCntr .left, #menuCntr .right, #contentCntrTop, #contentCntrBottom, #mainCntr, #contentCntr, #headerCntr, #menuCntr, #footerCntr {
		width: 100%;
		/*overflow-x: hidden;*/
		position: relative;
		box-sizing: border-box;
	}
	.companyInfoBox {
		width: calc(100% - 20px);
	    position: relative;
	    margin: 0 auto;
	    display: block;
	    padding: 5px !important;
	    transform: translateX(10px);
	}
	.companyInfoBox p  {
		padding: 0px 30px 0px 0px;
		width: 100vw;
	}
	.logo {
		padding: 0;
	}
	.logo a {
		display: block;
		width: 100%;
	}
	.logo a img {
		display: block;
		margin: 10px auto;
	}
	.companyInfoBox {
		padding: 20px 5px;
	}
}