@media (max-width: 768px) {
	* {
		box-sizing: border-box;
	}
	body {
		box-sizing: border-box;
		width: 100vw;
		padding: 0px;
	}
	.desktoponly {
		display: none;
	}
	.transform {
		transform: rotate(-180deg);
		transition: .3s;
	}
	.mobonly {
		transition: .3s;
		width: 25px !important;
		height: 25px;
		display: block;
	}
	#contentCntrBottom {
		padding-bottom: 0;
	}
	#contentCntr {
		padding-right: 0;
	}
	#contentCntrTop {
		padding-left: 0;
	}
	#contentCntrBottom {
		padding-left: 0;
		margin: 0;
	}
	#footerCntr {
		overflow-x: hidden;
		overflow: auto;
		height: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	img, .rightCntrAdPlace, #mc_embed_blogcateg, #mc_embed_signup, .container, #menuCntr .left, #menuCntr .right, #contentCntrTop, #contentCntrBottom, #mainCntr, #contentCntr, #headerCntr, #menuCntr, #footerCntr {
		width: 100% !important;
		/*overflow-x: hidden;*/
		position: relative;
		box-sizing: border-box;
	}
	.companyInfoBox {
		width: calc(100% - 20px);
	    position: relative;
	    margin: 0 auto;
	    display: block;
	    padding: 5px !important;
	    transform: translateX(10px);
	}
	.companyInfoBox p  {
		padding: 0px 30px 0px 0px;
		width: 90vw;
	}
	.logo {
		padding: 0;
		width: 80%;
		padding-top: 15px;
	}
	.logo a {
		display: block;
		width: 100%;
	}
	.logo a img {
		display: block;
		margin: 10px auto;
	}
	.companyInfoBox {
		padding: 20px 5px;
	}
	#menuCntr .right h2 {
		display: none;
	}
	#menuCntr .right h2:first-child {
		display: block;
	}
	.fixed__nav-links {
		display: block;
	}
	.readmore {
		font-size: 12px;
	}
	.menu {
		z-index: 5;
		left: -100%;
		transition: .5s;
		background-color: #323232;
		width: 100vw;
		height: 100vh;
		top: 0%;
		left: 0%;
		text-align: center;
		position: fixed;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
	} 
	.menu.hidden {
		left: 100%;
		transition: .5s;
	}
	.menu ul li {
		float: inherit !important;
	}


	.hamburger {
			height: 46px;
			width: 50px;
			display: block;
			position: fixed;
			z-index: 11;
			border-radius: 30%;
			right: 20px;
			top: 35px;
			z-index: 100;
			cursor: pointer;
			background-color: #a5c806;
			}
		.hamburger.active {
			position: fixed;
		}	
		.hamburger.active .hamburger_button {
			background-color: #000;
		} 
		.hamburger.active .hamburger_button::before, .hamburger.active .hamburger_button::after {
			background-color: #000;
		}
		.hamburger_button {
			height: 2px;
			width: 60%;
			display: block;
			background-color: #373737;
		    position: relative;
		    top: 50%;
	      	margin: 0 auto;
			border-radius: 3px;
	    	transform: translateY(-50%);
	    	z-index: 21;
		}
		.hamburger_button::after, .hamburger_button::before {
			content: '';
			background-color: #373737;
			position: absolute;
			height: 2px;
			width: 100%;
			left: 0;
			border-radius: 3px;
			transition: top .3s, transform .3s .3s;
		}
		.hamburger_button::after {
			top: -7px;
		}
		.hamburger_button::before {
			top: 7px;
		}			

}