// SECTION :: START

.modal_report-main {
	padding-top: (104px + 47px);
	position: relative;
	margin-bottom: 200px;
	@include adaptive(1023) {
		margin-bottom: 100px;
	}
	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@include adaptive(1023) {
			display: block;
		}

		&-left {
			position: relative;
			flex: 1;
			min-width: 1px;
			max-width: 50%;
			padding-right: 20px;
			padding-bottom: 57px;

			// &:after {
			// 	content: '';
			// 	opacity: 0.2;
			// 	position: absolute;
			// 	top: 0;
			// 	right: 0;
			// 	width: 1px;
			// 	height: 100%;
			// 	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
			// }
			@include adaptive(1023) {
				padding-right: 0;
				padding-bottom: 0px;
				max-width: 100%;
				width: 100%;
				&::after {
					content: none;
				}
			}
		}

		&-right {
			padding-top: 90px;
			padding-left: 20px;
			max-width: 50%;
			@include adaptive(1023) {
				padding-top: 60px;
				padding-bottom: 0px;
				width: 100%;
				max-width: 100%;
				padding-left: 0;
				float: right;
			}
			.button {
				display: inline-block;
				float: right;
				font-family: Rubik;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 21px;
				color:#356E7A;
				background-color:transparent;
				border: none;
				position: relative;
				padding-bottom: 10px;
				cursor: pointer;
				margin-top: 100px;
				@include adaptive(1023) {
					 color:#00ABBF;
					 margin-top: 40px;
				}
			}
			.button::before {
				content: '';
				position: absolute;
				left: -40px;
				top: -5px;
				width: 35px;
				height: 35px;
				border-radius: 50px;
				background:url("../img/black-arrow.svg") 50% 55%/contain no-repeat;
				background-color:#356E7A;
				background-size:40%;
				@include adaptive(1023) {
					 background-color:#00ABBF;
				}
			}
			.try {
				width: 45%;
				@include adaptive(1023) {
					width: 100%;
				}
				.icon_select_mate {
					position: absolute;
					z-index: 999999999999;
					top: 13px;
					right: 2%;
					font-size: 16px;
					height: 22px;
					transition: all 275ms;
				}
				.select_mate {
					cursor: pointer;
					border-radius: 3px;
					-webkit-appearance: none;
					border-bottom: 1px solid #fff;
					display: block;
					width: 100%;
					height: 44px;
					font-family: Rubik;
					font-style: normal;
					font-weight: 300;
					font-size: 15px;
					line-height: 24px;
					color: #161616;
					position: relative;
					float: left;
					width: 100%;
					background-color: transparent;
					transition: all 375ms ease-in-out;
					select {
						position: absolute;
						overflow: hidden !important;
						height: 0px;
						opacity: 0;
						z-index: -1;
					}
				}
				.cont_list_select_mate {
					position: relative;
					float: left;
					width: 100%;
				}
				.cont_select_int {
					position: absolute;
					left: 0px;
					top: 0px;
					z-index: 999;
					overflow: hidden;
					height: 0px;
					width: 100%;
					background-color: #181818;
					padding: 0px;
					margin-bottom: 0px;
					margin-top: 0px;
					border-radius: 0px 0px 3px 3px;
					box-shadow:rgb(0, 0, 0) 3px 8px 26px;
					transition: all 375ms ease-in-out;
					li {
						position: relative;
						float: left;
						width: 100%;
						background-color: transparent;
						list-style-type: none;
						padding: 10px 2%;
						margin: 0px;
						transition: all 275ms ease-in-out;
						display: block;
						cursor: pointer;
						color: #fff;
						&:last-child {
							border-radius: 3px;
							border-bottom: 0px;
						}
						&:hover {
							background-color: #03c9d53b;
						}
					}
					.active {
						background-color: #00abbf;
					}
				}
				.selecionado_opcion {
					padding:0;
					width: 100%;
					display: block;
					margin: 0px;
					cursor: pointer;
					position: relative;
					z-index: 99999999;
					background-color: #181818;
				}
			}

			.modal_report-main__link-wrapper {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				max-width: 500px;
				&-item {
				width: 50%;
				padding-bottom: 15px;
				}
			}
			
		}
	}

	&__badge {
		position: relative;
		border-bottom: 1px solid rgba(#FFFFFF, 0.6);
		font-weight: 300;
		display: inline-block;
		font-size: 15px;
		line-height: 24px;
		color: rgba(#FFFFFF, 0.6);
	}
	
	&__badge::before {
		content: '';
		background: url('../img/transparent_arrow.svg') center center/contain no-repeat;
		width: 15px;
		height: 10px;
		margin-right: 10px;
		opacity: 0.6;
		display: inline-block;
	}

	&__title {
		padding-bottom: 48px;
		@extend %fontUbuntu;
		font-weight: bold;
		font-size: 50px;
		line-height: 57px;
		color: #FFFFFF;
		@include adaptive(1023) {
			font-size: 35px;
		}
	}

	&__subtitle {
		padding-bottom: 14px;
		font-weight: 500;
		font-size: 26px;
		line-height: 37px;
		color: #FFFFFF;
	}

	&__desc {
		padding-bottom: 100px;
		font-weight: 300;
		font-size: 18px;
		line-height: 36px;
		color: #FFFFFF;

		&:last-of-type {
			padding-bottom: 40px;
		}

		strong {
			font-weight: bold;
		}

		a {
			color: #00ABBF;
			border-bottom: 1px dashed transparent;
			@include transition(border-color);

			&:hover {
				border-color: #00ABBF;
				@include transition(border-color);
			}
		}
	}

	&__content {
		h3 {
			font-family: Rubik;
			font-style: normal;
			font-weight: 500;
			font-size: 25px;
			line-height: 37px;
			color: #fff;
			margin-bottom: 25px;
		}
		p {
			font-family: Rubik;
			color: #fff;
			font-weight: 300;
			font-size: 18px;
			line-height: 36px;
			padding-bottom: 20px;
			a {
				font-family: Rubik;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 36px;
				color: #00ABBF;
			}
		}
		&-form {
			display: flex;
			justify-content: space-between;
			flex-flow: wrap;
			@include adaptive(1023) {
				display: block;
			}
			label {
				width: 45%;
				position: relative;
				> span {
					font-family: Rubik;
					font-style: normal;
					font-weight: 300;
					font-size: 13px;
					line-height: 24px;
					display: block;
					color: #FFFFFF;
					opacity: 0.6;
				}
				input, textarea {
					width: 100%;
				    background-color: transparent;
				    border-top: none;
				    border-left: none;
				    border-right: none;
				    padding-bottom: 5px;
				    padding-left: 10px;
				    border-bottom: 1px solid #fff;
				    font-family: Rubik;
				    font-style: normal;
				    font-weight: 300;
				    font-size: 15px;
				    line-height: 24px;
				    color: #fff;
				    resize: none;
				}
				input:focus, textarea:focus {
					outline:none;
				}
				input.invalid {
					border-bottom: 1px solid #FF005C;
				}
				.invalid-title {
					opacity: 0;
				}
				.invalid-title.active {
					color:#FF005C;
					font-family: Rubik;
					font-style: normal;
					font-weight: 300;
					font-size: 13px;
					line-height: 24px;
					display: block;
					margin-top: 10px;
					opacity: 1; 
				}
			}
			.text-label {
				margin-top: 25px;
				width: 100%;
				a {
					font-family: Rubik;
					font-style: normal;
					font-weight: 300;
					font-size: 15px;
					line-height: 24px;
					color: #FFFFFF;
					opacity: 0.6;
					text-decoration: underline;
				}
				a:nth-child(2) {
					margin-left: 20px;
				}
			}
			button:focus {
				outline: none;
			}
		}
	}
}
// SECTION :: END
