// SECTION :: START

.modal_search-sorry-main {
	padding-top: (104px + 47px);
	position: relative;
	margin-bottom: 100px;
	@include adaptive(1023) {
		margin-bottom: 100px;
	}
	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		@include adaptive(1023) {
			display: block;
		}

		&-left {
			position: relative;
			flex: 1;
			min-width: 1px;
			max-width: 30%;
			padding-right: 20px;
			padding-bottom: 57px;

			// &:after {
			// 	content: '';
			// 	opacity: 0.2;
			// 	position: absolute;
			// 	top: 0;
			// 	right: 0;
			// 	width: 1px;
			// 	height: 100%;
			// 	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
			// }
			@include adaptive(1023) {
				padding-right: 0;
				padding-bottom: 0px;
				max-width: 100%;
				width: 100%;
				&::after {
					content: none;
				}
			}
		}

		&-right {
			padding-top: 40px;
			max-width: 40%;
			width: 40%;
			position: relative;
			@include adaptive(1023) {
				padding-top: 60px;
				padding-bottom: 0px;
				width: 100%;
				max-width: 100%;
				padding-left: 0;
				float: right;
			}
			.button {
				display: inline-block;
				float: right;
				font-family: Rubik;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 21px;
				color: #00ABBF;
				background-color:transparent;
				border: none;
				position: absolute;
				right: 0;
				padding-bottom: 10px;
				cursor: pointer;
				@include adaptive(1023) {
					 color:#00ABBF;
				}
			}

			.modal_search-sorry-main__link-wrapper {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				max-width: 500px;
				&-item {
				width: 50%;
				padding-bottom: 15px;
				}
			}
			
		}
	}

	&__badge {
		position: relative;
		border-bottom: 1px solid rgba(#FFFFFF, 0.6);
		font-weight: 300;
		display: inline-block;
		font-size: 15px;
		line-height: 24px;
		color: rgba(#FFFFFF, 0.6);
	}
	
	&__badge::before {
		content: '';
		background: url('../img/transparent_arrow.svg') center center/contain no-repeat;
		width: 15px;
		height: 10px;
		margin-right: 10px;
		opacity: 0.6;
		display: inline-block;
	}

	&__title {
		padding-bottom: 28px;
		@extend %fontUbuntu;
		font-weight: bold;
		font-size: 50px;
		line-height: 57px;
		color: #FFFFFF;
		@include adaptive(1023) {
			font-size: 35px;
		}
	}

	&__subtitle {
		padding-bottom: 14px;
		font-weight: 500;
		font-size: 26px;
		line-height: 37px;
		color: #FFFFFF;
	}

	&__desc {
		padding-bottom: 100px;
		font-weight: 300;
		font-size: 18px;
		line-height: 36px;
		.special {
			opacity: 0.4;
			color: #FFFFFF;
			display: inline;
		}
		.special2 {
			color: #fff;
			display: inline;
		}
		&:last-of-type {
			padding-bottom: 40px;
		}

		strong {
			font-weight: bold;
		}

		a {
			color: #00ABBF;
			border-bottom: 1px dashed transparent;
			@include transition(border-color);

			&:hover {
				border-color: #00ABBF;
				@include transition(border-color);
			}
		}
	}

	&__content {
		&-form, #searchBar {
			display: flex;
			justify-content: space-between;
			flex-flow: wrap;
			@include adaptive(1023) {
				display: block;
			}
			label {
				width: 100%;
				position: relative;
				display: flex;
				justify-content: space-between;
				input {
					width: 100%;
				    background-color: transparent;
				    border-top: none;
				    border-left: none;
				    border-right: none;
				    padding-bottom: 5px;
				    padding-left: 10px;
				    border-bottom: 1px solid #fff;
				    font-family: Rubik;
				    font-style: normal;
				    font-weight: 300;
				    font-size: 15px;
				    line-height: 24px;
				    color: #fff;
				    resize: none;
				}
				input:focus, textarea:focus {
					outline:none;
				}
				input.invalid {
					border-bottom: 1px solid #FF005C;
				}
				.invalid-title {
					opacity: 0;
				}
				.invalid-title.active {
					color:#FF005C;
					font-family: Rubik;
					font-style: normal;
					font-weight: 300;
					font-size: 13px;
					line-height: 24px;
					display: block;
					margin-top: 10px;
					opacity: 1; 
				}
			}
			button:focus {
				outline: none;
			}
		}
		&-lastpart {
			margin-top: 40px;
			h3 {
				font-family: Rubik;
				font-style: normal;
				font-weight: 500;
				font-size: 25px;
				line-height: 37px;
				color: #fff;
				margin-bottom: 25px;
			}
			p {
				font-family: Rubik;
				color: #fff;
				font-weight: 300;
				font-size: 18px;
				line-height: 36px;
				padding-bottom: 20px;
				a {
					font-family: Rubik;
					font-style: normal;
					font-weight: 300;
					font-size: 18px;
					line-height: 36px;
					color: #00ABBF;
				}
			}
		}
	}
}
// SECTION :: END
