// SECTION :: START
section#error-main.error-main
  .c-grid
    .error-main__wrapper
      .error-main__wrapper-left
        .error-main__badge-wrapper
          a(href="services.html").error-main__badge Back to services
        h2.error-main__title Oops! Something went wrong.
        .error-main__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum tortor nec velit elementum, vel efficitur augue sodales.
        button.button Subscribe again 
      .error-main__wrapper-right
        img(src="img/oops.svg", alt="")          

// SECTION :: END
