.screen {
	background: url('../img/background.jpg') center top / cover no-repeat;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.transfer {
	display: block;
	width: 280px;
	height: 50px;
	transform: translateY(-20px);
	padding: 20px;
}
.coming {
	color: #000;
	font-size: 25px;
	font-family: 'EB Garamond';
}
@media (max-width: 1024px) {
	.transfer {
		width: 450px;
		height: 60px;
		transform: translateY(-35px);
	}
}