.submenu {
	position: absolute;
	width: 150px;
	opacity: 0;
	display: none;
	text-align: center;
	top: 45px;
	left: -10px;
	transition: 1s ease;
}
.about_pessi {
	position: relative;
}
.submenu a {
	display: block;
}
.first {
	padding-top: 12px !important;
}
.submenu.hover {
	background: #00587c;
	opacity: 1;
	visibility: visible;
	top: 25px;
	display: block !important;
	transition: 1s ease;
}
.header {
	overflow: visible;
}
@media (max-width: 768px) {
	.submenu {
		display: none;
	}
	.submenu.hover {
		display: none !important;
	}
}
@media (max-width: 767px) {
.achievements__list-info span {
font-size: 32px;
line-height: 1;
}
}
.achievements__list-info span {
font-size: 42px;
line-height: 1;
}
.achievements__list-info .million{
margin-left: 6px;
font-size: 32px;
vertical-align: text-top;
}
