// SECTION :: START
section#support-main.support-main
  .c-grid
    .support-main__wrapper
      .support-main__wrapper-left
        .support-main__badge-wrapper
          p.support-main__badge Support
        h2.support-main__title Area99 Support
        .support-main__desc At Area99 we give business access to a fast track to artificial intelligence, we do this at Area99 we give business access to a fast track to artificial intelligence, we do this.
        .support-main__content
          h3 Restricted area : please login first
          form(action='example@example' method='POST').support-main__content-form
            label
              span Email
              input(type="text" required='')
              span.invalid-title Please fill this field
            label
              span Password
              input(type="email" required='')
              span.invalid-title Please fill this field
            label.text-label
              a(href="#") Forgot password?
              a(href="#") Recover token info
              button.desktopbutton Sign in
              button.mobbutton Send
      .support-main__wrapper-right
        ul.support-main__link-wrapper
          li.support-main__link-item
            a.support-main__link(href='#we-ethics')
              span Ethics and core values
              i.icon-font.icon-corner
          li.support-main__link-item
            a.support-main__link(href='#we-are')
              span Who we are ?
              i.icon-font.icon-corner      
          li.support-main__link-item
            a.support-main__link(href='#')
              span Social Responsability
              i.icon-font.icon-corner      
          li.support-main__link-item
            a.support-main__link(href='#we-do')
              span What we do ?
              i.icon-font.icon-corner       
          li.support-main__link-item
            a.support-main__link(href='#')
              span Stay in touch
              i.icon-font.icon-corner
          li.support-main__link-item
            a.support-main__link(href='#we-it')
              span How we do it ?
              i.icon-font.icon-corner                
          

// SECTION :: END
