.w-checkbox {
	display: block;
	margin-bottom: 5px;
	padding-left: 20px;
}

.w-checkbox:before {
	content: ' ';
	display: table;
	-ms-grid-column-span: 1;
	grid-column-end: 2;
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-row-span: 1;
	grid-row-end: 2;
	-ms-grid-row: 1;
	grid-row-start: 1;
}

.w-checkbox:after {
	content: ' ';
	display: table;
	-ms-grid-column-span: 1;
	grid-column-end: 2;
	-ms-grid-column: 1;
	grid-column-start: 1;
	-ms-grid-row-span: 1;
	grid-row-end: 2;
	-ms-grid-row: 1;
	grid-row-start: 1;
	clear: both;
}

.w-checkbox-input {
	float: left;
	margin-bottom: 0px;
	margin-left: -20px;
	margin-right: 0px;
	margin-top: 4px;
	line-height: normal;
}

body {
	font-family: Ubuntu, Helvetica, sans-serif;
	color: #333;
	font-size: 14px;
	line-height: 20px;
}

h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 36px;
	line-height: 44px;
	font-weight: 700;
}

p {
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 1.3em;
	font-weight: 300;
}

a {
	color: #042b8a;
	text-decoration: underline;
}

.main-video {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	min-height: 700px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar {
	z-index: 1000;
	padding-top: 11px;
	padding-bottom: 11px;
	background-color: transparent;
	-webkit-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

.navbar.main {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	z-index: 999;
	background-color: transparent;
}

.navbar-container {
	position: relative;
	overflow: hidden;
	max-width: none;
	padding-right: 40px;
	padding-left: 40px;
}

.btn {
	padding-right: 38px;
	padding-left: 38px;
	border: 2px solid #fff;
	border-radius: 20px;
	background-color: #042b8a;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	text-align: center;
}

.btn:hover {
	background-color: #2cb1f4;
	color: #042b8a;
}

.btn.yellow {
	background-color: #ffd900;
	color: #042b8a;
}

.btn.yellow:hover {
	background-color: #2cb1f4;
}

.btn.yellow.nav-yellow-btn {
	margin-right: 10px;
	padding-right: 40px;
	padding-left: 40px;
	border-style: none;
}

.btn.yellow.nav-yellow-btn.alignleft {
	padding-top: 11px;
	padding-bottom: 11px;
	font-weight: 700;
}

.btn.yellow.nav-yellow-btn.alignleft.var-2 {
	padding-right: 2vw;
	padding-left: 2vw;
	background-color: #fff;
	color: #000;
}

.btn.yellow.nav-yellow-btn.alignleft.var-2:hover {
	background-color: #2cb1f4;
	color: #092776;
}

.btn.blue-btn {
	border-style: none;
}

.btn.blue-btn.treners-btn {
	height: 46px;
	padding: 13px 48px;
	border-radius: 40px;
}

.btn.white-btn {
	margin-top: 23px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-color: #042b8a;
	border-radius: 50px;
	background-color: #fff;
	color: #042b8a;
	font-size: 16px;
	font-weight: 500;
}

.btn.white-btn:hover {
	background-color: #2cb1f4;
}

.btn.big-btn {
	height: 60px;
	padding: 18px 70px;
	border-radius: 40px;
	font-size: 16px;
	font-weight: 700;
}

.btn.big-btn.lightbox-link {
	margin-top: 131px;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
}

.btn.big-btn.main-btn {
	height: 49px;
	padding: 13px 32px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.btn.big-btn.main-btn:hover {
	background-color: #fff;
	color: #092776;
}

.btn.no-border {
	border-color: #042b8a;
}

.btn.no-border:hover {
	border-color: #2cb1f4;
}

.btn.alignleft {
	float: right;
}

.btn.alignleft.var2 {
	padding-right: 2vw;
	padding-left: 2vw;
	background-color: transparent;
	font-weight: 700;
}

.btn.alignleft.var2:hover {
	background-color: #2cb1f4;
	color: #fff;
}

.btn.alignleft.var2.fixed {
	border-color: #092776;
	background-color: #092776;
}

.btn.alignleft.var2.fixed:hover {
	border-color: #2cb1f4;
	background-color: #2cb1f4;
}

.btn.alignleft.hidden {
	display: none;
}

.nav-menu {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}

.navbar-social-block {
	display: none;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	float: left;
}

.navbar-social-block.footer-social {
	display: block;
	float: right;
}

.navbar-social-block.nav-mobile {
	display: block;
}

.social-link {
	width: 30px;
	height: 30px;
	margin-left: 10px;
}

.navbar-tel-link {
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 0px;
	float: right;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
}

.navbar-tel-link.blue {
	color: #042b8a;
}

.navbar-tel-link.nav-mobile {
	display: none;
}

.navbar-tel-link.ver2 {
	-webkit-transition: color 300ms ease;
	-o-transition: color 300ms ease;
	transition: color 300ms ease;
}

.navbar-tel-link.ver2:hover {
	color: #2cb1f4;
}

.container {
	position: relative;
	overflow: hidden;
	max-width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
}

.container.step {
	overflow: visible;
}

.container.glub {
	overflow: visible;
	height: 100%;
}

.container.map {
	padding-right: 45px;
	padding-left: 45px;
}

.container.left-align {
	text-align: left;
}

.main-logo {
	margin-bottom: 28px;
}

.main-h1 {
	margin-bottom: 39px;
}

.main-bottom-div {
	width: 100%;
	height: 80px;
}

.scroll-link {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 30px;
	display: block;
	width: 50px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	background-image: url('../images/swimm-bottom.svg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.trener-section {
	display: none;
	padding-top: 120px;
	padding-bottom: 180px;
}

.trener-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.trener-left-col {
	width: 46%;
}

.trener-right-col {
	width: 54%;
	padding-top: 4px;
	padding-left: 40px;
	text-align: left;
}

.trener-h2 {
	margin-bottom: 38px;
	color: #042b8a;
	font-size: 42px;
	font-weight: 600;
}

.trener-description {
	margin-bottom: 32px;
	padding-right: 39px;
	opacity: 0.5;
	color: #000;
	font-size: 30px;
}

.trener-about {
	padding-right: 72px;
	padding-bottom: 0px;
	color: #042b8a;
	font-size: 18px;
	line-height: 1.55em;
	font-weight: 500;
}

.clear {
	height: 900px;
	margin-top: 197px;
}

.hov-trening {
	position: relative;
	padding-top: 98px;
	padding-bottom: 98px;
	background-color: #2cb1f4;
}

.ht-top-decor {
	position: absolute;
	left: 0px;
	right: 0px;
	display: block;
	width: 200vw;
	height: 132px;
	margin-right: auto;
	margin-left: auto;
	background-image: url('../images/33.svg');
	background-position: 0px 50%;
	background-size: auto 132px;
	background-repeat: repeat-x;
}

.ht-top-decor.bottom {
	background-image: url('../images/33.svg');
}

.ht-decor-wrapper {
	position: absolute;
	left: 0px;
	top: -85px;
	right: 0px;
	overflow: hidden;
	width: 100%;
	height: 130px;
}

.ht-decor-wrapper.bottom {
	left: 0px;
	top: auto;
	right: 0px;
	bottom: -85px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.ht-h2 {
	padding-top: 67px;
	padding-bottom: 90px;
}

.heading {
	margin-bottom: 43px;
	color: #042b8a;
	font-size: 42px;
	line-height: 1.5em;
}

.ht-p {
	display: block;
	max-width: 862px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 45px;
	padding-left: 45px;
	color: #fff;
	font-size: 18px;
	line-height: 1.45em;
	font-weight: 500;
}

.ht-bottom-decor.ht-top-decor {
	left: auto;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-position: 100% 50%;
}

.trening-step-section {
	padding-top: 202px;
	padding-bottom: 202px;
}

.section-h2 {
	margin-bottom: 105px;
	color: #042b8a;
	font-size: 42px;
	line-height: 1.4em;
	text-align: center;
}

.section-h2.advantages {
	margin-bottom: 20px;
	letter-spacing: 0px;
}

.section-h2.advantages.white {
	display: block;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
	line-height: 1.5em;
}

.section-h2.advantages.white.big {
	max-width: 995px;
	margin-bottom: 101px;
}

.section-h2.advantages.big {
	margin-bottom: 26px;
}

.section-h2.advantages.big.expert {
	display: block;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.section-h2.advantages.big.polo {
	max-width: 600px;
	margin-bottom: 25px;
	color: #fff;
	line-height: 58px;
	text-align: left;
}

.section-h2.advantages.small {
	color: #fff;
	font-size: 32px;
	line-height: 1.2em;
	font-weight: 600;
	text-align: left;
	letter-spacing: 1px;
}

.section-h2.big {
	margin-bottom: 34px;
	font-size: 42px;
	line-height: 1.5em;
}

.section-h2.big.white.test-h2 {
	margin-bottom: 65px;
}

.section-h2.big.contact-h2 {
	margin-bottom: 26px;
}

.section-h2.white {
	color: #fff;
}

.section-h2.white.big.gallery {
	display: block;
	max-width: 1100px;
	margin-right: auto;
	margin-bottom: 116px;
	margin-left: auto;
	line-height: 1.2em;
}

.section-h2.white.big.map {
	display: block;
	max-width: 900px;
	margin-right: auto;
	margin-bottom: 52px;
	margin-left: auto;
}

.section-h2.modal-h2 {
	margin-bottom: 20px;
	font-size: 30px;
}

.section-h2.padding-bottom-small {
	margin-bottom: 50px;
}

.section-h2.treners {
	margin-bottom: 40px;
	padding-bottom: 1px;
}

.step-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.step-col {
	position: relative;
	width: 25%;
	padding-right: 20px;
	padding-left: 20px;
}

.step-col._3 {
	width: 50%;
}

.step-h3 {
	margin-top: 25px;
	margin-bottom: 14px;
	color: #042b8a;
}

.step-h3.advantages {
	margin-top: 36px;
	margin-bottom: 27px;
}

.step-h3.advantages.var2 {
	margin-top: 44px;
	font-size: 30px;
}

.step-h3.expert {
	margin-bottom: 27px;
	color: #000;
}

.step-h3.expert.blue {
	color: #042b8a;
}

.step-p {
	color: #042b8a;
	font-size: 15px;
	line-height: 1.6em;
	font-weight: 500;
}

.step-p.swimming {
	color: #fff;
}

.step-p.expert {
	padding-right: 20px;
	padding-left: 20px;
	color: #000;
	font-weight: 300;
}

.step-p.expert.blue {
	color: #042b8a;
}

.step-arrow {
	position: absolute;
	top: 72px;
	right: -12px;
}

.group-section {
	position: relative;
	margin-bottom: 90px;
	padding-top: 52px;
	padding-bottom: 57px;
	background-color: #2cb1f4;
}

.group-decorwrapper {
	position: absolute;
	left: 0px;
	top: -140px;
	right: 0px;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
}

.group-decorwrapper.bottom {
	left: 0px;
	top: auto;
	right: 0px;
	bottom: -140px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.group-decor {
	position: absolute;
	left: -100vw;
	right: -100vw;
	bottom: 0px;
	display: block;
	width: 200vw;
	height: 132px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 40px;
	background-image: url('../images/222.svg');
	background-position: 100% 50%;
	background-size: auto 132px;
	background-repeat: repeat-x;
}

.group-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.group-col {
	width: 33%;
}

.group-h2 {
	margin-top: 41px;
	margin-bottom: 28px;
	color: #042b8a;
	font-size: 30px;
}

.group-p {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}

.white-circle {
	width: 24px;
	height: 24px;
	margin-left: 184px;
	border-radius: 24px;
	background-color: #fff;
}

.white-circle._2 {
	width: 55px;
	height: 55px;
	margin-top: 5px;
	margin-right: 311px;
	float: right;
	border-radius: 55px;
}

.blue-circle {
	position: absolute;
	left: 100px;
	top: -112px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #2cb1f4;
}

.blue-circle._2 {
	left: 285px;
	top: -107px;
	width: 40px;
	height: 40px;
	background-color: #042b8a;
}

.treners-section {
	display: none;
	padding-top: 23px;
	padding-bottom: 153px;
	text-align: center;
}

.treners-section.ver2 {
	padding-top: 100px;
}

.treners-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.treners-col {
	width: 33.33333333%;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
}

.treners-block {
	padding: 40px 40px 50px;
	border-radius: 40px;
	-webkit-box-shadow: 0 0 8px 0 rgba(6, 22, 60, 0.11), 0 2px 4px 0 rgba(4, 43, 138, 0.08);
	box-shadow: 0 0 8px 0 rgba(6, 22, 60, 0.11), 0 2px 4px 0 rgba(4, 43, 138, 0.08);
	text-align: center;
}

.treners-image {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
	background-image: -o-linear-gradient(top, #000, #fff);
	background-image: linear-gradient(180deg, #000, #fff);
}

.treners-photo {
	display: block;
	overflow: hidden;
	width: 120px;
	height: 120px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 60px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#062d8b), to(#f0ece0));
	background-image: -o-linear-gradient(top, #062d8b, #f0ece0);
	background-image: linear-gradient(180deg, #062d8b, #f0ece0);
}

.treners-h3 {
	margin-bottom: 30px;
	color: #042b8a;
	font-size: 20px;
}

.treners-rate {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 21px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.rate-number {
	padding-left: 6px;
	font-size: 20px;
}

.rate-num {
	margin-bottom: 30px;
	color: #042b8a;
	font-size: 20px;
}

.button {
	padding-top: 10px;
	padding-bottom: 10px;
}

.lk-section {
	position: relative;
	padding-top: 34px;
	padding-bottom: 28px;
	background-color: #042b8a;
}

.lk-decor {
	position: absolute;
	left: 0px;
	top: -80px;
	right: 0px;
	overflow: hidden;
	height: 86px;
}

.lk-decor.bottom {
	left: 0px;
	top: auto;
	right: 0px;
	bottom: -80px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.lk-top {
	position: absolute;
	width: 200vw;
	height: 86px;
	background-image: url('../images/Asset_2.svg');
	background-position: 0px 50%;
	background-size: auto 86px;
	background-repeat: repeat-x;
}

.lk-h2 {
	margin-bottom: 18px;
	color: #2cb1f4;
	line-height: 1.2em;
}

.lk-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.lk-col {
	width: 57%;
	text-align: left;
}

.lk-col.left {
	width: 43%;
	padding-top: 111px;
	padding-right: 35px;
}

.lk-p {
	color: #fff;
	font-size: 18px;
	line-height: 1.5em;
	font-weight: 500;
}

.advantages-section {
	padding-top: 200px;
	padding-bottom: 0px;
}

.advantages-section.swimming {
	padding-top: 80px;
	padding-bottom: 94px;
	background-color: #2cb1f4;
}

.advantages-section.swimming.var2 {
	background-color: transparent;
}

.advantages-section.expert {
	padding-top: 91px;
	padding-bottom: 150px;
}

.advantages-section.expert.pb250 {
	padding-bottom: 250px;
}

.section-subtitle {
	display: block;
	max-width: 944px;
	margin-right: auto;
	margin-bottom: 141px;
	margin-left: auto;
	color: #042b8a;
	line-height: 1.5em;
	font-weight: 500;
}

.section-subtitle.normal {
	margin-bottom: 0px;
	padding-right: 40px;
	padding-left: 40px;
	font-weight: 400;
}

.advantages-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.advantages-row.var2 {
	padding-top: 62px;
}

.advantages-col {
	width: 33.33333333%;
	padding-right: 44px;
	padding-left: 44px;
}

.advantages-col.treners {
	padding-right: 11px;
	padding-left: 11px;
}

.advantages-col.treners.two-treners {
	width: 50%;
	padding-right: 30px;
	padding-left: 30px;
}

.glub-section {
	position: relative;
	padding-top: 131px;
	padding-bottom: 205px;
	background-color: #2cb1f4;
	background-image: url('../images/Asset_10.svg');
	background-position: 50% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.glub-decor {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 114px;
	background-image: url('../images/2223.svg');
	background-position: 50% 0px;
	background-size: auto 114px;
	background-repeat: repeat-x;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.glub-decor.bottom {
	left: 0px;
	top: auto;
	right: 0px;
	bottom: 0px;
	background-image: url('../images/222.svg');
	background-position: 48% 4px;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.glub-krolik {
	position: absolute;
	left: -125px;
	top: -89px;
}

.gallery-section {
	padding-top: 55px;
	background-color: #2cb1f4;
}

.gallery-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.logo-section {
	height: 220px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	background-color: #fff;
	align-items: center;
}
.logo-section .info-span {
	font-size: 18px;
	font-family: "Ubuntu";
	color: rgb(51, 91, 162);
	line-height: 1.2;
	width: 20%;
	text-align: center;
}
.logo-section .logo-brand {
	width: 170px;
	height: 170px;
	display: block;
	background: url(../images/logo-brand.png) no-repeat center center/contain;
}
.mob-info-span {
	display: none;
}
.gallery-col {
	width: 25%;
	height: 24vw;
}

.gallery-lightbox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.gallery-imge {
	height: 24vw;
	max-width: none;
	-webkit-box-shadow: 0 2px 20px 2px transparent;
	box-shadow: 0 2px 20px 2px transparent;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

.gallery-imge:hover {
	-webkit-box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.45);
	box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.45);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.div-block {
	display: none;
	height: 5000px;
	background-color: #c7c7c7;
}

.test {
	margin-top: 60px;
	padding: 30px;
	background-color: #9c9c9c;
	text-align: center;
}

.sticky {
	position: relative;
	top: 60px;
	padding-top: 52px;
	padding-bottom: 52px;
	background-color: #000;
	color: #fff;
	text-align: center;
}

.div-block-2 {
	position: relative;
	display: block;
	overflow: hidden;
	height: 400px;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}

.track {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 6000px;
	height: 400px;
	background-image: -webkit-gradient(linear, left top, right top, from(#000), color-stop(13%, #0eb478), color-stop(22%, #ca1d1d), color-stop(39%, #dee626), color-stop(53%, #042b8a), color-stop(72%, #b9699f), color-stop(86%, #b9a721), to(#fff));
	background-image: -o-linear-gradient(left, #000, #0eb478 13%, #ca1d1d 22%, #dee626 39%, #042b8a 53%, #b9699f 72%, #b9a721 86%, #fff);
	background-image: linear-gradient(90deg, #000, #0eb478 13%, #ca1d1d 22%, #dee626 39%, #042b8a 53%, #b9699f 72%, #b9a721 86%, #fff);
}

.ts-p {
	display: block;
	max-width: 1000px;
	margin-right: auto;
	margin-bottom: 36px;
	margin-left: auto;
	padding-right: 24px;
	padding-left: 24px;
	color: #042b8a;
	font-size: 22px;
	line-height: 1.55em;
	font-weight: 500;
}

.ts-name {
	margin-top: 13px;
	margin-bottom: 0px;
	color: #042b8a;
	font-size: 22px;
	line-height: 1.5em;
	font-weight: 700;
}

.ts-city {
	color: #042b8a;
	font-size: 20px;
	line-height: 1.3em;
	font-weight: 500;
}

.ts-slider {
	height: auto;
	margin-top: 79px;
	background-color: #fff;
}

.slider-arrow {
	color: #042b8a;
}

.ts-section {
	padding-top: 109px;
	padding-bottom: 115px;
}

.ts-section.pt-200 {
	padding-top: 200px;
	padding-bottom: 150px;
}

.ts-slide {
	padding-top: 5px;
	padding-bottom: 60px;
}

.slide-nav {
	font-size: 6px;
}

.test-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 650px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 43, 138, 0.3)), to(rgba(4, 43, 138, 0.3))), url('../images/IMG_5791.jpg');
	background-image: -o-linear-gradient(top, rgba(4, 43, 138, 0.3), rgba(4, 43, 138, 0.3)), url('../images/IMG_5791.jpg');
	background-image: linear-gradient(180deg, rgba(4, 43, 138, 0.3), rgba(4, 43, 138, 0.3)), url('../images/IMG_5791.jpg');
	background-position: 0px 0px, 50% 50%;
	background-size: auto, cover;
	background-repeat: repeat, no-repeat;
	background-attachment: scroll, fixed;
}

.test-section.second {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 43, 138, 0.4)), to(rgba(4, 43, 138, 0.4))), url('../images/back.jpg');
	background-image: -o-linear-gradient(top, rgba(4, 43, 138, 0.4), rgba(4, 43, 138, 0.4)), url('../images/back.jpg');
	background-image: linear-gradient(180deg, rgba(4, 43, 138, 0.4), rgba(4, 43, 138, 0.4)), url('../images/back.jpg');
	background-position: 0px 0px, 50% 50%;
}

.test-section.ver2 {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 43, 138, 0.3)), to(rgba(4, 43, 138, 0.3))), url('../images/tild6365-3738-4637-b632-343132343366__depositphotos_720962.jpg');
	background-image: -o-linear-gradient(top, rgba(4, 43, 138, 0.3), rgba(4, 43, 138, 0.3)), url('../images/tild6365-3738-4637-b632-343132343366__depositphotos_720962.jpg');
	background-image: linear-gradient(180deg, rgba(4, 43, 138, 0.3), rgba(4, 43, 138, 0.3)), url('../images/tild6365-3738-4637-b632-343132343366__depositphotos_720962.jpg');
	background-position: 0px 0px, 50% 50%;
}

.map-section {
	padding-top: 97px;
	padding-bottom: 65px;
	background-color: #042b8a;
}

.map-p {
	margin-top: 81px;
	color: #fff;
	font-weight: 500;
}

.contact-section {
	padding-top: 66px;
	padding-bottom: 125px;
}

.contact-p {
	display: block;
	max-width: 600px;
	margin-right: auto;
	margin-bottom: 82px;
	margin-left: auto;
	color: #042b8a;
	font-size: 24px;
	font-weight: 500;
}

.input {
	width: 100%;
	height: 60px;
	margin-bottom: 25px;
	padding-left: 0px;
	border-style: none none solid;
	border-bottom-width: 1px;
	border-bottom-color: #595008;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	color: #042b8a;
	font-size: 16px;
	text-align: left;
}

.input:hover {
	border-bottom-color: #042b8a;
}

.contact-form {
	display: block;
	max-width: 765px;
	margin-right: auto;
	margin-left: auto;
}

.footer-section {
	position: relative;
	padding-top: 253px;
	padding-bottom: 80px;
	background-color: #2cb1f4;
}

.footer-decor {
	position: absolute;
	left: 0px;
	top: -85px;
	right: 0px;
	height: 269px;
	background-image: url('../images/PATTERN.svg');
	background-position: 50% 50%;
	background-size: auto 269px;
	background-repeat: repeat-x;
}

.footer-links {
	position: absolute;
	left: 294px;
	top: 0px;
	right: 294px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.footer-link {
	margin-bottom: 8px;
	border-bottom: 1px solid #042b8a;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	color: #fff;
	text-decoration: none;
}

.footer-link:hover {
	border-bottom-color: #fff;
}

.footer-link.hidden {
	display: none;
}

.footer-logo {
	float: left;
}

.success-p {
	margin-top: 25px;
	padding-right: 150px;
	padding-left: 150px;
	color: #042b8a;
	font-size: 20px;
	line-height: 1.5em;
	font-weight: 500;
}

.success-p.modal-success {
	padding-right: 0px;
	padding-left: 0px;
}

.success-message {
	background-color: #fff;
}

.modal {
	position: relative;
	width: 480px;
	padding: 40px 40px 25px;
}

.modal.remodal {
	width: 460px;
	background-color: #fff;
}

.modal.remodal.pers-data {
	text-align: left;
}

.modal-form {
	text-align: center;
}

.modal-close {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px;
}

.fixed-navbar {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	z-index: 1000;
	background-color: hsla(0, 0%, 100%, 0.8);
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.city-select-form {
	display: block;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: right;
}

.city-select-form.hidden {
	display: none;
}

.city-select {
	width: 130px;
	height: 42px;
	margin-bottom: 0px;
}

.brand {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 11px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.step-revers-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 50%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.paragraph.main {
	max-width: 800px;
	margin-bottom: 35px;
}

.paragraph.main.white {
	display: block;
	max-width: 731px;
	margin-right: auto;
	margin-left: auto;
	color: #fff;
}

.image {
	width: 100%;
}

.field-label {
	width: 90%;
	margin-bottom: 20px;
	font-size: 16px;
	text-align: left;
}

.form-left-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.modal-map-col {
	width: 50%;
	padding-left: 20px;
}

.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.map-2 {
	height: 100%;
	max-height: 100%;
}

.captcha {
	min-height: 50px;
	margin-bottom: 25px;
}

.slider {
	position: relative;
	left: 0px;
	top: 0px;
	right: 0px;
	z-index: 10;
	display: block;
	width: 600px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	background-color: transparent;
}

.slider.clone {
	position: absolute;
	z-index: 103;
}

.slider.clone2 {
	position: absolute;
}

.mask {
	overflow: visible;
}

.slide {
	background-color: #fff;
}

.slide-2 {
	background-color: #fff;
}

.slider-wrapper {
	position: relative;
	overflow: hidden;
	margin-top: 189px;
	margin-bottom: 189px;
	color: #000;
}

.slide-3 {
	background-color: #fff;
}

.slider-num {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 4px solid #f8f8f8;
	-webkit-box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.57);
	box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.57);
	font-size: 100px;
}

.body {
	background-image: url('../images/back.jpg');
	background-position: 0px 0px;
	background-size: cover;
}

.expert-small-span {
	font-size: 16px;
}

.command-section {
	padding-top: 80px;
	padding-bottom: 220px;
}

.command-section.pt-240 {
	padding-top: 240px;
}

.flex-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 65px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-col-4 {
	width: 33.33333333%;
	padding-right: 20px;
	padding-left: 20px;
}

.command-block {
	width: 100%;
	height: 360px;
	background-image: url('../images/image-min.jpg');
	background-position: 0px 50%;
	background-size: cover;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

.command-block._2 {
	background-image: url('../images/image2min.jpg');
	background-position: 41% 50%;
}

.command-block._2.ver2 {
	background-image: url('../images/tild3235-6362-4632-b530-333038333239__z_depositphotos_1231.jpg');
}

.command-block._3 {
	background-image: url('../images/image3min.jpg');
	background-position: -79px 0px;
}

.command-block._3.ver2 {
	background-image: url('../images/tild3537-3634-4939-b033-396138613633__depositphotos_514279.jpg');
}

.command-block.ver2 {
	background-image: url('../images/tild6137-6362-4930-b364-383063623633__depositphotos_122114.jpg');
}

.polo-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	padding-bottom: 140px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/Depositphotos_144874.jpg');
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/Depositphotos_144874.jpg');
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/Depositphotos_144874.jpg');
	background-position: 0px 0px, 50% 65%;
	background-size: auto, cover;
}

.polo-section.var2 {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/os_131217.jpg');
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/os_131217.jpg');
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/os_131217.jpg');
	background-repeat: repeat, no-repeat;
}

.polo-section.var2.sbor {
	padding-top: 100px;
	padding-bottom: 0px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/os_2552.jpg');
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/os_2552.jpg');
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/os_2552.jpg');
	background-position: 0px 0px, 0px 50%;
}

.polo-text {
	max-width: 540px;
	margin-bottom: 40px;
	opacity: 0.7;
	color: #fff;
	font-size: 16px;
	line-height: 1.55em;
	text-align: left;
}

.polo-text.var2 {
	opacity: 1;
	font-weight: 300;
}

.left-align {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: left;
}

.hero-section-2 {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	min-height: 700px;
	padding-bottom: 14px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/main-bg.jpg');
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/main-bg.jpg');
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/main-bg.jpg');
	background-position: 0px 0px, 50% 50%;
	background-size: auto, cover;
}

.main-h3 {
	margin-bottom: 65px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2.5px;
}

.main-2-h1 {
	margin-bottom: 34px;
	color: #fff;
	font-size: 72px;
	line-height: 1.4em;
}

.scroll-next-btn {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 31px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 50px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar-inner-menu {
	padding-right: 0vw;
	float: right;
}

.navbar-link {
	display: inline-block;
	padding-top: 12px;
	padding-right: 1vw;
	padding-bottom: 12px;
	-webkit-transition: color 300ms ease;
	-o-transition: color 300ms ease;
	transition: color 300ms ease;
	color: #fff;
	font-size: 16px;
	line-height: 1.2em;
	font-weight: 600;
	text-decoration: none;
}

.navbar-link:hover {
	color: #2cb1f4;
}

.navbar-link.blue {
	color: #092776;
}

.navbar-link.blue:hover {
	color: #2cb1f4;
}

.section-introtext {
	display: block;
	max-width: 590px;
	margin: 16px auto 40px;
	color: #042b8a;
	font-size: 24px;
	line-height: 1.5em;
}

.section-introtext.treners {
	max-width: 601px;
	margin-bottom: 59px;
	font-size: 20px;
}

.advantages-icon {
	border-radius: 100px;
}

.left-column {
	max-width: 660px;
	padding-right: 10px;
}

.bold-text {
	letter-spacing: 1px;
}

.test-section-subtitle {
	margin-bottom: 30px;
	color: #fff;
	font-size: 20px;
	line-height: 1.4em;
}

.overlay {
	display: none;
}

.logo {
	margin-right: 10px;
}

.fdr {
	height: 60px;
}

@media (max-width: 991px) {
	.navbar {
		padding-top: 5px;
		padding-bottom: 0px;
	}
	.navbar.main.ver2 {
		padding-bottom: 0px;
	}
	.navbar-container {
		overflow: visible;
		padding-right: 20px;
		padding-bottom: 5px;
		padding-left: 20px;
	}
	.nav-menu {
		padding-right: 20px;
		padding-left: 20px;
		background-color: transparent;
	}
	.nav-menu.white {
		background-color: hsla(0, 0%, 100%, 0.8);
	}
	.nav-menu.var-2 {
		overflow: visible;
		padding-right: 20px;
	}
	.navbar-tel-link {
		display: none;
		margin-right: 10px;
		float: right;
	}
	.navbar-tel-link.nav-mobile {
		position: relative;
		z-index: 10;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		margin-top: 10px;
	}
	.trener-left-col {
		width: 100%;
	}
	.trener-right-col {
		width: 100%;
	}
	.section-h2.advantages.big.polo {
		line-height: 1.4em;
	}
	.step-col {
		width: 50%;
		padding-bottom: 50px;
	}
	.step-h3.advantages.var2 {
		margin-bottom: 50px;
	}
	.step-arrow.second {
		top: auto;
		right: 169px;
		bottom: 5px;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.step-arrow.reverse {
		left: -12px;
		top: 72px;
		right: auto;
		bottom: 72px;
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.treners-col {
		width: 50%;
	}
	.lk-col {
		width: 100%;
		padding-right: 25px;
		padding-left: 25px;
	}
	.lk-col.left {
		width: 100%;
		padding-bottom: 35px;
	}
	.advantages-col {
		display: block;
		width: 100%;
		max-width: 560px;
		margin-right: auto;
		margin-bottom: 1px;
		margin-left: auto;
		padding-right: 5px;
		padding-left: 5px;
	}
	.advantages-col.treners.two-treners {
		padding-right: 11px;
		padding-left: 11px;
	}
	.contact-form {
		padding-right: 20px;
		padding-left: 20px;
	}
	.footer-links {
		left: 241px;
		right: 241px;
	}
	.modal.remodal {
		width: 760px;
	}
	.city-select-form {
		position: relative;
		z-index: 10;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.brand {
		z-index: 10;
		margin-right: 0%;
	}
	.menu-button {
		margin-left: 10px;
		padding-top: 20px;
		padding-right: 0px;
		padding-left: 0px;
		color: #fff;
	}
	.menu-button.w--open {
		z-index: 10;
		padding-bottom: 23px;
		background-color: transparent;
		color: #2cb1f4;
	}
	.menu-button.blue {
		color: #092776;
	}
	.step-revers-col {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.flex-row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.flex-col-4 {
		width: 100%;
		max-width: 360px;
		margin-bottom: 20px;
		padding-right: 0px;
		padding-left: 0px;
	}
	.polo-section.var2.sbor {
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/os_2552.jpg');
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/os_2552.jpg');
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/os_2552.jpg');
		background-position: 0px 0px, -172px 0px;
	}
	.hero-section-2 {
		overflow: hidden;
	}
	.main-2-h1 {
		font-size: 60px;
	}
	.section-introtext {
		font-size: 20px;
	}
	.overlay {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: -1;
		display: block;
		height: 250px;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	}
}

@media (max-width: 767px) {
	.main-video {
		min-height: 640px;
		padding-top: 75px;
	}
	.navbar.main {
		background-color: #092776;
	}
	.navbar.main.ver2 {
		background-color: transparent;
	}
	.navbar-container {
		padding-top: 8px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.navbar-container.footer-cont {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.btn.yellow.nav-yellow-btn.alignleft {
		margin-right: 5px;
		margin-left: 10px;
		padding-right: 17px;
		padding-left: 17px;
	}
	.btn.big-btn {
		width: 100%;
		max-width: 250px;
	}
	.btn.big-btn.lightbox-link {
		margin-top: 37px;
	}
	.btn.alignleft {
		margin-bottom: 10px;
		padding-right: 20px;
		padding-left: 20px;
	}
	.nav-menu {
		padding-right: 10px;
		padding-left: 10px;
		background-color: #092776;
	}
	.nav-menu.white {
		padding-right: 10px;
		padding-left: 10px;
	}
	.nav-menu.var-2 {
		background-color: transparent;
	}
	.navbar-social-block {
		display: block;
		margin-top: 6px;
		margin-right: 0px;
		margin-left: 0px;
		float: right;
	}
	.navbar-social-block.footer-social {
		margin-right: 0px;
		float: none;
	}
	.navbar-social-block.nav-mobile {
		display: none;
	}
	.social-link {
		margin-right: 5px;
		margin-left: 5px;
	}
	.navbar-tel-link {
		margin-top: 7px;
		padding-top: 0px;
	}
	.navbar-tel-link.nav-mobile {
		margin-top: 5px;
	}
	.main-logo {
		width: 150px;
	}
	.main-h1 {
		margin-bottom: 25px;
		font-size: 30px;
	}
	.trener-right-col {
		padding-left: 5px;
	}
	.trener-h2 {
		margin-bottom: 10px;
		font-size: 28px;
	}
	.trener-description {
		margin-bottom: 15px;
		font-size: 20px;
	}
	.trener-about {
		font-size: 16px;
	}
	.hov-trening {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.ht-p {
		font-size: 15px;
		line-height: 1.5em;
	}
	.section-h2 {
		margin-bottom: 30px;
		font-size: 28px;
	}
	.section-h2.advantages.white.big {
		margin-bottom: 60px;
		font-size: 28px;
	}
	.section-h2.big {
		margin-bottom: 1px;
		font-size: 28px;
	}
	.section-h2.big.white.test-h2 {
		margin-bottom: 35px;
		font-size: 28px;
	}
	.step-col {
		width: 100%;
	}
	.step-col._3 {
		width: 100%;
	}
	.step-p {
		display: block;
		max-width: 300px;
		margin-right: auto;
		margin-left: auto;
	}
	.step-p.swimming {
		display: block;
		max-width: 300px;
		margin-right: auto;
		margin-left: auto;
	}
	.step-p.expert.blue {
		max-width: 100%;
	}
	.step-arrow {
		display: none;
	}
	.group-wrapper {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.group-col {
		width: 100%;
		padding-bottom: 30px;
	}
	.group-h2 {
		font-size: 28px;
	}
	.treners-col {
		width: 100%;
	}
	.lk-h2 {
		font-size: 28px;
	}
	.lk-col.left {
		padding-top: 0px;
	}
	.advantages-section.swimming {
		padding-top: 60px;
		padding-bottom: 70px;
	}
	.section-subtitle.normal {
		padding-bottom: 24px;
		font-size: 18px;
	}
	.advantages-col {
		width: 100%;
		padding-bottom: 30px;
	}
	.advantages-col.treners.two-treners {
		width: 100%;
	}
	.glub-section {
		margin-top: -45px;
		padding-top: 88px;
	}
	.glub-decor {
		height: 80px;
	}
	.gallery-col {
		width: 50%;
		height: 49vw;
	}
	.gallery-imge {
		height: 49vw;
	}
	.ts-p {
		font-size: 16px;
	}
	.ts-name {
		font-size: 18px;
	}
	.ts-city {
		font-size: 18px;
	}
	.ts-slider {
		margin-top: 30px;
	}
	.ts-section {
		padding-top: 70px;
		padding-bottom: 80px;
	}

	.test-section {
		height: 50vh;
		min-height: 300px;
	}
	.test-section.second {
		height: 50vh;
		min-height: 300px;
	}
	.test-section.ver2 {
		height: 100vh;
		min-height: 400px;
	}
	.map-section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.map-p {
		font-size: 18px;
	}
	.contact-p {
		padding-right: 44px;
		padding-left: 44px;
		font-size: 18px;
	}
	.footer-section {
		padding-top: 86px;
	}
	.footer-decor {
		height: 133px;
		background-size: auto 133px;
	}
	.footer-links {
		position: relative;
		left: 0px;
		right: 0px;
		margin-top: 35px;
		margin-bottom: 20px;
	}
	.modal.remodal {
		width: 480px;
	}
	.city-select-form {
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.city-select {
		width: 90px;
		height: 32px;
	}
	.brand {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: -3px;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.menu-button {
		padding-top: 4px;
		padding-right: 0px;
		padding-bottom: 4px;
		color: #fff;
	}
	.menu-button.w--open {
		height: 30px;
	}
	.step-revers-col {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.paragraph {
		font-size: 18px;
	}
	.text-block {
		font-size: 14px;
	}
	.form-left-col {
		width: 100%;
	}
	.modal-map-col {
		display: none;
		width: 100%;
	}
	.form {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.polo-section {
		padding-right: 20px;
		padding-left: 20px;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/Depositphotos_144874.jpg');
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/Depositphotos_144874.jpg');
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/Depositphotos_144874.jpg');
		background-position: 0px 0px, 35% 50%;
	}
	.polo-text {
		padding-right: 51px;
		text-align: left;
	}
	.main-2-h1 {
		font-size: 45px;
	}
	.logo {
		width: 100px;
	}
	.fdr {
		height: 50px;
	}
	.logo-section {
		flex-direction: column;
		padding: 5% 0 10% 0;
		height: auto;
	}
	.info-span {
		display: none;
	}
	.logo-brand {
		margin: 10px 0px 20px 0px ;
	}
	.mob-info-span {
		display: block;
		font-size: 18px;
		line-height: 1.2;
		font-family: "Ubuntu";
		color: rgb(51, 91, 162);
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 479px) {
	p {
		font-size: 16px;
	}
	.main-video {
		padding-bottom: 66px;
	}
	.navbar-container {
		padding-bottom: 5px;
	}
	.btn.yellow.nav-yellow-btn.alignleft {
		width: 250px;
		margin-right: 11px;
		margin-left: 11px;
		float: none;
	}
	.btn.white-btn {
		padding-right: 33px;
		padding-left: 33px;
	}
	.btn.big-btn {
		height: auto;
		max-width: 300px;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 14px;
	}
	.btn.big-btn.lightbox-link {
		padding-right: 40px;
		padding-left: 40px;
	}
	.btn.big-btn.main-btn {
		font-size: 11px;
	}
	.btn.alignleft {
		margin-bottom: 10px;
		float: none;
	}
	.btn.alignleft.var2 {
		width: 100%;
		max-width: 250px;
	}
	.btn.alignleft.var2.fixed {
		width: 250px;
	}
	.nav-menu {
		text-align: center;
	}
	.nav-menu.white {
		background-color: hsla(0, 0%, 100%, 0.8);
	}
	.nav-menu.var-2 {
		margin-top: -88px;
		padding-top: 100px;
		padding-bottom: 20px;
	}
	.navbar-social-block {
		margin-top: 0px;
		float: none;
	}
	.navbar-tel-link {
		margin-top: 10px;
		margin-right: 0px;
		margin-left: 7px;
		float: left;
	}
	.navbar-tel-link.nav-mobile {
		padding-top: 5px;
	}
	.container {
		padding: 3px 10px;
	}
	.main-logo {
		margin-bottom: 0px;
	}
	.trener-description {
		padding-right: 0px;
	}
	.trener-about {
		padding-right: 0px;
	}
	.ht-p {
		padding-right: 0px;
		padding-left: 0px;
	}
	.trening-step-section {
		overflow: hidden;
	}
	.section-h2.advantages.small {
		font-size: 6vw;
	}
	.section-h2.big.glub {
		margin-bottom: 25px;
	}
	.section-h2.modal-h2 {
		font-size: 28px;
	}
	.treners-col {
		padding-right: 0px;
		padding-left: 0px;
	}
	.lk-top {
		width: 300vw;
	}
	.lk-col {
		padding-right: 0px;
		padding-left: 0px;
	}
	.lk-col.left {
		padding-right: 0px;
		padding-left: 0px;
	}
	.section-subtitle.normal {
		padding-right: 0px;
		padding-left: 0px;
	}
	.ts-p {
		padding-right: 12px;
		padding-left: 12px;
	}
	.slider-arrow {
		display: none;
	}
	.ts-slide {
		padding-bottom: 30px;
	}
	.contact-section {
		overflow: hidden;
	}
	.contact-form {
		padding-right: 0px;
		padding-left: 0px;
	}
	.modal.remodal {
		width: 100%;
		max-width: 480px;
		padding-top: 31px;
		padding-right: 22px;
		padding-left: 22px;
	}
	.brand {
		margin-right: 5%;
		padding-bottom: 0px;
	}
	.paragraph.main {
		font-size: 17px;
	}
	.command-section.pt-240 {
		overflow: hidden;
	}
	.flex-row {
		margin-top: 69px;
	}
	.polo-section {
		padding: 1px 0px 110px;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/Depositphotos_144874.jpg');
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/Depositphotos_144874.jpg');
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/Depositphotos_144874.jpg');
		background-position: 0px 0px, 50% 50%;
		background-size: auto, cover;
	}
	.polo-text.var2 {
		padding-right: 0px;
	}
	.left-align {
		padding-right: 20px;
		padding-left: 20px;
	}
	.left-align.container.animation {
		padding-right: 10px;
		padding-left: 10px;
	}
	.navbar-inner-menu {
		float: none;
	}
	.navbar-link {
		padding-right: 7vw;
		padding-left: 7vw;
	}
	.navbar-link.blue {
		padding-right: 4vw;
		padding-left: 4vw;
	}
	.overlay {
		height: 400px;
	}
	.fdr {
		height: 45px;
	}
}

.btn-tab{
	display: none;
}
.nav-menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex ;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	padding-top: 15px;
	width: 550px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
@media screen and (max-width: 990px) {
	.nav-menu{
		background-color: rgba(4, 43, 138, 0.7);
		width: 100%;
	}
	.nav-menu-f{
		background-color: initial;
	}
	.phone-item.active{
		margin-right: 6px !important ;
	}
	.phone-item.active .phone-flag , .phone-item2.active .phone-flag{
		height: 22px;

		width: 22px;

		margin-right: 10px;
	}
	.menu-button{
		margin-top: 2px;
	}
	.w-nav-menu{
		margin: 0 auto;
	}
	.nav-menu{
		display: block;
	}
	.nav-yellow-btn{
		display: none;
	}
	.navbar-social-block.nav-mobile{
		display: none;
	}
	.btn-tab{
		display: block;
		float: left !important ;
		padding-top: 5px !important ;
		padding-bottom: 5px !important ;
		padding-right: 15px !important ;
		padding-left: 15px !important ;
		margin-top: 18px;
	}
	.fdr{
		display: none;
	}
	.navbar-social-block{
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}
	.phone-wrap{
		display: none !important ;
	}
	.phone-wrap.nav-mobile{
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.phone-item.active , .phone-item2.active{
		width: 163px !important ;
	}
	.phone-num{
		padding-right: 10px;
		padding-left: 0 !important ;
	}
	.phone-num-wrap{
		width: 145px !important ;
	}
	.phone-item.active , .phone-item2.active{
		width: 190px !important;
	}
	.navbar{
		height: 65px !important ;

		padding-top: 0 !important;
	}
	.navbar-container{

		padding-top: 0 !important;
	}
	.logo{
		margin-top: 12px;
		width: 90px;
	}
	.phone-wrap{
		margin-top: 10px !important ;
	}
	.phone-item , .phone-item2{
		height: 28px !important ;
		width: 28px !important ;
	}
	.phone-flag.blr {

		background: url('../img/bel.png') top center no-repeat;
		background-size: auto;
		background-size: 100%;

	}
	.menu-button{
		padding-top: 20px;
	}
}
.phone-num{
	white-space: nowrap;
}
@media screen and (max-width: 767px) {
	.phone-wrap{
		margin-top: 18px !important ;
	}
	.nav-menu{
		width: 100%;
	}
	.navbar.main , .nav-menu {
		background-color: rgba(4, 43, 138, 0.7) !important ;
	}

}
@media screen and (max-width: 639px) {
	.btn-p{
		display: block;
		padding-top: 5px !important;

		padding-bottom: 5px !important;

		padding-right: 15px !important;

		padding-left: 15px !important;

		position: absolute;

		left: 50%;

		-webkit-transform: translateX(-54.6%);

		-ms-transform: translateX(-54.6%);

		transform: translateX(-54.6%);

		top: 60px;
	}
	.nav-menu{
		height: 113px !important;
	}
	.btn-tab{
		display: none;
	}
}
@media screen and (max-width: 1064px) {
	.navbar-social-block{
		margin-right: 0;
		margin-left: 0;
	}
}
@media screen and (max-width: 453px) {
	.navbar{
		height: 115px !important;
	}
}