// SECTION :: START

section#about-we.about-we
  .about-we__bg
    .about-we__bg-wrapper
      .about-we__bg-line.about-we__bg-line-1
      .about-we__bg-line.about-we__bg-line-2
      .about-we__bg-line.about-we__bg-line-3
    .about-we__bg-underline
    .about-we__bg-visual-wrapper
      .about-we__bg-visual.about-we__bg-visual-1
        img(src='img/img-we-bg-visual-1.png' alt='')
      .about-we__bg-visual.about-we__bg-visual-2
        img(src='img/img-we-bg-visual-2.png' alt='')
  .c-grid
    .about-we__wrapper
      #we-are.about-we__are.about-we__section
        .about-we__section-left
          h2.about-we__title Who we are ?
          .about-we__hash-wrapper
            p.about-we__hash-title We are:
            .about-we__hash-content
              p.about-we__hash
                span #Experienced,
                span #Fast_thinkers,
                br.mob-only
                span #Reserchers,
                span #Future_orientated,
                br.mob-only
                span #Experienced,
                span #Fast_thinkers,
                br.mob-only
                span #Reserchers
        .about-we__section-middle
          .about-we__desc-wrapper
            .about-we__desc
              p
                | Area99 is a network of professional and expert artificial inteillgence specialists who work in the domain of machine learning and software architcure, and echnologies like ML  Area99 is a network of professional and expert artificial inteillgence specialists who work in the domain of machine learning and software architcure, and echnologies like ML. Area99 is a network of professional and expert artificial inteillgence specialists who work in the domain of machine learning and software architcure, and echnologies like ML  Area99 is a network of professional and expert
            .about-we__link-wrapper
              a.about-we__link(href='#')
                span Life at Area99
                i.icon-font.icon-corner
              a.about-we__link(href='#')
                span Life at Area99
                i.icon-font.icon-corner
              a.about-we__link(href='#')
                span Most resent open positions
                i.icon-font.icon-corner
        .about-we__section-right
          .about-we__team
            img(src='img/img-we-team.png' alt='')
            .about-we__team-line
              img(src='img/img-we-team-line.png' alt='')
      #we-do.about-we__do.about-we__section
        .about-we__section-left
          h2.about-we__title What we do ?
        .about-we__section-middle
          .about-we__desc-wrapper
            .about-we__desc
              p
                | We transform the way businesses work throug providing a full access to technologies way businesses work throug providing a full access to technologies . Work throug providing a full access to technologies.
              img(src='img/img-we-care-illustration-1.jpg' alt='').mob-only
  
        .about-we__section-right
      #we-it.about-we__it.about-we__section
        .about-we__section-left
          h2.about-we__title How we do it ?
        .about-we__section-middle
          .about-we__desc-wrapper
            .about-we__desc
              p
                | We transform the way businesses work throug providing a full access to technologies way businesses work throug providing a full access to technologies . We transform the way businesses work throug providing a full access to technologies way.
              img(src='img/img-we-care-illustration-2.jpg' alt='')  
        .about-we__section-right
      #we-care.about-we__care
        .about-we__care-illustration-wrapper
          .about-we__care-illustration-left
            .about-we__care-illustration.about-we__care-illustration-1
              img(src='img/img-we-care-illustration-1.jpg' alt='')
          .about-we__care-illustration-right
            .about-we__care-illustration.about-we__care-illustration-2
              img(src='img/img-we-care-illustration-2.jpg' alt='')
        .about-we__care-square
          span
          p we care
      #we-ethics.about-we__ethics.about-we__section
        .about-we__section-left
          h2.about-we__title Ethics and core values
          .about-we__hash-wrapper
            .about-we__hash-content
              p.about-we__hash
                span #Equal_opportunity,
                span #People_first,
                br.mob-only
                span #Embracing_Diversity,
                span #Equal_opportunity,
                br.mob-only
                span #People_first,
                span #Responcibility
        .about-we__section-middle
          .about-we__desc-wrapper
            .about-we__desc
              p
                | Our values rise from the deep belive that everything is cool and everything is cool and we are amazing ! ..Our values rise from the deep belive that everything is cool and everything is cool and we are amazing ! ..Our values rise from the deep belive that everything is cool and everything is cool and we are amazing ! ..Our values rise from the deep belive that everything is cool and everything is cool and we are amazing!..
        .about-we__section-right


          // SECTION :: END          
