// SECTION :: START

section#about-responsability.about-responsability
  .c-grid
    .about-responsability__wrapper
      .about-responsability__wrapper-left
        h2.about-responsability__title Social Responsability
      .about-responsability__wrapper-right
        p.about-responsability__subtitle Working together to apply AI for social good
        p.about-responsability__desc
          | Area99 issued an open call to organizations around the world to submit their ideas for how they could use AI to help address societal challenges. We received applications from 119 countries, spanning 6 continents with projects ranging from environmental to humanitarian. From these applications, we selected 20 organizations to support.
        p.about-responsability__subtitle Upcoming events
        ul.about-responsability__list
          li.about-responsability__list-item
            a.about-responsability__list-link(href='#')
              div
                p.about-responsability__subtitle 15.07. 2020
                p.about-responsability__list-country Berlin
              div
                p.about-responsability__list-desc
                  span
                    | This is how you are
                    br
                    | going to lose your job to AI
                  i.icon-font.icon-corner
          li.about-responsability__list-item
            a.about-responsability__list-link(href='#')
              div
                p.about-responsability__subtitle 15.07. 2020
                p.about-responsability__list-country Berlin
              div
                p.about-responsability__list-desc
                  span
                    | Building better AI, a
                    br
                    | methdology for a fast track results
                  i.icon-font.icon-corner
          li.about-responsability__list-item
            a.about-responsability__list-link(href='#')
              div
                p.about-responsability__subtitle 15.07. 2020
                p.about-responsability__list-country Amman
              div
                p.about-responsability__list-desc
                  span
                    | Artificial intelligence
                    br
                    | and your future career
                  i.icon-font.icon-corner


          // SECTION :: END          