// SECTION :: START

section#about-touch.about-touch
  .c-grid
    .about-touch__wrapper
      .about-touch__wrapper-left
        h2.about-touch__title Stay in touch
      .about-touch__wrapper-right
        
        ul.about-touch__list.mob-delete
          li.about-touch__list-item
            p.about-touch__list-desc Get a consultation call and learn  about AI transformation
            a.about-touch__list-link(href='#')
              span Get a call
              i.icon-font.icon-corner
          li.about-touch__list-item
            p.about-touch__list-desc Receive our annual report on AI comptitivenss
            a.about-touch__list-link(href='#')
              span Get a report
              i.icon-font.icon-corner
          li.about-touch__list-item
            p.about-touch__list-desc Contact us or visit our offices
            a.about-touch__list-link(href='#')
              span Contact us
              i.icon-font.icon-corner
          li.about-touch__list-item
            p.about-touch__list-desc Join our news letter to stay on top of the recent industry insights.
            a.about-touch__list-link(href='#')
              span Subscribe
              i.icon-font.icon-corner
        p.mob-only Get a consultation call and learn  about AI transformation. Receive our annual report on AI comptitivenss. Join our news letter to stay on top of the recent industry insights.        
        ul.mob-only-table
          li
            a(href="#") Get a call
          li
            a(href="#") Contact us
          li
            a(href="#") Get a report
          li
            a(href="#") Subscribe
// SECTION :: STOP
