// SECTION :: START

section#about-main.about-main
  .about-main__bg#first
  .c-grid
    .about-main__wrapper
      .about-main__wrapper-left
        .about-main__badge-wrapper
          p.about-main__badge About us
        h1.about-main__title Democratizing AI
        p.about-main__desc
          | At Area99 we give business access to a fast track to artificial intelligence, we do this at Area99 we give business access to a fast track to artificial intelligence, we do this.
      .about-main__wrapper-right
        ul.about-main__link-wrapper
          li.about-main__link-item
            a.about-main__link(href='#we-are')
              span Who we are ?
              i.icon-font.icon-corner
          li.about-main__link-item
            a.about-main__link(href='#we-ethics')
              span Ethics and core values
              i.icon-font.icon-corner
          li.about-main__link-item
            a.about-main__link(href='#we-do')
              span What we do ?
              i.icon-font.icon-corner
          li.about-main__link-item
            a.about-main__link(href='#')
              span Social Responsability
              i.icon-font.icon-corner
          li.about-main__link-item
            a.about-main__link(href='#we-it')
              span How we do it ?
              i.icon-font.icon-corner
          li.about-main__link-item
            a.about-main__link(href='#')
              span Stay in touch
              i.icon-font.icon-corner


// SECTION :: END
