@import "vars";
@media (max-width: 767px) {
.header {
	height: 125px;
	.header-nav {
		height: 60px;
		width: 80%;
		img {
		}
		ul {
			li:first-child, li:nth-child(3), li:nth-child(4) {
				display: none;
			}
			li {
				a {
					font-size: 14px;
				}
			}
			li:nth-child(1) {
				display: none;
			}
			li:nth-child(3)::before, li:nth-child(2)::before, li:nth-child(4)::before {
				display: inline-block;
				margin-left: 6px;
				width: 20px;
				height: 20px;
			}
			li:nth-child(3) {
			    margin: 0 15px;
			}
		}
		.log-in {
			right: 0px;
			margin: 0 auto;
			font-size: 10px;
			color: transparent;
		}
		.log-in::before {
			display: inline-block;
			margin: 0 auto;
			width: 25px;
			height: 25px;
			transform: translateY(10px);
			right: -10px;
			position: relative;
			top: -4px;
		}
		.log-in::after {
			display: inline;
		}
		.logo {
			width: 50px;
			left: 5px;
		}
	}
}
.container {
	margin-bottom: 30%;
	width: 100%;
	padding: 15px;
	.select2-container {
		display: block;
	}
	.general-nav {
		width: 100%;
		margin: 0 auto;
		li {
			a {
				font-size: 12px;
				padding:0px;
			}
		}
		li:first-child {
			a {
				transform: translateY(10px);
				display: block;
			}
		}
		.rectangle_gradient {
			.core {
				width: 60%;
			}
		}
	}
}
.ul-container {
	.top100, .recent, .popular {
		justify-content: center;
		li {
			// margin: 0 auto !important;
			width: 80%;
			margin-bottom: 20px !important;
			.text-content {
				h4 {
					font-size: 13px;
					margin: 6px 0 10px 0px;
				}
				.info {
					.value {
						margin-right: 20%;
						font-size: 11px;
					}
					#special1::after, #special2::after, #special3::after {
						font-size: 7px;
					}
					.title {
						font-size: 10px;
					}
				}
				.city {
					font-size: 10px;
				}
				.city::before {
					width: 14px;
					height: 14px;
				}
				.date {
					font-size: 8px;
					margin-top: 10%;
					left: 25%;
				}
			}

		}
	}
}
.tab-menu {
	z-index: 25;
	display: block;
	height: 15vh;
	width: 100vw;
	background: linear-gradient(127.58deg,#8c6bff -7.22%,#ff5ca8 61.5%,#ffb66f 117.98%);
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;	
	ul {
		display: flex;
		justify-content: center;
	    align-items: center;
	    width: 80%;
	    margin: 0 auto;
	    background: #FFFFFF;
	    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	    border-radius: 15px;
	    height: 60%;	
		li {
			width: 20%;
			border-right: 1px solid #000;
			height: 100%;
			a {
				img {

				}
			}
		}
		li:last-child {
			border-right: none;
		}
	}
}
.footer {
	display: none !important;
}	

}

@media (min-width: 768px) and (max-width: 1366px) {

.footer {
	display: none;
}
.tab-menu {
}
.header {
	position: relative;
	.header-nav {
		width: 80%;
		ul {
			li:first-child {
				display: none;
			}
		}
	}
}
.container {
	width: 100%;
	padding: 0% 5% 0% 5%;
	.top100, .recent, .popular {
		li {
			width: 45%;
			.text-content {
				h4 {
					font-size: 13px;
					margin: 6px 0 10px 0px;
				}
				.info {
					.value {
						margin-right: 20%;
						font-size: 11px;
					}
					#special1::after, #special2::after, #special3::after {
						font-size: 7px;
					}
					.title {
						font-size: 10px;
					}
				}
				.city {
					font-size: 10px;
				}
				.city::before {
					width: 14px;
					height: 14px;
				}
				.date {
					font-size: 8px;
					margin-top: 10%;
					left: 25%;
				}
			}
		}
	}
}
.tab-menu {
	display: none;
}	
.footer {
	display: flex;
}
}
@media (max-width: 1366px) {
	.ul-container {
		.top100, .recent, .popular {
			li {
				background: #fff !important;
			}
		}
	}
	.container {
		padding-bottom: 0%;
	}
	.header-nav {
		img {

		}
		ul {
			li::before {
			}
		}
		.log-in::before {
		}
	}
}
	


