@import "vars";
@import "fonts";

body {
	background: rgba(238, 238, 238, 0.15);
	min-width: 320px;
}
body * {
	box-sizing: border-box;
}
.header {
	background: linear-gradient(127.58deg, #8C6BFF -7.22%, #FF5CA8 61.5%, #FFB66F 117.98%);
	height: 145px;
	display: flex;
	align-items: center;
	.header-nav {
		position: relative;
		display: flex;
		justify-content: center;
	    align-items: center;
	    width: 75%;
	    margin: 0 auto;
	    background: #FFFFFF;
	    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	    border-radius: 15px;
	    height: 80px;
		.logo {
			width: 75px;
			padding: 5px 0px;
			position: absolute;
			left: 5px;
			transform: translateY(5px);
		}
		ul {
			display: flex;
			li {
				position: relative;
				input {
					height: 30px;
					border: none;
					font-family: Mweather;
					font-size: 14px;
					color:#2f2e2e;
				}
				input:focus {
					outline: none;
				}
				input::placeholder {
					color: #2f2e2e;
					font-family: Mweather;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 18px;
				}
				a {
					display: inline-block;
					text-decoration: none;
					font-family: 'Mweather';
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 18px;
					color: $black;
				}
			}
			li:first-child {
				margin-left: -160px;
				margin-right: 50px;
				width: 200px;
			}
			li:first-child::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/search.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(5px);
				position: absolute;
				left: -22px;
			}
			li:nth-child(2)::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/female.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(5px);
			}
			li:nth-child(3) {
				margin: 0px 35px;
			}
			li:nth-child(3)::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/star.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(3px);
			}
			li:last-child::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/like.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(3px);
			}
		}
		.log-in {
			text-decoration: none;
			position: absolute;
			right: 35px;
			font-family: 'Mweather';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			color: $black;
		}
		.log-in::before {
			content: '';
			display: inline-block;
			width: 20px;
			height: 20px;
			background: url("../img/User.svg") center center / cover no-repeat;
			margin-right: 6px;
			transform: translateY(4px);
		}
		.log-in::after {
			content: '';
			display: inline-block;
			width: 13px;
			height: 13px;
			background: url("../img/down arrow.svg") center center / cover no-repeat;
			margin-left: 6px;
		}
	}
}
.select2-container {
	position: absolute;
	right: 10px;
	width: 144px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	display: none;
}
.navigation {
	text-align: center;
	h2 {
		font-family: Mweather;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: $black;
		margin: 40px 0px;
	}
}
.container {
	max-width: 1060px;	
	width: 75%;
	margin: 0 auto;
	display: flex;
	position: relative;
	.left-content {
		width: 30%;
		.portfolio {
			position: relative;
			background: #FFFFFF;
			box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
			border-radius: 15px;
			min-height: 530px;
			width: 317px;
			.portfolio-photo {
				position: relative;
				border-radius: 15px 15px 0px 0px;
				height: 280px;
				box-shadow: inset 0px -20px 20px 5px #fff;
				background: url('../img/mcyrus.png') center center / cover no-repeat;
			}
			.portfolio-photo::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background: linear-gradient(to top,rgb(255, 255, 255) 1.68%,rgba(29,29,29,0) 56.82%,#fff0 1.68%);
			}
			.portfolio-info {
				position: relative;
				text-align: center;
				padding: 5% 5px 5px 5px;
				h3 {
					margin-bottom: 10px;
					font-family: Mweather;
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 30px;
					background: -webkit-linear-gradient(118.96deg,#f83690 -10.2%,#3555f2 141.74%,rgba(255,255,255,0) 152.77%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				span {
					margin-top: 10px;
					display: block;
					font-family: Mweather-r;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
					text-transform: uppercase;
				}
				.number {
					margin-top: 10px;
					font-family: Mweather;
					font-style: normal;
					font-weight: bold;
					font-size: 22px;
					line-height: 28px;
					text-transform: uppercase;
				}
				ul {
					margin-top: 10px;
					display: flex;
					justify-content: space-around;
					flex-flow: row wrap;
					li {
						text-align: center;
						width: 30%;
					}
				}
			}
		}
		.button {
			text-decoration: none;
			margin: 18px 0px 11px 0px;
			font-family: Mweather;
			color: #fff;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 18px;
			text-align: center;
			padding: 20px 0px;
			display: block;
			background: #EF5EB4;
			box-shadow: 2px 2px 15px rgba(239, 94, 180, 0.7);
			border-radius: 15px;
			width: 317px;
			height: 58px;
			position: relative;
		}
		#button1::before {
			position: absolute;
			left: 20px;
			width: 20px;
			height: 20px;
			content: '';
			display: block;
			background: url('../img/star.png') center center/cover no-repeat;
		}
		#button2::before {
			position: absolute;
			left: 15px;
			width: 20px;
			height: 20px;
			content: '';
			display: block;
			background: url('../img/user-white.png') center center/cover no-repeat;
		}
	}
	.right-content {
		width: 70%;
		.content-container {
			margin: 0 auto;
			max-width: 750px;
			padding: 0px 0px 0px 20px;
			display: flex;
			position: relative;
			justify-content: space-around;
			flex-flow: row wrap;
			> ul {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.stats {
					display: flex;
					width: 302px;
					.info {
						width: 50%;
						padding: 8px 10px 8px 10px;
						.value {
							color: #fff;
							font-family: Mweather-r;
							font-style: normal;
							font-weight: bolder;
							font-size: 28px;
							line-height: 35px;
							display: block;
						}
						span {
							font-family: Merriweather-r;
							color: #FFF;
							font-style: normal;
							font-weight: normal;
							font-size: 12px;
							line-height: 18px;
							text-transform: uppercase;
							display: block;
							width: 90%;
							margin-top: 3px;
						}
					}
					.img {
						width: 50%;
						height: 100px;
					}
				}
				.stats:first-child {
					background: linear-gradient(129.87deg, #A169EF 0%, #CB73DA 50%, #EF5EB4 100%);				    border-radius: 15px;
				    box-shadow: 2px 2px 10px rgba(161, 105, 239, 0.6);
				    .img {
				    	background: url('../img/stats.png') center center / 40% no-repeat;
				    }
				}
				.stats:nth-child(2) {
					box-shadow: 2px 2px 10px #bb53ac;
					border-radius: 15px;
					background: linear-gradient(127.78deg, #a169ef -25%, #e870c2 50%, #ff7da6 100%);
					.img {
						background: url('../img/stats2.png') center center / 40% no-repeat;
					}
				}
				.stats:nth-child(3) {
					box-shadow: 2px 2px 10px rgba(161, 105, 239, 0.6);
					border-radius: 15px;
					background: linear-gradient(137.08deg, #DD71cA 0%, #FF73AD 50%, #FF9994 100%);
					.img {
						background: url('../img/stats3.png') center center / 40% no-repeat;
					}
				}
			}
			.charts {
				height: 328px;
				.charts__title {
					h3 {
						color: #2F2E2E;
						font-family: Mweather;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 18px;
					}
					.time-stats {
						margin-top: 10px;
						display: flex;
						justify-content: space-around;
						li {
							display: flex;
							align-items: center;
							justify-content: center;
							cursor: pointer;
							position: relative;
							z-index: 20;
							width: 30%;
							padding: 8px 0px;
							text-align: center;
							span {
								font-family: Mweather-r;
								font-style: normal;
								font-weight: normal;
								font-size: 12px;
								line-height: 15px;
								color: #6D6D6D;
							}
						}
						li.active {
							background-color: #EF5EB4;
							border-radius: 20px;
							span {
								color: #fff;
							}
						}
					}
				}
				.shedule {
					height: 300px;
				}
				#e_chart_5 {
					height: 200px;
					transform: translateX(-12%);
					// width: 280px;
					width: 125%;
				}
				#e_chart_1 {
					transform: translate3d(-35px,-60px,0);
					height: 300px;
					width: 125%;
				}
				#e_chart_6 {
					height: 300px;
					width: 125%;
					transform: translate3d(-40px,-25px,0px);
				}
				.charts__info {
					ul {
						li {
							position: relative;
							padding-left: 17%;
							.value {
								color: #2F2E2E;
								font-family: Mweather Sans;
								font-style: normal;
								font-weight: bold;
								font-size: 12px;
								line-height: 15px;
							}
							#male::before {
								content: '';
								display: inline-block;
								width: 25px;
								height: 25px;
								background-color: #A169EF;
								position: absolute;
							    left: 5px;
							    transform: translateY(2px);
							}
							span {
								font-family: Mweather-r;
								font-style: normal;
								font-weight: normal;
								font-size: 12px;
								color: rgba(47, 46, 46, 0.5);
								display: block;
								line-height: 15px;
							}
							#female::before {
								content: '';
								display: inline-block;
								width: 25px;
								height: 25px;
								background-color: #FF5CA8;
								position: absolute;
							    left: 5px;
							    transform: translateY(2px);
							}

						}
						li:first-child {
							margin-bottom: 5px;
						}
					}
				}
			}
			.charts:not(:first-child) {
				padding: 20px 16px 20px 16px;
				background: #FFFFFF;
				box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
				border-radius: 15px;
			}
			.charts:nth-child(1) {
				width: 302px;
			}
			.charts:nth-child(2) {
				width: 345px;
			}
			.charts:nth-child(3) {
				margin-top: 5%;
				width: 302px;
			}
			.charts:nth-child(4) {
				margin-top: 5%;
				width: 345px;
			}
		}
	}
}	
.posts {
	background: #FFFFFF;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	width: 1057px;
	margin: 5% auto;
	position: relative;
	.title {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 77px;
		background: linear-gradient(136.4deg, #8C6BFF -7.22%, #FF5CA8 61.5%, #FFB66F 117.98%);
		opacity: 0.9;
		border-radius: 15px 15px 0px 0px;
		h3 {
			color: #fff;
			font-family: Mweather;
			font-style: normal;
			font-weight: bold;
			font-size: 25px;
			line-height: 38px;
		}
	}
	.pictures {
		padding: 30px;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		li {
			margin: 5px;
			a {
				img {

				}
			}
		}
	}
}
.tab-menu {
	display: none;
}
.footer {
	margin-top: 130px;
	position: relative;
	background: linear-gradient(137.46deg, #8C6BFF -7.22%, #FF5CA8 61.5%, #FFB66F 117.98%);
	opacity: 0.9;
	height: 110px;
	display: flex;
	align-items: center;
	.footer-nav {
		display: flex;
		justify-content: space-between;
		width: 75%;
		margin:0 auto;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		border-radius: 15px;
		height: 79px;
		align-items: center;
		.links {
			display: flex;
			margin-left: 10px;
			li {
				margin: 0 10px;
				a {
					img {
						
					}
				}
			}
		}
		.FAQ {
			display: flex;
			li {
				margin: 10px 20px 0px 20px;
				a {
					font-family: 'Mweather';
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 18px;
					color: $black;
					text-decoration: none;
				}
			}
			li:last-child {
				margin-top: 0px;
				margin-right: 40px;
				a {
					img {

					}
				}
			}
		}
	}
}

@import "media3";