@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background: rgba(238, 238, 238, 0.15);
}
#special3::after {
		position: absolute;
		content: '+0.8%';
		display: inline-block;
		font-family: Mweather-sb;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 15px;
		color: #0FB41F;
}
#special2::after {
		position: absolute;	
		content: '+3.2%';
		display: inline-block;
		font-family: Mweather-sb;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 15px;
		color: #0FB41F;
}
#special1::after {
		position: absolute;
		content: '+1.2%';
		display: inline-block;
		font-family: Mweather-sb;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 15px;
		color: #0FB41F;
}
.header {
	background: linear-gradient(127.58deg, #8C6BFF -7.22%, #FF5CA8 61.5%, #FFB66F 117.98%);
	height: 145px;
	display: flex;
	align-items: center;
	.header-nav {
		position: relative;
		display: flex;
		justify-content: center;
	    align-items: center;
	    width: 75%;
	    margin: 0 auto;
	    background: #FFFFFF;
	    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	    border-radius: 15px;
	    height: 80px;
		.logo {
			width: 75px;
			padding: 5px 0px;
			position: absolute;
			left: 5px;
			transform: translateY(5px);
		}
		ul {
			display: flex;
			li {
				a {
					text-decoration: none;
					font-family: 'Mweather';
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 18px;
					color: $black;
				}
			}
			li:first-child {
				margin-left: -160px;
				margin-right: 50px;
				width: 200px;
			}
			li:first-child::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/search.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(5px);
			}
			li:nth-child(2)::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/female.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(5px);
			}
			li:nth-child(3) {
				margin: 0px 35px;
			}
			li:nth-child(3)::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/star.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(3px);
			}
			li:last-child::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/like.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(3px);
			}
		}
		.log-in {
			text-decoration: none;
			position: absolute;
			right: 35px;
			font-family: 'Mweather';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			color: $black;
		}
		.log-in::before {
			content: '';
			display: inline-block;
			width: 20px;
			height: 20px;
			background: url("../img/user.svg") center center / cover no-repeat;
			margin-right: 6px;
			transform: translateY(4px);
		}
		.log-in::after {
			content: '';
			display: inline-block;
			width: 13px;
			height: 13px;
			background: url("../img/down arrow.svg") center center / cover no-repeat;
			margin-left: 6px;
		}
	}
}
.select2-container {
	position: absolute;
	right: 10px;
	width: 144px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	display: none;
}
.navigation {
	text-align: center;
	h2 {
		font-family: Mweather;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: $black;
		margin: 40px 0px;
	}
}	
.container {
	width: 70%;
	margin: 0 auto;
	display: flex;
	position: relative;
	.left-content {
		width: 30%;
		.portfolio {
			position: relative;
			background: #FFFFFF;
			box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
			border-radius: 15px;
			min-height: 650px;
			.portfolio-photo {
				position: relative;
				border-radius: 15px 15px 0px 0px;
				height: 280px;
				background: url('../img/jdepp.png') center center / cover no-repeat;
			}
			.portfolio-photo::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background: linear-gradient(to top,rgb(255, 255, 255) 1.68%,rgba(29,29,29,0) 56.82%,#fff0 1.68%);
			}
			.portfolio-info {
				height: 65%;
				text-align: center;
				h3 {
					margin-top: 10px;
					font-family: Mweather;
					font-style: normal;
					font-weight: bold;
					font-size: 20px;
					line-height: 25px;
					text-transform: uppercase;
					background: -webkit-linear-gradient(118.96deg,#f83690 -10.2%,#3555f2 141.74%,rgba(255,255,255,0) 152.77%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				span {
					color: rgba(47, 46, 46, 0.6);
					display: block;
					font-family: Mweather-r;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
					text-transform: uppercase;
					margin-top: 8px;
				}
				.number {
					margin-top: 4%;
					color: $black;
					font-family: Mweather;
					font-style: normal;
					font-weight: bold;
					font-size: 30px;
					line-height: 38px;	
				}
			}
		}
	}
	.right-content {
		width:70%;
		.people {
			display: flex;
			width: 100%;
			justify-content: space-around;
			position: relative;
			flex-flow: row wrap;
			// margin: 50px 0px;
			li {
				margin-bottom: 30px;
				position: relative;
				display: flex;
				background: #fff;
				width: 45%;
				box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
				border-radius: 15px;
				overflow: hidden;
				.photo {
					width: 45%;
					height: 170px;
					background: url('../img/girl1.png') center center / cover no-repeat;
				}
				.text-content {
					padding: 3% 2% 1% 3%;
					width: 55%;
					position: relative;
					h4 {
						margin: 6px 0px;
						background: -webkit-linear-gradient(118.96deg, #F83690 -10.2%, #3555F2 141.74%, rgba(255, 255, 255, 0) 152.77%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						font-family: 'Mweather-b';
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						line-height: 20px;
					}
					.info {
						display: flex;
						justify-content: space-between;
						.title {
							font-family: 'Mweather-r';
							font-style: normal;
							font-weight: normal;
							font-size: 12px;
							line-height: 15px;
							margin: 5px 0px;
						}
						.value {
							font-family: 'Mweather-sb';
							font-style: normal;
							font-weight: bold;
							font-size: 14px;
							line-height: 18px;
							color: $red;
							margin-right: 35px;
						}
					}
					.city {
						font-family: 'Mweather-r';
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 15px;
						text-transform: uppercase;
						color: $black;
						margin-left: 2px;
					}
					.city::before {
						position: relative;
						right: 3px;
						content: '';
						display: inline-block;
						width: 20px;
						height: 20px;
						background: url("../img/location.svg") center center / cover no-repeat;
					}
					.date {
						display: block;
						font-family: 'Mweather-sb';
						font-style: normal;
						font-weight: normal;
						font-size: 10px;
						line-height: 13px;
						color: rgba(47, 46, 46, 0.7);
						position: absolute;
					    bottom: 8px;
					    right: 9px;
					}
				}
			}		
		}
	}
}		
.footer {
	margin-top: 130px;
	position: relative;
	background: linear-gradient(137.46deg, #8C6BFF -7.22%, #FF5CA8 61.5%, #FFB66F 117.98%);
	opacity: 0.9;
	height: 110px;
	display: flex;
	align-items: center;
	.footer-nav {
		display: flex;
		justify-content: space-between;
		width: 75%;
		margin:0 auto;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		border-radius: 15px;
		height: 79px;
		align-items: center;
		.links {
			display: flex;
			margin-left: 10px;
			li {
				margin: 0 10px;
				a {
					img {
						
					}
				}
			}
		}
		.FAQ {
			display: flex;
			li {
				margin: 10px 20px 0px 20px;
				a {
					font-family: 'Mweather';
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 18px;
					color: $black;
					text-decoration: none;
				}
			}
			li:last-child {
				margin-top: 0px;
				margin-right: 40px;
				a {
					img {

					}
				}
			}
		}
	}
}