@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background: rgba(238, 238, 238, 0.15);
}
.header {
	background: linear-gradient(127.58deg, #8C6BFF -7.22%, #FF5CA8 61.5%, #FFB66F 117.98%);
	height: 145px;
	display: flex;
	align-items: center;
	.header-nav {
		position: relative;
		display: flex;
		justify-content: center;
	    align-items: center;
	    width: 75%;
	    margin: 0 auto;
	    background: #FFFFFF;
	    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	    border-radius: 15px;
	    height: 80px;
		.logo {
			width: 75px;
			padding: 5px 0px;
			position: absolute;
			left: 5px;
			transform: translateY(5px);
		}
		ul {
			display: flex;
			li {
				position: relative;
				input {
					height: 30px;
					border: none;
					font-family: Mweather;
					font-size: 14px;
					color:#2f2e2e;
				}
				input:focus {
					outline: none;
				}
				input::placeholder {
					color: #2f2e2e;
					font-family: Mweather;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 18px;
				}
				a {
					display: inline-block;
					text-decoration: none;
					font-family: 'Mweather';
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 18px;
					color: $black;
				}
			}
			li:first-child {
				margin-left: -160px;
				margin-right: 50px;
				width: 200px;
			}
			li:first-child::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/search.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(5px);
				position: absolute;
				left: -22px;
			}
			li:nth-child(2)::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/female.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(5px);
			}
			li:nth-child(3) {
				margin: 0px 35px;
			}
			li:nth-child(3)::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/Star.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(3px);
			}
			li:last-child::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/Like.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(3px);
			}
		}
		.log-in {
			text-decoration: none;
			position: absolute;
			right: 25px;
			font-family: 'Mweather';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			color: $black;
		}
		.log-in::before {
			content: '';
			display: inline-block;
			width: 20px;
			height: 20px;
			background: url("../img/User.svg") center center / cover no-repeat;
			margin-right: 6px;
			transform: translateY(4px);
		}
	}
}
.container {
	width: 70%;
	margin: 0 auto;
	position: relative;
	.general-nav {
		position: relative;
		display: flex;
		justify-content: space-between;
		li {
			margin: 20px 0px;
		    width: 33%;
		    text-align: center;
		    position: relative;

		    &.active a {
		    	font-family: 'Mweather-b';
		    }
			a {
				// padding: 5%;
				display:block;
				font-family: 'Mweather';
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 20px;
				color:$black;
				text-decoration: none;
			}
		}
		.rectangle_gradient {
			position: relative;
			border-radius: 15px;
			display: block;
			bottom: 0;
			height: 3px;
			width: 33.3%;
			position: absolute;
			left: 0;
			// margin-left: 11.5%;
			.core {
				display: block;
				height: 3px;
				width: 120px;
				margin: 0 auto;
				background: linear-gradient(160.37deg, #F83690 -10.2%, #3555F2 141.74%, rgba(255, 255, 255, 0) 152.77%);


			}
		}
	}
.select2-container {
	width: 180px !important;
	margin: 15px 0px;
}
.selection:focus, .select2-container--default .select2-search--dropdown .select2-search__field:focus, 
.select2-container--default .select2-selection--single .select2-selection__rendered:focus,
.select2-container--default .select2-selection--single  {
	outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: $black;
	font-family: Mweather;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
}
.select2-selection__arrow {
	top: -2px !important;
}
.select2-container--default .select2-selection--single {
	background-color: transparent;
	border: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: $black transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent $black transparent;
}
#top-people {
	display: block;
    transform: translateY(10px);
}
.ul-container {
	position: relative;
}
.profiles > ul {
	    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    z-index: -1;

    &.in-view {
    	opacity: 1;
	transition: .4s;
	transition-delay: .2s;
	z-index: 2;
	font-family: mweather-b;
    }
}
	.top100, .popular, .recent {
		display: flex;
		width: 100%;
		justify-content: space-between;
		// margin: 50px 0px;
		// position: relative;
		flex-flow: row wrap;
		li {
			position: relative;
			display: flex;
			background: #fff;
			width: 30%;
			height: auto;
			box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
			border-radius: 15px;
			overflow: hidden;
			.photo {
				width: 50%;
				height: auto;
				// width: 174px;
				background: url('../img/girl1.png') center center / cover no-repeat;
			}
			.text-content {
				padding: 3% 2% 1% 3%;
				width: 50%;
				position: relative;
				h4 {
					margin: 6px 0px;
					background: -webkit-linear-gradient(118.96deg, #F83690 -10.2%, #3555F2 141.74%, rgba(255, 255, 255, 0) 152.77%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					font-family: 'Mweather-b';
					font-style: normal;
					font-weight: bold;
					font-size: 15px;
					line-height: 20px;
				}
				.info {
					display: flex;
					justify-content: space-between;
					.title {
						font-family: 'Mweather-r';
						font-style: normal;
						font-weight: normal;
						font-size: 11px;
						line-height: 15px;
						margin: 4px 0px;
					}
					.value {
						display: block;
					    transform: translateY(2px);
						font-family: 'Mweather-sb';
						font-style: normal;
						font-weight: bold;
						font-size: 13px;
						line-height: 18px;
						color: $red;
						margin-right: 35px;
					}
				}
				.city {
					font-family: 'Mweather-r';
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
					text-transform: uppercase;
					color: $black;
					margin-left: 10%;
				}
				.city::before {
					// transform: translateY(5px);
					position: absolute;
					left: 3%;
					content: '';
					display: inline-block;
					width: 16px;
					height: 17px;
					background: url("../img/location.svg") center center / cover no-repeat;
				}
				.date {
					display: block;
					font-family: 'Mweather-sb';
					font-style: normal;
					font-weight: normal;
					font-size: 10px;
					line-height: 13px;
					color: rgba(47, 46, 46, 0.7);
					position: relative;
					bottom: 2px;
					left: 15%;
					margin-top: 4px;
				}
			}
		}
		li:nth-child(1), li:nth-child(4), li:nth-child(7) {
			background: #FFEAF4;
			margin: 15px 0px;
		}
		li:nth-child(2), li:nth-child(5), li:nth-child(8) {
			margin: 15px 0px;
			.photo {
				background: url('../img/girl2.png') center center / cover no-repeat;
			}
		}
		li:nth-child(3), li:nth-child(6), li:nth-child(9) {
			margin: 15px 0px;
			.photo {
				background: url('../img/girl3.png') center center / cover no-repeat;
			}
		}
	}
}
.popular, .recent {
	margin:0 !important;
	position: absolute;
	left:0px;
	top: 0px;
}
.top100.in-view, .popular.in-view, .recent.in-view  {
	// opacity: 1;
	// transition: .4s;
	// transition-delay: .2s;
	// z-index: 2;
	// font-family: mweather-b;
}
.popular.hide, .recent.hide, .top100.hide {
	opacity: 0;
	transition: .4s;
	z-index: -1;
}
#special3::after {
		position: absolute;
		content: '+0.8%';
		display: inline-block;
		font-family: Mweather-sb;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 15px;
		color: #0FB41F;
}
#special2::after {
		position: absolute;	
		content: '+3.2%';
		display: inline-block;
		font-family: Mweather-sb;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 15px;
		color: #0FB41F;
}
#special1::after {
		position: absolute;
		content: '+1.2%';
		display: inline-block;
		font-family: Mweather-sb;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 15px;
		color: #0FB41F;
}
.tab-menu {
	display: none;
}
.footer {
	margin-top: 150px;
	position: relative;
	background: linear-gradient(137.46deg, #8C6BFF -7.22%, #FF5CA8 61.5%, #FFB66F 117.98%);
	opacity: 0.9;
	height: 110px;
	display: flex;
	align-items: center;
	.footer-nav {
		display: flex;
		justify-content: space-between;
		width: 75%;
		margin:0 auto;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		border-radius: 15px;
		height: 79px;
		align-items: center;
		.links {
			display: flex;
			margin-left: 10px;
			li {
				margin: 0 10px;
				a {
					img {
						
					}
				}
			}
		}
		.FAQ {
			display: flex;
			li {
				margin: 10px 20px 0px 20px;
				a {
					font-family: 'Mweather';
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 18px;
					color: $black;
					text-decoration: none;
				}
			}
			li:last-child {
				margin-top: 0px;
				margin-right: 40px;
				a {
					img {

					}
				}
			}
		}
	}
}



@import "media";


	
