@import "vars";
@import "fonts";

body {
	background: rgba(238, 238, 238, 0.15);
}
.header {
	background: linear-gradient(127.58deg, #8C6BFF -7.22%, #FF5CA8 61.5%, #FFB66F 117.98%);
	height: 145px;
	display: flex;
	align-items: center;
	.header-nav {
		position: relative;
		display: flex;
		justify-content: center;
	    align-items: center;
	    width: 75%;
	    margin: 0 auto;
	    background: #FFFFFF;
	    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	    border-radius: 15px;
	    height: 80px;
		.logo {
			width: 75px;
			padding: 5px 0px;
			position: absolute;
			left: 5px;
			transform: translateY(5px);
		}
		ul {
			display: flex;
			li {
				a {
					text-decoration: none;
					font-family: 'Mweather';
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 18px;
					color: $black;
				}
			}
			li:first-child {
				margin-left: -160px;
				margin-right: 50px;
				width: 200px;
			}
			li:first-child::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/search.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(5px);
			}
			li:nth-child(2)::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/female.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(5px);
			}
			li:nth-child(3) {
				margin: 0px 35px;
			}
			li:nth-child(3)::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/star.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(3px);
			}
			li:last-child::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("../img/like.svg") center center / cover no-repeat;
				margin-right: 6px;
				transform: translateY(3px);
			}
		}
		.log-in {
			text-decoration: none;
			position: absolute;
			right: 35px;
			font-family: 'Mweather';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			color: $black;
		}
		.log-in::before {
			content: '';
			display: inline-block;
			width: 20px;
			height: 20px;
			background: url("../img/user.svg") center center / cover no-repeat;
			margin-right: 6px;
			transform: translateY(4px);
		}
		.log-in::after {
			content: '';
			display: inline-block;
			width: 13px;
			height: 13px;
			background: url("../img/down arrow.svg") center center / cover no-repeat;
			margin-left: 6px;
		}
	}
}
.select2-container {
	position: absolute;
	right: 10px;
	width: 144px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	display: none;
}
.navigation {
	text-align: center;
	h2 {
		font-family: Mweather;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: $black;
		margin: 40px 0px;
	}
}
.container {	
	width: 70%;
	margin: 0 auto;
	display: flex;
	position: relative;
	.left-content {
		width: 30%;
		.portfolio {
			position: relative;
			background: #FFFFFF;
			box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
			border-radius: 15px;
			min-height: 531px;
			.portfolio-photo {
				position: relative;
				border-radius: 15px 15px 0px 0px;
				height: 280px;
				box-shadow: inset 0px -20px 20px 5px #fff;
				background: url('../img/mcyrus.png') center center / cover no-repeat;
			}
			.portfolio-photo::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background: linear-gradient(to top,rgb(255, 255, 255) 1.68%,rgba(29,29,29,0) 56.82%,#fff0 1.68%);
			}
			.portfolio-info {
				position: relative;
				text-align: center;
				padding: 5px;
				h3 {
					margin-top: 10px;
					margin-bottom: 10px;
					font-family: Mweather;
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 25px;
					// text-transform: uppercase;
					background: -webkit-linear-gradient(118.96deg,#f83690 -10.2%,#3555f2 141.74%,rgba(255,255,255,0) 152.77%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				span {
					margin-top: 10px;
					display: block;
					font-family: Mweather-r;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
					text-transform: uppercase;
				}
				.number {
					margin-top: 10px;
					font-family: Mweather;
					font-style: normal;
					font-weight: bold;
					font-size: 22px;
					line-height: 28px;
					text-transform: uppercase;
				}
				ul {
					display: flex;
					justify-content: space-around;
					flex-flow: row wrap;
					li {
						text-align: center;
						width: 30%;
					}
				}
			}
		}
	}
	.right-content {
		width:70%;
	}
}	
.footer {
	margin-top: 130px;
	position: relative;
	background: linear-gradient(137.46deg, #8C6BFF -7.22%, #FF5CA8 61.5%, #FFB66F 117.98%);
	opacity: 0.9;
	height: 110px;
	display: flex;
	align-items: center;
	.footer-nav {
		display: flex;
		justify-content: space-between;
		width: 75%;
		margin:0 auto;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		border-radius: 15px;
		height: 79px;
		align-items: center;
		.links {
			display: flex;
			margin-left: 10px;
			li {
				margin: 0 10px;
				a {
					img {
						
					}
				}
			}
		}
		.FAQ {
			display: flex;
			li {
				margin: 10px 20px 0px 20px;
				a {
					font-family: 'Mweather';
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 18px;
					color: $black;
					text-decoration: none;
				}
			}
			li:last-child {
				margin-top: 0px;
				margin-right: 40px;
				a {
					img {

					}
				}
			}
		}
	}
}