@import "vars";

@media (max-width: 767px) {
	.header {
		height: 125px;
		.header-nav {
			height: 60px;
			width: 90%;
			img {
			}
			ul {
				li:first-child, li:nth-child(3), li:nth-child(4) {
					display: none;
					a {
						font-size: 12px;
					}
				}
				li:nth-child(1) {
					display: none;
				}
				li:nth-child(3)::before, li:nth-child(2):efore, li:nth-child(4)::before {
					display: block;
					margin: 0 auto;
					width: 15px;
					height: 15px;
				}
				li:nth-child(3) {
				    margin: 0 15px;
				}
			}
			.log-in {
				right: 0px;
				margin: 0 auto;
				font-size: 10px;
				color: transparent;
			}
			.log-in::before {
				display: block;
				margin: 0 auto;
				width: 25px;
				height: 25px;
				transform: translateY(10px);
				right: 10px;
				position: relative;
			}
			.log-in::after {
				display: inline;
			}
			.logo {
				width: 50px;
				left: 5px;
			}
		}
	}
	.container {
		width: 100%;
		display: block;
		.left-content {
			width: 100%;
			.portfolio {
				width: 317px;
				margin: 0 auto;
			}
			.button {
				width: 317px;
				margin: 18px auto 11px;
			}
		}
		.right-content {
			width: 100%;
			.content-container {
				padding:0px;
				.charts {
					width: 317px !important;
					margin:0 20px;
					.stats {
						width: 100%;
					}
				}
				.charts:first-child {
					margin-bottom: 5%;
				}
			}
		}
	}
	.posts {
		width: 100%;
		margin-top: 10%;
		margin-bottom: 50%;
		.pictures {
			padding: 10px 0px;
			li {
			}
		}
	}
	.footer {
		display: none;
	}
	.tab-menu {
		min-width: 320px;
		z-index: 25;
		display: block;
		height: 111px;
		width: 100vw;
		background: linear-gradient(127.58deg,#8c6bff -7.22%,#ff5ca8 61.5%,#ffb66f 117.98%);
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;	
		ul {
			display: flex;
			justify-content: center;
		    align-items: center;
		    width: 80%;
		    margin: 0 auto;
		    background: #FFFFFF;
		    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		    border-radius: 15px;
		    height: 60%;	
			li {
				width: 20%;
				border-right: 1px solid #000;
				height: 100%;
				a {
					img {

					}
				}
			}
			li:last-child {
				border-right: none;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1366px) {
	.header {
		position: relative;
		.header-nav {
			width: 80%;
			.log-in {
				right: 15px;
			}
			ul {
				li:first-child {
					display: none;
				}
			}
		}
	}
	.container {
		width: 100%;
		display: block;
		.left-content {
			width: 317px;
			margin: 0 auto;
			.portfolio {
				.portfolio-photo {
				}
			}
		}
		.right-content {
			width: 100%;
			padding: 0%;
			.content-container {
				padding:0px 15px;
				.charts {
				}
				.charts:first-child {
					margin-bottom: 5%;
				}
			}
		}
	}
	.posts {
		width: 100%;
	    margin-top: 10%;
	    // padding: 0% 15px;
	}
	.footer {
		display: flex;
	}
}
@media (max-width: 1152px) and (min-width: 782px)  {
	.container {
		.left-content {
			width: 530px;
			.portfolio {
				display: flex;
				min-height: 317px;
				width: 530px;
				position: relative;
				&-photo {
					height: 317px!important;
					width: 50%;
					border-radius: 15px 0px 0px 15px!important;
					box-shadow: inset 1px -3px 20px 5px #fff!important;
				}
				&-photo::after {
					    background: linear-gradient(to left,#fff 1.68%,rgba(29,29,29,0) 56.82%,#fff0 1.68%)!important;
				}
				&-info {
					height: 317px;
					width: 50%;
					align-items: center;
				    display: flex;
				    flex-direction: column;
				    justify-content: center;
				    padding: 0px!important;
				}
			}
			.button {
				margin: 18px auto 11px auto !important;
			}
		}
	}
}
@media (max-width: 1366px) {
	.posts {
		width: 80%;
		margin-top: 10%;
	}
	.container {
		.left-content {
			.portfolio {
				.portfolio-info {
					h3 {
						font-size: 15px;
					}
					span {
						font-size: 8px;
					}
					.number {
						line-height: 20px;
						font-size: 20px;
					}
				}
			}
		}
	}
}
