@import "vars";

@media (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 1366px) {

}
@media (max-width: 1366px) {
	.header {
		height: 125px;
		.header-nav {
			height: 60px;
			width: 90%;
			img {
			}
			ul {
				li:first-child, li:nth-child(3), li:nth-child(4) {
					display: none;
					a {
						font-size: 12px;
					}
				}
				li:nth-child(1) {
					display: none;
				}
				li:nth-child(3)::before, li:nth-child(2):efore, li:nth-child(4)::before {
					display: block;
					margin: 0 auto;
					width: 15px;
					height: 15px;
				}
				li:nth-child(3) {
				    margin: 0 15px;
				}
			}
			.log-in {
				right: 0px;
				margin: 0 auto;
				font-size: 10px;
				color: transparent;
			}
			.log-in::before {
				display: block;
				margin: 0 auto;
				width: 25px;
				height: 25px;
				transform: translateY(10px);
				right: 10px;
				position: relative;
			}
			.log-in::after {
				display: inline;
			}
			.logo {
				width: 50px;
				left: 5px;
			}
		}
	}
	.tab-menu {
		z-index: 25;
		display: block;
		height: 15vh;
		width: 100vw;
		background: linear-gradient(127.58deg,#8c6bff -7.22%,#ff5ca8 61.5%,#ffb66f 117.98%);
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;	
		ul {
			display: flex;
			justify-content: center;
		    align-items: center;
		    width: 80%;
		    margin: 0 auto;
		    background: #FFFFFF;
		    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
		    border-radius: 15px;
		    height: 60%;	
			li {
				width: 20%;
				border-right: 1px solid #000;
				height: 100%;
				a {
					img {

					}
				}
			}
			li:last-child {
				border-right: none;
			}
		}
	}
	.container {
		width: 80%;
		display: block;
		.left-content {
			width: 100%;
		}
		.right-content {
			width: 100%;
			.content-container {
				padding:0px;
				.charts {
					width: 100% !important;
				}
				.charts:first-child {
					margin-bottom: 5%;
				}
			}
		}
	}
	.posts {
		width: 90%;
		margin-top: 10%;
		margin-bottom: 40%;
	}
	.footer {
		display: none;
	}
}