// SECTION :: START
section#modal_newsletter-main.modal_newsletter-main
  .c-grid
    .modal_newsletter-main__wrapper
      .modal_newsletter-main__wrapper-left
        .modal_newsletter-main__badge-wrapper
          a(href="services.html").modal_newsletter-main__badge Back to services
        h2.modal_newsletter-main__title Newsletter subscribtion
        .modal_newsletter-main__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum tortor nec velit elementum, vel efficitur augue sodales. 
      .modal_newsletter-main__wrapper-right
        .modal_newsletter-main__content
          form(action='example@example' method='POST').modal_newsletter-main__content-form
            label
              span Full name*
              input(type="text" required='')
              span.invalid-title Please fill this field
            label
              span Business email*
              input(type="text" required='')
              span.invalid-title Please fill this field
            label
              span Job title
              input(type="text" required='')
              span.invalid-title Please fill this field    
            label
              span Company name
              input(type="text" required='')
              span.invalid-title Please fill this field
            label.checkbox-label.terms(for='1')
              input#1.checkbox(type='checkbox' required='' checked)
              span.checkmark
              span.text
                | I want to get Area99 annual report on industry competiveness.
              button.button Subscribe
          

// SECTION :: END
