// SECTION :: START
section#modal_callback-main.modal_callback-main
  .c-grid
    .modal_callback-main__wrapper
      .modal_callback-main__wrapper-left
        .modal_callback-main__badge-wrapper
          a(href="services.html").modal_callback-main__badge Back to services
        h2.modal_callback-main__title Get a call back
        .modal_callback-main__desc Fill the folowing fields and receive a call back from our managers to consult you.  Fill the folowing fields and receive a call back from our managers to consult you. 
      .modal_callback-main__wrapper-right
        .modal_callback-main__content
          form(action='example@example' method='POST').modal_callback-main__content-form
            label
              span Full name*
              input(type="text" required='')
              span.invalid-title Please fill this field
            label
              span Business email*
              input(type="text" required='')
              span.invalid-title Please fill this field
            label
              span Job title
              input(type="text" required='')
              span.invalid-title Please fill this field    
            label
              span Company name
              input(type="text" required='')
              span.invalid-title Please fill this field
            .try
              label
                span
                  | Country
                  span.req *
                .cont_select_center
                  .select_mate(data-mate-select='active')
                    select#province(name='' onchange='' onclick='return false;')
                      option(value='') Corona
                      option(value='1') extra
                      option(value='2') or
                      option(value='3') Corona virus
                      option(value='4') ?
                      option(value='' selected='') Corona virus
                    p.selecionado_opcion(onclick='open_select(this)')
                    span.icon_select_mate(onclick='open_select(this)')
                      svg(fill='#fff' height='24' viewbox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z')
                        path(d='M0-.75h24v24H0z' fill='none')
                    .cont_list_select_mate
                      ul.cont_select_int   
            label.telephone
              select(name="")
                option +49
                option +48
              input(type="text" required='')
            .question
              span How you would like to be contacted?
              .box
                .block
                  input#1(type='radio' name='choose')
                  label(for='1') call me directly
                .block
                  input#2(type='radio' required='' name='choose')
                  label(for='2') Scedule via email
            .question
              span Give me a call in the following times: 
              .box
                select(name="")
                  option 9 am to 12 pm
                  option 12 pm to 3 pm
                  option 3 pm to 6 pm
                select(name="")
                  option Any working day
                  option Monday
                  option Tuesday
                  option Wednesday
                  option Thursday
                  option Friday
            button.button Send request

// SECTION :: END
