// SECTION :: START
section#modal_report-main.modal_report-main
  .c-grid
    .modal_report-main__wrapper
      .modal_report-main__wrapper-left
        .modal_report-main__badge-wrapper
          a(href="services.html").modal_report-main__badge Back to services
        h2.modal_report-main__title Get an annual report
        .modal_report-main__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum tortor nec velit elementum, vel efficitur augue sodales. 
      .modal_report-main__wrapper-right
        .modal_report-main__content
          form(action='example@example' method='POST').modal_report-main__content-form
            label
              span Full name*
              input(type="text" required='')
              span.invalid-title Please fill this field
            label
              span Business email*
              input(type="text" required='')
              span.invalid-title Please fill this field
            label
              span Job title
              input(type="text" required='')
              span.invalid-title Please fill this field    
            label
              span Company name
              input(type="text" required='')
              span.invalid-title Please fill this field
            .try
              label
                span
                  | Country
                  span.req *
                .cont_select_center
                  .select_mate(data-mate-select='active')
                    select#province(name='' onchange='' onclick='return false;')
                      option(value='') Corona
                      option(value='1') extra
                      option(value='2') or
                      option(value='3') Corona virus
                      option(value='4') ?
                      option(value='' selected='') Corona virus
                    p.selecionado_opcion(onclick='open_select(this)')
                    span.icon_select_mate(onclick='open_select(this)')
                      svg(fill='#fff' height='24' viewbox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z')
                        path(d='M0-.75h24v24H0z' fill='none')
                    .cont_list_select_mate
                      ul.cont_select_int   
            button.button Send request

// SECTION :: END
