// SECTION :: START
section#modal_search-sorry-main.modal_search-sorry-main
  .c-grid
    .modal_search-sorry-main__wrapper
      .modal_search-sorry-main__wrapper-left
        .modal_search-sorry-main__badge-wrapper
          a(href="services.html").modal_search-sorry-main__badge Back to services
        h2.modal_search-sorry-main__title Search results
        .modal_search-sorry-main__desc 
          p.special For 
            span#word "Example" 
            | we found 
          p.special2 
            span#number number
            |  results.
      .modal_search-sorry-main__wrapper-right
        .modal_search-sorry-main__content
          form#searchBar(action='/search' method='GET' autocomplete='off')
            label
              input(type='text')
              button(type='submit').button Find
          .modal_search-sorry-main__content-lastpart
            h3 Sorry!
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum tortor nec velit elementum, vel efficitur augue 
                a(href="#") sitemap.
                br
                br 
                | We find nothing on your search. Please try to change your frase, and try to search again...   


// SECTION :: END
