// SECTION :: START
section#modal_search-main.modal_search-main
  .c-grid
    .modal_search-main__wrapper
      .modal_search-main__wrapper-left
        .modal_search-main__badge-wrapper
          a(href="services.html").modal_search-main__badge Back to services
        h2.modal_search-main__title Search results
        .modal_search-main__desc 
          p.special For 
            span#word "Example" 
            | we found 
          p.special2 
            span#number number
            |  results.
      .modal_search-main__wrapper-right
        .modal_search-main__content
          form#searchBar(action='/search' method='GET' autocomplete='off')
            label
              input(type='text')
              button(type='submit').button Find
          .modal_search-main__content-mediumpart
            .modal_search-main__content-mediumpart-block
              h3 Cognitive services 
                p artificial intelligence in as a service her and there  artificial intelligence in as a service her and there  
            .modal_search-main__content-mediumpart-block
              h3 AI as service 
                p artificial intelligence in as a service her and there  artificial intelligence in as a service her and there  artificial intelligence in as a service her 
            .modal_search-main__content-mediumpart-block
              h3 Zero to AI process
                p artificial intelligence in as a service her and there  artificial intelligence in as a service her and there  
            .modal_search-main__content-mediumpart-block
              h3 Zero to AI process
                p artificial intelligence in as a service her and there  artificial intelligence in as a service her and there  
          .modal_search-main__content-lastpart
            h3 Didn’t find what your looking for?
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum tortor nec velit elementum, vel efficitur augue 
                a(href="#") sitemap.


// SECTION :: END
