section#research-main.research-main
  .c-grid
    .research-main__wrapper#first
      .research-main__wrapper-left
        .research-main__badge-wrapper
          p.research-main__badge Artificial intelligence Research
        h1.research-main__title Advancing the state of the art in AI
        p.research-main__desc
          | Our research mission is to build practical and groundbreaking AI Research so companies and professionals can apply to their production systems. Our goal is to provide AI Solutions by implementing our algorithms, tools and technologies.
      .research-main__wrapper-right
        // img.research-main__img(src="img/img-research-main-illustration.png" alt="")

section#research-approach.research-approach
  .c-grid
    .research-approach__wrapper
      .research-approach__wrapper-left
        h2.research-approach__title Our Approach
      .research-approach__wrapper-right
        p.research-approach__desc
          | Area99 tackles the most challenging problems in Applied artificial intelligence.
          br
          | Our teams aspire to make discoveries that impact everyone, and core to our approach is sharing our research and tools to fuel progress in the field.
        p.research-approach__desc
          | Our researchers publish regularly in academic journals, release projects as open source, and apply research to Area99 products.

section#research-approach.research-approach
  .c-grid
    .research-approach__wrapper
      .research-approach__wrapper-left
        h2.research-approach__title Our Approach
      .research-approach__wrapper-right
        p.research-approach__desc
          | Area99 tackles the most challenging problems in Applied artificial intelligence.
          br
          | Our teams aspire to make discoveries that impact everyone, and core to our approach is sharing our research and tools to fuel progress in the field.
        p.research-approach__desc
          | Our researchers publish regularly in academic journals, release projects as open source, and apply research to Area99 products.
          
