section#research-main.research-main
  .c-grid
    .research-main__wrapper#first
      .research-main__wrapper-left
        .research-main__badge-wrapper
          p.research-main__badge Artificial intelligence Research
        h1.research-main__title Advancing the state of the art in AI
        p.research-main__desc
          | Our research mission is to build practical and groundbreaking AI Research so companies and professionals can apply to their production systems. Our goal is to provide AI Solutions by implementing our algorithms, tools and technologies.
        p.research-main__desc.mob-only.transform At Area99 we give business access to a fast track to artificial intelligence, we do this at Area99 we give business access to a fast track to artificial intelligence, we do this.
      .research-main__wrapper-right
        


section#research-approach.research-approach
  .c-grid
    .research-approach__wrapper
      .research-approach__wrapper-left
        h2.research-approach__title Our Approach
      .research-approach__wrapper-right
        p.research-approach__desc
          | Area99 tackles the most challenging problems in Applied artificial intelligence.
          br
          | Our teams aspire to make discoveries that impact everyone, and core to our approach is sharing our research and tools to fuel progress in the field.
        p.research-approach__desc
          | Our researchers publish regularly in academic journals, release projects as open source, and apply research to Area99 products.
          

section#research-ai.research-ai
  .c-grid
    .research-ai__wrapper
      .research-ai__wrapper-left
        h2.research-ai__title Applied Artificial intelligence
        .research-ai__body
          .research-ai__illustration
            img(src='img/img-research-ai-illustration.svg' alt='')
          .research-ai__content
            p.research-ai__content-desc
              | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
            p.research-ai__content-desc
              | More details about Applied 
              span artificial intelligence
              | , Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
            p.research-ai__content-desc
              | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, 
              span applied artificial
              |  intelligence, Elastic AI architecture.
            p.research-ai__content-desc
              | More details about Applied artificial intelligence, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture.
      .research-ai__wrapper-right
        a.research-ai__link(href='#')
          i
          span Applied Artificial intelligence
        .research-ai__tabs-wrapper
          .research-ai__tabs.test.is-active
            a.research-ai__tabs-head(href='#')
              p Generative adversrial networks
            .research-ai__tabs-body
              p
                | Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture Elastic AI architecture. Elastic AI architecture...
          .research-ai__tabs
            a.research-ai__tabs-head(href='#')
              p AI for personalization
            .research-ai__tabs-body
              p
                | Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture Elastic AI architecture. Elastic AI architecture...
          .research-ai__tabs
            a.research-ai__tabs-head(href='#')
              p Elastic integrated AI architcures
            .research-ai__tabs-body
              p
                | Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture Elastic AI architecture. Elastic AI architecture...
          .research-ai__tabs
            a.research-ai__tabs-head(href='#')
              p Cognitive artificial intelligence
            .research-ai__tabs-body
              p
                | Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture Elastic AI architecture. Elastic AI architecture...
          .research-ai__tabs
            a.research-ai__tabs-head(href='#')
              p Contexual intelligence
            .research-ai__tabs-body
              p
                | Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture Elastic AI architecture. Elastic AI architecture...





  .research-ai-mob-only-wrapper
    .c-grid
      .research-ai-mob-only.research-ai-mob-only-1
        img(src='img/img-we-bg-visual-3.svg' alt='')
      .research-ai-mob-only.research-ai-mob-only-2
        img(src='img/img-we-bg-visual-2.png' alt='')
      ul.listing
        .left
          img(src="img/blue_arrow.svg", alt="")
          img(src="img/blue_arrow.svg", alt="")
        .right
          p
            span.number 1
            | /
            span.number 2
section#research-published.research-published
  .c-grid
    .research-published__wrapper
      .research-published__wrapper-left
        h2.research-published__title Publications and white papers
        p.research-published__desc
          | Here will be some details about our research services and some other details .. Here will be some details about our research services and some other details...
        a.research-published__link(href='#')
          span Customer service
          i.icon-font.icon-corner
      .research-published__wrapper-right
        h2.research-published__title AI Research as  a service
        p.research-published__desc
          | Some test about research as a service .. some test about research as a service .. some test about research as a service .. some test about research as a service...
        a.research-published__link(href='#')
          span Services
          i.icon-font.icon-corner
section#research-join.research-join
  .research-join__bg
    img.research-join__bg-line.research-join__bg-line-1(src='img/img-research-area-join-illustration-1.png' alt='')
    img.research-join__bg-line.research-join__bg-line-2(src='img/img-research-area-join-illustration-2.png' alt='')
  .c-grid
    .research-join__wrapper
      .research-join__wrapper-left
        h2.research-join__title Join our Research team
      .research-join__wrapper-middle
        p.research-join__desc
          | Elastic AI architecture, applied artificial intelligence, Elastic AI architecture, Elastic AI architecture, applied artificial intelligence, Elastic AI architecture
      .research-join__wrapper-right
        a.research-join__link(href='#')
          span
            i.icon-font.icon-corner
          p Join our team
          


