// SECTION :: START

section#static-main.static-main
  .c-grid
    .static-main__wrapper#first
      .static-main__wrapper-left
        .about-main__badge-wrapper
          p.about-main__badge Legal information
        h2.static-main__title Privacy policy
        .static-main__content
          p.static-main__subtitle Personal data protection
          p.static-main__desc Effective Date: January 1, 2020
          p.static-main__desc
            | ArHea99 Gmb is committed to user privacy. The policy on protection of individuals with regard to the processing of personal data by the Community institutions is based on 
            a(href='#') Regulation (EU) 2018/1725
            |  of the European Parliament and Council of 23 October 2018 on the protection of natural persons with regard to the processing of personal data by the Union institutions, bodies, offices and agencies and on the free movement of such data, and repealing Regulation (EC) No 45/2001 and Decision No 1247/2002/EC.
          p.static-main__desc
            | This general policy covers the Area99 family of websites, within the area99.com domain. Although you can browse through most of these websites without giving any personal information, in some cases the information is required in order to provide the e-services you request. Websites that require such information treat it in full compliance with the regulation mentioned above and provide 
            a(href='#') information about the use of your data
            |  in their specific privacy policy statements.
          p.static-main__desc
            | Area99 family of websites, within the area99.com domain, provides links to third party sites. In order to use third party content on our websites, you may need to accept their specific terms and conditions, including their cookie policies, over which we have no control.
        .static-main__content
          p.static-main__subtitle e-service
          p.static-main__desc
            | An e-service on Area99 is a service or resource made available on the Internet in order to improve the communication between citizens and businesses on the one hand and the European institutions on the other hand.
          p.static-main__desc 3 types of e-services are, or will be, offered by Area99:
          ul.static-main__list
            li
              div
                i
              div
                p
                  | information services that provide people, media, businesses, administrations and others with access to information
            li
              div
                i
              div
                p
                  | interactive communication services that allow better contact with people, businesses, civil society and public bodies, in order to facilitate policy consultations and feedback
            li
              div
                i
              div
                p
                  | services that allow access to all basic forms of transactions with the EU, such as procurement, financial operations, recruitment, event enrolment, and acquisition of documents
        .static-main__content
          p.static-main__subtitle Area99 Analytics
          p.static-main__desc
            strong Area99
            |  Analytics is the corporate service that measures the effectiveness and efficiency of the area99.com site managed by the European Commission on behalf of all EU institutions and bodies. You may choose not to have a unique web analytics cookie identification number assigned to your computer to avoid the aggregation and analysis of data collected on this website.To make that choice, please click below to receive an opt-out cookie.
          p.static-main__desc
            strong Area99
            |  and its subsidiaries and affiliates (collectively, &ldquo;
            strong Area99
            | &rdquo;, &ldquo;us&rdquo; or &ldquo;we&rdquo;) understand that your privacy is important to you. We are committed to respecting your privacy and protecting your personal data, which is any information that is capable of identifying you as an individual person. This Privacy Policy describes how we handle and protect your personal data in connection with Area99&apos;s business activities, like conferences and events, and client services, and on websites, applications, and communications that post a link to this Privacy Policy (collectively, &ldquo;the Sites&rdquo;), in our capacity as data controllers. Please see our Terms of use for more information about our online terms and policies in general.
        .static-main__content
          p.static-main__subtitle Information we collect
          p.static-main__desc
            | Area99 collects personal data in the course of its business activities, including in connection with some client services. We also collect personal data on certain areas of the Sites when you register for or apply for jobs through the Area99 Recruitment Portal, create a user profile, register for Area99 newsletters and alerts, participate in our alumni activities through our Alumni Center Website, sign up for conferences and events, and/or participate in public user posting areas (such as bulletin boards, discussion forums and surveys). The personal data collected varies and may include information that you provide, such as your name, mailing address, e-mail address, telephone number, fax number, and background information required to apply for a job.
        .static-main__content
          p.static-main__subtitle Use of information
          p.static-main__desc
            | Area99 uses your personal data to fulfill your requests for information, process your requests to participate in conferences and events, personalize content that you view or receive on the Sites, evaluate and improve our services, distribute newsletters and alerts to you, recruit and evaluate job applicants, analyze the Sites&rsquo; performance and functioning, publish your letters to the editor or comments, prevent fraud, enforce our terms of use, comply with all applicable laws and corporate reporting obligations, enforce Area99&apos;s agreements, and accomplish other purposes you may initiate or request. In some situations, the collection of personal data may be required for the operation of the Sites, or we may use it in the course of our business activities, including in connection with some client services, for example, to provide certain services or products such as our benchmarking products. We may combine and/or analyze personal data to evaluate and offer content and services most relevant to you. We may keep any of your personal data on file and use it to contact you.
        .static-main__content
          p.static-main__subtitle Your rights
          p.static-main__desc
            | Where granted by applicable law, you may have the right to request access to the personal data that we have collected about you for the purposes of reviewing, modifying, or requesting the deletion of the data. You may also have the right to request a copy of the personal data that we have collected about you and to have any inaccuracies in that data corrected. In certain circumstances, you may also request that we cease processing your personal data.
          p.static-main__desc
            | If you would like to make a request to access, review, or correct the personal data we have collected about you, or to discuss how we process your personal data, please contact us at 
            a(href='#') datasubjectrights@area99.com
            | . To help protect your privacy and security, we will take reasonable steps to verify your identity, such as requiring a password and user ID, before granting access to your personal data. We will make reasonable attempts to promptly investigate, comply with, or otherwise respond to your requests as may be required by applicable law. Different laws may prevent us from providing access to your personal data or otherwise fully complying with your request depending upon the circumstances and the request, such as for example, where producing your information may reveal the identity of someone else. We reserve the right to charge an appropriate fee for complying with your request where allowed by applicable law, and/or deny your requests where they may be manifestly unfounded, and/or excessive, or otherwise objectionable or unwarranted under applicable law.
          p.static-main__desc
            | In addition, and where granted by local law, you have the legal right to lodge a complaint with a competent data protection authority.
        .static-main__content
          p.static-main__subtitle Unsubscribe
          p.static-main__desc
            | If you have registered for Area99 newsletter or alerts, or you receive invitations to survey or events from Area99 and you prefer not to receive future email communications from us, please review the communications settings in your profile on area99.com, follow the instructions on the page of the Site where you have provided such information, subscribed or registered or write to 
            a(href='#') global_unsubscribes@area99.com
            |  to unsubscribe from all Area99 communications.
        .static-main__content
          p.static-main__subtitle Contact us
          p.static-main__desc
            | If you have any questions about our Privacy Policy or if you would like to communicate with our EU Data Protection Officer or the Data Privacy Team, please contact us at:
          .static-main__info
            p Area99 GmbH
            p Waldstrasse 14,
            p 10551 Berlin, Germany
            p Phone : +49 162 859 6354
            p Email : privacy@area99.com
      .static-main__wrapper-right
        p.static-main__subtitle
          | Some usefull similar
          br
          | info links:
        ul.static-main__link-wrapper
          li
            a.static-main__link.is-active(href='#')
              p Privacy policy
              i.icon-font.icon-corner
              span
          li
            a.static-main__link(href='#')
              p Disclaimer
              i.icon-font.icon-corner
              span
          li
            a.static-main__link(href='#')
              p Cookies policy
              i.icon-font.icon-corner
              span
          li
            a.static-main__link(href='#')
              p Terms of use
              i.icon-font.icon-corner
              span


// SECTION :: END
