@import "_mixins/font-face";

@include font-face("Spinnaker-r", "../fonts/Spinnaker-Regular");
@include font-face("Opensans", "../fonts/Opensans");
@include font-face("Opensans-bold", "../fonts/Opensans-bold");
@include font-face("montserratregular", "../fonts/Montserrat-Medium");
@include font-face("montserratbold", "../fonts/Montserrat-bold");
@include font-face("Calibri-l", "../fonts/Calibri-Light");


