@import "vars";
@media (max-width: 321px) {
	.header__content-text {
		h1 {
			font-size: 30px !important;
		}
	}
} 
@media (max-width: 767px) {
	.container {
		max-width: 95%;
		width: 95%;
	}
	.header {
		&__nav {
			padding-top: 29px;
			.logo {
				width: auto;
				height: 30px;
			}
			&-links {
				> a {
					font-size: 15px;
					padding: 9px 15px;
					position: relative;
					right: 50px;
				}
				.menu {
					position: fixed;
					background-color: #fff;
					top: 0;
					height: 100vh;
					width: 100vw;
					left: 0;
					z-index: 1;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: .5s;
					ul {
						display: block;
						li {
							margin: 20px 0px;
							a {
							}
						}
						li:first-child::after, li:nth-child(2)::after {
							display: none;
						}	
					}
				}
				.menu.hidden {
					left: 100%;
					transition: .5s;
				}
			}
		}
		&__content {
			width: 100%;
			&-text {
				h1 {
					transform: translate3d(10px,0,0);
					font-size: 35px;
				}
			}
			&-img {

			}
		}
		&__bottom {
			> p {
				font-size: 18px;
				max-width: 100%;
			}
			ul {
				li {
					width: 80%;
					p {
						font-size: 15px;

					}
				}
			}
		}
	}
	.hamburger {
		height: 46px;
		width: 55px;
		display: block;
		position: fixed;
		z-index: 11;
		border-radius: 30%;
		right: 5px;
		top: 22px;
		z-index: 100;
		cursor: pointer;
			}
		.hamburger.active {
			position: fixed;
		}	
		.hamburger.active .hamburger_button {
			background-color: #000;
		} 
		.hamburger.active .hamburger_button::before, .hamburger.active .hamburger_button::after {
			background-color: #000;
		}
		.hamburger_button {
			height: 2px;
			width: 40%;
			display: block;
			background-color: #000;
		    position: relative;
		    top: 50%;
	      	margin: 0 auto;
			border-radius: 3px;
	    	transform: translateY(-50%);
	    	z-index: 21;
		}
		.hamburger_button::after, .hamburger_button::before {
			content: '';
			background-color: #000;
			position: absolute;
			height: 2px;
			width: 100%;
			left: 0;
			border-radius: 3px;
			transition: top .3s, transform .3s .3s;
		}
		.hamburger_button::after {
			top: -10px;
		}
		.hamburger_button::before {
			top: 10px;
		}
}
@media (min-width: 768px) and (max-width: 1366px) {
	.header {
		h1 {
			font-size: 45px !important;
			transform: translate3d(-15px,-20px,0);
		}
		.header__bottom {
			> p {
				font-size: 22px;
			}
			ul {
				li {
					width: 62%;
					p {
						font-size: 15px;
					}
				}
			}
		}
	}
}