@import "vars";
@media (max-width: 321px) {
	h2 {
		font-size: 40px !important;
	}
	.fixed {
		&__nav {
			padding: 5px;
			&-links {
				> a {
					right: 45px !important;
				}
			}
		}
	}
	.text {
		font-size: 18px !important;
	}
	.order_now {
		.container {
			form {
				.labels {
					span {
						font-size: 15px !important;
						height: 36px;
					}
				}
			}
		}
	}
	.header__content-text {
		h1 {
			font-size: 30px !important;
			span {
				font-size: 32px !important;
			}
		}
	}
} 
@media (max-width: 767px) {
	.cont_select_int {
		width: 116% !important;
	}
	.container {
		max-width: 95%;
		width: 90%;
	}
	.href.clicked {
		color: #fff !important; 
	}
	.header {
		.fixed {
			&__nav {
				padding: 15px;
				position: fixed;
			    z-index: 1;
			    background-color: #fff;
			    width: 100vw;
			    left: 0;
			    padding-bottom: 10px;
				.logo {
					width: auto;
					height: 30px;
				}
				&-links {
					> a {
						font-size: 15px;
						padding: 9px 15px;
						position: relative;
						right: 65px;
					}
					.menu {
						position: fixed;
						background-color: #050505;
						top: 0;
						height: 100vh;
						width: 50vw;
						left: 50%;
						z-index: 1;
						display: flex;
						justify-content: center;
						align-items: start;
						transition: .5s;
						ul {
							padding-top: 35%;
							display: block;
							li {
								margin: 20px 0px;
								a {
									font-family: 'opensans-bold';
									font-size: 20px;
									text-transform: none;
								}
							}
							li:first-child::after, li:nth-child(2)::after {
								display: none;
							}	
						}
					}
					.menu.hidden {
						left: 100%;
						transition: .5s;
					}
				}
			}
		}
		&__content {
			width: 100%;
			&-text {
				h1 {
					transform: translate3d(10px,0,0);
					font-size: 35px;
					span {
						font-size: 37px;
					}
				}
			}
			&-img {

			}
		}
		&__bottom {
			> p {
				font-size: 18px;
				max-width: 100%;
			}
			ul {
				li {
					width: 80%;
					transform: translateX(20px);
					p {
						font-size: 15px;

					}
				}
			}
		}
	}
	.hamburger {
		height: 46px;
		width: 55px;
		display: block;
		position: fixed;
		z-index: 11;
		border-radius: 30%;
		right: 5px;
		top: 8px;
		z-index: 100;
		cursor: pointer;
			}
		.hamburger.active {
			position: fixed;
		}	
		.hamburger.active .hamburger_button {
			background-color: #050505;
		} 
		.hamburger.active .hamburger_button::before {
			background-color: #fff;
			transform: rotate(45deg);
			top: 0;
		}
		.hamburger.active .hamburger_button::after {
			background-color: #fff;
			transform: rotate(-45deg);
			top: 0;
		}
		.hamburger_button {
			height: 2px;
			width: 40%;
			display: block;
			background-color: #000;
		    position: relative;
		    top: 50%;
	      	margin: 0 auto;
			border-radius: 3px;
	    	transform: translateY(-50%);
	    	z-index: 21;
		}
		.hamburger_button::after, .hamburger_button::before {
			content: '';
			background-color: #000;
			position: absolute;
			height: 2px;
			width: 100%;
			left: 0;
			border-radius: 3px;
			transition: top .3s, transform .3s .3s;
		}
		.hamburger_button::after {
			top: -10px;
		}
		.hamburger_button::before {
			top: 10px;
		}
	.how_it_works {
		padding-bottom: 40px;
		h2 {
			font-size: 40px !important;
		}
		ul {
			display: block;
			li {
				margin: 0 auto;
				width: 90%;
				p {
					width: 80%;
					font-size: 20px;
				}
			}
		}
	}
	.info {
		padding: 15px 0;
		.container {
			ul {
				display: block;
				li {
					display: block;
					width: 100%;
					margin: 25px 0px;
				}
			}
		}
	}
	.order_now {
		.container {
			.text {
				font-size: 23px;
				width: 80%;
				margin: 0 auto 35px auto;
			}
			form {
				.labels {
					span {
						font-size: 16px;
						height: 36px;
					}
				}
			}
		}
	}
	.info {
		p {
			font-size: 16px !important;
		}
	}
	.FAQ {
		.container {
			ul {
				li {
					.title {
						font-size: 22px;
					}
					.animated {
						width: 100%;
						font-size: 20px;
					}
				}
			}
		}
	}
	.footer {
		.container {
			.content {
				position: relative;
				flex-flow: wrap column-reverse;
				justify-content: center;
				li {
					ul {
						height: 35px;
						margin: 25px 0px;
						li {
							img {
								width: 35px;
								margin: 0 5px;
							}
						}
					}
					> img {
						display: block;
						margin: 0 auto;
						padding-bottom: 40px;
						width: 150px;
					}
					p {
						transform: translateY(0);
						position: absolute;
						bottom: -10px;
						width: 255px;
						left: 50%;
						transform: translateX(-50%);
						font-size: 12px;
					}
				}
			}
		}
	}	
}
@media (min-width: 768px) and (max-width: 1366px) {
	.header {
		h1 {
			font-size: 45px !important;
			transform: translate3d(-15px,-20px,0);
		}
		.header__bottom {
			> p {
				font-size: 22px;
			}
			ul {
				li {
					width: 62%;
					p {
						font-size: 15px;
					}
				}
			}
		}
	}
	.how_it_works {
		ul {
			li {
				p {
					width: 85%;
					font-size: 18px;
				}
			}
		}
	}
	.info {
		.container {
			ul {
				padding: 0;
				li {
					p {
						font-size: 14px;
					}
				}
			}
		}
	}
	.FAQ {
		.title {
			font-size: 22px !important;
		}
		.animated {
			font-size: 20px !important;
		}
	}
	.order_now {
		.container {
			.text {
				font-size: 20px;
			}
		}
	}
}