@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
	color: #333132;
}
.container {
	width: 85%;
	margin: 0 auto;
}
.header {
	position: relative;
	&__nav {
		padding-top: 40px;
		display: flex;
		justify-content: space-between;
		.logo {
			width: 160px;
		}
		&-links {
			display: flex;
			align-items: center;
			ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				li {
					position: relative;
					margin: 0px 20px;
					a {
						font-family: 'Opensans';
						text-decoration: none;
						color:#333132;
						font-size: 15px;
					}
				}
				li:first-child::after, li:nth-child(2)::after {
					content: '';
					position: absolute;
					height: 20px;
					width: 0.8pt;
					background-color: #000;
					right: -20px;
					top: -1px;
				}
			}
			> a {
				font-family: 'Opensans-bold';
			    background-color: #03c9d5;
			    display: inline-block;
			    padding: 11px 15px;
			    text-decoration: none;
			    border-radius: 8px;
			    color: #fff;
			    font-size: 17px;
			}
		}
	}
	&__content {
		display: flex;
		min-height: 50vh;
		justify-content: space-between;
		align-items: center;
		width: 58%;
		margin: 0 auto;
		padding-top: 80px;
		&-text {
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			h1 {
				font-size: 65px;
				font-family: 'Spinnaker-r';
				transform: translate3d(-50px,-100px,0px);
				span {
					color: #03c9d5;
				}
			}
		}
		&-img {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			img {
				width: 100%;
			}
		}
	}
	&__bottom {
		padding-top: 90px;
		padding-bottom: 50px;
		> p {
			font-family: 'OpenSans-bold';	
			font-size: 38px;
			text-align: center;
			max-width: 70%;
			margin: 0 auto;
		}
		ul {
			margin-top: 40px;
			li {
				width: 50%;
				margin: 15px auto;
				position: relative;
				p {
					font-family: 'Opensans';
					font-size: 23px;
					color: #333132;
				}
			}
			li::before {
				content: '';
				position: absolute;
				width: 6px;
				height: 6px;
				border-radius: 50px;
				background-color: #03c9d5;
				left: -15px;
				top: 9px;
			}
		}
	}
}
.how_it_works {
	color: #fff;
	background-color: #161616;
	h2 {
		font-family: OpenSans-bold;
		font-size: 50px;
		text-align: center;
		padding: 50px 0px;
	}
	ul {
		display: flex;
		justify-content: space-between;
		flex-flow: nowrap;
		li {
			position: relative;
			width: 33%;
			img {
				width: 55%;
				margin: 0 auto;
				display: block;
			}
			p {
				font-family: 'Opensans';
				font-size: 20px;
				margin: 50px auto;
				width: 60%;
				text-align: center;
			}
		}
	}
}



@import "media";


	
