@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
	color: #333132;
}
.container {
	width: 85%;
	margin: 0 auto;
}
.header {
	position: relative;
	z-index: 2;
	.fixed {
		&__nav {
			padding: 15px 8% 15px 8%;
			display: flex;
			justify-content: space-between;
			position: fixed;
			width: 100%;
			background-color: #fff;
			z-index: 50;
			.logo {
				width: 160px;
			}
			&-links {
				display: flex;
				align-items: center;
				ul {
					display: flex;
					justify-content: space-between;
					align-items: center;
					li {
						position: relative;
						margin: 0px 20px;
						.href {
							font-family: 'opensans-r';
							text-decoration: none;
							color:#333132;
							font-size: 17px;
						}
						.href.clicked {
							color: #03c9d5;
						}
					}
					li:first-child::after, li:nth-child(2)::after {
						content: '';
						position: absolute;
						height: 20px;
						width: 0.8pt;
						background-color: #000;
						right: -20px;
						top: -1px;
					}
				}
				> a {
					font-family: 'opensans-bold';
				    background-color: #03c9d5;
				    display: inline-block;
				    padding: 11px 15px;
				    text-decoration: none;
				    border-radius: 8px;
				    color: #fff;
				    font-size: 17px;
				}
			}
		}
	}
	&__content {
		display: flex;
		min-height: 50vh;
		justify-content: space-between;
		align-items: center;
		width: 58%;
		margin: 0 auto;
		padding-top: 140px;
		&-text {
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			h1 {
				font-size: 65px;
				font-family: 'opensans-sb';
				transform: translate3d(-50px,-100px,0px);
				span {
					color: #03c9d5;
					font-family: "Spinnaker-r";
				}
			}
		}
		&-img {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			img {
				width: 100%;
			}
		}
	}
	&__bottom {
		padding-top: 90px;
		padding-bottom: 50px;
		> p {
			font-family: 'opensans-bold';	
			font-size: 38px;
			text-align: center;
			max-width: 70%;
			margin: 0 auto;
			line-height: 1.3;
		}
		ul {
			margin-top: 40px;
			li {
				transform: translateX(30px);
				width: 50%;
				margin: 15px auto;
				position: relative;
				p {
					font-family: 'Opensans-r';
					line-height: 1.3;
					font-size: 23px;
					color: #333132;
				}
			}
			li::before {
				content: '';
				position: absolute;
				width: 6px;
				height: 6px;
				border-radius: 50px;
				background-color: #03c9d5;
				left: -15px;
				top: 9px;
			}
		}
	}
}
.how_it_works {
	color: #fff;
	background-color: #161616;
	h2 {
		font-family: opensans-bold;
		font-size: 50px;
		text-align: center;
		padding: 50px 0px;
	}
	ul {
		display: flex;
		justify-content: space-between;
		flex-flow: nowrap;
		li {
			position: relative;
			width: 33%;
			img {
				width: 55%;
				margin: 0 auto;
				display: block;
			}
			p {
				font-family: 'Opensans-r';
				font-size: 25px;
				margin: 50px auto;
				width: 60%;
				line-height: 1.3;
				text-align: center;
			}
		}
	}
}
.order_now {
	.container {
		h2 {
			font-family: opensans-bold;
			font-size: 50px;
			text-align: center;
			padding: 50px 0px 35px 0px;
			color: #161616;
		}
		.text {
			font-family: 'Opensans-r';
			text-align: center;
			font-size: 22px;
			max-width: 85%;
			margin: 0 auto 35px auto;
			display: block;
			position: relative;
			line-height: 1.2;
		}
		> p::after {
			content: '';
			position: absolute;
			width: 150px;
			height: 120px;
			background: url('../img/upload_button.png') center center/contain no-repeat;
			left: 50%;
			transform: translateX(-50%);
			top: 45px;
			z-index: -5;
		}
		form {
			padding-bottom: 80px;
			position: relative;
			.upload {
				padding: 20px 0px;
			    cursor: pointer;
			    margin: 0 auto;
			    display: inline-block;
			    opacity: 0;
			    background-color: #000;
			    width: 200px;
			    position: relative;
		        left: 50%;
		        transform: translate3d(-115px,8px,10px);
			}
			#blah {
				top: -10px;
				right: 25%;
				position: absolute;
				width: 130px;
				height: 90px;
				border-radius: 8px;
				object-fit: contain;
				opacity: 0;
			}
			#blah.visible {
				opacity: 1;
			}
			.labels {
				margin-top: 50px;
				display: flex;
				justify-content: space-between;
				flex-flow: wrap;
				position: relative;
				padding: 0px 5%;
				label {
					font-size: 13px;
					width: 45%;
					line-height: 16px;
					color: rgba(85, 91, 97, 0.8);
					margin-bottom: 10px;
					position: relative;
				}
				.label {
					left: 0;
				}
				#lable {
					left: 0;
				}
				span {
					font-family: 'Opensans-r';
					font-size: 18px;
					display: block;
					color: #161616;
					height: 36px;
				}
				.req {
					display: inline-block;
					color:#03c9d5;
				}
				.input {
					background: #FFFFFF;
					box-shadow: 0px 0px 4px rgba(73, 190, 170, 0.3);
					border-radius: 3px;
					-webkit-appearance: none;
					border: 1px #9698a2 solid;
					padding: 0px 10px;
					display: block;
					margin-bottom: 20px;
					width: 100%;
					height: 44px;
					font-family: 'Opensans-r';
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 13px;
					color: #161616;
				}
				.input:focus, textarea:focus {
				    outline: 2px solid #03c9d5;
				}
				.input::placeholder {
					height: 44px;
					line-height: 1.4;
				}
				.select {
					-webkit-appearance: none;
					-moz-appearance: none;
					-ms-appearance: none;
					appearance: none;
					option {
						background: #FFFFFF;
						box-shadow: 0px 0px 4px rgba(73, 190, 170, 0.3);
						border-radius: 3px;
						width: 70%;
						height: 44px;
						font-family: 'Opensans-r';
						font-style: normal;
						font-weight: 500;
						font-size: 11px;
						line-height: 13px;
						color: #9698A2;
					}
				}
				textarea {
						background: #FFFFFF;
						box-shadow: 0px 0px 4px rgba(73, 190, 170, 0.3);
						border-radius: 3px;
						-webkit-appearance: none;
						border: 1px #9698a2 solid;
						padding: 10px 15px;
						display: block;
						width: 222%;
						font-family: 'Opensans-r';
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						line-height: 13px;
						color: #161616;
						position: relative;
						margin-bottom: 20px;
				}
				.try {
					width: 45%;
					.icon_select_mate {
					  position: absolute;
					  top:13px;
					  right: 2%;
					  font-size: 16px;
					    height: 22px;
					  transition: all 275ms;
					}
					.select_mate {
						cursor: pointer;
						box-shadow: 0px 0px 4px rgba(73, 190, 170, 0.3);
						border-radius: 3px;
						-webkit-appearance: none;
						border: 1px #9698a2 solid;
						padding: 0px 10px;
						display: block;
						margin-bottom: 20px;
						width: 100%;
						height: 44px;
						font-family: 'Opensans-r';
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						line-height: 13px;
						color: #161616;
					  	position: relative;
					  	float: left;
					  	width: 100%;
					  	background-color: #fff;
					  	transition: all 375ms ease-in-out;
					  select {
						  position: absolute;
						  overflow: hidden;
						  height: 0px;
						  opacity: 0;  
						    z-index: -1;
					  }
					}
					.cont_list_select_mate {
					  position: relative;
					  float: left;
					  width: 100%;
					}

					.cont_select_int {
					 position: absolute;
					  left: -10px;
					  top: 0px;
					  z-index: 999;
					  overflow: hidden;
					  height: 0px;
					  width: 104%;
					  background-color: #fff;
					  padding: 0px;
					  margin-bottom: 0px;
					  margin-top: 0px;
					  border-radius: 0px 0px 3px 3px;
					  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
					  transition: all 375ms ease-in-out;

						li {
						position: relative;
					    float: left;
					    width: 100%;
					    border-bottom:1px solid #E0E0E0;
					    background-color: #F5F5F5;
					    list-style-type: none;
					    padding: 10px 2%;
					    margin: 0px;  
					    transition: all 275ms ease-in-out;
					    display: block;
					    cursor:pointer;
							
							&:last-child {
					        border-radius: 3px;
					        border-bottom:0px; 

					        }
					         &:hover {
								background-color: #03c9d53b;
							 } 
					     }

					   .active {
					       background-color: #03c9d56b;	
					   }

					}
					.selecionado_opcion {
					    padding: 16px 0;
					    width: 96%;
					    display: block;
					    margin: 0px;
					    cursor: pointer;
					}
				}
			}
			.submit {
				background-color: #03c9d5;
				padding: 13px 40px;
				border-radius: 6px;
				border: none;
				box-shadow: 0px 2px 14px -6px #000;
				font-family: "opensans-bold";
				font-size: 18px;
				color: #fff;
				margin: 0 auto;
				display: block;
				cursor: pointer;
				position: relative;
			}
			.check_img {
				display: none !important;
				width: 169px;
				margin: 0 auto;
				display: block;
			}
			.submit:focus {
				outline: none;
			}
		}
		form.active {
			.submit {
				display: none;
			}
			.check_img {
				display: block !important;
			}
		}
	}
}
.info {
	background-color: #03c9d5;
	padding: 80px 0;
	.container {
		ul {
			padding: 0px 8%;
			display: flex;
			justify-content: space-between;
			flex-flow: nowrap;
			li {
				width: 33%;
				text-align: center;
				p {
					font-family: 'opensans-bold';
					font-size: 22px;
					line-height: 1.3;
					color: #fff;
					> span, a {
						text-decoration: none !important;
						color: #000;
					}
				}
			}
			li:first-child {
				p {
					color: #000;
				}
			}
		}
	}
}
.FAQ {
	.container {
		position: relative;
		h2 {
			font-family: opensans-bold;
			font-size: 50px;
			text-align: center;
			padding: 50px 0px;
		}
		ul {
			padding-bottom: 50px;
			margin-left: 25px;
			max-width: 45%;
			margin: 0 auto;
			li {
				position: relative;
				.title {
					font-family: 'opensans-bold';	
					font-size: 25px;
					cursor: pointer;
					margin: 0 auto;
					margin: 10px 0px;
					.rotate {
						transition: .3s ease-in-out;
						position: absolute;
						display: block;
						left: -20px;
					}
					.rotate.active {
						transform: rotate(135deg);
						transition: .3s ease-in-out;
					}
				}
				.animated {
					display: none;
					color: #03c9d5;
					font-family: 'Opensans-r';
					line-height: 1.3;
					font-size: 23px;
					margin: 5px 0;
					width:100%;
					span {
						font-family: 'opensans-bold';
					}
				}
			}
		}
	}
}
.footer {
	background-color: #161616;
	padding: 30px 0px;
	.mail {
		display: block;
		margin: 0 auto;
		max-width: 243px;
		text-align: center;
		padding: 10px 0px;
		p {
			font-family: 'Opensans-r';
			font-size: 20px;
			color: #fff;
			line-height: 1.3;
			margin-bottom: 20px;
		}
		.google_form {
			display: flex;
			position: relative;
			.input {
				width: 175px;
				border-radius: 7px 0px 0px 7px;
				height: 44px;
				padding: 0 10px;
				font-family: 'Opensans-r';
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 13px;
				color: #161616;
				border: none;
			}
			.input:focus {
				border: none;
			}
			.input::placeholder {
				height: 44px;
				line-height: 1.4;
			}
			.submit_bottom {
				border-radius: 0px 7px 7px 0px;
				background-color: #03c9d5;
				border: none;
				box-shadow: 0px 2px 14px -6px #000;
				font-family: "opensans-bold";
				font-size: 15px;
				color: #fff;
				margin: 0 auto;
				display: block;
				cursor: pointer;
				position: relative;
			}
			.submit_bottom {
				outline: none;
			}
		}
		.submit_bottom.active::after {
			content: '';
			width: 100%;
			position: absolute;
			right: 0px;
			top: 0px;
			height: 44px;
			border-radius: 0px 10px 10px 0px;
			background: url(../img/submit_check2.png) center center/cover no-repeat;
			background-size: 180%;
			z-index: 1;
			cursor: auto;
		}
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.content {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			li {
				p {
					font-family: 'Opensans-r';
					font-size: 14px;
					color: #fff;
					transform: translateY(25px);
					line-height: 1.3;
					position: absolute;
				    left: 50%;
				    transform: translateX(-50%);
				}
				img {
					width: 180px;
				}
				ul {
					display: flex;
					justify-content: space-between;
					li {
						img {
							width: 40px;
							margin: 0px 7px;
						}
					}
				}
			}
		}
	}
}



@import "media";


	
