// HEADER :: START

header#header.header
	#uparrow 
		a(href="#first")
	.c-grid

		.header__wrapper
			.header__wrapper-left

				.logo.logo--header
					a.logo__btn(href="#first")
						img.logo__img(src="img/logo.svg" alt="")

				#specword
					.hamburger__wrapper
					span.hamburger__desc.opened Menu
					span.hamburger__desc.closed Close Menu
					+hamburger()

			.header__wrapper-mobile(mobile-block-js)
				.header__wrapper-special
					.header__wrapper-middle

						ul.header__menu
							li.header__menu-item
								a.header__menu-link.header__menu-link--first(href="#") About
							li.header__menu-item
								a.header__menu-link(href="#") Zero to AI process
							li.header__menu-item
								a.header__menu-link(href="#") Area99 Platform
							li.header__menu-item
								a.header__menu-link(href="#") Research
							li.header__menu-item
								a.header__menu-link(href="#") Services
							li.header__menu-item
								a.header__menu-link.header__menu-link--last(href="#") Contacts

					.header__wrapper-right

						.header__option
							.header__option-col.header__option-col-1

								.header__search-wrapper
									.header__search
										p.header__search-title Search
										input.header__search-box(type='text' name='' placeholder='')
										span.header__search-button
											span.header__search-icon

							.header__option-col.header__option-col-2

								.header__lang-wrapper
									a.header__lang(href="#")
										span English
										i.icon-font.icon-corner

									.header__lang-message
										p Our website is currently avilable only in English. Other anguages are coming to area99 soon. For general inquiries about any our website, please contact us.

							.header__option-col.header__option-col-3
								a.header__btn(href="#")
									span Get a callback

							.header__option-col.header__option-col-4
								ul.header__option-col-4-mobile-language
									li.choosen
										a(href="#") English
									li
										a(href="#") Deutsche	
// HEADER :: END
