@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
}
.container {
	max-width: 80%;
	margin: 0 auto;
	color: #fff;
}
.logo {
	position: absolute;
	left: 50px;
	top: 15px;
	width: 50px;
}
.header {
	overflow: hidden;
	background: url('../img/fon.jpg') center center/cover no-repeat;
	position: relative;
	display: flex;
	height: 95vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	video {
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -2;
	}
	.scroll {
		position: fixed;
		z-index: 100;
		height: 80vh;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		right: 65px;
		.up, .down {
			font-family: 'montserrat';
			color: #fff;
			letter-spacing: 5px;
			display: flex;
			justify-content: flex-end;
			opacity: 1;
			z-index: 100;
			transition: .4s;
			cursor: pointer;
			span {
				transition: .4s;
			}
			img {
				margin-right: 15px;
			}
		}
		.up.hide, .down.hide {
			opacity: 0;
			z-index: -100;
			transition: .4s;
		}
		.hover:hover {
			transform: scale(1.1);
			transition: .2s;
			color: #7fcbdf;
		}
		.up::before, .down::before {
			content: '';
			position: absolute;
			height: 15vh;
			width: 3px;
			background-color: #f5c342;
			right: -25px;
		}
	}
	.menu {
		position: fixed;
		right: 30px;
		top: 30vh;
		z-index: 100;
		transition: .8s;
		li {
			display: block;
			display: flex;
			justify-content: flex-end;
			margin: 30px 0px;
			transition: .4s;
			a {
				color: #fff;
				text-decoration: none;
				font-family: "Calibri";
				font-size: 18px;
				> img {
					width: 25px;
					height: 25px;
					margin-left: 10px;
					position: relative;
					top: 5px;
				}
			}
			.links {
				color: #fff;
				transition: 1s;
			}
		}
		li:nth-child(1) {
			a {
				img {
					width: 25px;
					height: 25px;
				}
			}
		}
		li:hover {
			transform: scale(1.2);
			transition: .2s;
		}
	}
	.menu.toTop {
		top: 0vh;
		transition: .8s;
	}
	.header-info {
		position: relative;
		max-width: 70%;
		z-index: 2;
		h1 {
			font-family: 'calibribold';
			font-size: 90px;
			color: #fff;
			display: inline-block;
			line-height: 90px;
			font-weight: bold;
		}
		> ul {
			margin: 50px 0px 0px 30px;
			li {
				list-style: none;
				margin-bottom: 20px;
				a {
					font-size: 30px;
					color: #fff;
					text-decoration: none;
					position: relative;
				}
				a::before {
					content: '';
					position: absolute;
					left: -25px;
					top: 10px;
					width: 20px;
					height: 2px;
					background-color: #fff;
					display: inline-block;
					transition: 0.5s;
				}
				a:hover {
					color: #F5C342;
					transition: 0.5s;
				}
			}
		}
		.subtitle {
			font-family: calibribold;
			font-size: 30px;
			color: #fff;
			display: inline-block;
			line-height: 90px;
			font-weight: 700;
		}
	}
}
.header::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #00000060;
	display: block;
	position: absolute;
	box-shadow: inset 1px 0 260px 43px;
}
#how {
	background: #777;
}
.what_is_it {
	overflow: hidden;
	background: #50504f;
	position: relative;
	.container {
		h2 {
			margin: 0px;
			padding-top: 50px;
			text-align:center;
			display: block;
			font-size: 60px;
			font-family: 'calibribold';
			font-weight: bold;
			color: #fff;
		}
		> p {
			text-align: center;
			display: block;
			width: 85%;
			margin: 25px auto 70px auto; 
			font-size: 22px;
			font-family: 'Calibri-i';
			font-weight: 500;
			line-height: 1.4;
		}
		.content {
			position: relative;
			display: flex;
			justify-content: space-around;
			flex-flow: wrap;
			padding-bottom: 50px;
			font-family: 'calibri-l';
			li {
				width: 50%;
				position: relative;
				margin-bottom: 100px;
				img {
					margin: 25px 0px;
					width: 100%;
					border-radius: 5px;
				}
				.number {
					text-align: center;
					font-size: 70px;
					display: block;
				}
				.price {
					text-align: center;
					font-size: 30px;
					display: block;
					line-height: 40px;
				}
				.information {
					margin-top: 20px;
					text-align: center;
					display: block;
					font-size: 25px;
					line-height: 40px;
				}
			}
		}
	}
}
#care {
	background: #46462b;
	.container {
		.content {
			li {
				width: 30%;
				img {

				}
			}
		}
	}
}
.map {
	background-color: #000;
	padding-bottom: 100px;
	.container {
		h2 {
			margin: 0px;
			padding-top: 50px;
			text-align:center;
			display: block;
			font-size: 60px;
			font-family: 'calibribold';
			font-weight: bold;
			color: #fff;
		}
		.wrapp {
			display: flex;
			.left {
				width: 60%;
				iframe {
					border-radius: 5px;
				}
			}
			.right {
				width: 40%;
				span {
					display: block;
					font-size: 25px;
					margin: 10px 0px;
				}
			}
		}
	}
}


@import "media";


	
