@import "vars";
@media (max-width: 320px) {
	.header {
		.header-info {
			h1 {
				font-size: 40px !important;
			}
			h1::after {
				top: 180px;
			}
			p {
				margin-top: 60px;
				width: 100% !important;
			}
		}
	}
	.what_is_it {
		.container {
			h2 {
				font-size: 41px;
			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1366px) {
	.header {
		.header-info {
			h1 {
				font-size: 90px;
				.ipad-pro {
					display: block;
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.header {
		padding: 25px;
		.logo {
			width: 70px;
		}
		.header-info {
			h1::after {
				top: 320px;
			}
			p {
				width: 60%;
			}
		}
	}	
}
@media (max-width: 767px) {
	body {
		background-color: #000;
	}
	.header {
		padding: 15px;
		z-index: 1;
		background: url('../img/bg-image.png') center center/cover no-repeat;
		.logo {
			left: 20px;
			top: 25px;
			width: 45px;
		}
		video {
			display: none;
		}
		.menu {
			background: linear-gradient(to top, #1c6165, #000 90%);
			width: 100vw;
			height: 100vh;
			z-index: 1;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transform: translateX(0%);
			transition: .4s cubic-bezier(0.4, 0, 1, 1);
			ul {
				position: relative;
				li {
					justify-content: center;
					a {
						img {
							position: absolute;
							left: -45px;
							transform: translateY(-5px);
						}
					}
				}
			}
		}
		.menu.hidden {
			transform: translateX(100%);
			transition: .4s ease-out;
		}
		.header-info {
			h1 {
				font-size: 50px;
				line-height: 1.2;
				.ipad-pro {
					display: block;
				}
			}
			p {
				width: 80%;
			}
		}
		.hamburger {
			height: 46px;
			width: 50px;
			display: block;
			position: absolute;
			z-index: 11;
			border-radius: 30%;
			right: 20px;
			top: 35px;
			z-index: 100;
			cursor: pointer;
		}
		.hamburger.active {
			position: fixed;
		}	
		.hamburger.active .hamburger_button {
			background-color: #7fcbdf;
		} 
		.hamburger.active .hamburger_button::before, .hamburger.active .hamburger_button::after {
			background-color: #7fcbdf;
		}
		.hamburger_button {
			height: 2px;
			width: 60%;
			display: block;
			background-color: #7fcbdf;
		    position: relative;
		    top: 50%;
	      	margin: 0 auto;
			border-radius: 3px;
	    	transform: translateY(-50%);
	    	z-index: 21;
		}
		.hamburger_button::after, .hamburger_button::before {
			content: '';
			background-color: #7fcbdf;
			position: absolute;
			height: 2px;
			width: 100%;
			left: 0;
			border-radius: 3px;
			transition: top .3s, transform .3s .3s;
		}
		.hamburger_button::after {
			top: -7px;
		}
		.hamburger_button::before {
			top: 7px;
		}
	}
	.gradient {
		width: 60vw;
		background-color: #7fcbdf;
		margin: 0 auto;
	}
	.what_is_it {
		.logo {
			position: absolute;
		    left: 20px;
		    top: 20px;
		    width: 35px;
		}
		.container {
			h2 {
				padding-top: 120px;
			}
			p {
				width: 95%;
			}
			ul {
				li {
					width: 100%;
					margin-left: 25px !important;
					margin-bottom: 50px;
					p {
						width: 100%;
					}
				}
			}
		}
	}
}
