@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
}
.header {
	position: relative;
	display: flex;
	height: 95vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	video {
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -2;
	}
	.menu {
		position: fixed;
		right: 30px;
		top: 30vh;
		li {
			display: block;
			display: flex;
			justify-content: flex-end;
			margin: 30px 0px;
			transition: .4s;
			a {
				color: #fff;
				text-decoration: none;
				font-family: "Montserrat";
				font-size: 20px;
				> img {
					width: 25px;
					height: 25px;
					margin-left: 10px;
				}
			}
		}
		li:nth-child(1) {
			a {
				img {
					width: 25px;
					height: 25px;
				}
			}
		}
		li:hover {
			transform: scale(1.2);
			transition: .2s;
		}
	}
	.header-info {
		position: relative;
		h1 {
			font-family: Montserrat;
			font-size: 80px;
			color: #7fcbdf;
			display: inline-block;
			line-height: 90px;
			font-weight: bold;
		}
		h1::after {
			content: '';
			display: block;
			position: absolute;
			top: 230px;
			height: 2px;
			width: 250px;
			background-color: #fff;
		}
		p {
			display: block;
			margin-top: 100px;
			color: #fff;
			font-family: 'Montserrat';
			font-size: 18px;
			width: 40%;
			line-height: 1.3;
		}
	}
	.logo {
		position: absolute;
		left: 50px;
		top: 15px;
		width: 50px;
	}
}
.header::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #00000040;
	display: block;
	position: absolute;
	box-shadow: inset 1px 0 260px 43px;
	z-index: -1;
}

@import "media";


	
