@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
}
.header {
	// background-color: #000;
	position: relative;
	display: flex;
	height: 95vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	video {
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -2;
	}
	.scroll {
		position: fixed;
		z-index: 100;
		height: 80vh;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		right: 50px;
		.up, .down {
			font-family: Calibri-b;
			color: #fff;
			letter-spacing: 5px;
			display: flex;
			justify-content: flex-end;
			opacity: 1;
			z-index: 100;
			transition: .4s;
			cursor: pointer;
			img {
				margin-right: 15px;
			}
		}
		.up.hide, .down.hide {
			opacity: 0;
			z-index: -100;
			transition: .4s;
		}
		.hover:hover {
			transform: scale(1.1);
			transition: .2s;
			color: #7fcbdf;
		}
		.up::before, .down::before {
			content: '';
			position: absolute;
			height: 15vh;
			width: 3px;
			background-color: #f5c342;
			right: -10px;
		}
	}
	.menu {
		position: fixed;
		right: 30px;
		top: 30vh;
		z-index: 100;
		transition: .8s;
		li {
			display: block;
			display: flex;
			justify-content: flex-end;
			margin: 30px 0px;
			transition: .4s;
			a {
				color: #fff;
				text-decoration: none;
				font-family: "Montserrat";
				font-size: 16px;
				> img {
					width: 25px;
					height: 25px;
					margin-left: 10px;
					position: relative;
					top: 5px;
				}
			}
		}
		li:nth-child(1) {
			a {
				img {
					width: 25px;
					height: 25px;
				}
			}
		}
		li:hover {
			transform: scale(1.2);
			transition: .2s;
		}
	}
	.menu.toTop {
		top: 0vh;
		transition: .8s;
	}
	.header-info {
		position: relative;
		max-width: 50%;
		h1 {
			font-family: Calibri-b;
			font-size: 90px;
			color: #7fcbdf;
			display: inline-block;
			line-height: 90px;
			font-weight: bold;
			.ipad-pro {
				display: none;
			}
		}
		h1::after {
			content: '';
			display: block;
			position: absolute;
			top: 230px;
			height: 2px;
			width: 250px;
			background-color: #fff;
		}
		p {
			display: block;
			margin-top: 100px;
			color: #fff;
			font-family: 'Calibri-b';
			font-size: 29px;
			width: 80%;
			line-height: 1.4;
		}
	}
	.logo {
		position: absolute;
		left: 50px;
		top: 15px;
		width: 50px;
	}
}
.header::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #00000040;
	display: block;
	position: absolute;
	box-shadow: inset 1px 0 260px 43px;
	z-index: -1;
}
.what_is_it {
	background: #74993a ;
	position: relative;
	.logo {
		position: absolute;
		left: 50px;
		top: 70px;
		width: 35px;
	}
	.container {
		max-width: 80%;
		margin: 0 auto;
		color: #fff;
		h2 {
			padding-top: 100px;
			text-align:center;
			display: block;
			font-size: 60px;
			font-family: 'Calibri-b';
			font-weight: bold;
			color: #7fcbdf;
		}
		> p {
			text-align: center;
			display: block;
			width: 70%;
			margin: 25px auto 70px auto; 
			font-size: 22px;
			font-family: Calibri-i;
			font-weight: 500;
			line-height: 1.4;
		}
		ul {
			position: relative;
			display: flex;
			justify-content: flex-start;
			flex-flow: wrap;
			padding-bottom: 100px;
			font-family: 'Calibri';
			li {
				width: 40%;
				position: relative;
				margin-bottom: 25px;
				img {
					position: absolute;
					left: -45px;
					top: 20px;
				}
				p {
					width: 85%;
					line-height: 1.3;
					font-size: 20px;
				}
			}
			li:nth-child(2),li:nth-child(4),li:nth-child(6) {
				margin-left: 110px;
			}
		}
	}
	.contact {
		background: #fff;
		position: relative;
		height: 150px;
		padding-top: 50px;
		p {
			margin-left: 20%;
		    font-family: calibri;
		    font-size: 38px;
		    max-width: 42%;
		    line-height: 28px;
		    text-align: center;
		    letter-spacing: 1px;
		}
		a {
			padding: 12px 21px;
			background: #de8344;
			border-radius: 3px;
			position: absolute;
			right: 320px;
			top: 60px;
			font-family: Roboto;
			text-decoration: none;
			font-size: 19px;
			color: #000;
			text-transform: uppercase;
		}
		a:hover {
			background-color: #c1580f;
		}
	}
}

@import "media";


	
