@import "vars";
@import "fonts";

body * {
	box-sizing: border-box;
}
body {
	background-color: #fff;
	position: relative;
}
.container {
	max-width: 80%;
	margin: 0 auto;
	color: #fff;
}
.logo {
	position: absolute;
	left: 50px;
	top: 15px;
	width: 50px;
}
.header {
	position: relative;
	display: flex;
	height: 95vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	video {
		object-fit: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -2;
	}
	.scroll {
		position: fixed;
		z-index: 100;
		height: 80vh;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		right: 65px;
		.up, .down {
			font-family: 'montserrat';
			color: #fff;
			letter-spacing: 5px;
			display: flex;
			justify-content: flex-end;
			opacity: 1;
			z-index: 100;
			transition: .4s;
			cursor: pointer;
			span {
				transition: .4s;
			}
			.hoverone.color, .hovertwo.color {
				color: #3a95e4;
				transition: 1s;
			}
			img {
				margin-right: 15px;
			}
		}
		.up.hide, .down.hide {
			opacity: 0;
			z-index: -100;
			transition: .4s;
		}
		.hover:hover {
			transform: scale(1.1);
			transition: .2s;
			color: #7fcbdf;
		}
		.up::before, .down::before {
			content: '';
			position: absolute;
			height: 15vh;
			width: 3px;
			background-color: #f5c342;
			right: -25px;
		}
	}
	.menu {
		position: fixed;
		right: 30px;
		top: 30vh;
		z-index: 100;
		transition: .8s;
		li {
			display: block;
			display: flex;
			justify-content: flex-end;
			margin: 30px 0px;
			transition: .4s;
			a {
				color: #fff;
				text-decoration: none;
				font-family: "Calibri";
				font-size: 18px;
				> img {
					width: 25px;
					height: 25px;
					margin-left: 10px;
					position: relative;
					top: 5px;
				}
			}
			.links.color {
				color: #7fcbdf;
				transition: 1s;
			}
			.links {
				color: #fff;
				transition: 1s;
			}
		}
		li:nth-child(1) {
			a {
				img {
					width: 25px;
					height: 25px;
				}
			}
		}
		li:hover {
			transform: scale(1.2);
			transition: .2s;
		}
	}
	.menu.toTop {
		top: 0vh;
		transition: .8s;
	}
	.header-info {
		position: relative;
		max-width: 50%;
		display: flex;
		flex-flow: column;
		height: 90%;
		justify-content: space-between;
		h1 {
			font-family: 'calibribold';
			font-size: 90px;
			color: #7fcbdf;
			display: inline-block;
			line-height: 90px;
			font-weight: bold;
			.ipad-pro {
				display: none;
			}
		}
		// h1::after {
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	top: 230px;
		// 	height: 2px;
		// 	width: 250px;
		// 	background-color: #fff;
		// }
		p {
			display: block;
			margin-top: 100px;
			color: #fff;
			font-family: 'calibribold';
			font-size: 29px;
			width: 80%;
			line-height: 1.4;
			padding-bottom: 20%;
		}
	}
}
.header::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: #00000040;
	display: block;
	position: absolute;
	box-shadow: inset 1px 0 260px 43px;
	z-index: -1;
}
.what_is_it, .contact_us {
	background: #74993a;
	position: relative;
	.container {
		h2 {
			padding-top: 50px;
			text-align:center;
			display: block;
			font-size: 60px;
			font-family: 'calibribold';
			font-weight: bold;
			color: #7fcbdf;
		}
		> p {
			text-align: center;
			display: block;
			width: 85%;
			margin: 25px auto 70px auto; 
			font-size: 22px;
			font-family: 'Calibri-i';
			font-weight: 500;
			line-height: 1.4;
		}
		ul {
			position: relative;
			display: flex;
			justify-content: flex-start;
			flex-flow: wrap;
			padding-bottom: 50px;
			font-family: 'calibri-l';
			li {
				width: 40%;
				position: relative;
				margin-bottom: 20px;
				img {
					position: absolute;
					left: -45px;
					top: 20px;
				}
				p {
					width: 85%;
					line-height: 1.3;
					font-size: 20px;
				}
			}
			li:nth-child(2),li:nth-child(4),li:nth-child(6) {
				margin-left: 110px;
			}
	}
}
}
.how_it_works, .why_we_care, .who_to_contact{
	background-color: #837688;
	padding-bottom: 100px;
	position: relative;
	h2 {
		padding-top: 50px;
		text-align:center;
		display: block;
		font-size: 60px;
		font-family: 'calibribold';
		font-weight: bold;
		color: #7fcbdf;
	}
	.content {
		display: flex;
		justify-content: flex-start;
		position: relative;
		margin-top: 50px;
		.media {
			img {
				width: 300px;
				margin: 5px 0px;
				display: block;
			}
		}
		.text {
			font-family: 'calibri-l';
		    width: 60%;
		    margin-left: 50px;
		    font-size: 20px;
		    p {
		    	margin: 25px 0px;
		    	width: 85%;
		    }
		    p:first-child {
		    	margin-top: 0;
		    }
		}
	}
}
.why_we_care {
	background: url('../img/green-background.jpg') center center/cover no-repeat;
	position: relative;
	padding-bottom: 0;
	color: #000;
	.container {
		max-width: 80%;
	    background-color: #ffffffb3;
	    margin: 0;
	    padding-left: 10%;
	    padding-bottom: 50px;
	    > p {
    		text-align: center;
    		display: block;
    		width: 68%;
    		margin: 25px auto 70px auto; 
    		font-size: 22px;
    		font-family: 'Calibri-i';
    		font-weight: 500;
    		line-height: 1.4;
	    	color: #000;
	    }
	    .content {
	    	.media {
				width: 40%;
				position: relative;
				img {
					width: 100%;
					margin-bottom: 30px;
				}
	    	}
	    	.text {
	    		color: #000;
	    	}
	    }
	}
}
.who_to_contact {
	background: #74993a;
	position: relative;
	padding-bottom: 0;
	> p {
		position: absolute;
		left: 95px;
		top: 58px;
		color: #fff;
		font-family: "Calibribold";
		font-size: 20px;
		letter-spacing: 2px;
	}
	.container {
		.content {
			margin-bottom: 90px;
			.media {
				img {

				}
				p {
					margin-top: 10px;
					font-family: 'Calibri-l';
					font-size: 20px;
					text-align: center;
					letter-spacing: 1px;
					span {
						font-family: "Calibribold"
					}
				}
			}
			.text {
				p, span {
					line-height: 25px;
				}
			}
		}
	}
}
.contact {
	background: #fff;
	position: relative;
	height: 130px;
	padding-top: 25px;
	padding-bottom: 10px;
	p {
		margin-left: 20%;
	    font-family: calibri;
	    font-size: 35px;
	    max-width: 42%;
	    line-height: 28px;
	    text-align: center;
	    letter-spacing: 1px;
	    margin-top: 15px;
	}
	a {
		padding: 12px 21px;
		background: #de8344;
		border-radius: 3px;
		position: absolute;
		right: 320px;
		top: 40px;
		font-family: 'Calibri';
		text-decoration: none;
		font-size: 19px;
		color: #000;
		text-transform: uppercase;
	}
	a:hover {
		background-color: #c1580f;
	}
}
.signature {
	width: 100vw;
	font-family: 'Calibri-l';
	position: absolute;
	bottom: 10px;
	a {
		color: #000;
		text-decoration: none;
		padding: 0px 10px;
	}
}
.rules {
	background-color: #fff;
	font-family: 'Calibri-l';
	padding: 50px;
	h2 {
		font-size: 18px;
		margin: 15px 0px;
	}
	p {
		margin: 10px 0px;
	}
	span {
		display: block;
	}
}
.contact_us {
	min-height: 100vh;
	background: url('../img/contact-bg.jpg') center center/cover no-repeat;
	.container {
		max-width: 80%;
		padding-left: 10%;
		margin: 0;
		p {
			width: 50%;
		}
		.contact-form {
			font-family: 'Calibri';
			.label {
				font-size: 13px;
				line-height: 16px;
				color: rgba(85, 91, 97, 0.8);
				margin-bottom: 10px;
			}
			.input {
				background: #FFFFFF;
				box-shadow: 0px 0px 4px rgba(73, 190, 170, 0.3);
				border-radius: 3px;
				-webkit-appearance: none;
				border: none;
				padding: 15px;
				display: block;
				margin-bottom: 20px;
				width: 70%;
				height: 44px;
				font-family: 'Calibri';
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 13px;
				color: #9698A2;
			}
			textarea {
					background: #FFFFFF;
					box-shadow: 0px 0px 4px rgba(73, 190, 170, 0.3);
					border-radius: 3px;
					-webkit-appearance: none;
					border: none;
					padding: 10px 15px;
					display: block;
					width: 70%;
					font-family: 'Calibri';
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 13px;
					color: #9698A2;
					position: relative;
					margin-bottom: 20px;
			}
			.button {
				border: none;
				position: relative;
				display: inline-block;
				font-family: 'Calibribold';
				text-transform: uppercase;
				font-size: 18px;
				color: #000;
				text-align: center;
				background: #de8344;
				border-radius: 6px;
				padding: 10px 55px;
				box-shadow: 0 8px 27px rgba(0,20,99,.4);
				position: relative;
				top: -35px;
				left: 30px;
			}
			.g-recaptcha {
				display: inline-block;
			}
		}
	}
}

@import "media";


	
