.icon-arrow {
  width:(608)*1px;
  height:(323)*1px;
}
.icon-fail {
  width:(172)*1px;
  height:(214)*1px;
}
.icon-model {
  width:(142)*1px;
  height:(128)*1px;
}
.icon-one {
  width:(425)*1px;
  height:(305)*1px;
}
.icon-partial {
  width:(184)*1px;
  height:(185)*1px;
}
.icon-spark {
  width:(222)*1px;
  height:(117)*1px;
}
.icon-three {
  width:(500)*1px;
  height:(305)*1px;
}
.icon-two {
  width:(497)*1px;
  height:(305)*1px;
}
.icon-up-arrow {
  width:(12)*1px;
  height:(16)*1px;
}
