@media (min-width: 768px) and (max-width: 1024px) {
	.top-header_nav li a:hover::after {
		display: none;
	}
	.bot-header_text li {
    	width: 40%;
    }
    .bot-header_text p {
    	font-size: 11px;
    }
    .bot-header .blur-bg {
	    /*background-size: 225ch;*/
	    display: none;
    }
    .text-content2 h3, .text-content h3 {
    	margin-left: 0px;
    }
    .promo {
    padding: 100px 0px 0px 350px;
	}
	.airplane-path_header {
	    display: none;
	}
	.plane_area .plane-animation {
		animation: flying-mob 10s infinite linear;
	}
	.sponsors ul {
		    margin: 0 30px;
	}
	.ourlegacy .ul-legacy {
		justify-content: space-around;
	}
	.ourlegacy img {
    	height: 70%;
	}
	.ourlegacy h3 , h3, .ourteam p, .our-advisors p {
		margin-left: 25px;
	}
	.phone8 {
		left: 40px;
	}
	.bot-header_text li {
		padding: 0 10px;
	}
	.ourteam .for_plane {
		left: -423px;
	}
	.ourteam form {
		z-index: 35;
	}
	.our-advisors .advisors-team {
		justify-content: space-around;
		flex-flow: row wrap;
	}
	.blur-block input {
		padding: 0px;
	}
	.send {
    	margin-left: 100px;
    	padding: 10px 111px;
	}
	footer {
		text-align: center;
	}
	h5 {
		padding: 100px 0px 0px 100px;
	}
	footer .ul_footer_nav {
	     display: block; 
   		position: relative;
    	margin: 0 auto;
    	width: 100%;
    	text-align: center;
    	right: 0;
    }
	footer .aavio-footer {
		position: relative;
		left: 0;
	}
    footer .ul_images {
    	display: flex;
    	margin: 0 auto;
    	width: 50%;
    	justify-content: space-between;
    	padding: 15px 0px;
	}
	.empty-block {
		display: none;
	}
	.contact-us .blur-block {
		width: 100%;
	}
	.blur-block .inputs {
		display: block;
		width: 100%;
	    margin-top: 25px;
    	}	
}
@media (max-width: 767px) {
	header {
		height: calc(100vh - 200px);
		min-height: 0px;
	}
	.blur-bg {
		display: none;
	}
	.top-header_nav {
		position: fixed;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 20;
		left: 0;
		top: 0;

	}
	.top-header_nav.visible {
		transform: translate3d(0,0,0);
    	transition: .5s ease;
	}
	.top-header_nav li {
		margin-bottom: 15px;
	}
	.top-header_nav li:last-child {
		margin: 0 auto;
	}
	.top-header_nav li a {
		color: #000;
		position: relative;
		z-index: 21;
	}
	.top-header_nav li a:hover::after {
		display: none;
	}
	.top-header {
	    padding: 20px;
	}
	.bot-header {
	    background: rgba(255, 255, 255, 0.0);
	}
	.bot-header_text {
		display: none;
	}
	.bot-header::before {
		display: none;
	}
	.bot-header::after {
		display: none;
	}
	.airplane-path_header {
		display: none;
	}
	.airplane-h1 {
		margin-bottom: 0px;
	}
	h1 {
	    font-size: 80px;
	}
	.mob-nav {
		display: flex;
	}
	.phone8 {
		display: none; 
	}
	.phone8_mob {
	    display: block;
	    border-radius: 41px;
	    box-shadow: 0px 0px 50px -12px #000;
	    width: 80%;
	    margin: 0 auto;
	    margin-top: 10%;
	}
	.mob_a {
		font-family: PT Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 27px;
		color: #fff;
		text-decoration: none;
	}
	.mob-nav {
	 padding-left: 20%;
	}
	.promo {
		padding: 5%;
	}
	.aavio-works {
		padding: 0px;
	}
	.aavio-works .container {
		flex-direction: column-reverse;
	}
	.aavio-works .media-content, .aavio-works .text-content {
		width: 100%;
	}
	.aavio-works .text-content {
		padding: 10%;
	}
	.aavio-works .media-content {
		position: relative;
		padding-bottom: 45%;
	}
	.media-content li {
		padding: 55px 0px;
	}	
	.media-content::before {
		height: 83%;
		top: 0;
		width: 80%;
	}
	.sponsors {
		display: none;
	}
	.aaviofor .media-content2 {
		display: none;
	}
	.aaviofor .for_plane {
		display: none;
	}
	.ourlegacy {
		overflow: hidden;
	}
	.plane_area .for_plane {
	    bottom: 55px;
	    left: -120px;
	}
	.plane_area .plane-animation {
		animation: flying-mob 10s infinite linear
	}

	.hamburger {
		height: 46px;
		width: 50px;
		display: block;
		position: fixed;
		z-index: 11;
		background-color: #fff;
		border-radius: 30%;
		right: 20px;
		top: 20px;
		z-index: 50;
	}
	.hamburger.active {

	}
	.hamburger.active .hamburger_button::before, .hamburger.active .hamburger_button::after {
		top: 0;
		transition: top .3s, transform .3s .3s;
		transform: rotate(45deg);
	}
	.hamburger.active .hamburger_button::after {
		transform: rotate(-45deg);
	}
	.hamburger_button {
		height: 2.5px;
		width: 60%;
		display: block;
		background-color: #000;
	    position: relative;
	    top: 50%;
      	margin: 0 auto;
		border-radius: 3px;
    	transform: translateY(-50%);
    	z-index: 21;
	}
	.hamburger_button::after, .hamburger_button::before {
		content: '';
		background-color: #000;
		position: absolute;
		height: 2.5px;
		width: 100%;
		left: 0;
		border-radius: 3px;
		transition: top .3s, transform .3s .3s;
	}
	.hamburger_button::after {
		top: -7px;
	}
	.hamburger_button::before {
		top: 7px;
	}
	.aaviofor {
		flex-direction: column;
	}
	.team::after {
		display: none;
	}
	.ourteam {
		padding-bottom: 80px;
	}
	.ourteam form {
    	margin: 0 auto;
    	margin-top: 40px;
    	position: relative;
    	right: 0;
    	bottom: 0;
   	}
   	.ourteam .for_plane {
   		display: none;
   	}
	.aaviofor .text-content2,
	.ourteam p, 
	.our-advisors p {
    width: 100%;
    padding: 15% 5% 15% 10%;
	}
	.aaviofor p {
	width: 100%;
	}
	.ourlegacy li {
    padding-bottom: 30px;
	}
	.ourlegacy h3,
	.our-advisors h3,
	.ourteam h3 {
		padding:0% 0% 0% 10%;
	}
	.contact-us .empty-block {
		display: none;
	}
	.contact-us .blur-block {
		width: 100%;
	}
	.blur-block .inputs {
		display: block;
		padding: 0px 60px;
	}
	.blur-block::before {
		border-radius: none;
	}
	.send {
    	margin-left: 60px;
    	padding: 10px 111px;
	}
	.blur-block input {
		padding: 0px;
	}
	footer {
		text-align: center;
	}
	h5 {
		padding: 100px 0px 40px 60px;
	}
	footer .ul_footer_nav {
	     display: block; 
   		position: relative;
    	margin: 0 auto;
    	width: 100%;
    	text-align: center;
    	right: 0;
    }
	footer .aavio-footer {
		position: relative;
		left: 0;
	}
    footer .ul_images {
    	display: flex;
    	margin: 0 auto;
    	width: 50%;
    	justify-content: space-between;
    	padding: 15px 0px;
	}
}
@keyframes flying-mob {
	0% {
		transform: rotate(-125deg);
	}
	100% {
		transform: rotate(55deg);
	}
}



